In [1]:
# input to the this file is the final merged (stage 3.csv) file which is used to get the charts 
import os.path
import sys
import numpy as np
import pandas as pd

In [3]:
# read the final merged dataset file
os.chdir(r'C:\SHARE\UKY\Projects\TCRP A-43\REPO\transit_ridership_decline\Factors and Ridership Data\Shared_dataset')
df = pd.read_csv('merged_df_3.csv')
modes = df['Mode'].unique()
modes.sort()
colnames = ['UPT_ADJ', 'VRM_ADJ', 'VRH_ADJ', 'FARE_TOTAL', 'FARE_per_UPT', 'AVG_SPEED']
for _mode in modes:    
    for col in colnames:
        colName = _mode + "_" + col
        df[colName] = np.where(df['Mode'] ==str(_mode), df[str(col)],0)

        
df.to_csv('modified_dataset.csv')
print("Success")

Success

In [6]:
# get unique values of years and city_ids
df2 = pd.read_csv('modified_dataset.csv')
yrs = df2['Year'].unique()
yrs.sort()
id2s = df2['CBSA'].unique()
id2s.sort()
colnames = ['UPT_ADJ', 'VRM_ADJ', 'VRH_ADJ', 'FARE_TOTAL', 'FARE_per_UPT', 'AVG_SPEED']
output =[]
for _id2s in id2s:
    id2 = _id2s    
    df3 = df2.query('CBSA == "10740"')
    modes = df3['Mode'].unique()
    modes.sort()
    for _mode in modes:
        mode = str(_mode)
        for col in colnames:
#             df3[mode+'_'+col+'_difference'] = (df3[mode+'_'+col] - df3[mode+'_'+col].shift(-1))
            df3[mode+'_'+col+'_difference'] = 0
            #df3[['CBSA',(mode+'_'+col+'_difference')]].set_index([])
    
            #df3.head()
    
    
# pd.DataFrame(output).to_csv("modified_dataset_2.csv")
print("Success")                        
# print("Success")

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Success

In [4]:
# df3[]
#         mode = _mode
#         for col in colnames:
#             df3[mode+'_'+colName+'_difference'] = (df3[mode+'_'+colName] - df3[mode+'_'+colName].shift(-1))
#             print(df3[mode+'_'+colName+'_difference'])



#  for col in colnames:        
#         df3[colName+'_difference'] = (df3[colName] - df3[colName].shift(-1))
#         # df_fltr_id2.to_dict('index')
# #     for _mode in modes:
#         for col in colnames:
#             colName = _mode + "_" + col
#             df2[colName+'_difference'] = np.where(df['CBSA'] ==str(_id2s), (df[colName] - df[colName].shift(-1)),0)
# #             df2[colName+'_difference'] = df[colName].shift(+1) - df[colName]
#             result.append(df2.to_dict('index'))
# print(output)
# pd.DataFrame(output).to_csv("modified_dataset_2.csv")
# df2.head()
# # # output.to_csv('modified_dataset_2.csv')

In [7]:
df2 = pd.read_csv('modified_dataset.csv')

In [8]:
df2.head()

,Unnamed: 0,Unnamed: 0.1,CBSA,NEW_CBSA,MNAME,Mode,Year,UPT,VRM,UPT_ADJ,...,Bus_VRH_ADJ,Bus_FARE_TOTAL,Bus_FARE_per_UPT,Bus_AVG_SPEED,Rail_UPT_ADJ,Rail_VRM_ADJ,Rail_VRH_ADJ,Rail_FARE_TOTAL,Rail_FARE_per_UPT,Rail_AVG_SPEED
0,0,0,10180,NaN,"Abilene, TX Metro Area",Bus,2002,493073.0,389678.0,493073.0,...,29016.0,162609.0,0.329787,13.43,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,10180,NaN,"Abilene, TX Metro Area",Bus,2003,475747.0,383239.0,475747.0,...,28597.0,173563.0,0.364822,13.40,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,10180,NaN,"Abilene, TX Metro Area",Bus,2004,469981.0,388907.0,469981.0,...,29126.0,185046.0,0.393731,13.35,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,10180,NaN,"Abilene, TX Metro Area",Bus,2005,507165.0,444176.0,507165.0,...,31147.0,213965.0,0.421884,14.26,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,10180,NaN,"Abilene, TX Metro Area",Bus,2006,493638.0,441300.0,493638.0,...,30750.0,201795.0,0.408791,14.35,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
cbsas = df2['CBSA'].unique()
modes = df2['Mode'].unique()
years = df2['Year'].unique()

In [27]:
print(len(df2))

6232

In [43]:
df3 = df2.drop_duplicates(['CBSA','Mode','Year'])

In [44]:
print(len(df3))

6137

In [45]:
df3 = df3.set_index(['CBSA','Mode','Year'])

In [46]:
df3.head()

                 Unnamed: 0  Unnamed: 0.1  NEW_CBSA                   MNAME  \
CBSA  Mode Year
10180 Bus  2002           0             0       NaN  Abilene, TX Metro Area
           2003           1             1       NaN  Abilene, TX Metro Area
           2004           2             2       NaN  Abilene, TX Metro Area
           2005           3             3       NaN  Abilene, TX Metro Area
           2006           4             4       NaN  Abilene, TX Metro Area

                      UPT       VRM   UPT_ADJ   VRM_ADJ  VRH_ADJ  FARE_TOTAL  \
CBSA  Mode Year
10180 Bus  2002  493073.0  389678.0  493073.0  389678.0  29016.0    162609.0
           2003  475747.0  383239.0  475747.0  383239.0  28597.0    173563.0
           2004  469981.0  388907.0  469981.0  388907.0  29126.0    185046.0
           2005  507165.0  444176.0  507165.0  444176.0  31147.0    213965.0
           2006  493638.0  441300.0  493638.0  441300.0  30750.0    201795.0

                     ...        Bus_VRH_ADJ  Bus_FARE_TOTAL  Bus_FARE_per_UPT  \
CBSA  Mode Year      ...
10180 Bus  2002      ...            29016.0        162609.0          0.329787
           2003      ...            28597.0        173563.0          0.364822
           2004      ...            29126.0        185046.0          0.393731
           2005      ...            31147.0        213965.0          0.421884
           2006      ...            30750.0        201795.0          0.408791

                 Bus_AVG_SPEED  Rail_UPT_ADJ  Rail_VRM_ADJ  Rail_VRH_ADJ  \
CBSA  Mode Year
10180 Bus  2002          13.43           0.0           0.0           0.0
           2003          13.40           0.0           0.0           0.0
           2004          13.35           0.0           0.0           0.0
           2005          14.26           0.0           0.0           0.0
           2006          14.35           0.0           0.0           0.0

                 Rail_FARE_TOTAL  Rail_FARE_per_UPT Rail_AVG_SPEED
CBSA  Mode Year
10180 Bus  2002              0.0                0.0            0.0
           2003              0.0                0.0            0.0
           2004              0.0                0.0            0.0
           2005              0.0                0.0            0.0
           2006              0.0                0.0            0.0

[5 rows x 81 columns]

In [47]:
df3.loc[(10180,'Bus',2002),'UPT']

493073.0

In [48]:
df3['UPT_DIFF'] = 0

In [49]:
df3.index.values

array([(10180, 'Bus', 2002), (10180, 'Bus', 2003), (10180, 'Bus', 2004),
       ..., (49740, 'Bus', 2016), (49740, 'Bus', 2017),
       (49740, 'Bus', 2018)], dtype=object)

In [50]:
cbsas

array([10180, 10420, 10500, 10580, 10740, 10780, 10900, 11020, 11100,
       11180, 11260, 11300, 11460, 11540, 11700, 12020, 12060, 12100,
       12220, 12260, 12420, 12540, 12580, 12620, 12700, 12940, 12980,
       13020, 13140, 13380, 13460, 13740, 13780, 13820, 13900, 13980,
       14020, 14060, 14260, 14460, 14540, 14740, 14860, 15180, 15380,
       15540, 15940, 15980, 16220, 16300, 16580, 16620, 16700, 16740,
       16820, 16860, 16940, 16980, 17020, 17140, 17300, 17420, 17460,
       17660, 17780, 17820, 17860, 17900, 17980, 18140, 18580, 18700,
       18880, 19060, 19100, 19340, 19380, 19500, 19660, 19740, 19780,
       19820, 20220, 20260, 20500, 20740, 20940, 21340, 21060, 21140,
       21300, 21500, 21660, 21780, 21820, 22020, 22180, 22220, 22380,
       22420, 22500, 22540, 22660, 22900, 23060, 23420, 23540, 23580,
       24020, 24220, 24300, 24340, 24500, 24540, 24580, 24660, 24860,
       25060, 25180, 25260, 25420, 25500, 25540, 25860, 26100, 26380,
       26420, 26580, 26620, 26820, 26900, 26980, 27060, 27100, 27140,
       27180, 27260, 27500, 27620, 27740, 27780, 27860, 28020, 28100,
       28140, 28420, 28660, 28700, 28940, 29020, 29100, 29140, 29180,
       29460, 29540, 29620, 29700, 29740, 29820, 29940, 30020, 30140,
       30340, 30460, 30620, 30700, 30780, 30860, 31020, 31100, 31140,
       31180, 31340, 31420, 31540, 31700, 31900, 32580, 32780, 32820,
       32900, 33100, 33340, 33460, 33540, 33660, 33700, 33740, 33860,
       34060, 34580, 34620, 34740, 34820, 34900, 34940, 34980, 35300,
       35380, 35620, 35660, 35840, 35980, 36100, 36140, 36220, 36420,
       36500, 36540, 36740, 36780, 37100, 37340, 37380, 37460, 37620,
       37700, 37860, 37900, 37980, 38060, 38300, 38340, 38540, 38940,
       38860, 38900, 39100, 39300, 39380, 39540, 39580, 39660, 39740,
       39820, 39900, 40060, 40140, 40220, 40340, 40380, 40420, 40660,
       40900, 40980, 41420, 41500, 41540, 41620, 41660, 41700, 41740,
       41860, 41940, 42020, 42060, 42100, 42140, 42220, 42340, 42540,
       42660, 42680, 43100, 43300, 43340, 43580, 43620, 43780, 43900,
       44060, 44100, 44140, 44180, 44220, 41060, 41140, 41180, 44300,
       44700, 44940, 45060, 45220, 45300, 45460, 45500, 45780, 45820,
       46060, 46140, 46220, 46540, 46700, 47020, 47260, 47300, 47380,
       47900, 47940, 48140, 48300, 48540, 48620, 48700, 48900, 49020,
       49180, 49340, 49420, 49620, 49660, 49700, 49740], dtype=int64)

In [51]:
modes

array(['Bus', 'Rail'], dtype=object)

In [52]:
years

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [53]:
for cbsa in cbsas:
    for mode in modes: 
        for year in years: 
            if df3.index.contains((cbsa,mode,year)): 
                if df3.index.contains((cbsa,mode,year-1)):                
                    df3.loc[(cbsa,mode,year),'UPT_DIFF'] = df3.loc[(cbsa,mode,year),'UPT'] - df3.loc[(cbsa,mode,year-1),'UPT']

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\kernelbase.py:390: PerformanceWarning: indexing past lexsort depth may impact performance.
  user_expressions, allow_stdin)

In [54]:
df3.head()

                 Unnamed: 0  Unnamed: 0.1  NEW_CBSA                   MNAME  \
CBSA  Mode Year
10180 Bus  2002           0             0       NaN  Abilene, TX Metro Area
           2003           1             1       NaN  Abilene, TX Metro Area
           2004           2             2       NaN  Abilene, TX Metro Area
           2005           3             3       NaN  Abilene, TX Metro Area
           2006           4             4       NaN  Abilene, TX Metro Area

                      UPT       VRM   UPT_ADJ   VRM_ADJ  VRH_ADJ  FARE_TOTAL  \
CBSA  Mode Year
10180 Bus  2002  493073.0  389678.0  493073.0  389678.0  29016.0    162609.0
           2003  475747.0  383239.0  475747.0  383239.0  28597.0    173563.0
           2004  469981.0  388907.0  469981.0  388907.0  29126.0    185046.0
           2005  507165.0  444176.0  507165.0  444176.0  31147.0    213965.0
           2006  493638.0  441300.0  493638.0  441300.0  30750.0    201795.0

                  ...     Bus_FARE_TOTAL  Bus_FARE_per_UPT  Bus_AVG_SPEED  \
CBSA  Mode Year   ...
10180 Bus  2002   ...           162609.0          0.329787          13.43
           2003   ...           173563.0          0.364822          13.40
           2004   ...           185046.0          0.393731          13.35
           2005   ...           213965.0          0.421884          14.26
           2006   ...           201795.0          0.408791          14.35

                 Rail_UPT_ADJ  Rail_VRM_ADJ  Rail_VRH_ADJ  Rail_FARE_TOTAL  \
CBSA  Mode Year
10180 Bus  2002           0.0           0.0           0.0              0.0
           2003           0.0           0.0           0.0              0.0
           2004           0.0           0.0           0.0              0.0
           2005           0.0           0.0           0.0              0.0
           2006           0.0           0.0           0.0              0.0

                 Rail_FARE_per_UPT  Rail_AVG_SPEED UPT_DIFF
CBSA  Mode Year
10180 Bus  2002                0.0             0.0      0.0
           2003                0.0             0.0 -17326.0
           2004                0.0             0.0  -5766.0
           2005                0.0             0.0  37184.0
           2006                0.0             0.0 -13527.0

[5 rows x 82 columns]

In [67]:
df3.loc[(10180,'Bus',2002),:]

Unnamed: 0                                                          0
Unnamed: 0.1                                                        0
NEW_CBSA                                                          NaN
MNAME                                          Abilene, TX Metro Area
UPT                                                            493073
VRM                                                            389678
UPT_ADJ                                                        493073
VRM_ADJ                                                        389678
VRH_ADJ                                                         29016
FARE_TOTAL                                                     162609
FARE_per_UPT                                                 0.329787
AREALANDPT                                                  141756054
Tot_Pop                                                        117258
Tot_Instate_Pop                                                 87724
Tot_Outstate_Pop                                              23752.2
Tot_NonUSA_POP                                                2987.48
Total_Median_Income_Individual                                19756.7
Native_Instate_Med_Inc_Indiv                                  22848.1
Native_Outstate_Med_Inc_Indiv                                 17091.5
Native_Outcountry_Med_Inc_Indiv                          -1768.703125
Total_Pop_Poverty                                              147632
Pop_Below100_Poverty                                             22.3
Pop_Below150_Poverty                                            12.89
Pop_Above150_Poverty                                            64.82
Age_under18                                                     31.23
Age_18to64                                                       54.9
Age_over64                                                      13.87
Total_HH                                                      61601.7
HH_0Veh                                                       1195.73
HH_1Veh                                                       27303.6
                                                  ...
2018_Dollar_Multiplier                                            1.4
TNC_ARRIVAL                                                      2016
Link_x                             Judgement Call based on Population
TNC_FLAG                                                            0
YEARS_SINCE_TNC                                                     0
PROBLEM_FLAG                                                      NaN
NOTE                                                              NaN
dockCt                                                              0
docklessCt                                                          0
scooterCt                                                           0
PBS_Start                                                         NaN
PBS_End                                                           NaN
PBS_Flag                                                          NaN
Link_y                                                            NaN
walkscore                                                           0
transit                                                             0
bike                                                                0
Bus_UPT_ADJ                                                    493073
Bus_VRM_ADJ                                                    389678
Bus_VRH_ADJ                                                     29016
Bus_FARE_TOTAL                                                 162609
Bus_FARE_per_UPT                                             0.329787
Bus_AVG_SPEED                                                   13.43
Rail_UPT_ADJ                                                        0
Rail_VRM_ADJ                                                        0
Rail_VRH_ADJ                                                        0
Rail_FARE_TOTAL                                                     0
Rail_FARE_per_UPT                                                   0
Rail_AVG_SPEED                                                      0
UPT_DIFF                                                            0
Name: (10180, Bus, 2002), Length: 82, dtype: object