In [17]:
import os.path
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Provide paths to the respective folders
script_folder = r'D:\UoK\OneDrive - University of Kentucky\github\Transit_ridership\transit_ridership_decline\Factors and Ridership Data\code'
load_data = r'D:\UoK\OneDrive - University of Kentucky\github\Transit_ridership\transit_ridership_decline\Factors and Ridership Data\Estimation_File'
output_folder = r'D:\UoK\OneDrive - University of Kentucky\github\Transit_ridership\transit_ridership_decline\Factors and Ridership Data\Script Outputs'
folder_path = ''
file_name = ''
sFoldername = ""

In [27]:
os.chdir(load_data)
df = pd.read_csv('testing-data.csv')
df_cluster = df.groupby(['CLUSTER_APTA','Year'])
df_cluster
# df_copy = df.copy()

In [25]:
a = pd.DataFrame(data = [[1,2],[3,4]], index=range(2), columns = ['A', 'B'])
a

   A  B
0  1  2
1  3  4

In [26]:
b, c = a.iloc[0].copy(), a.iloc[1].copy()
a.iloc[0],a.iloc[1] = c,b
a

   A  B
0  3  4
1  1  2

In [22]:
df

# clusters = df['CLUSTER_APTA'].unique()
# modes = df['Mode'].unique()
# years = df['Year'].unique()

# clustercolumn = 'CLUSTER_APTA'
# df_fltr = pd.DataFrame()
# for cluster in clusters:
#     df_fltr = df[df[clustercolumn] == cluster]
#     for year in years:
#         df_fltr = df_fltr[df_fltr.Year == year]

,CLUSTER_APTA,Mode,Year,UPT,VRM,UPT_ADJ,VRM_ADJ,VRH_ADJ,FARE_ADJ,FARE_per_UPT,...,dockCt_LAGGED_2,dockCt_LAGGED_3,docklessCt_LAGGED_1,docklessCt_LAGGED_2,docklessCt_LAGGED_3,scooterCt_LAGGED_1,scooterCt_LAGGED_2,scooterCt_LAGGED_3,TNC_FLAG_LAGGED_4,TNC_FLAG_LAGGED_5
0,10,Bus,2002,2528859750,854932151.0,2528859750,854932151.0,68352407.52,9960001576,77.8952,...,0,0,0,0,0,0,0,0,15,13
1,10,Bus,2003,2491063151,874633977.9,2491063151,874633977.9,70249200.95,9531119622,75.8112,...,1064,939,0,16,12,0,21,0,17,15
2,10,Rail,2002,1318850316,374824848.1,1318850316,374824848.1,15133547.61,7750230572,84.7345,...,0,0,0,0,0,0,0,0,16,16
3,10,Rail,2003,1307628926,396145502.3,1307628926,396145502.3,16885947.11,7857049598,88.7865,...,2889,2555,0,43,40,0,57,0,16,16

In [11]:
clusters = df['CLUSTER_APTA'].unique()
modes = df['Mode'].unique()
years = df['Year'].unique()

clustercolumn = 'CLUSTER_APTA'

for cluster in clusters:
    df_fltr_2 = df_copy[df_copy[clustercolumn] == cluster]
    df_fltr_1 = df[df[clustercolumn] == cluster]
    for year in years:
        df_fltr_2_year = df_fltr_2[df_fltr_2.Year == year]
        df_fltr_1_year = df_fltr_1[df_fltr_1.Year == year]
    for mode in modes:      
        df_fltr_2_mode = df_fltr_2_year[df_fltr_2_year.Mode == mode]
        if mode is "Rail":
            df_fltr_1_mode = df_fltr_1_year[df_fltr_1_year.Mode == "Bus"]
        if mode is "Bus":
            df_fltr_1_mode = df_fltr_1_year[df_fltr_1_year.Mode == "Rail"]
            
        
        temp = df_fltr_2_mode.iloc[5]
        df_fltr_2_mode.iloc[5] = df_fltr_1_mode.iloc[5]
        df_fltr_1_mode.iloc[5] = temp

IndexError: single positional indexer is out-of-bounds

In [ ]:
df_fltr_1_mode

In [ ]:
df_fltr_2_mode

In [9]:
# x = 9
# df1 = pd.DataFrame(columns=['Parameters', 'Values'])
# df2=pd.DataFrame(columns=['Parameters', 'Values'])
# df2['Values'].iloc[x-1:], df1['Values'].iloc[x-1:] = df1['Values'].iloc[x-1:].copy(), df2['Values'].iloc[x-1:].copy()
# df1
# df2

# x = 4
# df2['Values'].iloc[x-1:], df1['Values'].iloc[x-1:] = df1['Values'].iloc[x-1:].copy(), df2['Values'].iloc[x-1:].copy()

Empty DataFrame
Columns: [Parameters, Values]
Index: []