In [1]:
# try weighted estimation

import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf
import statsmodels.api as sm

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype


pd.set_option('display.max_columns', 500)

%matplotlib inline

In [2]:
df=pd.read_csv('final_estimation_file_apta_added_greg3.csv',
                    encoding='utf-8')
df.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
df.dtypes

CBSA                       int64
MNAME                     object
Mode                      object
Year                       int64
UPT_ADJUSTED               int64
                          ...
_merge                    object
CLUSTER_APTA_EXTENDED      int64
Manhattan_Pop              int64
Manhattan_Emp              int64
TTI_CONG_PER_COMMUTER    float64
Length: 94, dtype: object

In [4]:
tsd_data=pd.read_csv('tsd_pop_employment.csv',
                    encoding='utf-8')
tsd_data.drop(columns=['Unnamed: 0','CBSA Title'],inplace=True)
tsd_data = tsd_data.groupby(['CBSA Code','Year']).sum().reset_index()
tsd_data.head()

,CBSA Code,Year,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10180,2002,57166.0,22735.0,25452.0,8979.0,0.0,0.0,0.0,48187.0,57166.0,0.0,0.0,9489.0,4531.0,3582.0,1376.0,0.0,0.0,0.0,8113.0,9489.0,0.0,0.0,58397.0,0.0,0.0,0.0,23086.0,25800.0,9511.0,48886.0,58397.0,0.0,0.0,1216.0,2355.0,0.0,0.0,0.0,954.0,1065.0,336.0,2019.0,2355.0,0.0,0.0
1,10180,2003,56917.0,21970.0,25046.0,9901.0,0.0,0.0,0.0,47016.0,56917.0,0.0,0.0,9484.0,4402.0,3471.0,1611.0,0.0,0.0,0.0,7873.0,9484.0,0.0,0.0,57221.0,0.0,0.0,0.0,22049.0,25074.0,10098.0,47123.0,57221.0,0.0,0.0,1216.0,2462.0,0.0,0.0,0.0,1032.0,1069.0,361.0,2101.0,2462.0,0.0,0.0
2,10180,2004,59025.0,22123.0,26375.0,10527.0,0.0,0.0,0.0,48498.0,59025.0,0.0,0.0,9599.0,4443.0,3594.0,1562.0,0.0,0.0,0.0,8037.0,9599.0,0.0,0.0,61419.0,0.0,0.0,0.0,23062.0,27199.0,11158.0,50261.0,61419.0,0.0,0.0,1216.0,2970.0,0.0,0.0,0.0,1231.0,1315.0,424.0,2546.0,2970.0,0.0,0.0
3,10180,2005,57879.0,21202.0,25353.0,11324.0,0.0,0.0,0.0,46555.0,57879.0,0.0,0.0,9645.0,4539.0,3500.0,1606.0,0.0,0.0,0.0,8039.0,9645.0,0.0,0.0,60001.0,0.0,0.0,0.0,21854.0,26081.0,12066.0,47935.0,60001.0,0.0,0.0,1216.0,2938.0,0.0,0.0,0.0,1134.0,1326.0,478.0,2460.0,2938.0,0.0,0.0
4,10180,2006,59588.0,21170.0,25759.0,12659.0,0.0,0.0,0.0,46929.0,59588.0,0.0,0.0,9819.0,4475.0,3516.0,1828.0,0.0,0.0,0.0,7991.0,9819.0,0.0,0.0,62311.0,0.0,0.0,0.0,22008.0,26639.0,13664.0,48647.0,62311.0,0.0,0.0,1216.0,2983.0,0.0,0.0,0.0,1122.0,1342.0,519.0,2464.0,2983.0,0.0,0.0

In [5]:
df=pd.merge(df,tsd_data,left_on=['CBSA','Year'],right_on=['CBSA Code','Year'],how='left')
df=df.drop_duplicates()
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,FARE_per_UPT_cleaned,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,PROBLEM_FLAG3,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,Manhattan_Pop,Manhattan_Emp,TTI_CONG_PER_COMMUTER,CBSA Code,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10420,"Akron, OH Metro Area",Bus,2002,5226386,4026372,596583,0.114148,2002,2018,0.114148,NaN,Bad fare,NaN,1.0,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,0,0,0.0,10420.0,314749.0,96006.0,131687.0,87056.0,0.0,0.0,0.0,227693.0,314749.0,0.0,0.0,81463.0,23319.0,33326.0,24818.0,0.0,0.0,0.0,56645.0,81463.0,0.0,0.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395902,3976569,2318587,0.429694,2002,2018,0.429694,NaN,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,0,0,0.0,10420.0,313075.0,94572.0,128913.0,89590.0,0.0,0.0,0.0,223485.0,313075.0,0.0,0.0,79781.0,21580.0,31862.0,26339.0,0.0,0.0,0.0,53442.0,79781.0,0.0,0.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162,4315393,2279211,0.385839,2002,2018,0.385839,NaN,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,0,0,0.0,10420.0,312683.0,93306.0,125699.0,93678.0,0.0,0.0,0.0,219005.0,312683.0,0.0,0.0,78610.0,20758.0,30959.0,26893.0,0.0,0.0,0.0,51717.0,78610.0,0.0,0.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013681,4053011,2728754,0.453758,2002,2018,0.453758,NaN,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,0,0,0.0,10420.0,309266.0,90317.0,123815.0,95134.0,0.0,0.0,0.0,214132.0,309266.0,0.0,0.0,77347.0,19411.0,30403.0,27533.0,0.0,0.0,0.0,49814.0,77347.0,0.0,0.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797,3994786,2855273,0.470329,2002,2018,0.470329,NaN,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,0,0,0.0,10420.0,315180.0,91892.0,121109.0,102179.0,0.0,0.0,0.0,213001.0,315180.0,0.0,0.0,78759.0,19367.0,28831.0,30561.0,0.0,0.0,0.0,48198.0,78759.0,0.0,0.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0

In [6]:
# merge TTI Congestion data
tti_data=pd.read_csv('CBSA_TTI_DELAY.csv',encoding='utf-8')
tti_data.drop(columns=['MNAME'],inplace=True)
df=pd.merge(df,tti_data,left_on=['CBSA','Year'],right_on=['CBSA','Year'],how='left')

In [7]:
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,FARE_per_UPT_cleaned,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,PROBLEM_FLAG3,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,Manhattan_Pop,Manhattan_Emp,TTI_CONG_PER_COMMUTER,CBSA Code,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,Unnamed: 0,TTI_INTERPOLATION,TTI,DEL_PER_AUTO_COMMUTER,TOT_DELAY_HRS
0,10420,"Akron, OH Metro Area",Bus,2002,5226386,4026372,596583,0.114148,2002,2018,0.114148,NaN,Bad fare,NaN,1.0,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,0,0,0.0,10420.0,314749.0,96006.0,131687.0,87056.0,0.0,0.0,0.0,227693.0,314749.0,0.0,0.0,81463.0,23319.0,33326.0,24818.0,0.0,0.0,0.0,56645.0,81463.0,0.0,0.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,10420,"Akron, OH Metro Area",Bus,2003,5395902,3976569,2318587,0.429694,2002,2018,0.429694,NaN,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,0,0,0.0,10420.0,313075.0,94572.0,128913.0,89590.0,0.0,0.0,0.0,223485.0,313075.0,0.0,0.0,79781.0,21580.0,31862.0,26339.0,0.0,0.0,0.0,53442.0,79781.0,0.0,0.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,10420,"Akron, OH Metro Area",Bus,2004,5907162,4315393,2279211,0.385839,2002,2018,0.385839,NaN,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,0,0,0.0,10420.0,312683.0,93306.0,125699.0,93678.0,0.0,0.0,0.0,219005.0,312683.0,0.0,0.0,78610.0,20758.0,30959.0,26893.0,0.0,0.0,0.0,51717.0,78610.0,0.0,0.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,10420,"Akron, OH Metro Area",Bus,2005,6013681,4053011,2728754,0.453758,2002,2018,0.453758,NaN,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,0,0,0.0,10420.0,309266.0,90317.0,123815.0,95134.0,0.0,0.0,0.0,214132.0,309266.0,0.0,0.0,77347.0,19411.0,30403.0,27533.0,0.0,0.0,0.0,49814.0,77347.0,0.0,0.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,10420,"Akron, OH Metro Area",Bus,2006,6070797,3994786,2855273,0.470329,2002,2018,0.470329,NaN,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,0,0,0.0,10420.0,315180.0,91892.0,121109.0,102179.0,0.0,0.0,0.0,213001.0,315180.0,0.0,0.0,78759.0,19367.0,28831.0,30561.0,0.0,0.0,0.0,48198.0,78759.0,0.0,0.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [8]:
# WAC data derived columns. To account for people coming into the TSD from outlying areas.
df['TSD_WA_EMP_PCT_LEHD']=100*df['TOTAL_JOBS_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_PCT_CBSA']=100*df['TOTAL_JOBS_WA_TSD_TRACTS']/df['TOT_EMP_MSA']

df['JOBS_LESS_THAN_3333_WA_TRACTS']=df['JOBS_LESS_THAN_1250_WA_TRACTS']+df['JOBS_1250_3333_WA_TRACTS']
df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']=df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']+df['JOBS_1250_3333_WA_TSD_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['JOBS_LESS_THAN_1250_WA_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['JOBS_1250_3333_WA_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['JOBS_LESS_THAN_3333_WA_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']

#RAC data derived columns.

df['TSD_POP_PCT_LEHD']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS'] #RAC data
df['TSD_POP_PCT_CBSA']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['Tot_Pop']
df['TSD_POP_WAGE_UNDER_1250']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_RA']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_1250_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_RA']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_BETN_1250_3333_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_RA']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_3333_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']

In [9]:
# read updated TNC revenue data
# tnc_rev=pd.read_csv('TNC_REVENUE_3.csv')
# tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)
# tnc_rev=tnc_rev.drop_duplicates(['CBSA','MNAME','Year'])
# tnc_rev.head()

tnc_rev=pd.read_csv('TNC_CBSA_FINAL_2.csv')

tnc_rev.drop(columns=['MNAME','Tot_Pop'],inplace=True)
# tnc_rev=tnc_rev.drop_duplicates(['CBSA','MNAME','Year'])
tnc_rev.head()

,CBSA,Year,TNC_CLUSTER,TOT_POP_CLUSTER,TOTAL_YEARLY_POPULATION,POP_SHARE,TOTAL_TRIPS_PER_CAPITA,TNC_TRIPS_SCALED,TOTAL_TNC_TRIPS_PER_CLUSTER,TRIPS_SCALED,Scale_2,TNC_TRIPS,TNC_TRIPS_PER_CAPITA_CLUSTER
0,10420,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
1,10740,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
2,10900,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
3,11460,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
4,12420,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5

In [10]:
df=pd.merge(df,tnc_rev,on=['CBSA','Year'],how='left')
df['TNC_TRIPS_PER_CAPITA_CLUSTER']=df['TNC_TRIPS_PER_CAPITA_CLUSTER'].fillna(0)
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,FARE_per_UPT_cleaned,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,PROBLEM_FLAG3,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,Manhattan_Pop,Manhattan_Emp,TTI_CONG_PER_COMMUTER,CBSA Code,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,Unnamed: 0,TTI_INTERPOLATION,TTI,DEL_PER_AUTO_COMMUTER,TOT_DELAY_HRS,TSD_WA_EMP_PCT_LEHD,TSD_WA_EMP_PCT_CBSA,JOBS_LESS_THAN_3333_WA_TRACTS,JOBS_LESS_THAN_3333_WA_TSD_TRACTS,TSD_WA_EMP_WAGE_UNDER_1250,TSD_WA_EMP_WAGE_BETN_1250_3333,TSD_WA_EMP_WAGE_UNDER_3333,TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA,TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA,TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA,TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD,TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD,TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,TNC_CLUSTER,TOT_POP_CLUSTER,TOTAL_YEARLY_POPULATION,POP_SHARE,TOTAL_TRIPS_PER_CAPITA,TNC_TRIPS_SCALED,TOTAL_TNC_TRIPS_PER_CLUSTER,TRIPS_SCALED,Scale_2,TNC_TRIPS,TNC_TRIPS_PER_CAPITA_CLUSTER
0,10420,"Akron, OH Metro Area",Bus,2002,5226386,4026372,596583,0.114148,2002,2018,0.114148,NaN,Bad fare,NaN,1.0,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,0,0,0.0,10420.0,314749.0,96006.0,131687.0,87056.0,0.0,0.0,0.0,227693.0,314749.0,0.0,0.0,81463.0,23319.0,33326.0,24818.0,0.0,0.0,0.0,56645.0,81463.0,0.0,0.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,25.881893,23.534209,227693.0,56645.0,7.408761,10.588119,17.996880,24.289107,25.306978,24.877796,28.625265,40.909370,69.534635,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395902,3976569,2318587,0.429694,2002,2018,0.429694,NaN,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,0,0,0.0,10420.0,313075.0,94572.0,128913.0,89590.0,0.0,0.0,0.0,223485.0,313075.0,0.0,0.0,79781.0,21580.0,31862.0,26339.0,0.0,0.0,0.0,53442.0,79781.0,0.0,0.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,25.483031,22.887812,223485.0,53442.0,6.892917,10.177114,17.070031,22.818593,24.715894,23.913014,27.049047,39.936827,66.985874,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162,4315393,2279211,0.385839,2002,2018,0.385839,NaN,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,0,0,0.0,10420.0,312683.0,93306.0,125699.0,93678.0,0.0,0.0,0.0,219005.0,312683.0,0.0,0.0,78610.0,20758.0,30959.0,26893.0,0.0,0.0,0.0,51717.0,78610.0,0.0,0.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,25.140478,22.349927,219005.0,51717.0,6.638672,9.901082,16.539754,22.247230,24.629472,23.614529,26.406310,39.383030,65.789340,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013681,4053011,2728754,0.453758,2002,2018,0.453758,NaN,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,0,0,0.0,10420.0,309266.0,90317.0,123815.0,95134.0,0.0,0.0,0.0,214132.0,309266.0,0.0,0.0,77347.0,19411.0,30403.0,27533.0,0.0,0.0,0.0,49814.0,77347.0,0.0,0.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,25.009862,21.598917,214132.0,49814.0,6.276474,9.830696,16.107170,21.492078,24.555183,23.263221,25.095996,39.307278,64.403274,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797,3994786,2855273,0.470329,2002,2018,0.470329,NaN,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,0,0,0.0,10420.0,315180.0,91892.0,121109.0,102179.0,0.0,0.0,0.0,213001.0,315180.0,0.0,0.0,78759.0,19367.0,28831.0,30561.0,0.0,0.0,0.0,48198.0,78759.0,0.0,0.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,24.988578,21.569929,213001.0,48198.0,6.144743,9.147471,15.292214,21.075828,23.805828,22.628063,24.590206,36.606610,61.196816,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
df['TNC_TRIPS_PER_CAPITA_CLUSTER']=df['TNC_TRIPS_PER_CAPITA_CLUSTER'].astype(float)
df['TNC_TRIPS_PER_CAPITA_CLUSTER'].describe()

count    4244.000000
mean        0.714656
std         1.857022
min         0.000000
25%         0.000000
50%         0.000000
75%         0.700000
max        30.400000
Name: TNC_TRIPS_PER_CAPITA_CLUSTER, dtype: float64

In [12]:
# read in and join the maintenance and restructure data
mr=pd.read_csv('maintenance_restructure.csv',
                    encoding='utf-8')
mr = mr[['CBSA', 'Mode', 'Year', 'MAINTENANCE', 'MAINTENANCE_NYC', 'MAINTENANCE_WMATA', 'RESTRUCTURE']]

df = df.merge(mr, on=['CBSA', 'Mode', 'Year'], how='left')

In [13]:
len(df)

4244

In [14]:
# read in mechanical and other failures

failures=pd.read_csv('maintenance_final_greg.csv',encoding='utf-8')
failures.drop(columns=['Unnamed: 0'],inplace=True)

failures = failures.groupby(['CBSA','MNAME','Mode','Year']).sum().reset_index()

In [15]:
df=df.merge(failures, on=['CBSA','MNAME','Mode','Year'],how='left')
df=df.rename(columns={'UPT_ADJUSTED':'UPT_ADJ','VRM_ADJUSTED':'VRM_ADJ','FARE_ADJUSTED':'FARE_ADJ','AVG_FARE_2018':'FARE_per_UPT_2018',
                     'Mecha_Failures':'Mechanical_Failures'})

In [16]:
df['Mechanical_Failures']=df['Mechanical_Failures'].fillna(0)
df['Total_Failures']=df['Total_Failures'].fillna(0)
df['MDBF_Mechanical']=np.where(df['Mechanical_Failures']>0,df['VRM_ADJ']/df['Mechanical_Failures'],df['VRM_ADJ'])
df['MDBF_Total']=np.where(df['Total_Failures']>0,df['VRM_ADJ']/df['Total_Failures'],df['VRM_ADJ'])

In [17]:
# read in and join the bike share updates
bsu=pd.read_csv('bike_share_update.csv',
                    encoding='utf-8')
bsu = bsu[['CBSA', 'Mode', 'Year', 'PBS_Flag_Update']]

df = df.merge(bsu, on=['CBSA', 'Mode', 'Year'], how='left')

#df['PBS_Flag_Missing'] = df['PBS_Flag'].apply(lambda x : x.isnan())
df['PBS_Flag'] = np.where(df['PBS_Flag'].isnull(), df['PBS_Flag_Update'], df['PBS_Flag'])

In [18]:
# 4 apta clusers
df['CLUSTER_APTA4'] = np.floor(df['CLUSTER_APTA']/10)

In [19]:
# exclude if ridership is zero--missing data
df = df[df['UPT_ADJ']>0]

In [20]:
# fill in missing data as needed

# min fare is zero
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : max(x,0))

# max fare is $20
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : min(x,20))

# zero vehicle HH can't go negative
df['HH_0Veh'] = df['HH_0Veh'].apply(lambda x : max(x,0))

In [21]:
df=df.drop_duplicates(['CBSA','Mode','Year'])

In [22]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('#VALUE!', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('#VALUE!', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('#VALUE!', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('#VALUE!', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('#VALUE!', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('#VALUE!', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('#VALUE!', np.nan)


df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('N', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('N', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('N', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('N', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('N', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('N', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('N', np.nan)

In [23]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].astype(float)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].astype(float)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].astype(float)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].astype(float)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].astype(float)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].astype(float)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].astype(float)

In [24]:
# exclude problematic data
old_len = len(df)
df = df[df['VRM_ADJ']>0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing VRM') 

# exclude if JTW data are missing
old_len = len(df)
df = df[df['JTW_HOME_PCT']>=0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing JTW data') 

# exclude if problem flag 3 is set
old_len = len(df)
df = df[df['PROBLEM_FLAG3']!=1]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with problem flag set to 1') 

# exclude rail in low op-ex group
old_len = len(df)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)
df['LOW_OPEX_RAIL'] = df['LOW_OPEX'] * df['RAIL_FLAG']
df = df[df['LOW_OPEX_RAIL']==0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with that have rail in the low op-ex group') 

# exclude bad maintenance data
#old_len = len(df)
#df = df[df['MDBF_Exclude']==0]
#new_len = len(df)
#print('Excluding ' + str(old_len-new_len) + ' records with unreported maintance data')

Excluding 1 records with missing VRM
Excluding 25 records with missing JTW data
Excluding 175 records with problem flag set to 1
Excluding 48 records with that have rail in the low op-ex group

In [25]:
# exclude discontinuous data
df = df.sort_values(by=['CBSA', 'Mode', 'Year'])

excluded_records = 100
while excluded_records > 0: 
    old_len = len(df)
    df['YearDiff'] = df['Year'].shift(-1) - df['Year']
    df = df[(df['YearDiff']==1) | (df['Year']==2018)]
    excluded_records = old_len - len(df)
    print('Excluding ' + str(excluded_records) + ' records with discontinuities in year.')

Excluding 21 records with discontinuities in year.
Excluding 18 records with discontinuities in year.
Excluding 15 records with discontinuities in year.
Excluding 14 records with discontinuities in year.
Excluding 13 records with discontinuities in year.
Excluding 12 records with discontinuities in year.
Excluding 11 records with discontinuities in year.
Excluding 8 records with discontinuities in year.
Excluding 7 records with discontinuities in year.
Excluding 7 records with discontinuities in year.
Excluding 6 records with discontinuities in year.
Excluding 5 records with discontinuities in year.
Excluding 4 records with discontinuities in year.
Excluding 3 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 0 records with discontinuities in year.

In [26]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df['ID2'] = df['ID']
df['YEAR2'] = df['Year']
df=df.set_index(['ID','Year'])

# exclude if it is not in operation at least since 2012
ids = df.index.get_level_values(0).unique()

for id in ids: 
    years = df.loc[id].index.get_level_values(0).sort_values()
    first_year = years[0]
    
    for year in years: 
        df.loc[(id,year),'FIRST_YEAR'] = first_year
        
df = df.reset_index()

# excldue where not in operation since at least 2012
old_len = len(df)
df = df[df['FIRST_YEAR']<=2012]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records starting operation later than 2012')

Excluding 32 records starting operation later than 2012

In [27]:
df['BUS_FLAG'] = np.where(df['Mode']=='Bus', 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)

In [28]:
# include population + employment
df['POP_EMP'] = df['Tot_Pop'] + df['TOT_EMP_MSA']
df['HH_EMP'] = df['Total_HH'] + df['TOT_EMP_MSA']


# percent of pop born outside USA
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [29]:
df.to_csv('merged_estfile.csv')

In [30]:
# time effects
df['YEARS_SINCE_2002']  = df['Year'] - 2002

df['YEARS_2002_2010']  = df['Year'].apply(lambda x : min(x-2002, 8))
df['YEARS_AFTER_2010'] = df['Year'].apply(lambda x : max(x-2010, 0))

df['YEARS_2002_2014']  = df['Year'].apply(lambda x : min(x-2002, 12))
df['YEARS_AFTER_2014'] = df['Year'].apply(lambda x : max(x-2014, 0))


df['YEARS_SINCE_2002_BUS']  = df['YEARS_SINCE_2002'] * df['BUS_FLAG']
df['YEARS_SINCE_2002_RAIL'] = df['YEARS_SINCE_2002'] * df['RAIL_FLAG']

df['YEARS_2002_2010_BUS']   = df['YEARS_2002_2010'] * df['BUS_FLAG']
df['YEARS_AFTER_2010_BUS']  = df['YEARS_AFTER_2010']* df['BUS_FLAG']
df['YEARS_2002_2010_RAIL']  = df['YEARS_2002_2010'] * df['RAIL_FLAG']
df['YEARS_AFTER_2010_RAIL'] = df['YEARS_AFTER_2010']* df['RAIL_FLAG']

df['YEARS_2002_2014_BUS']   = df['YEARS_2002_2014'] * df['BUS_FLAG']
df['YEARS_AFTER_2014_BUS']  = df['YEARS_AFTER_2014']* df['BUS_FLAG']
df['YEARS_2002_2014_RAIL']  = df['YEARS_2002_2014'] * df['RAIL_FLAG']
df['YEARS_AFTER_2014_RAIL'] = df['YEARS_AFTER_2014']* df['RAIL_FLAG']

In [31]:
# more time effects

df['YEARS_AFTER_2012'] = df['Year'].apply(lambda x : max(x-2012, 0))

df['TNC_YEARS_AFTER_2012'] = df['YEARS_AFTER_2012'] * df['TNC_FLAG']

df['TNC_YEARS_AFTER_2012_BUS'] = df['TNC_YEARS_AFTER_2012'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2012_RAIL'] = df['TNC_YEARS_AFTER_2012'] * df['RAIL_FLAG']

In [32]:

df['YEARS_SINCE_TNC_2012'] = np.minimum(df['YEARS_SINCE_TNC'], df['YEARS_AFTER_2012'])

df['YEARS_SINCE_TNC_2012_BUS'] = df['YEARS_SINCE_TNC_2012'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_2012_RAIL'] = df['YEARS_SINCE_TNC_2012'] * df['RAIL_FLAG']

In [33]:
# test rail ramp up period
df['YEARS_SINCE_RAIL_START'] = (df['Year'] - df['min_year']) * df['RAIL_FLAG']
df['YEARS_SINCE_RAIL_START'] = np.where(df['min_year']==2002, 0, df['YEARS_SINCE_RAIL_START'])

df['YEARS_SINCE_RAIL_START_1'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 1))
df['YEARS_SINCE_RAIL_START_2'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_RAIL_START_3'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 3))

In [34]:
# calculate bus vs rail stuff

# various bus/rail specifics

df['TNC_FLAG_BUS'] = df['TNC_FLAG'] * df['BUS_FLAG']
df['TNC_FLAG_RAIL'] = df['TNC_FLAG'] * df['RAIL_FLAG']

df['YEARS_SINCE_TNC_BUS'] = df['YEARS_SINCE_TNC'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_RAIL'] = df['YEARS_SINCE_TNC'] * df['RAIL_FLAG']

df['dockless_flag'] = df['dockCt'].apply(lambda x : min(x,1))
df['scooter_flag']  = df['scooterCt'].apply(lambda x : min(x,1))

df['BIKE_SHARE'] = df['PBS_Flag'] + df['dockless_flag']
df['BIKE_SHARE'] = df['BIKE_SHARE'].apply(lambda x : min(x,1))


df['PBS_Flag_BUS']   = df['PBS_Flag']   * df['BUS_FLAG']
df['dockCt_BUS']     = df['dockCt']     * df['BUS_FLAG']
df['docklessCt_BUS'] = df['docklessCt'] * df['BUS_FLAG']
df['scooterCt_BUS']  = df['scooterCt']  * df['BUS_FLAG']
df['dockless_flag_BUS'] = df['dockless_flag'] * df['BUS_FLAG']
df['scooter_flag_BUS']  = df['scooter_flag']  * df['BUS_FLAG']
df['BIKE_SHARE_BUS']  = df['BIKE_SHARE']  * df['BUS_FLAG']


df['PBS_Flag_RAIL']   = df['PBS_Flag']   * df['RAIL_FLAG']
df['dockCt_RAIL']     = df['dockCt']     * df['RAIL_FLAG']
df['docklessCt_RAIL'] = df['docklessCt'] * df['RAIL_FLAG']
df['scooterCt_RAIL']  = df['scooterCt']  * df['RAIL_FLAG']
df['dockless_flag_RAIL'] = df['dockless_flag'] * df['RAIL_FLAG']
df['scooter_flag_RAIL']  = df['scooter_flag']  * df['RAIL_FLAG']
df['BIKE_SHARE_RAIL']  = df['BIKE_SHARE']  * df['RAIL_FLAG']

In [35]:
# immigrant population percentage
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [36]:
# bike share plus scooters for rail
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# merge bike and scooter for bus
df['BIKE_SCOOTER_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] + df['scooter_flag_BUS']

# merge bike and scooter for bus
df['BIKE_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 

# scooter or bike
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_OR_SCOOTER_BUS'].apply(lambda x : min(x, 1))

df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 
df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_OR_SCOOTER_RAIL'].apply(lambda x : min(x, 1))

# calculate average vehicles
df['AVG_VEHS'] = (df['HH_1Veh'] + 2*df['HH_2Veh'] + 3*df['HH_3Veh'] + 4*df['HH_4+Veh']) / (df['HH_0Veh'] + df['HH_1Veh'] + df['HH_2Veh'] + df['HH_3Veh'] + df['HH_4+Veh'])
df['AVG_VEHS_log'] = np.log(1+df['AVG_VEHS'])

In [37]:
# walk bike other commuting
df['JTW_WALK_BIKE_OTHER_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT'] + df['JTW_OTHER_PCT']

# walk bike commuting
df['JTW_WALK_BIKE_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT']

In [38]:
df['VRM_ADJ_BUS'] = df['VRM_ADJ'] * df['BUS_FLAG']
df['VRM_ADJ_RAIL'] = df['VRM_ADJ'] * df['RAIL_FLAG']


#maintenance effect on competing mode
df['MDBF_Mechanical_RAIL']  = df['MDBF_Mechanical'] * df['RAIL_FLAG']
df['MDBF_Mechanical_BUS'] = df['MDBF_Mechanical']  * df['BUS_FLAG']

df['MDBF_Total_RAIL']  = df['MDBF_Total'] * df['RAIL_FLAG']
df['MDBF_Total_BUS'] = df['MDBF_Total']  * df['BUS_FLAG']

In [39]:
# segment TNCs by cluster
df['HI_OPEX']  = np.where(df['CLUSTER_APTA4']==1, 1, 0)
df['MID_OPEX'] = np.where(df['CLUSTER_APTA4']==2, 1, 0)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['NEW_YORK'] = np.where(df['CLUSTER_APTA4']==10, 1, 0)

df['YEARS_SINCE_TNC_BUS_HI']  = df['YEARS_SINCE_TNC_BUS'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS_MID'] = df['YEARS_SINCE_TNC_BUS'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS_LOW'] = df['YEARS_SINCE_TNC_BUS'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_BUS_NY']  = df['YEARS_SINCE_TNC_BUS'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_RAIL_HI']  = df['YEARS_SINCE_TNC_RAIL'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL_MID'] = df['YEARS_SINCE_TNC_RAIL'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL_LOW'] = df['YEARS_SINCE_TNC_RAIL'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_RAIL_NY']  = df['YEARS_SINCE_TNC_RAIL'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_BUS_HINY']  = df['YEARS_SINCE_TNC_BUS_HI'] + df['YEARS_SINCE_TNC_BUS_NY']
df['YEARS_SINCE_TNC_RAIL_HINY']  = df['YEARS_SINCE_TNC_RAIL_HI'] + df['YEARS_SINCE_TNC_RAIL_NY']

df['YEARS_SINCE_TNC_BUS_MIDLOW']  = df['YEARS_SINCE_TNC_BUS_MID'] + df['YEARS_SINCE_TNC_BUS_LOW']
df['YEARS_SINCE_TNC_RAIL_MIDLOW']  = df['YEARS_SINCE_TNC_RAIL_MID'] + df['YEARS_SINCE_TNC_RAIL_LOW']

In [40]:
# bikes and scooters by segment

df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']
df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']

df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']
df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']


df['BIKE_SHARE_HINY']  = df['BIKE_SHARE_HI'] + df['BIKE_SHARE_NY']
df['BIKE_SHARE_MIDLOW']  = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_HINY']  = df['scooter_flag_HI'] + df['scooter_flag_NY']
df['scooter_flag_MIDLOW']  = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [41]:
# tnc_rev=pd.read_csv('tnc_revenue.csv',encoding='utf-8')
# tnc_rev.head()

In [42]:
# tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)

In [43]:
# df=pd.merge(df,tnc_rev,on=['CBSA',
#  'MNAME',
#  'Mode',
#  'Year',
#  'TNC_FLAG',
#  'YEARS_SINCE_TNC'],how='left')
# df.head()

In [44]:
# df['UBER_NET_REVENUE']=df['UBER_NET_REVENUE'].fillna(0)
# df['UBER_REV_SCALED']=df['UBER_REV_SCALED'].fillna(0)
# df.head(20)

In [45]:
# df['UBER_REV_SCALED_BUS'] = df['UBER_REV_SCALED'] * df['BUS_FLAG']
# df['UBER_REV_SCALED_RAIL'] = df['UBER_REV_SCALED'] * df['RAIL_FLAG']

# df['UBER_REV_SCALED_BUS_HI']  = df['UBER_REV_SCALED_BUS'] * df['HI_OPEX']
# df['UBER_REV_SCALED_BUS_MID'] = df['UBER_REV_SCALED_BUS'] * df['MID_OPEX']
# df['UBER_REV_SCALED_BUS_LOW'] = df['UBER_REV_SCALED_BUS'] * df['LOW_OPEX']
# df['UBER_REV_SCALED_BUS_NY']  = df['UBER_REV_SCALED_BUS'] * df['NEW_YORK']

# df['UBER_REV_SCALED_RAIL_HI']  = df['UBER_REV_SCALED_RAIL'] * df['HI_OPEX']
# df['UBER_REV_SCALED_RAIL_MID'] = df['UBER_REV_SCALED_RAIL'] * df['MID_OPEX']
# df['UBER_REV_SCALED_RAIL_LOW'] = df['UBER_REV_SCALED_RAIL'] * df['LOW_OPEX']
# df['UBER_REV_SCALED_RAIL_NY']  = df['UBER_REV_SCALED_RAIL'] * df['NEW_YORK']

# df['UBER_REV_SCALED_BUS_HINY']  = df['UBER_REV_SCALED_BUS_HI'] + df['UBER_REV_SCALED_BUS_NY']
# df['UBER_REV_SCALED_RAIL_HINY']  = df['UBER_REV_SCALED_RAIL_HI'] + df['UBER_REV_SCALED_RAIL_NY']

# df['UBER_REV_SCALED_BUS_MIDLOW']  = df['UBER_REV_SCALED_BUS_MID'] + df['UBER_REV_SCALED_BUS_LOW']
# df['UBER_REV_SCALED_RAIL_MIDLOW']  = df['UBER_REV_SCALED_RAIL_MID'] + df['UBER_REV_SCALED_RAIL_LOW']

In [46]:
# df['UBER_NET_REVENUE_BUS'] = df['UBER_NET_REVENUE'] * df['BUS_FLAG']
# df['UBER_NET_REVENUE_RAIL'] = df['UBER_NET_REVENUE'] * df['RAIL_FLAG']

# df['UBER_NET_REVENUE_BUS_HI']  = df['UBER_NET_REVENUE_BUS'] * df['HI_OPEX']
# df['UBER_NET_REVENUE_BUS_MID'] = df['UBER_NET_REVENUE_BUS'] * df['MID_OPEX']
# df['UBER_NET_REVENUE_BUS_LOW'] = df['UBER_NET_REVENUE_BUS'] * df['LOW_OPEX']
# df['UBER_NET_REVENUE_BUS_NY']  = df['UBER_NET_REVENUE_BUS'] * df['NEW_YORK']

# df['UBER_NET_REVENUE_RAIL_HI']  = df['UBER_NET_REVENUE_RAIL'] * df['HI_OPEX']
# df['UBER_NET_REVENUE_RAIL_MID'] = df['UBER_NET_REVENUE_RAIL'] * df['MID_OPEX']
# df['UBER_NET_REVENUE_RAIL_LOW'] = df['UBER_NET_REVENUE_RAIL'] * df['LOW_OPEX']
# df['UBER_NET_REVENUE_RAIL_NY']  = df['UBER_NET_REVENUE_RAIL'] * df['NEW_YORK']

# df['UBER_NET_REVENUE_BUS_HINY']  = df['UBER_NET_REVENUE_BUS_HI'] + df['UBER_NET_REVENUE_BUS_NY']
# df['UBER_NET_REVENUE_RAIL_HINY']  = df['UBER_NET_REVENUE_RAIL_HI'] + df['UBER_NET_REVENUE_RAIL_NY']

# df['UBER_NET_REVENUE_BUS_MIDLOW']  = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_LOW']
# df['UBER_NET_REVENUE_RAIL_MIDLOW']  = df['UBER_NET_REVENUE_RAIL_MID'] + df['UBER_NET_REVENUE_RAIL_LOW']

In [47]:
#columns=['TNC_REVENUE','TNC_TRIPS','TNC_BOOKINGS']
columns=['TNC_TRIPS_PER_CAPITA_CLUSTER']
dummy=['HI_OPEX','MID_OPEX','LOW_OPEX','NEW_YORK']

for col in columns:
    df[col+'_BUS']=df[col]*df['BUS_FLAG']
    df[col+'_RAIL']=df[col]*df['RAIL_FLAG']
    
    for name in dummy:
        df[col+'_BUS_'+name]  = df[col]*df['BUS_FLAG'] * df[name]
        df[col+'_RAIL_'+name]  = df[col]*df['RAIL_FLAG'] * df[name]
#         df[col+'_BUS_MID'] = df['UBER_NET_REVENUE_BUS'] * df['MID_OPEX']
#         df[col+'_BUS_LOW'] = df['UBER_NET_REVENUE_BUS'] * df['LOW_OPEX']
#         df[col+'_BUS_NY']  = df['UBER_NET_REVENUE_BUS'] * df['NEW_YORK']

#         df['TNC_REVENUE_RAIL_HI']  = df['UBER_NET_REVENUE_RAIL'] * df['HI_OPEX']
#         df['TNC_REVENUE_RAIL_MID'] = df['UBER_NET_REVENUE_RAIL'] * df['MID_OPEX']
#         df['TNC_REVENUE_RAIL_LOW'] = df['UBER_NET_REVENUE_RAIL'] * df['LOW_OPEX']
#         df['TNC_REVENUE_RAIL_NY']  = df['UBER_NET_REVENUE_RAIL'] * df['NEW_YORK']

    df[col+'_BUS_HINY']  = df[col+'_BUS_HI_OPEX'] + df[col+'_BUS_NEW_YORK']
    df[col+'_BUS_MIDLOW']  = df[col+'_BUS_MID_OPEX'] + df[col+'_BUS_LOW_OPEX']
    df[col+'_BUS_HINY']  = df[col+'_BUS_HI_OPEX'] + df[col+'_BUS_NEW_YORK']
    
    df[col+'_RAIL_HINY']  = df[col+'_RAIL_HI_OPEX'] + df[col+'_RAIL_NEW_YORK']
    df[col+'_RAIL_MIDLOW']  = df[col+'_RAIL_MID_OPEX'] + df[col+'_RAIL_LOW_OPEX']
    df[col+'_RAIL_HINY']  = df[col+'_RAIL_HI_OPEX'] + df[col+'_RAIL_NEW_YORK']

# df['TNC_REVENUE_BUS_HINY']  = df['TNC_REVENUE_BUS_HI'] + df['TNC_REVENUE_BUS_NY']
# df['TNC_REVENUE_RAIL_HINY']  = df['TNC_REVENUE_RAIL_HI'] + df['UBER_NET_REVENUE_RAIL_NY']

# df['TNC_REVENUE_BUS_MIDLOW']  = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_LOW']
# df['TNC_REVENUE_RAIL_MIDLOW']  = df['UBER_NET_REVENUE_RAIL_MID'] + df['UBER_NET_REVENUE_RAIL_LOW']

In [48]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df=df.set_index(['ID','Year'])

In [49]:
df.to_csv('temp.csv')

In [50]:
# get the ridership in the year 2012 
ids = df.index.get_level_values(0).unique()

for id in ids: 
    years = df.loc[id].index.get_level_values(0).sort_values()
    for year in years: 
        df.loc[(id,year),'UPT_ADJ_2012']   = df.loc[(id,2012),'UPT_ADJ']

In [51]:
# calculate TNC trips per UPT
df['TNC_TRIPS_TOTAL'] = df['TNC_TRIPS_PER_CAPITA_CLUSTER'] * df['Tot_Pop']
df['TNC_TRIPS_PER_UPT_2012'] = df['TNC_TRIPS_TOTAL'] / df['UPT_ADJ_2012']

df['TNC_TRIPS_PER_UPT_2012_BUS'] = df['TNC_TRIPS_PER_UPT_2012'] * df['BUS_FLAG']
df['TNC_TRIPS_PER_UPT_2012_RAIL'] = df['TNC_TRIPS_PER_UPT_2012'] * df['RAIL_FLAG']

df['TNC_TRIPS_PER_UPT_2012_BUS_NY'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['NEW_YORK']
df['TNC_TRIPS_PER_UPT_2012_BUS_HI'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['HI_OPEX']
df['TNC_TRIPS_PER_UPT_2012_BUS_MID'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['MID_OPEX']
df['TNC_TRIPS_PER_UPT_2012_BUS_LOW'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['LOW_OPEX']

df['TNC_TRIPS_PER_UPT_2012_RAIL_NY'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['NEW_YORK']
df['TNC_TRIPS_PER_UPT_2012_RAIL_HI'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['HI_OPEX']
df['TNC_TRIPS_PER_UPT_2012_RAIL_MID'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['MID_OPEX']
df['TNC_TRIPS_PER_UPT_2012_RAIL_LOW'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['LOW_OPEX']

In [52]:
# update fares to cleaned version
df['FARE_per_UPT_cleaned_2018'] = df['FARE_per_UPT_cleaned'] * df['2018_Dollar_Multiplier']
df['FARE_per_UPT_cleaned_2018_log'] = np.log(1+df['FARE_per_UPT_cleaned_2018'])

In [53]:
# interaction instead
df['HINY'] = df['HI_OPEX'] + df['NEW_YORK']

# VRM Interaction
df['VRM_ADJ_HINY'] = df['VRM_ADJ'] * (df['NEW_YORK'] + df['HI_OPEX'])
df['VRM_ADJ_MIDLOW'] = df['VRM_ADJ'] * (df['MID_OPEX'] + df['LOW_OPEX'])

# with gas price and fare segmented
df['FARE_per_UPT_cleaned_2018_HINY'] = df['FARE_per_UPT_cleaned_2018'] * (df['NEW_YORK'] + df['HI_OPEX'])
df['FARE_per_UPT_cleaned_2018_MIDLOW'] = df['FARE_per_UPT_cleaned_2018'] * (df['MID_OPEX'] + df['LOW_OPEX'])

df['GAS_PRICE_2018_HINY'] = df['GAS_PRICE_2018'] * (df['NEW_YORK'] + df['HI_OPEX'])
df['GAS_PRICE_2018_MIDLOW'] = df['GAS_PRICE_2018'] * (df['MID_OPEX'] + df['LOW_OPEX'])

In [54]:
# keep only the numeric columns -- the estimation will give an error otherwise
df = df.select_dtypes(include=[np.number])

In [55]:
# create a log of all fields
for col in df.columns:
    df[col+'_log'] = np.log(df[col]+1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [56]:
# Test TNC ramp up

df['YEARS_SINCE_TNC_BUS_2'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_BUS_3'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_BUS_4'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_BUS_5'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 5))

df['YEARS_SINCE_TNC_RAIL_2'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_RAIL_3'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_RAIL_4'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_RAIL_5'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 5))

In [57]:
# count the first year of TNC presence
df['YEARS_SINCE_TNC_BUS2'] = df['YEARS_SINCE_TNC_BUS'] + df['TNC_FLAG_BUS']
df['YEARS_SINCE_TNC_RAIL2'] = df['YEARS_SINCE_TNC_RAIL'] + df['TNC_FLAG_RAIL']

In [58]:
## start in first year TNCs show up

df['YEARS_SINCE_TNC_BUS2_NY']  = df['YEARS_SINCE_TNC_BUS2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_BUS2_HI']  = df['YEARS_SINCE_TNC_BUS2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS2_MID'] = df['YEARS_SINCE_TNC_BUS2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS2_LOW'] = df['YEARS_SINCE_TNC_BUS2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_BUS2_HINY']   = df['YEARS_SINCE_TNC_BUS2_NY'] + df['YEARS_SINCE_TNC_BUS2_HI']
df['YEARS_SINCE_TNC_BUS2_MIDLOW'] = df['YEARS_SINCE_TNC_BUS2_MID'] + df['YEARS_SINCE_TNC_BUS2_LOW']

df['YEARS_SINCE_TNC_RAIL2_NY']  = df['YEARS_SINCE_TNC_RAIL2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_RAIL2_HI']  = df['YEARS_SINCE_TNC_RAIL2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL2_MID'] = df['YEARS_SINCE_TNC_RAIL2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL2_LOW'] = df['YEARS_SINCE_TNC_RAIL2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_RAIL2_HINY']   = df['YEARS_SINCE_TNC_RAIL2_NY'] + df['YEARS_SINCE_TNC_RAIL2_HI']
df['YEARS_SINCE_TNC_RAIL2_MIDLOW'] = df['YEARS_SINCE_TNC_RAIL2_MID'] + df['YEARS_SINCE_TNC_RAIL2_LOW']

In [59]:
## BIKE SHARE SEGMENTATION

df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']
df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']

df['BIKE_SHARE_HINY']   = df['BIKE_SHARE_NY'] + df['BIKE_SHARE_HI']
df['BIKE_SHARE_MIDLOW'] = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']
df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']

df['scooter_flag_HINY']   = df['scooter_flag_NY'] + df['scooter_flag_HI']
df['scooter_flag_MIDLOW'] = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [60]:
df['TSD_POP_EMP']=df['TOTAL_JOBS_WA_TSD_TRACTS']+df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_EMP_TOTAL']=df['TOTAL_JOBS_WA_TRACTS']+df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_EMP_PCT']=df['TSD_POP_EMP']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_UNDER_1250']=df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']+df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']
df['TSD_POP_EMP_WAGE_UNDER_1250_PCT']=df['TSD_POP_EMP_WAGE_UNDER_1250']/df['TSD_POP_EMP_TOTAL']
df['TSD_POP_EMP_WAGE_UNDER_3333']=df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']+df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']
df['TSD_POP_EMP_WAGE_UNDER_3333_PCT']=df['TSD_POP_EMP_WAGE_UNDER_3333']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_OVER_1250']=df['TSD_POP_EMP_TOTAL']-df['TSD_POP_EMP_WAGE_UNDER_1250']
df['TSD_POP_EMP_WAGE_OVER_1250_PCT']=df['TSD_POP_EMP_WAGE_OVER_1250']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_OVER_3333']=df['TSD_POP_EMP_TOTAL']-df['TSD_POP_EMP_WAGE_UNDER_3333']
df['TSD_POP_EMP_WAGE_OVER_3333_PCT']=df['TSD_POP_EMP_WAGE_OVER_3333']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_WAGE_OVER_1250']=df['TOTAL_JOBS_RA_TRACTS']-df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']
df['TSD_POP_WAGE_OVER_1250_PCT']=100*df['TSD_POP_WAGE_OVER_1250']/df['TOTAL_JOBS_RA_TRACTS']

In [61]:
df['FAV_EXT'] = 0
df['FAV_EXT'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 1, 1, df['FAV_EXT'])
df['FAV_EXT'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 2, 1, df['FAV_EXT'])
df['UNFAV_EXT'] = 1 - df['FAV_EXT']

df['STRONG_COMP'] = 0
df['STRONG_COMP'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 1, 1, df['STRONG_COMP'])
df['STRONG_COMP'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 3, 1, df['STRONG_COMP'])
                            
df['WEAK_COMP'] = 1 - df['STRONG_COMP']

In [62]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'FARE_per_UPT_cleaned',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'PROBLEM_FLAG3',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'Manhattan_Pop',
 'Manhattan_Emp',
 'TTI_CONG_PER_COMMUTER',
 'CBSA Code',
 'TOTAL_JOBS_WA_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TRACTS',
 'JOBS_1250_3333_WA_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TRACTS',
 'JOBS_WHITE_ALONE_WA_TRACTS',
 'JOBS_BLACK_ALONE_WA_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TRACTS',
 'JOBS_NON_WHITE_WA_TRACTS',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS',
 'TOTAL_JOBS_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS',
 'JOBS_1250_3333_WA_TSD_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS',
 'JOBS_NON_WHITE_WA_TSD_TRACTS',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'Unnamed: 0',
 'TTI_INTERPOLATION',
 'TTI',
 'DEL_PER_AUTO_COMMUTER',
 'TOT_DELAY_HRS',
 'TSD_WA_EMP_PCT_LEHD',
 'TSD_WA_EMP_PCT_CBSA',
 'JOBS_LESS_THAN_3333_WA_TRACTS',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS',
 'TSD_WA_EMP_WAGE_UNDER_1250',
 'TSD_WA_EMP_WAGE_BETN_1250_3333',
 'TSD_WA_EMP_WAGE_UNDER_3333',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'TNC_CLUSTER',
 'TOT_POP_CLUSTER',
 'TOTAL_YEARLY_POPULATION',
 'POP_SHARE',
 'TOTAL_TRIPS_PER_CAPITA',
 'TNC_TRIPS_SCALED',
 'TOTAL_TNC_TRIPS_PER_CLUSTER',
 'TRIPS_SCALED',
 'Scale_2',
 'TNC_TRIPS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Exclude',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'LOW_OPEX',
 'RAIL_FLAG',
 'LOW_OPEX_RAIL',
 'YearDiff',
 'YEAR2',
 'FIRST_YEAR',
 'BUS_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_TNC_2012',
 'YEARS_SINCE_TNC_2012_BUS',
 'YEARS_SINCE_TNC_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW',
 'UPT_ADJ_2012',
 'TNC_TRIPS_TOTAL',
 'TNC_TRIPS_PER_UPT_2012',
 'TNC_TRIPS_PER_UPT_2012_BUS',
 'TNC_TRIPS_PER_UPT_2012_RAIL',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW',
 'FARE_per_UPT_cleaned_2018',
 'FARE_per_UPT_cleaned_2018_log',
 'HINY',
 'VRM_ADJ_HINY',
 'VRM_ADJ_MIDLOW',
 'FARE_per_UPT_cleaned_2018_HINY',
 'FARE_per_UPT_cleaned_2018_MIDLOW',
 'GAS_PRICE_2018_HINY',
 'GAS_PRICE_2018_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'FARE_per_UPT_cleaned_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'PROBLEM_FLAG3_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'Manhattan_Pop_log',
 'Manhattan_Emp_log',
 'TTI_CONG_PER_COMMUTER_log',
 'CBSA Code_log',
 'TOTAL_JOBS_WA_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TRACTS_log',
 'JOBS_1250_3333_WA_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TRACTS_log',
 'JOBS_NON_WHITE_WA_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS_log',
 'TOTAL_JOBS_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS_log',
 'JOBS_1250_3333_WA_TSD_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS_log',
 'JOBS_NON_WHITE_WA_TSD_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'Unnamed: 0_log',
 'TTI_INTERPOLATION_log',
 'TTI_log',
 'DEL_PER_AUTO_COMMUTER_log',
 'TOT_DELAY_HRS_log',
 'TSD_WA_EMP_PCT_LEHD_log',
 'TSD_WA_EMP_PCT_CBSA_log',
 'JOBS_LESS_THAN_3333_WA_TRACTS_log',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'TNC_CLUSTER_log',
 'TOT_POP_CLUSTER_log',
 'TOTAL_YEARLY_POPULATION_log',
 'POP_SHARE_log',
 'TOTAL_TRIPS_PER_CAPITA_log',
 'TNC_TRIPS_SCALED_log',
 'TOTAL_TNC_TRIPS_PER_CLUSTER_log',
 'TRIPS_SCALED_log',
 'Scale_2_log',
 'TNC_TRIPS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Exclude_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'LOW_OPEX_log',
 'RAIL_FLAG_log',
 'LOW_OPEX_RAIL_log',
 'YearDiff_log',
 'YEAR2_log',
 'FIRST_YEAR_log',
 'BUS_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_TNC_2012_log',
 'YEARS_SINCE_TNC_2012_BUS_log',
 'YEARS_SINCE_TNC_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW_log',
 'UPT_ADJ_2012_log',
 'TNC_TRIPS_TOTAL_log',
 'TNC_TRIPS_PER_UPT_2012_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW_log',
 'FARE_per_UPT_cleaned_2018_log_log',
 'HINY_log',
 'VRM_ADJ_HINY_log',
 'VRM_ADJ_MIDLOW_log',
 'FARE_per_UPT_cleaned_2018_HINY_log',
 'FARE_per_UPT_cleaned_2018_MIDLOW_log',
 'GAS_PRICE_2018_HINY_log',
 'GAS_PRICE_2018_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'TSD_POP_EMP',
 'TSD_POP_EMP_TOTAL',
 'TSD_POP_EMP_PCT',
 'TSD_POP_EMP_WAGE_UNDER_1250',
 'TSD_POP_EMP_WAGE_UNDER_1250_PCT',
 'TSD_POP_EMP_WAGE_UNDER_3333',
 'TSD_POP_EMP_WAGE_UNDER_3333_PCT',
 'TSD_POP_EMP_WAGE_OVER_1250',
 'TSD_POP_EMP_WAGE_OVER_1250_PCT',
 'TSD_POP_EMP_WAGE_OVER_3333',
 'TSD_POP_EMP_WAGE_OVER_3333_PCT',
 'TSD_POP_WAGE_OVER_1250',
 'TSD_POP_WAGE_OVER_1250_PCT',
 'FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP']

In [63]:
columns=[ 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW', 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW']
dummy=['FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP']

for col in columns:
    for name in dummy:
        df[col+'_'+name]  = df[col] * df[name]

In [64]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'FARE_per_UPT_cleaned',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'PROBLEM_FLAG3',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'Manhattan_Pop',
 'Manhattan_Emp',
 'TTI_CONG_PER_COMMUTER',
 'CBSA Code',
 'TOTAL_JOBS_WA_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TRACTS',
 'JOBS_1250_3333_WA_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TRACTS',
 'JOBS_WHITE_ALONE_WA_TRACTS',
 'JOBS_BLACK_ALONE_WA_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TRACTS',
 'JOBS_NON_WHITE_WA_TRACTS',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS',
 'TOTAL_JOBS_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS',
 'JOBS_1250_3333_WA_TSD_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS',
 'JOBS_NON_WHITE_WA_TSD_TRACTS',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'Unnamed: 0',
 'TTI_INTERPOLATION',
 'TTI',
 'DEL_PER_AUTO_COMMUTER',
 'TOT_DELAY_HRS',
 'TSD_WA_EMP_PCT_LEHD',
 'TSD_WA_EMP_PCT_CBSA',
 'JOBS_LESS_THAN_3333_WA_TRACTS',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS',
 'TSD_WA_EMP_WAGE_UNDER_1250',
 'TSD_WA_EMP_WAGE_BETN_1250_3333',
 'TSD_WA_EMP_WAGE_UNDER_3333',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'TNC_CLUSTER',
 'TOT_POP_CLUSTER',
 'TOTAL_YEARLY_POPULATION',
 'POP_SHARE',
 'TOTAL_TRIPS_PER_CAPITA',
 'TNC_TRIPS_SCALED',
 'TOTAL_TNC_TRIPS_PER_CLUSTER',
 'TRIPS_SCALED',
 'Scale_2',
 'TNC_TRIPS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Exclude',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'LOW_OPEX',
 'RAIL_FLAG',
 'LOW_OPEX_RAIL',
 'YearDiff',
 'YEAR2',
 'FIRST_YEAR',
 'BUS_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_TNC_2012',
 'YEARS_SINCE_TNC_2012_BUS',
 'YEARS_SINCE_TNC_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW',
 'UPT_ADJ_2012',
 'TNC_TRIPS_TOTAL',
 'TNC_TRIPS_PER_UPT_2012',
 'TNC_TRIPS_PER_UPT_2012_BUS',
 'TNC_TRIPS_PER_UPT_2012_RAIL',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW',
 'FARE_per_UPT_cleaned_2018',
 'FARE_per_UPT_cleaned_2018_log',
 'HINY',
 'VRM_ADJ_HINY',
 'VRM_ADJ_MIDLOW',
 'FARE_per_UPT_cleaned_2018_HINY',
 'FARE_per_UPT_cleaned_2018_MIDLOW',
 'GAS_PRICE_2018_HINY',
 'GAS_PRICE_2018_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'FARE_per_UPT_cleaned_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'PROBLEM_FLAG3_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'Manhattan_Pop_log',
 'Manhattan_Emp_log',
 'TTI_CONG_PER_COMMUTER_log',
 'CBSA Code_log',
 'TOTAL_JOBS_WA_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TRACTS_log',
 'JOBS_1250_3333_WA_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TRACTS_log',
 'JOBS_NON_WHITE_WA_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS_log',
 'TOTAL_JOBS_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS_log',
 'JOBS_1250_3333_WA_TSD_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS_log',
 'JOBS_NON_WHITE_WA_TSD_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'Unnamed: 0_log',
 'TTI_INTERPOLATION_log',
 'TTI_log',
 'DEL_PER_AUTO_COMMUTER_log',
 'TOT_DELAY_HRS_log',
 'TSD_WA_EMP_PCT_LEHD_log',
 'TSD_WA_EMP_PCT_CBSA_log',
 'JOBS_LESS_THAN_3333_WA_TRACTS_log',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'TNC_CLUSTER_log',
 'TOT_POP_CLUSTER_log',
 'TOTAL_YEARLY_POPULATION_log',
 'POP_SHARE_log',
 'TOTAL_TRIPS_PER_CAPITA_log',
 'TNC_TRIPS_SCALED_log',
 'TOTAL_TNC_TRIPS_PER_CLUSTER_log',
 'TRIPS_SCALED_log',
 'Scale_2_log',
 'TNC_TRIPS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Exclude_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'LOW_OPEX_log',
 'RAIL_FLAG_log',
 'LOW_OPEX_RAIL_log',
 'YearDiff_log',
 'YEAR2_log',
 'FIRST_YEAR_log',
 'BUS_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_TNC_2012_log',
 'YEARS_SINCE_TNC_2012_BUS_log',
 'YEARS_SINCE_TNC_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW_log',
 'UPT_ADJ_2012_log',
 'TNC_TRIPS_TOTAL_log',
 'TNC_TRIPS_PER_UPT_2012_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW_log',
 'FARE_per_UPT_cleaned_2018_log_log',
 'HINY_log',
 'VRM_ADJ_HINY_log',
 'VRM_ADJ_MIDLOW_log',
 'FARE_per_UPT_cleaned_2018_HINY_log',
 'FARE_per_UPT_cleaned_2018_MIDLOW_log',
 'GAS_PRICE_2018_HINY_log',
 'GAS_PRICE_2018_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'TSD_POP_EMP',
 'TSD_POP_EMP_TOTAL',
 'TSD_POP_EMP_PCT',
 'TSD_POP_EMP_WAGE_UNDER_1250',
 'TSD_POP_EMP_WAGE_UNDER_1250_PCT',
 'TSD_POP_EMP_WAGE_UNDER_3333',
 'TSD_POP_EMP_WAGE_UNDER_3333_PCT',
 'TSD_POP_EMP_WAGE_OVER_1250',
 'TSD_POP_EMP_WAGE_OVER_1250_PCT',
 'TSD_POP_EMP_WAGE_OVER_3333',
 'TSD_POP_EMP_WAGE_OVER_3333_PCT',
 'TSD_POP_WAGE_OVER_1250',
 'TSD_POP_WAGE_OVER_1250_PCT',
 'FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_UNFAV_EXT',

## Model Estimation

In [65]:
df['WEIGHT'] = df['UPT_ADJ_2012'] / df['UPT_ADJ_2012'].sum() * len(df)

In [66]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_HINY_log \
                    + VRM_ADJ_MIDLOW_log \
                    + FARE_per_UPT_cleaned_2018_HINY_log \
                    + FARE_per_UPT_cleaned_2018_MIDLOW_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_WMATA \
                    + RESTRUCTURE \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

C:\ProgramData\Anaconda3\lib\site-packages\linearmodels\utility.py:549: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7410
Estimator:                   PanelOLS   R-squared (Between):              0.9072
No. Observations:                3726   R-squared (Within):               0.7410
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9072
Time:                        23:23:10   Log-likelihood                    4951.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      471.85
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(21,3463)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             471.85
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(21,3463)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                          Parameter Estimates
========================================================================================================
                                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------------
VRM_ADJ_HINY_log                         0.6324     0.0150     42.070     0.0000      0.6029      0.6619
VRM_ADJ_MIDLOW_log                       0.6418     0.0225     28.574     0.0000      0.5977      0.6858
FARE_per_UPT_cleaned_2018_HINY_log      -0.6458     0.0263    -24.560     0.0000     -0.6973     -0.5942
FARE_per_UPT_cleaned_2018_MIDLOW_log    -0.6493     0.0378    -17.193     0.0000     -0.7233     -0.5752
POP_EMP_log                              0.3692     0.0421     8.7779     0.0000      0.2867      0.4516
TSD_POP_EMP_PCT                          0.4778     0.1041     4.5879     0.0000      0.2736      0.6819
GAS_PRICE_2018_log                       0.0982     0.0116     8.4373     0.0000      0.0754      0.1210
TOTAL_MED_INC_INDIV_2018_log            -0.3913     0.0290    -13.501     0.0000     -0.4481     -0.3345
PCT_HH_NO_VEH                            0.0166     0.0024     6.9685     0.0000      0.0119      0.0212
JTW_HOME_PCT                            -0.0118     0.0036    -3.2438     0.0012     -0.0190     -0.0047
MAINTENANCE_WMATA                       -0.3171     0.0208    -15.255     0.0000     -0.3578     -0.2763
RESTRUCTURE                             -0.0879     0.0266    -3.3063     0.0010     -0.1401     -0.0358
YEARS_SINCE_TNC_BUS_NY                  -0.0032     0.0019    -1.7002     0.0892     -0.0069      0.0005
YEARS_SINCE_TNC_BUS_HI                  -0.0160     0.0016    -9.9472     0.0000     -0.0192     -0.0129
YEARS_SINCE_TNC_BUS_MID                 -0.0383     0.0036    -10.776     0.0000     -0.0452     -0.0313
YEARS_SINCE_TNC_BUS_LOW                 -0.0218     0.0065    -3.3670     0.0008     -0.0345     -0.0091
YEARS_SINCE_TNC_RAIL_NY                  0.0307     0.0013     23.298     0.0000      0.0281      0.0333
YEARS_SINCE_TNC_RAIL_HI                  0.0112     0.0019     6.0346     0.0000      0.0076      0.0149
YEARS_SINCE_TNC_RAIL_MID                -0.0507     0.0100    -5.0788     0.0000     -0.0702     -0.0311
BIKE_SHARE                               0.0191     0.0049     3.9206     0.0001      0.0096      0.0287
scooter_flag                            -0.0396     0.0097    -4.0768     0.0000     -0.0587     -0.0206
========================================================================================================

F-test for Poolability: 164.93
P-value: 0.0000
Distribution: F(241,3463)

Included effects: Entity

In [67]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7402
Estimator:                   PanelOLS   R-squared (Between):              0.9058
No. Observations:                3726   R-squared (Within):               0.7402
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9058
Time:                        23:23:48   Log-likelihood                    4945.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      548.59
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(18,3466)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             548.59
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(18,3466)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6346     0.0130     48.906     0.0000      0.6092      0.6600
FARE_per_UPT_cleaned_2018_log    -0.6465     0.0221    -29.262     0.0000     -0.6898     -0.6032
POP_EMP_log                       0.3623     0.0418     8.6748     0.0000      0.2804      0.4442
TSD_POP_EMP_PCT                   0.5006     0.1029     4.8670     0.0000      0.2989      0.7022
GAS_PRICE_2018_log                0.1005     0.0116     8.6668     0.0000      0.0778      0.1233
TOTAL_MED_INC_INDIV_2018_log     -0.3892     0.0290    -13.430     0.0000     -0.4460     -0.3324
PCT_HH_NO_VEH                     0.0169     0.0024     7.1580     0.0000      0.0122      0.0215
JTW_HOME_PCT                     -0.0117     0.0037    -3.2137     0.0013     -0.0189     -0.0046
MAINTENANCE_WMATA                -0.3177     0.0208    -15.270     0.0000     -0.3585     -0.2769
YEARS_SINCE_TNC_BUS_NY           -0.0029     0.0018    -1.5996     0.1098     -0.0065      0.0007
YEARS_SINCE_TNC_BUS_HI           -0.0160     0.0016    -9.9387     0.0000     -0.0192     -0.0129
YEARS_SINCE_TNC_BUS_MID          -0.0382     0.0035    -10.827     0.0000     -0.0451     -0.0313
YEARS_SINCE_TNC_BUS_LOW          -0.0216     0.0064    -3.3718     0.0008     -0.0342     -0.0090
YEARS_SINCE_TNC_RAIL_NY           0.0309     0.0013     23.543     0.0000      0.0283      0.0335
YEARS_SINCE_TNC_RAIL_HI           0.0115     0.0018     6.3692     0.0000      0.0079      0.0150
YEARS_SINCE_TNC_RAIL_MID         -0.0493     0.0097    -5.0729     0.0000     -0.0684     -0.0303
BIKE_SHARE                        0.0187     0.0049     3.8574     0.0001      0.0092      0.0283
scooter_flag                     -0.0417     0.0097    -4.2928     0.0000     -0.0608     -0.0227
=================================================================================================

F-test for Poolability: 182.00
P-value: 0.0000
Distribution: F(241,3466)

Included effects: Entity

In [68]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE_BUS \
                    + scooter_flag_BUS \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7377
Estimator:                   PanelOLS   R-squared (Between):              0.8951
No. Observations:                3726   R-squared (Within):               0.7377
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.8951
Time:                        23:24:02   Log-likelihood                    4927.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      541.42
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(18,3466)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             541.42
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(18,3466)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6404     0.0131     49.065     0.0000      0.6148      0.6660
FARE_per_UPT_cleaned_2018_log    -0.6341     0.0221    -28.730     0.0000     -0.6774     -0.5909
POP_EMP_log                       0.3600     0.0420     8.5693     0.0000      0.2776      0.4423
TSD_POP_EMP_PCT                   0.4861     0.1034     4.7025     0.0000      0.2834      0.6888
GAS_PRICE_2018_log                0.0910     0.0116     7.8506     0.0000      0.0683      0.1137
TOTAL_MED_INC_INDIV_2018_log     -0.4248     0.0286    -14.854     0.0000     -0.4809     -0.3688
PCT_HH_NO_VEH                     0.0160     0.0023     6.8401     0.0000      0.0114      0.0206
JTW_HOME_PCT                     -0.0122     0.0037    -3.3344     0.0009     -0.0194     -0.0050
MAINTENANCE_WMATA                -0.3247     0.0207    -15.701     0.0000     -0.3652     -0.2841
YEARS_SINCE_TNC_BUS_NY           -0.0018     0.0020    -0.9069     0.3645     -0.0057      0.0021
YEARS_SINCE_TNC_BUS_HI           -0.0154     0.0018    -8.7095     0.0000     -0.0189     -0.0119
YEARS_SINCE_TNC_BUS_MID          -0.0380     0.0037    -10.385     0.0000     -0.0452     -0.0308
YEARS_SINCE_TNC_BUS_LOW          -0.0209     0.0065    -3.2349     0.0012     -0.0336     -0.0082
YEARS_SINCE_TNC_RAIL_NY           0.0337     0.0012     28.754     0.0000      0.0314      0.0360
YEARS_SINCE_TNC_RAIL_HI           0.0123     0.0017     7.2901     0.0000      0.0090      0.0156
YEARS_SINCE_TNC_RAIL_MID         -0.0506     0.0098    -5.1866     0.0000     -0.0697     -0.0315
BIKE_SHARE_BUS                    0.0082     0.0066     1.2494     0.2116     -0.0047      0.0212
scooter_flag_BUS                 -0.0166     0.0121    -1.3696     0.1709     -0.0404      0.0072
=================================================================================================

F-test for Poolability: 175.24
P-value: 0.0000
Distribution: F(241,3466)

Included effects: Entity

In [69]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7446
Estimator:                   PanelOLS   R-squared (Between):              0.9280
No. Observations:                3726   R-squared (Within):               0.7446
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9280
Time:                        23:24:15   Log-likelihood                    4977.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      531.68
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             531.68
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6346     0.0129     49.316     0.0000      0.6093      0.6598
FARE_per_UPT_cleaned_2018_log    -0.6380     0.0219    -29.087     0.0000     -0.6810     -0.5950
POP_EMP_log                       0.3644     0.0414     8.7978     0.0000      0.2832      0.4456
TSD_POP_EMP_PCT                   0.4721     0.1021     4.6260     0.0000      0.2720      0.6722
GAS_PRICE_2018_log                0.1184     0.0117     10.092     0.0000      0.0954      0.1414
TOTAL_MED_INC_INDIV_2018_log     -0.3250     0.0299    -10.867     0.0000     -0.3837     -0.2664
PCT_HH_NO_VEH                     0.0184     0.0023     7.8397     0.0000      0.0138      0.0230
JTW_HOME_PCT                     -0.0089     0.0036    -2.4533     0.0142     -0.0161     -0.0018
MAINTENANCE_NYC                  -0.0776     0.0100    -7.7338     0.0000     -0.0973     -0.0579
MAINTENANCE_WMATA                -0.3191     0.0206    -15.465     0.0000     -0.3595     -0.2786
YEARS_SINCE_TNC_BUS_NY           -0.0007     0.0018    -0.3799     0.7040     -0.0043      0.0029
YEARS_SINCE_TNC_BUS_HI           -0.0145     0.0016    -8.9793     0.0000     -0.0176     -0.0113
YEARS_SINCE_TNC_BUS_MID          -0.0362     0.0035    -10.299     0.0000     -0.0430     -0.0293
YEARS_SINCE_TNC_BUS_LOW          -0.0206     0.0064    -3.2419     0.0012     -0.0331     -0.0081
YEARS_SINCE_TNC_RAIL_NY           0.0413     0.0019     22.052     0.0000      0.0377      0.0450
YEARS_SINCE_TNC_RAIL_HI           0.0130     0.0018     7.2256     0.0000      0.0095      0.0165
YEARS_SINCE_TNC_RAIL_MID         -0.0485     0.0096    -5.0300     0.0000     -0.0674     -0.0296
BIKE_SHARE                        0.0084     0.0050     1.6737     0.0943     -0.0014      0.0182
scooter_flag                     -0.0485     0.0097    -5.0136     0.0000     -0.0675     -0.0295
=================================================================================================

F-test for Poolability: 183.79
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [70]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7446
Estimator:                   PanelOLS   R-squared (Between):              0.9280
No. Observations:                3726   R-squared (Within):               0.7446
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9280
Time:                        23:24:25   Log-likelihood                    4977.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      531.68
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             531.68
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6346     0.0129     49.316     0.0000      0.6093      0.6598
FARE_per_UPT_cleaned_2018_log    -0.6380     0.0219    -29.087     0.0000     -0.6810     -0.5950
POP_EMP_log                       0.3644     0.0414     8.7978     0.0000      0.2832      0.4456
TSD_POP_EMP_PCT                   0.4721     0.1021     4.6260     0.0000      0.2720      0.6722
GAS_PRICE_2018_log                0.1184     0.0117     10.092     0.0000      0.0954      0.1414
TOTAL_MED_INC_INDIV_2018_log     -0.3250     0.0299    -10.867     0.0000     -0.3837     -0.2664
PCT_HH_NO_VEH                     0.0184     0.0023     7.8397     0.0000      0.0138      0.0230
JTW_HOME_PCT                     -0.0089     0.0036    -2.4533     0.0142     -0.0161     -0.0018
MAINTENANCE_NYC                  -0.0776     0.0100    -7.7338     0.0000     -0.0973     -0.0579
MAINTENANCE_WMATA                -0.3191     0.0206    -15.465     0.0000     -0.3595     -0.2786
YEARS_SINCE_TNC_BUS_NY           -0.0007     0.0018    -0.3799     0.7040     -0.0043      0.0029
YEARS_SINCE_TNC_BUS_HI           -0.0145     0.0016    -8.9793     0.0000     -0.0176     -0.0113
YEARS_SINCE_TNC_BUS_MID          -0.0362     0.0035    -10.299     0.0000     -0.0430     -0.0293
YEARS_SINCE_TNC_BUS_LOW          -0.0206     0.0064    -3.2419     0.0012     -0.0331     -0.0081
YEARS_SINCE_TNC_RAIL_NY           0.0413     0.0019     22.052     0.0000      0.0377      0.0450
YEARS_SINCE_TNC_RAIL_HI           0.0130     0.0018     7.2256     0.0000      0.0095      0.0165
YEARS_SINCE_TNC_RAIL_MID         -0.0485     0.0096    -5.0300     0.0000     -0.0674     -0.0296
BIKE_SHARE                        0.0084     0.0050     1.6737     0.0943     -0.0014      0.0182
scooter_flag                     -0.0485     0.0097    -5.0136     0.0000     -0.0675     -0.0295
=================================================================================================

F-test for Poolability: 183.79
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [71]:
# full series
df2 = df[df['NEW_YORK']==0]

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df2, 
                    drop_absorbed=True, 
                    weights=df2['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6384
Estimator:                   PanelOLS   R-squared (Between):              0.9553
No. Observations:                3692   R-squared (Within):               0.6384
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9553
Time:                        23:24:32   Log-likelihood                    4357.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      379.13
Entities:                         240   P-value                           0.0000
Avg Obs:                       15.383   Distribution:                 F(16,3436)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             379.13
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3436)
Avg Obs:                       217.18
Min Obs:                       129.00
Max Obs:                       240.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6160     0.0117     52.671     0.0000      0.5931      0.6389
FARE_per_UPT_cleaned_2018_log    -0.3708     0.0227    -16.301     0.0000     -0.4154     -0.3262
POP_EMP_log                       0.3186     0.0380     8.3801     0.0000      0.2440      0.3931
TSD_POP_EMP_PCT                   0.0314     0.0952     0.3303     0.7412     -0.1552      0.2181
GAS_PRICE_2018_log                0.1074     0.0128     8.3841     0.0000      0.0823      0.1325
TOTAL_MED_INC_INDIV_2018_log     -0.1158     0.0316    -3.6677     0.0002     -0.1776     -0.0539
PCT_HH_NO_VEH                     0.0263     0.0025     10.314     0.0000      0.0213      0.0312
JTW_HOME_PCT                     -0.0059     0.0034    -1.7466     0.0808     -0.0126      0.0007
MAINTENANCE_WMATA                -0.3151     0.0185    -17.008     0.0000     -0.3514     -0.2787
YEARS_SINCE_TNC_BUS_HI           -0.0142     0.0015    -9.5096     0.0000     -0.0171     -0.0113
YEARS_SINCE_TNC_BUS_MID          -0.0361     0.0032    -11.312     0.0000     -0.0424     -0.0299
YEARS_SINCE_TNC_BUS_LOW          -0.0273     0.0057    -4.7916     0.0000     -0.0385     -0.0161
YEARS_SINCE_TNC_RAIL_HI           0.0109     0.0017     6.5883     0.0000      0.0076      0.0141
YEARS_SINCE_TNC_RAIL_MID         -0.0523     0.0086    -6.0676     0.0000     -0.0691     -0.0354
BIKE_SHARE                       -0.0087     0.0052    -1.6943     0.0903     -0.0189      0.0014
scooter_flag                     -0.0535     0.0087    -6.1429     0.0000     -0.0706     -0.0364
=================================================================================================

F-test for Poolability: 165.80
P-value: 0.0000
Distribution: F(239,3436)

Included effects: Entity

In [75]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7274
Estimator:                   PanelOLS   R-squared (Between):              0.8973
No. Observations:                3726   R-squared (Within):               0.7274
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.8973
Time:                        23:26:05   Log-likelihood                    4856.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      544.22
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(17,3467)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             544.22
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(17,3467)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.5885     0.0129     45.553     0.0000      0.5632      0.6138
FARE_per_UPT_cleaned_2018_log    -0.6790     0.0225    -30.238     0.0000     -0.7230     -0.6350
POP_EMP_log                       0.4247     0.0426     9.9748     0.0000      0.3413      0.5082
TSD_POP_EMP_PCT                   0.7279     0.1039     7.0031     0.0000      0.5241      0.9317
GAS_PRICE_2018_log                0.0960     0.0120     8.0152     0.0000      0.0725      0.1195
TOTAL_MED_INC_INDIV_2018_log     -0.4278     0.0300    -14.282     0.0000     -0.4865     -0.3691
PCT_HH_NO_VEH                     0.0125     0.0024     5.2640     0.0000      0.0079      0.0172
JTW_HOME_PCT                     -0.0224     0.0036    -6.1323     0.0000     -0.0295     -0.0152
MAINTENANCE_NYC                   0.0001     0.0086     0.0128     0.9898     -0.0168      0.0170
MAINTENANCE_WMATA                -0.3874     0.0206    -18.838     0.0000     -0.4277     -0.3471
YEARS_SINCE_TNC_BUS_NY           -0.0037     0.0019    -1.9629     0.0497     -0.0074  -4.335e-06
YEARS_SINCE_TNC_BUS_HI           -0.0139     0.0017    -8.3631     0.0000     -0.0172     -0.0107
YEARS_SINCE_TNC_BUS_MID          -0.0330     0.0036    -9.1165     0.0000     -0.0401     -0.0259
YEARS_SINCE_TNC_BUS_LOW          -0.0158     0.0066    -2.4143     0.0158     -0.0287     -0.0030
YEARS_SINCE_TNC_RAIL              0.0259     0.0016     16.627     0.0000      0.0229      0.0290
BIKE_SHARE                        0.0208     0.0051     4.0943     0.0000      0.0109      0.0308
scooter_flag                     -0.0663     0.0099    -6.6866     0.0000     -0.0857     -0.0469
=================================================================================================

F-test for Poolability: 173.85
P-value: 0.0000
Distribution: F(241,3467)

Included effects: Entity

In [77]:
# bus only
df2 = df[df['BUS_FLAG']==1]

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df2, 
                    drop_absorbed=True, 
                    weights=df2['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5495
Estimator:                   PanelOLS   R-squared (Between):              0.9921
No. Observations:                3238   R-squared (Within):               0.5495
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9920
Time:                        23:28:22   Log-likelihood                    4087.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      262.57
Entities:                         210   P-value                           0.0000
Avg Obs:                       15.419   Distribution:                 F(14,3014)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             262.57
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3014)
Avg Obs:                       190.47
Min Obs:                       110.00
Max Obs:                       210.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.5021     0.0200     25.053     0.0000      0.4628      0.5413
FARE_per_UPT_cleaned_2018_log    -0.5278     0.0255    -20.679     0.0000     -0.5779     -0.4778
POP_EMP_log                       0.5130     0.0410     12.506     0.0000      0.4326      0.5935
TSD_POP_EMP_PCT                   0.4549     0.1055     4.3119     0.0000      0.2480      0.6618
GAS_PRICE_2018_log                0.0761     0.0128     5.9432     0.0000      0.0510      0.1012
TOTAL_MED_INC_INDIV_2018_log     -0.0175     0.0309    -0.5642     0.5727     -0.0781      0.0432
PCT_HH_NO_VEH                     0.0272     0.0024     11.479     0.0000      0.0225      0.0318
JTW_HOME_PCT                     -0.0031     0.0034    -0.9105     0.3626     -0.0096      0.0035
YEARS_SINCE_TNC_BUS_NY           -0.0057     0.0017    -3.3518     0.0008     -0.0090     -0.0024
YEARS_SINCE_TNC_BUS_HI           -0.0211     0.0015    -14.111     0.0000     -0.0240     -0.0182
YEARS_SINCE_TNC_BUS_MID          -0.0441     0.0030    -14.466     0.0000     -0.0500     -0.0381
YEARS_SINCE_TNC_BUS_LOW          -0.0293     0.0053    -5.5270     0.0000     -0.0397     -0.0189
BIKE_SHARE                        0.0087     0.0054     1.6106     0.1074     -0.0019      0.0193
scooter_flag                     -0.0289     0.0099    -2.9184     0.0035     -0.0484     -0.0095
=================================================================================================

F-test for Poolability: 178.96
P-value: 0.0000
Distribution: F(209,3014)

Included effects: Entity

In [79]:
# rail only
df2 = df[df['RAIL_FLAG']==1]

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df2, 
                    drop_absorbed=True, 
                    weights=df2['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.8798
Estimator:                   PanelOLS   R-squared (Between):              0.5705
No. Observations:                 488   R-squared (Within):               0.8798
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.5705
Time:                        23:29:55   Log-likelihood                    763.07
Cov. Estimator:            Unadjusted
                                        F-statistic:                      215.27
Entities:                          32   P-value                           0.0000
Avg Obs:                       15.250   Distribution:                  F(15,441)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             215.27
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(15,441)
Avg Obs:                       28.706
Min Obs:                       21.000
Max Obs:                       32.000

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6383     0.0284     22.492     0.0000      0.5826      0.6941
FARE_per_UPT_cleaned_2018_log    -0.6044     0.0564    -10.716     0.0000     -0.7153     -0.4936
POP_EMP_log                       0.1983     0.1501     1.3208     0.1873     -0.0968      0.4934
TSD_POP_EMP_PCT                   0.0548     0.2918     0.1877     0.8512     -0.5187      0.6283
GAS_PRICE_2018_log                0.1072     0.0297     3.6137     0.0003      0.0489      0.1655
TOTAL_MED_INC_INDIV_2018_log     -0.7769     0.0850    -9.1436     0.0000     -0.9439     -0.6099
PCT_HH_NO_VEH                     0.0108     0.0070     1.5380     0.1248     -0.0030      0.0245
JTW_HOME_PCT                     -0.0367     0.0130    -2.8253     0.0049     -0.0622     -0.0112
MAINTENANCE_NYC                  -0.0422     0.0179    -2.3607     0.0187     -0.0773     -0.0071
MAINTENANCE_WMATA                -0.3097     0.0350    -8.8483     0.0000     -0.3785     -0.2409
YEARS_SINCE_TNC_RAIL_NY           0.0415     0.0041     10.143     0.0000      0.0334      0.0495
YEARS_SINCE_TNC_RAIL_HI           0.0228     0.0041     5.5076     0.0000      0.0147      0.0310
YEARS_SINCE_TNC_RAIL_MID         -0.0310     0.0161    -1.9264     0.0547     -0.0626      0.0006
BIKE_SHARE                       -0.0044     0.0125    -0.3532     0.7241     -0.0289      0.0201
scooter_flag                     -0.0584     0.0258    -2.2612     0.0242     -0.1092     -0.0076
=================================================================================================

F-test for Poolability: 74.336
P-value: 0.0000
Distribution: F(31,441)

Included effects: Entity

In [86]:
# weight by total population

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['Tot_Pop'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7119
Estimator:                   PanelOLS   R-squared (Between):              0.9298
No. Observations:                3726   R-squared (Within):               0.7119
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9298
Time:                        23:33:24   Log-likelihood                    3725.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      450.72
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             450.72
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6687     0.0099     67.499     0.0000      0.6493      0.6881
FARE_per_UPT_cleaned_2018_log    -0.3989     0.0222    -17.940     0.0000     -0.4425     -0.3553
POP_EMP_log                       0.1894     0.0418     4.5333     0.0000      0.1075      0.2713
TSD_POP_EMP_PCT                   0.6708     0.1328     5.0510     0.0000      0.4104      0.9313
GAS_PRICE_2018_log                0.1642     0.0148     11.093     0.0000      0.1352      0.1932
TOTAL_MED_INC_INDIV_2018_log     -0.1444     0.0368    -3.9226     0.0001     -0.2165     -0.0722
PCT_HH_NO_VEH                     0.0183     0.0028     6.4146     0.0000      0.0127      0.0239
JTW_HOME_PCT                     -0.0004     0.0036    -0.1021     0.9187     -0.0074      0.0067
MAINTENANCE_NYC                  -0.1047     0.0299    -3.4996     0.0005     -0.1634     -0.0460
MAINTENANCE_WMATA                -0.3352     0.0356    -9.4223     0.0000     -0.4050     -0.2655
YEARS_SINCE_TNC_BUS_NY           -0.0026     0.0030    -0.8542     0.3931     -0.0086      0.0034
YEARS_SINCE_TNC_BUS_HI           -0.0158     0.0021    -7.5403     0.0000     -0.0199     -0.0117
YEARS_SINCE_TNC_BUS_MID          -0.0302     0.0033    -9.0853     0.0000     -0.0367     -0.0236
YEARS_SINCE_TNC_BUS_LOW          -0.0184     0.0048    -3.8295     0.0001     -0.0278     -0.0090
YEARS_SINCE_TNC_RAIL_NY           0.0460     0.0045     10.303     0.0000      0.0372      0.0547
YEARS_SINCE_TNC_RAIL_HI           0.0128     0.0022     5.8558     0.0000      0.0085      0.0171
YEARS_SINCE_TNC_RAIL_MID         -0.0493     0.0055    -9.0107     0.0000     -0.0600     -0.0386
BIKE_SHARE                       -0.0065     0.0063    -1.0365     0.3000     -0.0187      0.0058
scooter_flag                     -0.0525     0.0106    -4.9309     0.0000     -0.0734     -0.0316
=================================================================================================

F-test for Poolability: 180.99
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [87]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7446
Estimator:                   PanelOLS   R-squared (Between):              0.9280
No. Observations:                3726   R-squared (Within):               0.7446
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9280
Time:                        00:34:32   Log-likelihood                    4977.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      531.68
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             531.68
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6346     0.0129     49.316     0.0000      0.6093      0.6598
FARE_per_UPT_cleaned_2018_log    -0.6380     0.0219    -29.087     0.0000     -0.6810     -0.5950
POP_EMP_log                       0.3644     0.0414     8.7978     0.0000      0.2832      0.4456
TSD_POP_EMP_PCT                   0.4721     0.1021     4.6260     0.0000      0.2720      0.6722
GAS_PRICE_2018_log                0.1184     0.0117     10.092     0.0000      0.0954      0.1414
TOTAL_MED_INC_INDIV_2018_log     -0.3250     0.0299    -10.867     0.0000     -0.3837     -0.2664
PCT_HH_NO_VEH                     0.0184     0.0023     7.8397     0.0000      0.0138      0.0230
JTW_HOME_PCT                     -0.0089     0.0036    -2.4533     0.0142     -0.0161     -0.0018
MAINTENANCE_NYC                  -0.0776     0.0100    -7.7338     0.0000     -0.0973     -0.0579
MAINTENANCE_WMATA                -0.3191     0.0206    -15.465     0.0000     -0.3595     -0.2786
YEARS_SINCE_TNC_BUS_NY           -0.0007     0.0018    -0.3799     0.7040     -0.0043      0.0029
YEARS_SINCE_TNC_BUS_HI           -0.0145     0.0016    -8.9793     0.0000     -0.0176     -0.0113
YEARS_SINCE_TNC_BUS_MID          -0.0362     0.0035    -10.299     0.0000     -0.0430     -0.0293
YEARS_SINCE_TNC_BUS_LOW          -0.0206     0.0064    -3.2419     0.0012     -0.0331     -0.0081
YEARS_SINCE_TNC_RAIL_NY           0.0413     0.0019     22.052     0.0000      0.0377      0.0450
YEARS_SINCE_TNC_RAIL_HI           0.0130     0.0018     7.2256     0.0000      0.0095      0.0165
YEARS_SINCE_TNC_RAIL_MID         -0.0485     0.0096    -5.0300     0.0000     -0.0674     -0.0296
BIKE_SHARE                        0.0084     0.0050     1.6737     0.0943     -0.0014      0.0182
scooter_flag                     -0.0485     0.0097    -5.0136     0.0000     -0.0675     -0.0295
=================================================================================================

F-test for Poolability: 183.79
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [89]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + TimeEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7013
Estimator:                   PanelOLS   R-squared (Between):              0.9758
No. Observations:                3726   R-squared (Within):               0.6676
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9758
Time:                        00:35:05   Log-likelihood                    5173.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      426.27
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3449)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             426.27
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3449)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6359     0.0124     51.210     0.0000      0.6116      0.6603
FARE_per_UPT_cleaned_2018_log    -0.7037     0.0221    -31.885     0.0000     -0.7469     -0.6604
POP_EMP_log                       0.2202     0.0436     5.0509     0.0000      0.1347      0.3057
TSD_POP_EMP_PCT                   0.2803     0.1048     2.6753     0.0075      0.0749      0.4857
GAS_PRICE_2018_log                0.3875     0.0765     5.0639     0.0000      0.2375      0.5375
TOTAL_MED_INC_INDIV_2018_log      0.0975     0.0473     2.0610     0.0394      0.0047      0.1903
PCT_HH_NO_VEH                     0.0131     0.0026     5.0092     0.0000      0.0080      0.0183
JTW_HOME_PCT                     -0.0031     0.0040    -0.7806     0.4351     -0.0109      0.0047
MAINTENANCE_NYC                  -0.0062     0.0112    -0.5573     0.5774     -0.0281      0.0157
MAINTENANCE_WMATA                -0.3042     0.0198    -15.352     0.0000     -0.3430     -0.2653
YEARS_SINCE_TNC_BUS_NY            0.0165     0.0028     5.9793     0.0000      0.0111      0.0219
YEARS_SINCE_TNC_BUS_HI           -0.0029     0.0025    -1.1610     0.2457     -0.0079      0.0020
YEARS_SINCE_TNC_BUS_MID          -0.0104     0.0045    -2.3003     0.0215     -0.0193     -0.0015
YEARS_SINCE_TNC_BUS_LOW           0.0130     0.0071     1.8306     0.0673     -0.0009      0.0269
YEARS_SINCE_TNC_RAIL_NY           0.0497     0.0026     19.188     0.0000      0.0446      0.0548
YEARS_SINCE_TNC_RAIL_HI           0.0253     0.0026     9.8302     0.0000      0.0203      0.0304
YEARS_SINCE_TNC_RAIL_MID         -0.0287     0.0096    -2.9861     0.0028     -0.0476     -0.0099
BIKE_SHARE                       -0.0125     0.0051    -2.4557     0.0141     -0.0224     -0.0025
scooter_flag                      0.0120     0.0105     1.1453     0.2522     -0.0085      0.0326
=================================================================================================

F-test for Poolability: 192.04
P-value: 0.0000
Distribution: F(257,3449)

Included effects: Entity, Time

In [92]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + TimeEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6784
Estimator:                   PanelOLS   R-squared (Between):              0.9450
No. Observations:                3726   R-squared (Within):               0.6557
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9450
Time:                        00:36:49   Log-likelihood                    5035.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      520.42
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(14,3454)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             520.42
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3454)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6072     0.0126     48.348     0.0000      0.5825      0.6318
FARE_per_UPT_cleaned_2018_log    -0.6775     0.0211    -32.097     0.0000     -0.7189     -0.6361
POP_EMP_log                       0.2640     0.0446     5.9153     0.0000      0.1765      0.3516
TSD_POP_EMP_PCT                   0.5498     0.1071     5.1328     0.0000      0.3398      0.7598
GAS_PRICE_2018_log                0.2575     0.0783     3.2893     0.0010      0.1040      0.4111
TOTAL_MED_INC_INDIV_2018_log     -0.0423     0.0476    -0.8887     0.3742     -0.1357      0.0510
PCT_HH_NO_VEH                     0.0021     0.0026     0.8279     0.4078     -0.0029      0.0072
JTW_HOME_PCT                     -0.0217     0.0039    -5.5244     0.0000     -0.0295     -0.0140
MAINTENANCE_NYC                   0.0645     0.0094     6.8888     0.0000      0.0462      0.0829
MAINTENANCE_WMATA                -0.3634     0.0198    -18.328     0.0000     -0.4023     -0.3245
YEARS_SINCE_TNC_BUS               0.0062     0.0024     2.5909     0.0096      0.0015      0.0109
YEARS_SINCE_TNC_RAIL              0.0382     0.0023     16.762     0.0000      0.0337      0.0426
BIKE_SHARE                       -0.0036     0.0052    -0.6856     0.4930     -0.0138      0.0066
scooter_flag                     -0.0211     0.0106    -1.9941     0.0462     -0.0419     -0.0004
=================================================================================================

F-test for Poolability: 185.37
P-value: 0.0000
Distribution: F(257,3454)

Included effects: Entity, Time

In [94]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['Tot_Pop'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6927
Estimator:                   PanelOLS   R-squared (Between):              0.9003
No. Observations:                3726   R-squared (Within):               0.6927
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9003
Time:                        00:42:10   Log-likelihood                    3605.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      558.80
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(14,3470)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             558.80
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3470)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6615     0.0101     65.331     0.0000      0.6417      0.6814
FARE_per_UPT_cleaned_2018_log    -0.3755     0.0224    -16.729     0.0000     -0.4196     -0.3315
POP_EMP_log                       0.1668     0.0429     3.8894     0.0001      0.0827      0.2509
TSD_POP_EMP_PCT                   0.9607     0.1332     7.2123     0.0000      0.6996      1.2219
GAS_PRICE_2018_log                0.1859     0.0150     12.395     0.0000      0.1565      0.2153
TOTAL_MED_INC_INDIV_2018_log     -0.1960     0.0374    -5.2385     0.0000     -0.2693     -0.1226
PCT_HH_NO_VEH                     0.0156     0.0029     5.3771     0.0000      0.0099      0.0213
JTW_HOME_PCT                     -0.0134     0.0036    -3.7467     0.0002     -0.0204     -0.0064
MAINTENANCE_NYC                   0.0603     0.0219     2.7494     0.0060      0.0173      0.1034
MAINTENANCE_WMATA                -0.3417     0.0364    -9.3883     0.0000     -0.4130     -0.2703
YEARS_SINCE_TNC_BUS              -0.0127     0.0019    -6.6386     0.0000     -0.0165     -0.0090
YEARS_SINCE_TNC_RAIL              0.0155     0.0021     7.3573     0.0000      0.0114      0.0197
BIKE_SHARE                        0.0035     0.0064     0.5418     0.5880     -0.0091      0.0160
scooter_flag                     -0.0694     0.0108    -6.4162     0.0000     -0.0906     -0.0482
=================================================================================================

F-test for Poolability: 172.62
P-value: 0.0000
Distribution: F(241,3470)

Included effects: Entity

In [95]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['Tot_Pop'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7119
Estimator:                   PanelOLS   R-squared (Between):              0.9298
No. Observations:                3726   R-squared (Within):               0.7119
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9298
Time:                        00:42:46   Log-likelihood                    3725.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      450.72
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             450.72
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6687     0.0099     67.499     0.0000      0.6493      0.6881
FARE_per_UPT_cleaned_2018_log    -0.3989     0.0222    -17.940     0.0000     -0.4425     -0.3553
POP_EMP_log                       0.1894     0.0418     4.5333     0.0000      0.1075      0.2713
TSD_POP_EMP_PCT                   0.6708     0.1328     5.0510     0.0000      0.4104      0.9313
GAS_PRICE_2018_log                0.1642     0.0148     11.093     0.0000      0.1352      0.1932
TOTAL_MED_INC_INDIV_2018_log     -0.1444     0.0368    -3.9226     0.0001     -0.2165     -0.0722
PCT_HH_NO_VEH                     0.0183     0.0028     6.4146     0.0000      0.0127      0.0239
JTW_HOME_PCT                     -0.0004     0.0036    -0.1021     0.9187     -0.0074      0.0067
MAINTENANCE_NYC                  -0.1047     0.0299    -3.4996     0.0005     -0.1634     -0.0460
MAINTENANCE_WMATA                -0.3352     0.0356    -9.4223     0.0000     -0.4050     -0.2655
YEARS_SINCE_TNC_BUS_NY           -0.0026     0.0030    -0.8542     0.3931     -0.0086      0.0034
YEARS_SINCE_TNC_BUS_HI           -0.0158     0.0021    -7.5403     0.0000     -0.0199     -0.0117
YEARS_SINCE_TNC_BUS_MID          -0.0302     0.0033    -9.0853     0.0000     -0.0367     -0.0236
YEARS_SINCE_TNC_BUS_LOW          -0.0184     0.0048    -3.8295     0.0001     -0.0278     -0.0090
YEARS_SINCE_TNC_RAIL_NY           0.0460     0.0045     10.303     0.0000      0.0372      0.0547
YEARS_SINCE_TNC_RAIL_HI           0.0128     0.0022     5.8558     0.0000      0.0085      0.0171
YEARS_SINCE_TNC_RAIL_MID         -0.0493     0.0055    -9.0107     0.0000     -0.0600     -0.0386
BIKE_SHARE                       -0.0065     0.0063    -1.0365     0.3000     -0.0187      0.0058
scooter_flag                     -0.0525     0.0106    -4.9309     0.0000     -0.0734     -0.0316
=================================================================================================

F-test for Poolability: 180.99
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [96]:
df2 = df[df['YEAR2']>=2006]

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df2, 
                    drop_absorbed=True, 
                    weights=df2['Tot_Pop'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6634
Estimator:                   PanelOLS   R-squared (Between):              0.9475
No. Observations:                3076   R-squared (Within):               0.6634
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.9475
Time:                        00:44:38   Log-likelihood                    3372.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      292.04
Entities:                         242   P-value                           0.0000
Avg Obs:                       12.711   Distribution:                 F(19,2815)
Min Obs:                       7.0000
Max Obs:                       13.000   F-statistic (robust):             292.04
                                        P-value                           0.0000
Time periods:                      13   Distribution:                 F(19,2815)
Avg Obs:                       236.62
Min Obs:                       216.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6257     0.0117     53.609     0.0000      0.6028      0.6486
FARE_per_UPT_cleaned_2018_log    -0.3659     0.0256    -14.300     0.0000     -0.4161     -0.3157
POP_EMP_log                       0.2395     0.0532     4.5004     0.0000      0.1352      0.3439
TSD_POP_EMP_PCT                   0.5682     0.1439     3.9493     0.0001      0.2861      0.8503
GAS_PRICE_2018_log                0.1529     0.0160     9.5436     0.0000      0.1215      0.1843
TOTAL_MED_INC_INDIV_2018_log     -0.0919     0.0432    -2.1248     0.0337     -0.1766     -0.0071
PCT_HH_NO_VEH                     0.0291     0.0035     8.3023     0.0000      0.0222      0.0360
JTW_HOME_PCT                     -0.0094     0.0036    -2.5931     0.0096     -0.0166     -0.0023
MAINTENANCE_NYC                  -0.0803     0.0275    -2.9219     0.0035     -0.1342     -0.0264
MAINTENANCE_WMATA                -0.2817     0.0336    -8.3810     0.0000     -0.3476     -0.2158
YEARS_SINCE_TNC_BUS_NY            0.0033     0.0030     1.1036     0.2699     -0.0026      0.0091
YEARS_SINCE_TNC_BUS_HI           -0.0139     0.0021    -6.6845     0.0000     -0.0180     -0.0098
YEARS_SINCE_TNC_BUS_MID          -0.0305     0.0032    -9.4288     0.0000     -0.0368     -0.0242
YEARS_SINCE_TNC_BUS_LOW          -0.0209     0.0045    -4.6052     0.0000     -0.0297     -0.0120
YEARS_SINCE_TNC_RAIL_NY           0.0367     0.0043     8.4805     0.0000      0.0282      0.0452
YEARS_SINCE_TNC_RAIL_HI           0.0128     0.0022     5.9449     0.0000      0.0086      0.0170
YEARS_SINCE_TNC_RAIL_MID         -0.0409     0.0052    -7.9037     0.0000     -0.0511     -0.0308
BIKE_SHARE                       -0.0016     0.0060    -0.2712     0.7862     -0.0133      0.0101
scooter_flag                     -0.0486     0.0099    -4.9241     0.0000     -0.0679     -0.0292
=================================================================================================

F-test for Poolability: 178.74
P-value: 0.0000
Distribution: F(241,2815)

Included effects: Entity

In [97]:
df2 = df[df['YEAR2']>=2012]

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df2, 
                    drop_absorbed=True, 
                    weights=df2['Tot_Pop'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6535
Estimator:                   PanelOLS   R-squared (Between):              0.8999
No. Observations:                1692   R-squared (Within):               0.6535
Date:                Thu, Jan 07 2021   R-squared (Overall):              0.8999
Time:                        00:45:21   Log-likelihood                    2500.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      142.04
Entities:                         242   P-value                           0.0000
Avg Obs:                       6.9917   Distribution:                 F(19,1431)
Min Obs:                       6.0000
Max Obs:                       7.0000   F-statistic (robust):             142.04
                                        P-value                           0.0000
Time periods:                       7   Distribution:                 F(19,1431)
Avg Obs:                       241.71
Min Obs:                       240.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.5482     0.0179     30.575     0.0000      0.5131      0.5834
FARE_per_UPT_cleaned_2018_log    -0.4428     0.0330    -13.408     0.0000     -0.5075     -0.3780
POP_EMP_log                       0.2365     0.0864     2.7369     0.0063      0.0670      0.4061
TSD_POP_EMP_PCT                   1.2780     0.4186     3.0528     0.0023      0.4568      2.0993
GAS_PRICE_2018_log                0.0326     0.0176     1.8467     0.0650     -0.0020      0.0672
TOTAL_MED_INC_INDIV_2018_log     -0.0969     0.0682    -1.4216     0.1554     -0.2306      0.0368
PCT_HH_NO_VEH                     0.0115     0.0037     3.1166     0.0019      0.0043      0.0188
JTW_HOME_PCT                     -0.0112     0.0039    -2.8532     0.0044     -0.0190     -0.0035
MAINTENANCE_NYC                  -0.0305     0.0236    -1.2961     0.1951     -0.0767      0.0157
MAINTENANCE_WMATA                -0.1418     0.0289    -4.9054     0.0000     -0.1985     -0.0851
YEARS_SINCE_TNC_BUS_NY           -0.0078     0.0036    -2.1706     0.0301     -0.0149     -0.0008
YEARS_SINCE_TNC_BUS_HI           -0.0308     0.0025    -12.123     0.0000     -0.0358     -0.0258
YEARS_SINCE_TNC_BUS_MID          -0.0469     0.0032    -14.709     0.0000     -0.0531     -0.0406
YEARS_SINCE_TNC_BUS_LOW          -0.0434     0.0040    -10.714     0.0000     -0.0513     -0.0354
YEARS_SINCE_TNC_RAIL_NY           0.0162     0.0057     2.8477     0.0045      0.0050      0.0273
YEARS_SINCE_TNC_RAIL_HI          -0.0016     0.0026    -0.6149     0.5387     -0.0067      0.0035
YEARS_SINCE_TNC_RAIL_MID         -0.0233     0.0046    -5.0257     0.0000     -0.0323     -0.0142
BIKE_SHARE                       -0.0027     0.0055    -0.4847     0.6280     -0.0134      0.0081
scooter_flag                     -0.0249     0.0079    -3.1698     0.0016     -0.0403     -0.0095
=================================================================================================

F-test for Poolability: 175.79
P-value: 0.0000
Distribution: F(241,1431)

Included effects: Entity

# Calculate FAC

In [74]:
# full series

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + TSD_POP_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + MAINTENANCE_NYC \
                    + MAINTENANCE_WMATA \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df, 
                    drop_absorbed=True, 
                    weights=df['WEIGHT'])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.7446
Estimator:                   PanelOLS   R-squared (Between):              0.9280
No. Observations:                3726   R-squared (Within):               0.7446
Date:                Wed, Jan 06 2021   R-squared (Overall):              0.9280
Time:                        23:25:50   Log-likelihood                    4977.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      531.68
Entities:                         242   P-value                           0.0000
Avg Obs:                       15.397   Distribution:                 F(19,3465)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             531.68
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(19,3465)
Avg Obs:                       219.18
Min Obs:                       131.00
Max Obs:                       242.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6346     0.0129     49.316     0.0000      0.6093      0.6598
FARE_per_UPT_cleaned_2018_log    -0.6380     0.0219    -29.087     0.0000     -0.6810     -0.5950
POP_EMP_log                       0.3644     0.0414     8.7978     0.0000      0.2832      0.4456
TSD_POP_EMP_PCT                   0.4721     0.1021     4.6260     0.0000      0.2720      0.6722
GAS_PRICE_2018_log                0.1184     0.0117     10.092     0.0000      0.0954      0.1414
TOTAL_MED_INC_INDIV_2018_log     -0.3250     0.0299    -10.867     0.0000     -0.3837     -0.2664
PCT_HH_NO_VEH                     0.0184     0.0023     7.8397     0.0000      0.0138      0.0230
JTW_HOME_PCT                     -0.0089     0.0036    -2.4533     0.0142     -0.0161     -0.0018
MAINTENANCE_NYC                  -0.0776     0.0100    -7.7338     0.0000     -0.0973     -0.0579
MAINTENANCE_WMATA                -0.3191     0.0206    -15.465     0.0000     -0.3595     -0.2786
YEARS_SINCE_TNC_BUS_NY           -0.0007     0.0018    -0.3799     0.7040     -0.0043      0.0029
YEARS_SINCE_TNC_BUS_HI           -0.0145     0.0016    -8.9793     0.0000     -0.0176     -0.0113
YEARS_SINCE_TNC_BUS_MID          -0.0362     0.0035    -10.299     0.0000     -0.0430     -0.0293
YEARS_SINCE_TNC_BUS_LOW          -0.0206     0.0064    -3.2419     0.0012     -0.0331     -0.0081
YEARS_SINCE_TNC_RAIL_NY           0.0413     0.0019     22.052     0.0000      0.0377      0.0450
YEARS_SINCE_TNC_RAIL_HI           0.0130     0.0018     7.2256     0.0000      0.0095      0.0165
YEARS_SINCE_TNC_RAIL_MID         -0.0485     0.0096    -5.0300     0.0000     -0.0674     -0.0296
BIKE_SHARE                        0.0084     0.0050     1.6737     0.0943     -0.0014      0.0182
scooter_flag                     -0.0485     0.0097    -5.0136     0.0000     -0.0675     -0.0295
=================================================================================================

F-test for Poolability: 183.79
P-value: 0.0000
Distribution: F(241,3465)

Included effects: Entity

In [ ]:
# keep the relevant fields in the data set
app_data = pd.concat([df[['RAIL_FLAG', 'CLUSTER_APTA', 'UPT_ADJ_2012']], #no cbsa
                      df[res.model.dependent.vars], 
                      df[res.model.exog.vars], 
                      res.estimated_effects, 
                      res.resids], axis=1)

In [ ]:
# carry the fixed effects forward for the same entity
app_data['estimated_effects'] = app_data['estimated_effects'].fillna(method='bfill')

In [ ]:
# calculate the fitted values
app_data['fitted'] = app_data['estimated_effects']
for var in res.params.keys(): 
    app_data['fitted'] = app_data['fitted'] + (res.params[var] * app_data[var])

# and check that we add up correctly
app_data['check_fitted'] = app_data['fitted'] + app_data['residual'] - app_data['UPT_ADJ_log']

In [ ]:
# create the necessary columns

# dependents
app_data['UPT_ADJ']    = np.exp(app_data['UPT_ADJ_log']) - 1
app_data['fitted_exp'] = np.exp(app_data['fitted']) - 1

# linear versions of logged variables
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '')] = np.exp(app_data[var]) - 1              

# ratios and differences
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '_ratio')] = 1
    else: 
        app_data[var+'_diff'] = 0

# FAC multipliers
for var in res.params.keys(): 
    app_data[var+'_FAC_ratio'] = 1

app_data['UPT_ADJ_base'] = 0
app_data['UPT_ADJ_ratio'] = 1
app_data['fitted_exp_ratio'] = 1
app_data['UPT_ADJ_diff'] = 0
app_data['fitted_exp_diff'] = 0

# for tracking new systems
app_data['UPT_ADJ_first_year'] = 0
app_data['UPT_ADJ_new_reporter'] = 0

In [ ]:
# add predictions and exponetiated predicts
app_data['predicted'] = mod.predict(res.params, data=app_data) 
app_data['predicted'] = app_data['predicted'] + app_data['estimated_effects']
app_data['predicted_exp'] = np.exp(app_data['predicted']) - 1
app_data['predicted_residual'] = app_data['UPT_ADJ_log'] - app_data['predicted']
app_data['predicted_exp_diff'] = app_data['UPT_ADJ'] - app_data['predicted_exp']

In [ ]:
# get the ridership in the first year the system starts. This allows us to track new systems. 
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()
    first_year = years[0]

    app_data.loc[(id,first_year),'UPT_ADJ_new_reporter'] = app_data.loc[(id,first_year),'UPT_ADJ']
    
    for year in years: 
        app_data.loc[(id,year),'UPT_ADJ_first_year']   = app_data.loc[(id,first_year),'UPT_ADJ']

In [ ]:
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()

    for year in years[1:]:       
        base_year = year-1
        
        for var in res.params.keys(): 
            # ratios and differences
            if '_log' in var: 
                out_var = var.replace('_log', '_ratio')
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 / app_data.loc[(id,base_year), var])
            else: 
                out_var = var+'_diff'                    
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 - app_data.loc[(id,base_year), var])

            # FAC multipliers
            app_data.loc[(id,year),var+'_FAC_ratio'] = np.exp(res.params[var] * (
                                                    app_data.loc[(id,year), var] 
                                                    - app_data.loc[(id,base_year), var]))

            # estimated effects (if time effects is zero, no change)
            app_data.loc[(id,year),'effects_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'estimated_effects'] 
                                                    - app_data.loc[(id,base_year), 'estimated_effects'])

            # residual
            app_data.loc[(id,year),'residual_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'residual'] 
                                                    - app_data.loc[(id,base_year), 'residual'])

        # observed and fitted changes            
        app_data.loc[(id,year),'UPT_ADJ_base'] = app_data.loc[(id,base_year),'UPT_ADJ']
        app_data.loc[(id,year),'UPT_ADJ_ratio'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 / app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_ratio'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 / app_data.loc[(id,base_year),'fitted_exp'])

        app_data.loc[(id,year),'UPT_ADJ_diff'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 - app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_diff'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 - app_data.loc[(id,base_year),'fitted_exp'])

In [ ]:
# calculate the FAC
app_data['FAC_Sum'] = 0
for var in res.params.keys(): 
    app_data[var+'_FAC'] = (app_data[var+'_FAC_ratio'] - 1) * app_data['UPT_ADJ_base']
    app_data['FAC_Sum'] = app_data['FAC_Sum'] + app_data[var+'_FAC']

In [ ]:

# total FAC is based on the fitted model (applied multiplicitively)
app_data['Known_FAC'] = (app_data['fitted_exp_ratio'] - 1) * app_data['UPT_ADJ_base']

# uknown change is the difference between the observed change and the known change
app_data['Unknown_FAC'] = app_data['UPT_ADJ_diff'] - app_data['Known_FAC']

# the change in ridership associated new systems
app_data['New_Reporter_FAC'] = app_data['UPT_ADJ_new_reporter'] 

# should be teh same as UPT_ADJ_DIFF
app_data['Total_Change'] = app_data['Known_FAC'] + app_data['Unknown_FAC'] + app_data['New_Reporter_FAC']

In [ ]:
# calculate APTA - 4 groups
app_data['CLUSTER_APTA4'] = np.floor(app_data['CLUSTER_APTA']/10)

In [ ]:
# reset the index so I get ID and year
app_data = app_data.reset_index()
app_data = app_data.rename(columns={'level_0' : 'ID', 'level_1' : 'Year'})
app_data.to_csv('FAC-11-14.csv')

In [ ]:
# these are the fields we keep
out_fields = ['ID', 'Year', 'RAIL_FLAG', 
              'CLUSTER_APTA', 'CLUSTER_APTA4',    
              'UPT_ADJ_first_year', 
              'UPT_ADJ_2012', 
              'UPT_ADJ_base', 'UPT_ADJ', 'UPT_ADJ_diff', 
              'fitted_exp', 'fitted_exp_diff']

# exogenous variables 
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    out_fields = out_fields + [out_var]
    
# FAC
for var in res.params.keys(): 
    out_fields = out_fields + [var+'_FAC']
out_fields = out_fields + ['FAC_Sum', 'Known_FAC', 'Unknown_FAC', 'New_Reporter_FAC', 'Total_Change']
    
# keep those fields
summary_data = app_data.reset_index()[out_fields]

In [ ]:
# take weighted average of exogenous variables
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data[out_var] = summary_data[out_var] * summary_data['UPT_ADJ_first_year']

# aggregate to bus/rail totals
summary_data_apta4 = summary_data.groupby(by=['RAIL_FLAG', 'CLUSTER_APTA4', 'Year']).agg('sum')

# divide for weighted averages
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data_apta4[out_var] = summary_data_apta4[out_var] / summary_data_apta4['UPT_ADJ_first_year']

In [ ]:

summary_data_apta4.to_csv('FAC_APTA4_CLUSTERS_11-14.csv')

In [ ]:
sns.distplot(app_data['residual'])

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==0])

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==1])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['CLUSTER_APTA4']==3])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['CLUSTER_APTA4']==1])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="CLUSTER_APTA", y="predicted_residual", hue="RAIL_FLAG", data=app_data)

In [ ]:
app_data['YEARS_SINCE_TNC'] =(app_data['YEARS_SINCE_TNC_BUS_NY'] 
                            + app_data['YEARS_SINCE_TNC_BUS_HI']
                            + app_data['YEARS_SINCE_TNC_BUS_MID']
                            + app_data['YEARS_SINCE_TNC_BUS_LOW']
                            + app_data['YEARS_SINCE_TNC_RAIL_NY']
                            + app_data['YEARS_SINCE_TNC_RAIL_HI']
                            + app_data['YEARS_SINCE_TNC_RAIL_MID'])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="YEARS_SINCE_TNC", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==0])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="YEARS_SINCE_TNC", 
               y="predicted_residual", 
               hue="CLUSTER_APTA4", 
               data=app_data[app_data['RAIL_FLAG']==1])

In [ ]:
df2 = df.reset_index()

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="YEARS_SINCE_TNC", hue="CLUSTER_APTA4", data=df2)

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="TNC_TRIPS_PER_CAPITA_CLUSTER", hue="CLUSTER_APTA4", data=df2)

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="TNC_TRIPS_PER_UPT_2012", hue="CLUSTER_APTA4", data=df2)

In [ ]:
df2 = app_data[['RAIL_FLAG',
               'Unknown_FAC', 
               'VRM_ADJ_log', 
               'VRM_ADJ_ratio', 
               'FARE_per_UPT_cleaned_2018_ratio', 
               'POP_EMP_ratio', 
               'GAS_PRICE_2018_ratio',
               'TOTAL_MED_INC_INDIV_2018_ratio',
               'PCT_HH_NO_VEH_diff',
               'JTW_HOME_PCT_diff'
              ]]
sns.PairGrid(df2, hue="RAIL_FLAG")

In [ ]:
df2 = app_data[['RAIL_FLAG', 
               'Unknown_FAC', 
               'YEARS_SINCE_TNC_BUS_NY_diff', 
               'YEARS_SINCE_TNC_BUS_HI_diff', 
               'YEARS_SINCE_TNC_BUS_MID_diff', 
               'YEARS_SINCE_TNC_BUS_LOW_diff', 
               'YEARS_SINCE_TNC_RAIL_NY_diff',
               'YEARS_SINCE_TNC_RAIL_HI_diff',
               'YEARS_SINCE_TNC_RAIL_MID_diff'
              ]]
sns.PairGrid(df2, hue="RAIL_FLAG")