In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf
import statsmodels.api as sm

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype

pd.set_option('display.max_columns', 500)

%matplotlib inline

In [2]:
df=pd.read_csv('final_estimation_file_apta_added.csv',
                    encoding='utf-8')
df.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
tsd_data=pd.read_csv('tsd_pop_employment.csv',
                    encoding='utf-8')
tsd_data.drop(columns=['Unnamed: 0','CBSA Title'],inplace=True)
tsd_data.head()

,CBSA Code,STATE,Year,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10180,Texas,2002,9489.0,57166.0,58397.0,0.0,0.0,0.0,23086.0,25800.0,9511.0,48886.0,58397.0,0.0,0.0,1216.0,2355.0,0.0,0.0,0.0,954.0,1065.0,336.0,2019.0,2355.0,0.0,0.0
1,10180,Texas,2003,9484.0,56917.0,57221.0,0.0,0.0,0.0,22049.0,25074.0,10098.0,47123.0,57221.0,0.0,0.0,1216.0,2462.0,0.0,0.0,0.0,1032.0,1069.0,361.0,2101.0,2462.0,0.0,0.0
2,10180,Texas,2004,9599.0,59025.0,61419.0,0.0,0.0,0.0,23062.0,27199.0,11158.0,50261.0,61419.0,0.0,0.0,1216.0,2970.0,0.0,0.0,0.0,1231.0,1315.0,424.0,2546.0,2970.0,0.0,0.0
3,10180,Texas,2005,9645.0,57879.0,60001.0,0.0,0.0,0.0,21854.0,26081.0,12066.0,47935.0,60001.0,0.0,0.0,1216.0,2938.0,0.0,0.0,0.0,1134.0,1326.0,478.0,2460.0,2938.0,0.0,0.0
4,10180,Texas,2006,9819.0,59588.0,62311.0,0.0,0.0,0.0,22008.0,26639.0,13664.0,48647.0,62311.0,0.0,0.0,1216.0,2983.0,0.0,0.0,0.0,1122.0,1342.0,519.0,2464.0,2983.0,0.0,0.0

In [4]:
df=pd.merge(df,tsd_data,left_on=['CBSA','Year'],right_on=['CBSA Code','Year'],how='left')
df=df.drop_duplicates()
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.0,314749.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.0,313075.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.0,312683.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.0,309266.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.0,315180.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0

In [5]:
df['TSD_EMP_PCT_LEHD']=100*df['TOT_EMP_TSD_TRACTS']/df['TOT_EMP_ALL_TRACTS']
df['TSD_EMP_PCT_CBSA']=100*df['TOT_EMP_TSD_TRACTS']/df['TOT_EMP_MSA']
df['TSD_POP_PCT_LEHD']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS'] #RAC data
df['TSD_POP_PCT_CBSA']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['Tot_Pop']
df['TSD_POP_WAGE_UNDER_1250']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_RA']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_1250_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_RA']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_BETN_1250_3333_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_RA']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_3333_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']

In [6]:
# read in and join the maintenance and restructure data
mr=pd.read_csv('maintenance_restructure.csv',
                    encoding='utf-8')
mr = mr[['CBSA', 'Mode', 'Year', 'MAINTENANCE', 'MAINTENANCE_NYC', 'MAINTENANCE_WMATA', 'RESTRUCTURE']]

df = df.merge(mr, on=['CBSA', 'Mode', 'Year'], how='left')

In [7]:
# read in mechanical and other failures

failures=pd.read_csv('maintenance_final.csv',encoding='utf-8')

failures.drop(columns=['Unnamed: 0'],inplace=True)

df=df.merge(failures, on=['CBSA','MNAME','Mode','Year'],how='left')

In [8]:
df=df.rename(columns={'UPT_ADJUSTED':'UPT_ADJ','VRM_ADJUSTED':'VRM_ADJ','FARE_ADJUSTED':'FARE_ADJ','AVG_FARE_2018':'FARE_per_UPT_2018',
                     'Mecha_Failures':'Mechanical_Failures'})

In [9]:
df['Mechanical_Failures']=df['Mechanical_Failures'].fillna(0)
df['Total_Failures']=df['Total_Failures'].fillna(0)
df['MDBF_Mechanical']=np.where(df['Mechanical_Failures']>0,df['VRM_ADJ']/df['Mechanical_Failures'],df['VRM_ADJ'])
df['MDBF_Total']=np.where(df['Total_Failures']>0,df['VRM_ADJ']/df['Total_Failures'],df['VRM_ADJ'])

In [10]:
# read in and join the bike share updates
bsu=pd.read_csv('bike_share_update.csv',
                    encoding='utf-8')
bsu = bsu[['CBSA', 'Mode', 'Year', 'PBS_Flag_Update']]

df = df.merge(bsu, on=['CBSA', 'Mode', 'Year'], how='left')

#df['PBS_Flag_Missing'] = df['PBS_Flag'].apply(lambda x : x.isnan())
df['PBS_Flag'] = np.where(df['PBS_Flag'].isnull(), df['PBS_Flag_Update'], df['PBS_Flag'])

In [11]:
# 4 apta clusers
df['CLUSTER_APTA4'] = np.floor(df['CLUSTER_APTA']/10)

In [12]:
# exclude if ridership is zero--missing data
df = df[df['UPT_ADJ']>0]

In [13]:
# fill in missing data as needed

# min fare is zero
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : max(x,0))

# max fare is $20
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : min(x,20))

# zero vehicle HH can't go negative
df['HH_0Veh'] = df['HH_0Veh'].apply(lambda x : max(x,0))

In [14]:
df=df.drop_duplicates(['CBSA','Mode','Year'])

In [15]:
# exclude problematic data
old_len = len(df)
df = df[df['VRM_ADJ']>0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing VRM') 

# exclude if problem flag 2 is set
old_len = len(df)
df = df[df['PROBLEM_FLAG2']!=1]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with problem flag set to 1') 

# exclude rail in low op-ex group
old_len = len(df)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)
df['LOW_OPEX_RAIL'] = df['LOW_OPEX'] * df['RAIL_FLAG']
df = df[df['LOW_OPEX_RAIL']==0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with that have rail in the low op-ex group')

Excluding 2 records with missing VRM
Excluding 36 records with problem flag set to 1
Excluding 48 records with that have rail in the low op-ex group

In [16]:
# exclude discontinuous data
df = df.sort_values(by=['CBSA', 'Mode', 'Year'])

excluded_records = 100
while excluded_records > 0: 
    old_len = len(df)
    df['YearDiff'] = df['Year'].shift(-1) - df['Year']
    df = df[(df['YearDiff']==1) | (df['Year']==2018)]
    excluded_records = old_len - len(df)
    print('Excluding ' + str(excluded_records) + ' records with discontinuities in year.')

Excluding 1 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 0 records with discontinuities in year.

In [17]:
df['BUS_FLAG'] = np.where(df['Mode']=='Bus', 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)

In [18]:
# include population + employment
df['POP_EMP'] = df['Tot_Pop'] + df['TOT_EMP_MSA']
df['HH_EMP'] = df['Total_HH'] + df['TOT_EMP_MSA']


# percent of pop born outside USA
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [19]:
# time effects
df['YEARS_SINCE_2002']  = df['Year'] - 2002

df['YEARS_2002_2010']  = df['Year'].apply(lambda x : min(x-2002, 8))
df['YEARS_AFTER_2010'] = df['Year'].apply(lambda x : max(x-2010, 0))

df['YEARS_2002_2014']  = df['Year'].apply(lambda x : min(x-2002, 12))
df['YEARS_AFTER_2014'] = df['Year'].apply(lambda x : max(x-2014, 0))


df['YEARS_SINCE_2002_BUS']  = df['YEARS_SINCE_2002'] * df['BUS_FLAG']
df['YEARS_SINCE_2002_RAIL'] = df['YEARS_SINCE_2002'] * df['RAIL_FLAG']

df['YEARS_2002_2010_BUS']   = df['YEARS_2002_2010'] * df['BUS_FLAG']
df['YEARS_AFTER_2010_BUS']  = df['YEARS_AFTER_2010']* df['BUS_FLAG']
df['YEARS_2002_2010_RAIL']  = df['YEARS_2002_2010'] * df['RAIL_FLAG']
df['YEARS_AFTER_2010_RAIL'] = df['YEARS_AFTER_2010']* df['RAIL_FLAG']

df['YEARS_2002_2014_BUS']   = df['YEARS_2002_2014'] * df['BUS_FLAG']
df['YEARS_AFTER_2014_BUS']  = df['YEARS_AFTER_2014']* df['BUS_FLAG']
df['YEARS_2002_2014_RAIL']  = df['YEARS_2002_2014'] * df['RAIL_FLAG']
df['YEARS_AFTER_2014_RAIL'] = df['YEARS_AFTER_2014']* df['RAIL_FLAG']

In [20]:
# more time effects

df['YEARS_AFTER_2012'] = df['Year'].apply(lambda x : max(x-2012, 0))

df['TNC_YEARS_AFTER_2012'] = df['YEARS_AFTER_2012'] * df['TNC_FLAG']

df['TNC_YEARS_AFTER_2012_BUS'] = df['TNC_YEARS_AFTER_2012'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2012_RAIL'] = df['TNC_YEARS_AFTER_2012'] * df['RAIL_FLAG']

In [21]:

df['YEARS_SINCE_TNC_2012'] = np.minimum(df['YEARS_SINCE_TNC'], df['YEARS_AFTER_2012'])

df['YEARS_SINCE_TNC_2012_BUS'] = df['YEARS_SINCE_TNC_2012'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_2012_RAIL'] = df['YEARS_SINCE_TNC_2012'] * df['RAIL_FLAG']

In [22]:
# test rail ramp up period
df['YEARS_SINCE_RAIL_START'] = (df['Year'] - df['min_year']) * df['RAIL_FLAG']
df['YEARS_SINCE_RAIL_START'] = np.where(df['min_year']==2002, 0, df['YEARS_SINCE_RAIL_START'])

df['YEARS_SINCE_RAIL_START_1'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 1))
df['YEARS_SINCE_RAIL_START_2'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_RAIL_START_3'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 3))

In [23]:
# calculate bus vs rail stuff

# various bus/rail specifics

df['TNC_FLAG_BUS'] = df['TNC_FLAG'] * df['BUS_FLAG']
df['TNC_FLAG_RAIL'] = df['TNC_FLAG'] * df['RAIL_FLAG']

df['YEARS_SINCE_TNC_BUS'] = df['YEARS_SINCE_TNC'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_RAIL'] = df['YEARS_SINCE_TNC'] * df['RAIL_FLAG']

df['dockless_flag'] = df['dockCt'].apply(lambda x : min(x,1))
df['scooter_flag']  = df['scooterCt'].apply(lambda x : min(x,1))

df['BIKE_SHARE'] = df['PBS_Flag'] + df['dockless_flag']
df['BIKE_SHARE'] = df['BIKE_SHARE'].apply(lambda x : min(x,1))


df['PBS_Flag_BUS']   = df['PBS_Flag']   * df['BUS_FLAG']
df['dockCt_BUS']     = df['dockCt']     * df['BUS_FLAG']
df['docklessCt_BUS'] = df['docklessCt'] * df['BUS_FLAG']
df['scooterCt_BUS']  = df['scooterCt']  * df['BUS_FLAG']
df['dockless_flag_BUS'] = df['dockless_flag'] * df['BUS_FLAG']
df['scooter_flag_BUS']  = df['scooter_flag']  * df['BUS_FLAG']
df['BIKE_SHARE_BUS']  = df['BIKE_SHARE']  * df['BUS_FLAG']


df['PBS_Flag_RAIL']   = df['PBS_Flag']   * df['RAIL_FLAG']
df['dockCt_RAIL']     = df['dockCt']     * df['RAIL_FLAG']
df['docklessCt_RAIL'] = df['docklessCt'] * df['RAIL_FLAG']
df['scooterCt_RAIL']  = df['scooterCt']  * df['RAIL_FLAG']
df['dockless_flag_RAIL'] = df['dockless_flag'] * df['RAIL_FLAG']
df['scooter_flag_RAIL']  = df['scooter_flag']  * df['RAIL_FLAG']
df['BIKE_SHARE_RAIL']  = df['BIKE_SHARE']  * df['RAIL_FLAG']

In [24]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('#VALUE!', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('#VALUE!', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('#VALUE!', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('#VALUE!', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('#VALUE!', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('#VALUE!', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('#VALUE!', np.nan)


df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('N', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('N', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('N', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('N', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('N', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('N', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('N', np.nan)

In [25]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].astype(float)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].astype(float)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].astype(float)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].astype(float)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].astype(float)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].astype(float)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].astype(float)

In [26]:
# immigrant population percentage
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [27]:
# bike share plus scooters for rail
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# merge bike and scooter for bus
df['BIKE_SCOOTER_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] + df['scooter_flag_BUS']

# merge bike and scooter for bus
df['BIKE_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 

# scooter or bike
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_OR_SCOOTER_BUS'].apply(lambda x : min(x, 1))

df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 
df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_OR_SCOOTER_RAIL'].apply(lambda x : min(x, 1))

# calculate average vehicles
df['AVG_VEHS'] = (df['HH_1Veh'] + 2*df['HH_2Veh'] + 3*df['HH_3Veh'] + 4*df['HH_4+Veh']) / (df['HH_0Veh'] + df['HH_1Veh'] + df['HH_2Veh'] + df['HH_3Veh'] + df['HH_4+Veh'])
df['AVG_VEHS_log'] = np.log(1+df['AVG_VEHS'])

In [28]:
# walk bike other commuting
df['JTW_WALK_BIKE_OTHER_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT'] + df['JTW_OTHER_PCT']

# walk bike commuting
df['JTW_WALK_BIKE_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT']

In [29]:
df['VRM_ADJ_BUS'] = df['VRM_ADJ'] * df['BUS_FLAG']
df['VRM_ADJ_RAIL'] = df['VRM_ADJ'] * df['RAIL_FLAG']


#maintenance effect on competing mode
df['MDBF_Mechanical_RAIL']  = df['MDBF_Mechanical'] * df['RAIL_FLAG']
df['MDBF_Mechanical_BUS'] = df['MDBF_Mechanical']  * df['BUS_FLAG']

df['MDBF_Total_RAIL']  = df['MDBF_Total'] * df['RAIL_FLAG']
df['MDBF_Total_BUS'] = df['MDBF_Total']  * df['BUS_FLAG']

In [30]:
# segment TNCs by cluster
df['HI_OPEX']  = np.where(df['CLUSTER_APTA4']==1, 1, 0)
df['MID_OPEX'] = np.where(df['CLUSTER_APTA4']==2, 1, 0)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['NEW_YORK'] = np.where(df['CLUSTER_APTA4']==10, 1, 0)

df['YEARS_SINCE_TNC_BUS_HI']  = df['YEARS_SINCE_TNC_BUS'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS_MID'] = df['YEARS_SINCE_TNC_BUS'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS_LOW'] = df['YEARS_SINCE_TNC_BUS'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_BUS_NY']  = df['YEARS_SINCE_TNC_BUS'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_RAIL_HI']  = df['YEARS_SINCE_TNC_RAIL'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL_MID'] = df['YEARS_SINCE_TNC_RAIL'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL_LOW'] = df['YEARS_SINCE_TNC_RAIL'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_RAIL_NY']  = df['YEARS_SINCE_TNC_RAIL'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_BUS_HINY']  = df['YEARS_SINCE_TNC_BUS_HI'] + df['YEARS_SINCE_TNC_BUS_NY']
df['YEARS_SINCE_TNC_RAIL_HINY']  = df['YEARS_SINCE_TNC_RAIL_HI'] + df['YEARS_SINCE_TNC_RAIL_NY']

df['YEARS_SINCE_TNC_BUS_MIDLOW']  = df['YEARS_SINCE_TNC_BUS_MID'] + df['YEARS_SINCE_TNC_BUS_LOW']
df['YEARS_SINCE_TNC_RAIL_MIDLOW']  = df['YEARS_SINCE_TNC_RAIL_MID'] + df['YEARS_SINCE_TNC_RAIL_LOW']

In [31]:
# bikes and scooters by segment

df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']
df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']

df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']
df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']


df['BIKE_SHARE_HINY']  = df['BIKE_SHARE_HI'] + df['BIKE_SHARE_NY']
df['BIKE_SHARE_MIDLOW']  = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_HINY']  = df['scooter_flag_HI'] + df['scooter_flag_NY']
df['scooter_flag_MIDLOW']  = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [32]:
tnc_rev=pd.read_csv('tnc_revenue.csv',encoding='utf-8')
tnc_rev.head()

,Unnamed: 0,CBSA,MNAME,Mode,Year,TNC_FLAG,YEARS_SINCE_TNC,UBER_NET_REVENUE,UBER_REV_SCALED
0,0,10420,"Akron, OH Metro Area",Bus,2014,1,0,445,1.000000
1,1,10420,"Akron, OH Metro Area",Bus,2015,1,1,1690,3.797753
2,2,10420,"Akron, OH Metro Area",Bus,2016,1,2,4964,11.155056
3,3,10420,"Akron, OH Metro Area",Bus,2017,1,3,7932,17.824719
4,4,10420,"Akron, OH Metro Area",Bus,2018,1,4,11270,25.325843

In [33]:
tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)

In [34]:
list(tnc_rev)

['CBSA',
 'MNAME',
 'Mode',
 'Year',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'UBER_NET_REVENUE',
 'UBER_REV_SCALED']

In [35]:
df=pd.merge(df,tnc_rev,on=['CBSA',
 'MNAME',
 'Mode',
 'Year',
 'TNC_FLAG',
 'YEARS_SINCE_TNC'],how='left')
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJ,VRM_ADJ,FARE_ADJ,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,FARE_per_UPT_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_EMP_PCT_LEHD,TSD_EMP_PCT_CBSA,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,MAINTENANCE,MAINTENANCE_NYC,MAINTENANCE_WMATA,RESTRUCTURE,Mechanical_Failures,Other_Failures,Total_Failures,MDBF_Mechanical,MDBF_Total,PBS_Flag_Update,CLUSTER_APTA4,LOW_OPEX,RAIL_FLAG,LOW_OPEX_RAIL,YearDiff,BUS_FLAG,POP_EMP,HH_EMP,Tot_NonUSA_POP_pct,YEARS_SINCE_2002,YEARS_2002_2010,YEARS_AFTER_2010,YEARS_2002_2014,YEARS_AFTER_2014,YEARS_SINCE_2002_BUS,YEARS_SINCE_2002_RAIL,YEARS_2002_2010_BUS,YEARS_AFTER_2010_BUS,YEARS_2002_2010_RAIL,YEARS_AFTER_2010_RAIL,YEARS_2002_2014_BUS,YEARS_AFTER_2014_BUS,YEARS_2002_2014_RAIL,YEARS_AFTER_2014_RAIL,YEARS_AFTER_2012,TNC_YEARS_AFTER_2012,TNC_YEARS_AFTER_2012_BUS,TNC_YEARS_AFTER_2012_RAIL,YEARS_SINCE_TNC_2012,YEARS_SINCE_TNC_2012_BUS,YEARS_SINCE_TNC_2012_RAIL,YEARS_SINCE_RAIL_START,YEARS_SINCE_RAIL_START_1,YEARS_SINCE_RAIL_START_2,YEARS_SINCE_RAIL_START_3,TNC_FLAG_BUS,TNC_FLAG_RAIL,YEARS_SINCE_TNC_BUS,YEARS_SINCE_TNC_RAIL,dockless_flag,scooter_flag,BIKE_SHARE,PBS_Flag_BUS,dockCt_BUS,docklessCt_BUS,scooterCt_BUS,dockless_flag_BUS,scooter_flag_BUS,BIKE_SHARE_BUS,PBS_Flag_RAIL,dockCt_RAIL,docklessCt_RAIL,scooterCt_RAIL,dockless_flag_RAIL,scooter_flag_RAIL,BIKE_SHARE_RAIL,BIKE_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_BUS,BIKE_SCOOTER_BUS,BIKE_OR_SCOOTER_BUS,BIKE_OR_SCOOTER_RAIL,AVG_VEHS,AVG_VEHS_log,JTW_WALK_BIKE_OTHER_PCT,JTW_WALK_BIKE_PCT,VRM_ADJ_BUS,VRM_ADJ_RAIL,MDBF_Mechanical_RAIL,MDBF_Mechanical_BUS,MDBF_Total_RAIL,MDBF_Total_BUS,HI_OPEX,MID_OPEX,NEW_YORK,YEARS_SINCE_TNC_BUS_HI,YEARS_SINCE_TNC_BUS_MID,YEARS_SINCE_TNC_BUS_LOW,YEARS_SINCE_TNC_BUS_NY,YEARS_SINCE_TNC_RAIL_HI,YEARS_SINCE_TNC_RAIL_MID,YEARS_SINCE_TNC_RAIL_LOW,YEARS_SINCE_TNC_RAIL_NY,YEARS_SINCE_TNC_BUS_HINY,YEARS_SINCE_TNC_RAIL_HINY,YEARS_SINCE_TNC_BUS_MIDLOW,YEARS_SINCE_TNC_RAIL_MIDLOW,BIKE_SHARE_HI,BIKE_SHARE_MID,BIKE_SHARE_LOW,BIKE_SHARE_NY,scooter_flag_HI,scooter_flag_MID,scooter_flag_LOW,scooter_flag_NY,BIKE_SHARE_HINY,BIKE_SHARE_MIDLOW,scooter_flag_HINY,scooter_flag_MIDLOW,UBER_NET_REVENUE,UBER_REV_SCALED
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.0,314749.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,25.881893,23.534209,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,0.0,0.0,0.0,0.0,76.0,1279.0,1355.0,52978.584053,2971.492537,NaN,2.0,0,0,0,1.0,1,9.927309e+05,611599.37,-0.060245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.938830,1.078012,2.5,1.8,4026372.388,0.0,0.0,52978.584053,0.0,2971.492537,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.0,313075.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,25.483031,22.887812,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,0.0,0.0,0.0,0.0,19.0,1409.0,1428.0,209293.085474,2784.711922,NaN,2.0,0,0,0,1.0,1,1.007971e+06,617718.36,0.114214,1,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896082,1.063359,2.5,1.8,3976568.624,0.0,0.0,209293.085474,0.0,2784.711922,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.0,312683.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,25.140478,22.349927,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,0.0,0.0,0.0,0.0,67.0,1254.0,1321.0,64408.844104,3266.761964,NaN,2.0,0,0,0,1.0,1,1.024216e+06,624616.00,0.288851,2,2,0,2,0,2,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.853753,1.048635,2.5,1.8,4315392.555,0.0,0.0,64408.844104,0.0,3266.761964,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.0,309266.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,25.009862,21.598917,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,0.0,0.0,0.0,0.0,169.0,2369.0,2538.0,23982.313994,1596.931074,NaN,2.0,0,0,0,1.0,1,1.042565e+06,634521.92,0.430267,3,3,0,3,0,3,0,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.815448,1.035122,2.5,1.8,4053011.065,0.0,0.0,23982.313994,0.0,1596.931074,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0.0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.0,315180.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,24.988578,21.569929,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,0.0,0.0,0.0,0.0,166.0,2236.0,2402.0,24064.975982,1663.108249,NaN,2.0,0,0,0,1.0,1,1.066076e+06,645970.33,0.669812,4,4,0,4,0,4,0,4,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.766890,1.017724,3.1,2.2,3994786.013,0.0,0.0,24064.975982,0.0,1663.108249,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN

In [36]:
df['UBER_NET_REVENUE']=df['UBER_NET_REVENUE'].fillna(0)
df['UBER_REV_SCALED']=df['UBER_REV_SCALED'].fillna(0)
df.head(20)

,CBSA,MNAME,Mode,Year,UPT_ADJ,VRM_ADJ,FARE_ADJ,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,FARE_per_UPT_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_EMP_PCT_LEHD,TSD_EMP_PCT_CBSA,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,MAINTENANCE,MAINTENANCE_NYC,MAINTENANCE_WMATA,RESTRUCTURE,Mechanical_Failures,Other_Failures,Total_Failures,MDBF_Mechanical,MDBF_Total,PBS_Flag_Update,CLUSTER_APTA4,LOW_OPEX,RAIL_FLAG,LOW_OPEX_RAIL,YearDiff,BUS_FLAG,POP_EMP,HH_EMP,Tot_NonUSA_POP_pct,YEARS_SINCE_2002,YEARS_2002_2010,YEARS_AFTER_2010,YEARS_2002_2014,YEARS_AFTER_2014,YEARS_SINCE_2002_BUS,YEARS_SINCE_2002_RAIL,YEARS_2002_2010_BUS,YEARS_AFTER_2010_BUS,YEARS_2002_2010_RAIL,YEARS_AFTER_2010_RAIL,YEARS_2002_2014_BUS,YEARS_AFTER_2014_BUS,YEARS_2002_2014_RAIL,YEARS_AFTER_2014_RAIL,YEARS_AFTER_2012,TNC_YEARS_AFTER_2012,TNC_YEARS_AFTER_2012_BUS,TNC_YEARS_AFTER_2012_RAIL,YEARS_SINCE_TNC_2012,YEARS_SINCE_TNC_2012_BUS,YEARS_SINCE_TNC_2012_RAIL,YEARS_SINCE_RAIL_START,YEARS_SINCE_RAIL_START_1,YEARS_SINCE_RAIL_START_2,YEARS_SINCE_RAIL_START_3,TNC_FLAG_BUS,TNC_FLAG_RAIL,YEARS_SINCE_TNC_BUS,YEARS_SINCE_TNC_RAIL,dockless_flag,scooter_flag,BIKE_SHARE,PBS_Flag_BUS,dockCt_BUS,docklessCt_BUS,scooterCt_BUS,dockless_flag_BUS,scooter_flag_BUS,BIKE_SHARE_BUS,PBS_Flag_RAIL,dockCt_RAIL,docklessCt_RAIL,scooterCt_RAIL,dockless_flag_RAIL,scooter_flag_RAIL,BIKE_SHARE_RAIL,BIKE_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_BUS,BIKE_SCOOTER_BUS,BIKE_OR_SCOOTER_BUS,BIKE_OR_SCOOTER_RAIL,AVG_VEHS,AVG_VEHS_log,JTW_WALK_BIKE_OTHER_PCT,JTW_WALK_BIKE_PCT,VRM_ADJ_BUS,VRM_ADJ_RAIL,MDBF_Mechanical_RAIL,MDBF_Mechanical_BUS,MDBF_Total_RAIL,MDBF_Total_BUS,HI_OPEX,MID_OPEX,NEW_YORK,YEARS_SINCE_TNC_BUS_HI,YEARS_SINCE_TNC_BUS_MID,YEARS_SINCE_TNC_BUS_LOW,YEARS_SINCE_TNC_BUS_NY,YEARS_SINCE_TNC_RAIL_HI,YEARS_SINCE_TNC_RAIL_MID,YEARS_SINCE_TNC_RAIL_LOW,YEARS_SINCE_TNC_RAIL_NY,YEARS_SINCE_TNC_BUS_HINY,YEARS_SINCE_TNC_RAIL_HINY,YEARS_SINCE_TNC_BUS_MIDLOW,YEARS_SINCE_TNC_RAIL_MIDLOW,BIKE_SHARE_HI,BIKE_SHARE_MID,BIKE_SHARE_LOW,BIKE_SHARE_NY,scooter_flag_HI,scooter_flag_MID,scooter_flag_LOW,scooter_flag_NY,BIKE_SHARE_HINY,BIKE_SHARE_MIDLOW,scooter_flag_HINY,scooter_flag_MIDLOW,UBER_NET_REVENUE,UBER_REV_SCALED
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.67190,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.90,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.56250,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.78750,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.200,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.00,314749.0,305401.0,0.0,0.00,0.0,92556.0,127165.00,85680.00,219721.00,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.00,25397.0,10892.00,43625.00,54517.0,0.00,0.00,25.881893,23.534209,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,0.0,0.0,0.0,0.0,76.0,1279.0,1355.0,52978.584053,2971.492537,NaN,2.0,0,0,0,1.0,1,9.927309e+05,611599.37,-0.060245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.938830,1.078012,2.500,1.800,4026372.388,0.0,0.0,52978.584053,0.0,2971.492537,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.31250,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.00,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.75000,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.25750,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.400,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.00,313075.0,318486.0,0.0,0.00,0.0,95379.0,128948.00,94159.00,224327.00,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.00,23767.0,11116.00,40860.00,51976.0,0.00,0.00,25.483031,22.887812,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,0.0,0.0,0.0,0.0,19.0,1409.0,1428.0,209293.085474,2784.711922,NaN,2.0,0,0,0,1.0,1,1.007971e+06,617718.36,0.114214,1,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896082,1.063359,2.500,1.800,3976568.624,0.0,0.0,209293.085474,0.0,2784.711922,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.75000,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.10,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.00000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.70000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.700,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.00,312683.0,315004.0,0.0,0.00,0.0,92341.0,124884.00,97779.00,217225.00,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.00,22739.0,11578.00,39272.00,50850.0,0.00,0.00,25.140478,22.349927,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,0.0,0.0,0.0,0.0,67.0,1254.0,1321.0,64408.844104,3266.761964,NaN,2.0,0,0,0,1.0,1,1.024216e+06,624616.00,0.288851,2,2,0,2,0,2,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.853753,1.048635,2.500,1.800,4315392.555,0.0,0.0,64408.844104,0.0,3266.761964,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.00000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.20,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.00000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.04000,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.800,0.8,1.700,0.1,0.7,3.100,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.00,309266.0,316201.0,0.0,0.00,0.0,90737.0,123595.00,101869.00,214332.00,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.00,22152.0,11901.00,38361.00,50262.0,0.00,0.00,25.009862,21.598917,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,0.0,0.0,0.0,0.0,169.0,2369.0,2538.0,23982.313994,1596.931074,NaN,2.0,0,0,0,1.0,1,1.042565e+06,634521.92,0.430267,3,3,0,3,0,3,0,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.815448,1.035122,2.500,1.800,4053011.065,0.0,0.0,23982.313994,0.0,1596.931074,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.00000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.30,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.00000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.75000,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.300,1.3,2.200,0.0,0.9,2.500,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.00,315180.0,313986.0,0.0,0.00,0.0,89652.0,117761.00,106573.00,207413.00,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.00,21149.0,12635.00,36658.00,49293.0,0.00,0.00,24.988578,21.569929,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,0.0,0.0,0.0,0.0,166.0,2236.0,2402.0,24064.975982,1663.108249,NaN,2.0,0,0,0,1.0,1,1.066076e+06,645970.33,0.669812,4,4,0,4,0,4,0,4,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.766890,1.017724,3.100,2.200,3994786.013,0.0,0.0,24064.975982,0.0,1663.108249,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
5,10420,"Akron, OH Metro Area",Bus,2007,5868746.078,4571428.064,3.109813e+06,2002,2018,0.529894,NaN,NaN,NaN,699356.0000,536148.0000,135625.00000,3455.00000,25217.00000,25202.00000,24776.00000,25575,682807.00,13.40,7.60,79.00,23.30,63.40,13.30,281669.00,21066.00,94071.00,113232.00,36917.00,16383.00,7.48,47898.00000,63454.00000,37.20,46.10,16.70,20953.42,368688.42,389641.83,5.38,94.62,2.82,13644.8,116851.0,16.03,1.21,2014,http://www.crainscleveland.com/article/2014082...,0,0,18481486.41,30512.57000,30494.42000,29978.96000,57956.58000,76779.34000,3.4122,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,335010,85.7,7.000,1.3,2.000,0.2,0.8,2.900,NaN,0.641172,2416.526602,both,24,10420.0,Ohio,74582.00,314679.0,319224.0,0.0,0.00,0.0,89537.0,118540.00,111147.00,208077.00,319224.0,0.0,0.0,13619.2,49222.0,0.0,0.0,0.0,15377.00,21052.0,12793.00,36429.00,49222.0,0.00,0.00,23.700978,20.229005,15.419267,7.038189,4.816994,6.594742,11.411736,17.173906,17.759406,17.507461,31.240096,42.769493,74.009589,0.0,0.0,0.0,0.0,144.0,1230.0,1374.0,31746.028222,3327.094661,NaN,2.0,0,0,0,1.0,1,1.068044e+06,650357.42,0.494026,5,5,0,5,0,5,0,5,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.763836,1.016620,3.000,2.200,4571428.064,0.0,0.0,31746.028222,0.0,3327.094661,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
6,10420,"Akron, OH Metro Area",Bus,2008,6140428.988,3873343.976,3.251531e+06,2002,2018,0.529528,NaN,NaN,NaN,698553.0000,529519.0000,137011.00000,4452.00000,25357.00000,25559.00000,25281.00000,15247,681880.00,12.10,8.20,79.70,22.90,63.50,13.60,281731.00,19035.00,100229.00,108332.00,38548.00,15587.00,6.76,50036.00000,65801.00000,36.40,45.10,18.50,24154.58,367016.58,391171.17,6.17,93.83,3.23,13644.8,116264.0,14.89,1.17,2014,http://www.crainscleveland.com/article/2014082...,0,0,18601942.58,29667.69000,29904.03000,29578.77000,58542.12000,76987.17000,3.7791,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,346231,84.4,7.500,1.6,2.700,0.2,0.6,3.000,NaN,0.619548,2417.876039,both,24,10420.0,Ohio,78727.00,319316.0,317542.0,0.0,0.00,0.0,86339.0,116287.00,114916.00,202626.00,317542.0,0.0,0.0,13619.2,49460.0,0.0,0.0,0.0,14881.00,20948.0,13631.00,35829.00,49460.0,0.00,0.00,24.654887,21.450530,15.575892,7.080350,4.686309,6.596923,11.283232,17.235548,18.014051,17.682331,30.086939,42.353417,72.440356,0.0,0.0,0.0,0.0,187.0,1390.0,1577.0,20713.069390,2456.147100,NaN,2.0,0,0,0,1.0,1,1.065570e+06,648747.58,0.637317,6,6,0,6,0,6,0,6,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.756587,1.013993,3.500,2.900,3873343.976,0.0,0.0,20713.069390,0.0,2456.147100,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
7,10420,"Akron, OH Metro Area",Bus,2009,5560854.064,3431434.413,3.057887e+06,2002,2018,0.549895,NaN,NaN,NaN,699935.0000,537803.0000,134499.00000,2466.00000,24856.00000,24810.00000,24817.00000,29301,685405.00,14.70,7.20,78.10,22.40,63.60,14.00,281769.00,23447.00,97811.00,108215.00,36339.00,15957.00,8.32,47482.00000,60668.00000,36.80,48.10,15.10,38703.17,346409.33,385112.50,10.05,89.95,2.33,13644.8,115677.0,12.41,1.17,2014,http://www.crainscleveland.com/article/2014082...,0,0,17469678.88,29081.52000,29027.70000,29035.89000,55553.94000,70981.56000,2.7261,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,326349,86.6,5.900,1.4,2.200,0.2,0.5,3.200,NaN,0.643377,2419.599273,both,24,10420.0,Ohio,72366.00,302021.0,298516.0,262385.0,28901.00,3474.0,80381.0,111176.00,106959.00,191557.00,36131.0,87876.0,141993.0,13619.2,46308.0,37889.0,7040.0,697.0,13878.00,19414.0,13016.00,33292.00,8419.0,14335.00,19761.00,23.960586,20.890315,15.512736,6.616043,4.648997,6.503504,11.152501,17.265274,17.462402,17.379683,29.968904,41.923642,71.892546,0.0,0.0,0.0,0.0,201.0,1319.0,1520.0,17071.813000,2257.522640,NaN,2.0,0,0,0,1.0,1,1.046344e+06,628178.33,0.352318,7,7,0,7,0,7,0,7,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.728671,1.003815,2.900,2.400,3431434.413,0.0,0.0,17071.813000,0.0,2257.522640,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
8,10420,"Akron, OH Metro Area",Bus,2010,5616567.806,3471447.493,3.247759e+06,2002,2018,0.578246,NaN,NaN,NaN,702951.0000,539313.0000,132784.00000,3944.00000,24592.00000,24348.00000,25441.00000,18974,687098.00,NaN,NaN,NaN,22.30,63.40,14.30,281523.00,22621.00,92537.00,114311.00,35021.00,17033.00,8.04,46521.00000,60782.00000,38.00,45.60,16.40,39167.33,333040.75,372208.08,10.52,89.48,2.78,13644.8,115090.0,11.57,1.15,2014,http://www.crainscleveland.com/article/2014082...,0,0,18235616.11,28280.80000,28000.20000,29257.15000,53499.15000,69899.30000,3.1970,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,319431,87.7,5.700,1.5,1.600,0.1,0.6,2.900,NaN,0.664983,2414.853641,both,24,10420.0,Ohio,78069.00,302577.0,295351.0,260354.0,27527.00,3506.0,76839.0,106195.00,112317.00,183034.00,34997.0,86191.0,143233.0,13619.2,43030.0,35142.0,6576.0,676.0,12479.00,18114.0,12437.00,30593.00,7888.0,13146.00,18730.00,25.801366,23.441276,14.569106,6.121337,4.225142,6.133042,10.358184,16.240451,17.057300,16.714381,29.000697,42.096212,71.096909,0.0,0.0,0.0,0.0,216.0,1221.0,1437.0,16071.516171,2415.760260,NaN,2.0,0,0,0,1.0,1,1.035992e+06,614563.75,0.561063,8,8,0,8,0,8,0,8,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.755999,1.013780,2.300,1.700,3471447.493,0.0,0.0,16071.516171,0.0,2415.760260,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
9,10420,"Akron, OH Metro Area",Bus,2011,5858952.685,3918014.086,3.432078e+06,2002,2018,0.585784,NaN,NaN,NaN,701456.0000,541743.0000,127206.00000,5605.00000,24744.00000,24630.00000,24718.00000,19914,684916.00,NaN,NaN,NaN,21.90,63.70,14.40,274696.00,22332.00,98938.00,101762.00,35249.00,16415.00,8.13,47032.00000,62438.00000,38.40,45.10,16.50,33038.33,332935.08,365973.42,9.03,90.97,3.53,13644.8,114503.0,12.84,1.12,2014,http://www.crainscleveland.com/article/2014082...,0,0,18786450.64,27713.28000,27585.60000,27684.16000,52675.84000,69930.56000,3.9536,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,322871,85.6,7.200,1.3,1.700,0.3,0.6,3.300,NaN,0.656078,2435.023505,both,24,10420.0,Ohio,76343.00,308585.0,303760.0,266291.0,29519.00,3925.0,80387.0,108358.00,115015.00,188745.00,37469.0,89467.0,144893.0,13619.2,42132.0,34086.0,6686.0,679.0,12256.00,17738.0,12138.00,29994.00,8046.0,12876.00,18367.00,24.739699,22.930296,13.870161,6.006364,4.034764,5.839479,9.874243,15.246246,16.369811,15.891282,29.089528,42.101016,71.190544,0.0,0.0,0.0,0.0,138.0,959.0,1097.0,28391.406420,3571.571637,NaN,2.0,0,0,0,1.0,1,1.034391e+06,607631.08,0.799052,9,8,1,9,0,9,0,8,1,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.725067,1.002493,2.600,2.000,3918014.086,0.0,0.0,28391.406420,0.0,3571.571637,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
10,10420,"Akron, OH Metro Area",Bus,2012,5996224.469,3862989.104,5.834141e+06,2002,2018,0.972969,NaN,NaN,NaN,702262.0000,541057.0000,125650.00000,5192.00000,25564.00000,25656.00000,25880.00000,25575,687031.00,NaN,NaN,NaN,21.60,63.50,14.90,280887.00,24001.00,98798.00,110693.00,32826.00,14569.00,8.54,49731.00000,65187.00000,35.50,46.20,18.30,26723.25,333535.58,360258.83,7.42,92.58,3.61,13644.8,112988.0,12.64,1.09,2014,http://www.crainscleveland.com/article/2014082...,0,0,25004946.41,27864.76000,27965.04000,28209.20000,54206.79000,71053.83000,3.9349,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,325710,86.1,7.300,1.3,1.600,0.2,0.6,3.000,NaN,1.060536,2409.272433,both,24,10420.0,Ohio,71741.00,312046.0,310433.0,270864.0,31252.00,4074.0,80210.0,110794.00,119429.00,191004.00,39569.0,92162.0,148708.0,13619.2,43008.0,34411.0,7260.0,686.0,12605.00,18122.0,12281.00,30727.00,8597.0,13509.00,18621.00,22.990521,21.509249,13.854197,6.124210,4.060457,5.837653,9.898110,15.714998,16.356481,16.087098,29.308501,42.136347,71.444847,0.0,0.0,0.0,0.0,128.0,878.0,1006.0,30179.602375,3839.949408,NaN,2.0,0,0,0,1.0,1,1.035798e+06,614422.58,0.739325,10,8,2,10,0,10,0,8,2,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.697971,0.992500,2.400,1.800,3862989.104,0.0,0.0,30179.602375,0.0,3839.949408,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000

In [37]:
df['UBER_REV_SCALED_BUS'] = df['UBER_REV_SCALED'] * df['BUS_FLAG']
df['UBER_REV_SCALED_RAIL'] = df['UBER_REV_SCALED'] * df['RAIL_FLAG']

df['UBER_REV_SCALED_BUS_HI']  = df['UBER_REV_SCALED_BUS'] * df['HI_OPEX']
df['UBER_REV_SCALED_BUS_MID'] = df['UBER_REV_SCALED_BUS'] * df['MID_OPEX']
df['UBER_REV_SCALED_BUS_LOW'] = df['UBER_REV_SCALED_BUS'] * df['LOW_OPEX']
df['UBER_REV_SCALED_BUS_NY']  = df['UBER_REV_SCALED_BUS'] * df['NEW_YORK']

df['UBER_REV_SCALED_RAIL_HI']  = df['UBER_REV_SCALED_RAIL'] * df['HI_OPEX']
df['UBER_REV_SCALED_RAIL_MID'] = df['UBER_REV_SCALED_RAIL'] * df['MID_OPEX']
df['UBER_REV_SCALED_RAIL_LOW'] = df['UBER_REV_SCALED_RAIL'] * df['LOW_OPEX']
df['UBER_REV_SCALED_RAIL_NY']  = df['UBER_REV_SCALED_RAIL'] * df['NEW_YORK']

df['UBER_REV_SCALED_BUS_HINY']  = df['UBER_REV_SCALED_BUS_HI'] + df['UBER_REV_SCALED_BUS_NY']
df['UBER_REV_SCALED_RAIL_HINY']  = df['UBER_REV_SCALED_RAIL_HI'] + df['UBER_REV_SCALED_RAIL_NY']

df['UBER_REV_SCALED_BUS_MIDLOW']  = df['UBER_REV_SCALED_BUS_MID'] + df['UBER_REV_SCALED_BUS_LOW']
df['UBER_REV_SCALED_RAIL_MIDLOW']  = df['UBER_REV_SCALED_RAIL_MID'] + df['UBER_REV_SCALED_RAIL_LOW']

In [38]:
df['UBER_NET_REVENUE_BUS'] = df['UBER_NET_REVENUE'] * df['BUS_FLAG']
df['UBER_NET_REVENUE_RAIL'] = df['UBER_NET_REVENUE'] * df['RAIL_FLAG']

df['UBER_NET_REVENUE_BUS_HI']  = df['UBER_NET_REVENUE_BUS'] * df['HI_OPEX']
df['UBER_NET_REVENUE_BUS_MID'] = df['UBER_NET_REVENUE_BUS'] * df['MID_OPEX']
df['UBER_NET_REVENUE_BUS_LOW'] = df['UBER_NET_REVENUE_BUS'] * df['LOW_OPEX']
df['UBER_NET_REVENUE_BUS_NY']  = df['UBER_NET_REVENUE_BUS'] * df['NEW_YORK']

df['UBER_NET_REVENUE_RAIL_HI']  = df['UBER_NET_REVENUE_RAIL'] * df['HI_OPEX']
df['UBER_NET_REVENUE_RAIL_MID'] = df['UBER_NET_REVENUE_RAIL'] * df['MID_OPEX']
df['UBER_NET_REVENUE_RAIL_LOW'] = df['UBER_NET_REVENUE_RAIL'] * df['LOW_OPEX']
df['UBER_NET_REVENUE_RAIL_NY']  = df['UBER_NET_REVENUE_RAIL'] * df['NEW_YORK']

df['UBER_NET_REVENUE_BUS_HINY']  = df['UBER_NET_REVENUE_BUS_HI'] + df['UBER_NET_REVENUE_BUS_NY']
df['UBER_NET_REVENUE_RAIL_HINY']  = df['UBER_NET_REVENUE_RAIL_HI'] + df['UBER_NET_REVENUE_RAIL_NY']

df['UBER_NET_REVENUE_BUS_MIDLOW']  = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_LOW']
df['UBER_NET_REVENUE_RAIL_MIDLOW']  = df['UBER_NET_REVENUE_RAIL_MID'] + df['UBER_NET_REVENUE_RAIL_LOW']

In [39]:
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJ,VRM_ADJ,FARE_ADJ,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,FARE_per_UPT_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_EMP_PCT_LEHD,TSD_EMP_PCT_CBSA,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,MAINTENANCE,MAINTENANCE_NYC,MAINTENANCE_WMATA,RESTRUCTURE,Mechanical_Failures,Other_Failures,Total_Failures,MDBF_Mechanical,MDBF_Total,PBS_Flag_Update,CLUSTER_APTA4,LOW_OPEX,RAIL_FLAG,LOW_OPEX_RAIL,YearDiff,BUS_FLAG,POP_EMP,HH_EMP,Tot_NonUSA_POP_pct,YEARS_SINCE_2002,YEARS_2002_2010,YEARS_AFTER_2010,YEARS_2002_2014,YEARS_AFTER_2014,YEARS_SINCE_2002_BUS,YEARS_SINCE_2002_RAIL,YEARS_2002_2010_BUS,YEARS_AFTER_2010_BUS,YEARS_2002_2010_RAIL,YEARS_AFTER_2010_RAIL,YEARS_2002_2014_BUS,YEARS_AFTER_2014_BUS,YEARS_2002_2014_RAIL,YEARS_AFTER_2014_RAIL,YEARS_AFTER_2012,TNC_YEARS_AFTER_2012,TNC_YEARS_AFTER_2012_BUS,TNC_YEARS_AFTER_2012_RAIL,YEARS_SINCE_TNC_2012,YEARS_SINCE_TNC_2012_BUS,YEARS_SINCE_TNC_2012_RAIL,YEARS_SINCE_RAIL_START,YEARS_SINCE_RAIL_START_1,YEARS_SINCE_RAIL_START_2,YEARS_SINCE_RAIL_START_3,TNC_FLAG_BUS,TNC_FLAG_RAIL,YEARS_SINCE_TNC_BUS,YEARS_SINCE_TNC_RAIL,dockless_flag,scooter_flag,BIKE_SHARE,PBS_Flag_BUS,dockCt_BUS,docklessCt_BUS,scooterCt_BUS,dockless_flag_BUS,scooter_flag_BUS,BIKE_SHARE_BUS,PBS_Flag_RAIL,dockCt_RAIL,docklessCt_RAIL,scooterCt_RAIL,dockless_flag_RAIL,scooter_flag_RAIL,BIKE_SHARE_RAIL,BIKE_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_BUS,BIKE_SCOOTER_BUS,BIKE_OR_SCOOTER_BUS,BIKE_OR_SCOOTER_RAIL,AVG_VEHS,AVG_VEHS_log,JTW_WALK_BIKE_OTHER_PCT,JTW_WALK_BIKE_PCT,VRM_ADJ_BUS,VRM_ADJ_RAIL,MDBF_Mechanical_RAIL,MDBF_Mechanical_BUS,MDBF_Total_RAIL,MDBF_Total_BUS,HI_OPEX,MID_OPEX,NEW_YORK,YEARS_SINCE_TNC_BUS_HI,YEARS_SINCE_TNC_BUS_MID,YEARS_SINCE_TNC_BUS_LOW,YEARS_SINCE_TNC_BUS_NY,YEARS_SINCE_TNC_RAIL_HI,YEARS_SINCE_TNC_RAIL_MID,YEARS_SINCE_TNC_RAIL_LOW,YEARS_SINCE_TNC_RAIL_NY,YEARS_SINCE_TNC_BUS_HINY,YEARS_SINCE_TNC_RAIL_HINY,YEARS_SINCE_TNC_BUS_MIDLOW,YEARS_SINCE_TNC_RAIL_MIDLOW,BIKE_SHARE_HI,BIKE_SHARE_MID,BIKE_SHARE_LOW,BIKE_SHARE_NY,scooter_flag_HI,scooter_flag_MID,scooter_flag_LOW,scooter_flag_NY,BIKE_SHARE_HINY,BIKE_SHARE_MIDLOW,scooter_flag_HINY,scooter_flag_MIDLOW,UBER_NET_REVENUE,UBER_REV_SCALED,UBER_REV_SCALED_BUS,UBER_REV_SCALED_RAIL,UBER_REV_SCALED_BUS_HI,UBER_REV_SCALED_BUS_MID,UBER_REV_SCALED_BUS_LOW,UBER_REV_SCALED_BUS_NY,UBER_REV_SCALED_RAIL_HI,UBER_REV_SCALED_RAIL_MID,UBER_REV_SCALED_RAIL_LOW,UBER_REV_SCALED_RAIL_NY,UBER_REV_SCALED_BUS_HINY,UBER_REV_SCALED_RAIL_HINY,UBER_REV_SCALED_BUS_MIDLOW,UBER_REV_SCALED_RAIL_MIDLOW,UBER_NET_REVENUE_BUS,UBER_NET_REVENUE_RAIL,UBER_NET_REVENUE_BUS_HI,UBER_NET_REVENUE_BUS_MID,UBER_NET_REVENUE_BUS_LOW,UBER_NET_REVENUE_BUS_NY,UBER_NET_REVENUE_RAIL_HI,UBER_NET_REVENUE_RAIL_MID,UBER_NET_REVENUE_RAIL_LOW,UBER_NET_REVENUE_RAIL_NY,UBER_NET_REVENUE_BUS_HINY,UBER_NET_REVENUE_RAIL_HINY,UBER_NET_REVENUE_BUS_MIDLOW,UBER_NET_REVENUE_RAIL_MIDLOW
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.0,314749.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,25.881893,23.534209,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,0.0,0.0,0.0,0.0,76.0,1279.0,1355.0,52978.584053,2971.492537,NaN,2.0,0,0,0,1.0,1,9.927309e+05,611599.37,-0.060245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.938830,1.078012,2.5,1.8,4026372.388,0.0,0.0,52978.584053,0.0,2971.492537,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.0,313075.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,25.483031,22.887812,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,0.0,0.0,0.0,0.0,19.0,1409.0,1428.0,209293.085474,2784.711922,NaN,2.0,0,0,0,1.0,1,1.007971e+06,617718.36,0.114214,1,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896082,1.063359,2.5,1.8,3976568.624,0.0,0.0,209293.085474,0.0,2784.711922,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.0,312683.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,25.140478,22.349927,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,0.0,0.0,0.0,0.0,67.0,1254.0,1321.0,64408.844104,3266.761964,NaN,2.0,0,0,0,1.0,1,1.024216e+06,624616.00,0.288851,2,2,0,2,0,2,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.853753,1.048635,2.5,1.8,4315392.555,0.0,0.0,64408.844104,0.0,3266.761964,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.0,309266.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,25.009862,21.598917,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,0.0,0.0,0.0,0.0,169.0,2369.0,2538.0,23982.313994,1596.931074,NaN,2.0,0,0,0,1.0,1,1.042565e+06,634521.92,0.430267,3,3,0,3,0,3,0,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.815448,1.035122,2.5,1.8,4053011.065,0.0,0.0,23982.313994,0.0,1596.931074,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0.0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.0,315180.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,24.988578,21.569929,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,0.0,0.0,0.0,0.0,166.0,2236.0,2402.0,24064.975982,1663.108249,NaN,2.0,0,0,0,1.0,1,1.066076e+06,645970.33,0.669812,4,4,0,4,0,4,0,4,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.766890,1.017724,3.1,2.2,3994786.013,0.0,0.0,24064.975982,0.0,1663.108249,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df=df.set_index(['ID','Year'])

In [41]:
# keep only the numeric columns -- the estimation will give an error otherwise
df = df.select_dtypes(include=[np.number])

In [42]:
# create a log of all fields
for col in df.columns:
    df[col+'_log'] = np.log(df[col]+1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [43]:
# Test TNC ramp up

df['YEARS_SINCE_TNC_BUS_2'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_BUS_3'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_BUS_4'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_BUS_5'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 5))

df['YEARS_SINCE_TNC_RAIL_2'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_RAIL_3'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_RAIL_4'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_RAIL_5'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 5))

In [44]:
# count the first year of TNC presence
df['YEARS_SINCE_TNC_BUS2'] = df['YEARS_SINCE_TNC_BUS'] + df['TNC_FLAG_BUS']
df['YEARS_SINCE_TNC_RAIL2'] = df['YEARS_SINCE_TNC_RAIL'] + df['TNC_FLAG_RAIL']

In [45]:
## start in first year TNCs show up

df['YEARS_SINCE_TNC_BUS2_NY']  = df['YEARS_SINCE_TNC_BUS2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_BUS2_HI']  = df['YEARS_SINCE_TNC_BUS2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS2_MID'] = df['YEARS_SINCE_TNC_BUS2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS2_LOW'] = df['YEARS_SINCE_TNC_BUS2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_BUS2_HINY']   = df['YEARS_SINCE_TNC_BUS2_NY'] + df['YEARS_SINCE_TNC_BUS2_HI']
df['YEARS_SINCE_TNC_BUS2_MIDLOW'] = df['YEARS_SINCE_TNC_BUS2_MID'] + df['YEARS_SINCE_TNC_BUS2_LOW']

df['YEARS_SINCE_TNC_RAIL2_NY']  = df['YEARS_SINCE_TNC_RAIL2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_RAIL2_HI']  = df['YEARS_SINCE_TNC_RAIL2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL2_MID'] = df['YEARS_SINCE_TNC_RAIL2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL2_LOW'] = df['YEARS_SINCE_TNC_RAIL2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_RAIL2_HINY']   = df['YEARS_SINCE_TNC_RAIL2_NY'] + df['YEARS_SINCE_TNC_RAIL2_HI']
df['YEARS_SINCE_TNC_RAIL2_MIDLOW'] = df['YEARS_SINCE_TNC_RAIL2_MID'] + df['YEARS_SINCE_TNC_RAIL2_LOW']

In [46]:
## BIKE SHARE SEGMENTATION

df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']
df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']

df['BIKE_SHARE_HINY']   = df['BIKE_SHARE_NY'] + df['BIKE_SHARE_HI']
df['BIKE_SHARE_MIDLOW'] = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']
df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']

df['scooter_flag_HINY']   = df['scooter_flag_NY'] + df['scooter_flag_HI']
df['scooter_flag_MIDLOW'] = df['scooter_flag_MID'] + df['scooter_flag_LOW']

## Model Estimation

In [47]:
# base model 1 from 9-5
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6406
Estimator:                   PanelOLS   R-squared (Between):              0.9726
No. Observations:                4097   R-squared (Within):               0.6406
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9731
Time:                        15:36:11   Log-likelihood                    1353.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      566.79
Entities:                         269   P-value                           0.0000
Avg Obs:                       15.230   Distribution:                 F(12,3816)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             566.79
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3816)
Avg Obs:                       241.00
Min Obs:                       162.00
Max Obs:                       264.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8156     0.0126     64.926     0.0000      0.7910      0.8402
FARE_per_UPT_2018_log           -0.6580     0.0198    -33.213     0.0000     -0.6969     -0.6192
POP_EMP_log                      0.1346     0.0525     2.5660     0.0103      0.0318      0.2375
GAS_PRICE_2018_log               0.2387     0.0246     9.7112     0.0000      0.1905      0.2868
TOTAL_MED_INC_INDIV_2018_log    -0.3652     0.0522    -7.0019     0.0000     -0.4675     -0.2630
PCT_HH_NO_VEH                    0.0081     0.0030     2.7316     0.0063      0.0023      0.0140
WEIGHTED_POP_DENSITY_log         0.9747     0.1524     6.3973     0.0000      0.6760      1.2734
JTW_HOME_PCT                  2.621e-05     0.0039     0.0068     0.9946     -0.0075      0.0076
YEARS_SINCE_TNC_BUS             -0.0237     0.0041    -5.7943     0.0000     -0.0317     -0.0157
YEARS_SINCE_TNC_RAIL            -0.0081     0.0054    -1.4943     0.1352     -0.0187      0.0025
BIKE_SHARE                       0.0006     0.0128     0.0498     0.9603     -0.0244      0.0257
scooter_flag                    -0.0446     0.0257    -1.7319     0.0834     -0.0950      0.0059
================================================================================================

F-test for Poolability: 83.917
P-value: 0.0000
Distribution: F(268,3816)

Included effects: Entity

C:\ProgramData\Anaconda3\lib\site-packages\linearmodels\utility.py:549: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

### Years since TNC

In [48]:
# switch to LEHD population percent

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6452
Estimator:                   PanelOLS   R-squared (Between):              0.9314
No. Observations:                3985   R-squared (Within):               0.6452
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9320
Time:                        15:36:31   Log-likelihood                    1340.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      562.53
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(12,3712)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             562.53
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3712)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8117     0.0126     64.193     0.0000      0.7869      0.8365
FARE_per_UPT_2018_log           -0.6981     0.0205    -34.113     0.0000     -0.7382     -0.6580
POP_EMP_log                      0.2479     0.0505     4.9065     0.0000      0.1488      0.3469
GAS_PRICE_2018_log               0.2221     0.0248     8.9583     0.0000      0.1735      0.2707
TOTAL_MED_INC_INDIV_2018_log    -0.3930     0.0526    -7.4653     0.0000     -0.4963     -0.2898
PCT_HH_NO_VEH                    0.0071     0.0030     2.3407     0.0193      0.0012      0.0130
TSD_POP_PCT_LEHD                 0.0039     0.0010     3.7830     0.0002      0.0019      0.0059
JTW_HOME_PCT                    -0.0002     0.0039    -0.0517     0.9588     -0.0079      0.0075
YEARS_SINCE_TNC_BUS             -0.0183     0.0040    -4.5302     0.0000     -0.0262     -0.0104
YEARS_SINCE_TNC_RAIL            -0.0013     0.0053    -0.2449     0.8065     -0.0117      0.0091
BIKE_SHARE                       0.0017     0.0127     0.1332     0.8940     -0.0233      0.0267
scooter_flag                    -0.0293     0.0254    -1.1512     0.2497     -0.0791      0.0206
================================================================================================

F-test for Poolability: 88.533
P-value: 0.0000
Distribution: F(260,3712)

Included effects: Entity

In [49]:
#TNC years after 2012 -- A little better

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_2012_BUS \
                    + YEARS_SINCE_TNC_2012_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6455
Estimator:                   PanelOLS   R-squared (Between):              0.9349
No. Observations:                3985   R-squared (Within):               0.6455
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9354
Time:                        15:36:38   Log-likelihood                    1342.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      563.23
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(12,3712)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             563.23
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3712)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8124     0.0126     64.232     0.0000      0.7876      0.8372
FARE_per_UPT_2018_log           -0.6982     0.0205    -34.140     0.0000     -0.7383     -0.6581
POP_EMP_log                      0.2541     0.0505     5.0307     0.0000      0.1551      0.3532
GAS_PRICE_2018_log               0.2170     0.0250     8.6925     0.0000      0.1681      0.2660
TOTAL_MED_INC_INDIV_2018_log    -0.3916     0.0526    -7.4405     0.0000     -0.4948     -0.2884
PCT_HH_NO_VEH                    0.0070     0.0030     2.3005     0.0215      0.0010      0.0129
TSD_POP_PCT_LEHD                 0.0037     0.0010     3.6694     0.0002      0.0017      0.0058
JTW_HOME_PCT                     0.0004     0.0039     0.1050     0.9164     -0.0073      0.0081
YEARS_SINCE_TNC_2012_BUS        -0.0207     0.0042    -4.8919     0.0000     -0.0289     -0.0124
YEARS_SINCE_TNC_2012_RAIL       -0.0035     0.0058    -0.6066     0.5441     -0.0148      0.0078
BIKE_SHARE                       0.0045     0.0128     0.3485     0.7275     -0.0206      0.0295
scooter_flag                    -0.0249     0.0256    -0.9730     0.3306     -0.0750      0.0252
================================================================================================

F-test for Poolability: 88.616
P-value: 0.0000
Distribution: F(260,3712)

Included effects: Entity

In [50]:
# exponentiated years since TNC

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + np.exp(YEARS_SINCE_TNC_BUS)\
                    + np.exp(YEARS_SINCE_TNC_RAIL) \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6432
Estimator:                   PanelOLS   R-squared (Between):              0.9016
No. Observations:                3985   R-squared (Within):               0.6432
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9024
Time:                        15:36:45   Log-likelihood                    1329.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      557.55
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(12,3712)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             557.55
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3712)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8135     0.0125     64.859     0.0000      0.7890      0.8381
FARE_per_UPT_2018_log           -0.6990     0.0205    -34.069     0.0000     -0.7392     -0.6588
POP_EMP_log                      0.1864     0.0486     3.8358     0.0001      0.0911      0.2817
GAS_PRICE_2018_log               0.2527     0.0237     10.645     0.0000      0.2062      0.2992
TOTAL_MED_INC_INDIV_2018_log    -0.3945     0.0529    -7.4634     0.0000     -0.4981     -0.2909
PCT_HH_NO_VEH                    0.0075     0.0030     2.4598     0.0139      0.0015      0.0134
TSD_POP_PCT_LEHD                 0.0039     0.0010     3.8115     0.0001      0.0019      0.0059
JTW_HOME_PCT                    -0.0041     0.0038    -1.0793     0.2805     -0.0116      0.0034
np.exp(YEARS_SINCE_TNC_BUS)  -4.862e-05  3.901e-05    -1.2462     0.2128     -0.0001   2.787e-05
np.exp(YEARS_SINCE_TNC_RAIL)  2.795e-05   3.87e-05     0.7222     0.4702  -4.793e-05      0.0001
BIKE_SHARE                      -0.0171     0.0114    -1.5046     0.1325     -0.0395      0.0052
scooter_flag                    -0.0497     0.0260    -1.9110     0.0561     -0.1007      0.0013
================================================================================================

F-test for Poolability: 89.906
P-value: 0.0000
Distribution: F(260,3712)

Included effects: Entity

### Uber Scaled Revenue

In [51]:
# switch to Uber scaled revenue
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_REV_SCALED_BUS \
                    + UBER_REV_SCALED_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6437
Estimator:                   PanelOLS   R-squared (Between):              0.8994
No. Observations:                3985   R-squared (Within):               0.6437
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9003
Time:                        15:36:52   Log-likelihood                    1332.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      558.80
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(12,3712)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             558.80
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3712)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8115     0.0126     64.578     0.0000      0.7868      0.8361
FARE_per_UPT_2018_log           -0.7002     0.0205    -34.133     0.0000     -0.7404     -0.6599
POP_EMP_log                      0.1867     0.0486     3.8395     0.0001      0.0914      0.2820
GAS_PRICE_2018_log               0.2527     0.0237     10.641     0.0000      0.2062      0.2993
TOTAL_MED_INC_INDIV_2018_log    -0.3968     0.0528    -7.5198     0.0000     -0.5002     -0.2933
PCT_HH_NO_VEH                    0.0075     0.0030     2.4721     0.0135      0.0015      0.0134
TSD_POP_PCT_LEHD                 0.0038     0.0010     3.7394     0.0002      0.0018      0.0059
JTW_HOME_PCT                    -0.0041     0.0038    -1.0806     0.2799     -0.0116      0.0034
UBER_REV_SCALED_BUS          -8.119e-05  5.936e-05    -1.3677     0.1715     -0.0002   3.519e-05
UBER_REV_SCALED_RAIL             0.0001  5.914e-05     2.1603     0.0308   1.181e-05      0.0002
BIKE_SHARE                      -0.0186     0.0116    -1.6016     0.1093     -0.0414      0.0042
scooter_flag                    -0.0578     0.0256    -2.2543     0.0242     -0.1080     -0.0075
================================================================================================

F-test for Poolability: 89.680
P-value: 0.0000
Distribution: F(260,3712)

Included effects: Entity

In [52]:
# switch to Uber scaled revenue
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_REV_SCALED_BUS_HINY \
                    + UBER_REV_SCALED_BUS_MIDLOW \
                    + UBER_REV_SCALED_RAIL_HINY \
                    + UBER_REV_SCALED_RAIL_MIDLOW \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6455
Estimator:                   PanelOLS   R-squared (Between):              0.9166
No. Observations:                3985   R-squared (Within):               0.6455
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9173
Time:                        15:37:01   Log-likelihood                    1342.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      482.54
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(14,3710)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             482.54
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3710)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8103     0.0126     64.548     0.0000      0.7857      0.8349
FARE_per_UPT_2018_log           -0.7000     0.0205    -34.202     0.0000     -0.7401     -0.6599
POP_EMP_log                      0.2215     0.0493     4.4910     0.0000      0.1248      0.3182
GAS_PRICE_2018_log               0.2363     0.0242     9.7837     0.0000      0.1890      0.2837
TOTAL_MED_INC_INDIV_2018_log    -0.3969     0.0526    -7.5398     0.0000     -0.5001     -0.2937
PCT_HH_NO_VEH                    0.0072     0.0030     2.3659     0.0180      0.0012      0.0131
TSD_POP_PCT_LEHD                 0.0037     0.0010     3.6170     0.0003      0.0017      0.0057
JTW_HOME_PCT                    -0.0025     0.0038    -0.6518     0.5146     -0.0100      0.0050
UBER_REV_SCALED_BUS_HINY     -9.455e-05  5.967e-05    -1.5846     0.1131     -0.0002   2.243e-05
UBER_REV_SCALED_BUS_MIDLOW      -0.0020     0.0005    -4.2285     0.0000     -0.0029     -0.0011
UBER_REV_SCALED_RAIL_HINY     8.128e-05   6.01e-05     1.3524     0.1763  -3.656e-05      0.0002
UBER_REV_SCALED_RAIL_MIDLOW      0.0008     0.0007     1.0871     0.2771     -0.0006      0.0021
BIKE_SHARE                      -0.0093     0.0119    -0.7833     0.4335     -0.0326      0.0140
scooter_flag                    -0.0368     0.0266    -1.3840     0.1664     -0.0889      0.0153
================================================================================================

F-test for Poolability: 89.509
P-value: 0.0000
Distribution: F(260,3710)

Included effects: Entity

### Uber un-scaled revenue

In [53]:
# switch to Uber un-scaled revenue
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS \
                    + UBER_NET_REVENUE_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6462
Estimator:                   PanelOLS   R-squared (Between):              0.9487
No. Observations:                3985   R-squared (Within):               0.6462
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9491
Time:                        15:37:20   Log-likelihood                    1346.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      564.99
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(12,3712)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             564.99
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3712)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8184     0.0126     64.718     0.0000      0.7936      0.8432
FARE_per_UPT_2018_log           -0.6996     0.0204    -34.244     0.0000     -0.7396     -0.6595
POP_EMP_log                      0.2669     0.0504     5.2994     0.0000      0.1682      0.3657
GAS_PRICE_2018_log               0.2053     0.0251     8.1929     0.0000      0.1561      0.2544
TOTAL_MED_INC_INDIV_2018_log    -0.3726     0.0527    -7.0648     0.0000     -0.4760     -0.2692
PCT_HH_NO_VEH                    0.0067     0.0030     2.2302     0.0258      0.0008      0.0127
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.3203     0.0009      0.0014      0.0054
JTW_HOME_PCT                     0.0036     0.0040     0.8896     0.3737     -0.0043      0.0115
UBER_NET_REVENUE_BUS         -7.912e-06  1.355e-06    -5.8409     0.0000  -1.057e-05  -5.256e-06
UBER_NET_REVENUE_RAIL        -5.347e-06  2.734e-06    -1.9555     0.0506  -1.071e-05   1.387e-08
BIKE_SHARE                       0.0022     0.0120     0.1799     0.8572     -0.0214      0.0257
scooter_flag                    -0.0192     0.0254    -0.7565     0.4494     -0.0691      0.0306
================================================================================================

F-test for Poolability: 88.202
P-value: 0.0000
Distribution: F(260,3712)

Included effects: Entity

In [54]:
# switch to Uber un-scaled revenue
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MIDLOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MIDLOW \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6462
Estimator:                   PanelOLS   R-squared (Between):              0.9487
No. Observations:                3985   R-squared (Within):               0.6462
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9491
Time:                        15:37:49   Log-likelihood                    1346.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      484.09
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(14,3710)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             484.09
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3710)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8181     0.0127     64.615     0.0000      0.7932      0.8429
FARE_per_UPT_2018_log           -0.6997     0.0205    -34.185     0.0000     -0.7399     -0.6596
POP_EMP_log                      0.2671     0.0504     5.3011     0.0000      0.1683      0.3659
GAS_PRICE_2018_log               0.2053     0.0251     8.1912     0.0000      0.1562      0.2544
TOTAL_MED_INC_INDIV_2018_log    -0.3723     0.0528    -7.0550     0.0000     -0.4758     -0.2688
PCT_HH_NO_VEH                    0.0067     0.0030     2.2150     0.0268      0.0008      0.0126
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.3286     0.0009      0.0014      0.0054
JTW_HOME_PCT                     0.0037     0.0040     0.9053     0.3653     -0.0043      0.0116
UBER_NET_REVENUE_BUS_HINY    -9.664e-06  3.517e-06    -2.7480     0.0060  -1.656e-05  -2.769e-06
UBER_NET_REVENUE_BUS_MIDLOW  -7.833e-06  1.361e-06    -5.7547     0.0000   -1.05e-05  -5.165e-06
UBER_NET_REVENUE_RAIL_HINY   -5.064e-06   3.56e-06    -1.4225     0.1550  -1.204e-05   1.916e-06
UBER_NET_REVENUE_RAIL_MIDLOW -6.113e-06  3.608e-06    -1.6945     0.0903  -1.319e-05   9.601e-07
BIKE_SHARE                       0.0032     0.0122     0.2652     0.7909     -0.0208      0.0272
scooter_flag                    -0.0162     0.0265    -0.6106     0.5415     -0.0680      0.0357
================================================================================================

F-test for Poolability: 88.068
P-value: 0.0000
Distribution: F(260,3710)

Included effects: Entity

In [56]:
# switch to Uber un-scaled revenue
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6476
Estimator:                   PanelOLS   R-squared (Between):              0.9496
No. Observations:                3985   R-squared (Within):               0.6476
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9500
Time:                        15:38:18   Log-likelihood                    1354.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      454.41
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(15,3709)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             454.41
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3709)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8166     0.0126     64.581     0.0000      0.7918      0.8414
FARE_per_UPT_2018_log           -0.7006     0.0204    -34.290     0.0000     -0.7407     -0.6606
POP_EMP_log                      0.2741     0.0503     5.4452     0.0000      0.1754      0.3728
GAS_PRICE_2018_log               0.2040     0.0250     8.1536     0.0000      0.1550      0.2531
TOTAL_MED_INC_INDIV_2018_log    -0.3759     0.0527    -7.1354     0.0000     -0.4792     -0.2726
PCT_HH_NO_VEH                    0.0061     0.0030     2.0287     0.0426      0.0002      0.0121
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.2399     0.0012      0.0013      0.0053
JTW_HOME_PCT                     0.0044     0.0040     1.0847     0.2781     -0.0035      0.0123
UBER_NET_REVENUE_BUS_HINY    -1.128e-05  3.536e-06    -3.1909     0.0014  -1.822e-05  -4.351e-06
UBER_NET_REVENUE_BUS_MID     -1.394e-05  2.107e-06    -6.6173     0.0000  -1.807e-05  -9.811e-06
UBER_NET_REVENUE_BUS_LOW     -5.797e-06  1.461e-06    -3.9684     0.0001  -8.662e-06  -2.933e-06
UBER_NET_REVENUE_RAIL_HINY   -6.604e-06  3.577e-06    -1.8465     0.0649  -1.362e-05   4.082e-07
UBER_NET_REVENUE_RAIL_MID    -7.181e-06  3.612e-06    -1.9881     0.0469  -1.426e-05   -9.94e-08
BIKE_SHARE                       0.0097     0.0123     0.7891     0.4301     -0.0145      0.0339
scooter_flag                     0.0025     0.0269     0.0937     0.9254     -0.0502      0.0552
================================================================================================

F-test for Poolability: 88.439
P-value: 0.0000
Distribution: F(260,3709)

Included effects: Entity

### Separate Rail vs bus models

In [57]:
# separate bus model

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects ', 
                    data=df[df['BUS_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6877
Estimator:                   PanelOLS   R-squared (Between):              0.9898
No. Observations:                3412   R-squared (Within):               0.6877
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9897
Time:                        15:40:01   Log-likelihood                    1481.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      538.48
Entities:                         220   P-value                           0.0000
Avg Obs:                       15.509   Distribution:                 F(13,3179)
Min Obs:                       4.0000
Max Obs:                       17.000   F-statistic (robust):             538.48
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3179)
Avg Obs:                       200.71
Min Obs:                       130.00
Max Obs:                       219.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9116     0.0137     66.527     0.0000      0.8847      0.9384
FARE_per_UPT_2018_log           -0.6459     0.0218    -29.602     0.0000     -0.6886     -0.6031
POP_EMP_log                      0.2611     0.0476     5.4851     0.0000      0.1678      0.3544
GAS_PRICE_2018_log               0.2211     0.0244     9.0457     0.0000      0.1731      0.2690
TOTAL_MED_INC_INDIV_2018_log    -0.3217     0.0501    -6.4159     0.0000     -0.4200     -0.2234
PCT_HH_NO_VEH                    0.0055     0.0028     1.9746     0.0484   3.894e-05      0.0110
TSD_POP_PCT_LEHD                 0.0055     0.0013     4.3220     0.0000      0.0030      0.0080
JTW_HOME_PCT                     0.0022     0.0038     0.5805     0.5616     -0.0052      0.0095
UBER_NET_REVENUE_BUS_HINY     -1.14e-05  3.329e-06    -3.4250     0.0006  -1.793e-05  -4.875e-06
UBER_NET_REVENUE_BUS_MID     -1.394e-05  1.981e-06    -7.0352     0.0000  -1.782e-05  -1.005e-05
UBER_NET_REVENUE_BUS_LOW     -6.491e-06  1.367e-06    -4.7484     0.0000  -9.171e-06  -3.811e-06
BIKE_SHARE                       0.0104     0.0126     0.8242     0.4099     -0.0143      0.0351
scooter_flag                    -0.0095     0.0291    -0.3266     0.7440     -0.0665      0.0475
================================================================================================

F-test for Poolability: 84.583
P-value: 0.0000
Distribution: F(219,3179)

Included effects: Entity

In [59]:
# separate rail model

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects ', 
                    data=df[df['RAIL_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5843
Estimator:                   PanelOLS   R-squared (Between):              0.8460
No. Observations:                 573   R-squared (Within):               0.5843
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.8464
Time:                        15:40:45   Log-likelihood                    52.736
Cov. Estimator:            Unadjusted
                                        F-statistic:                      60.920
Entities:                          41   P-value                           0.0000
Avg Obs:                       13.976   Distribution:                  F(12,520)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             60.920
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(12,520)
Avg Obs:                       33.706
Min Obs:                       24.000
Max Obs:                       41.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.5295     0.0352     15.036     0.0000      0.4603      0.5987
FARE_per_UPT_2018_log           -0.7163     0.0529    -13.536     0.0000     -0.8203     -0.6124
POP_EMP_log                      0.5954     0.2798     2.1278     0.0338      0.0457      1.1452
GAS_PRICE_2018_log               0.1320     0.0949     1.3903     0.1650     -0.0545      0.3185
TOTAL_MED_INC_INDIV_2018_log    -0.6586     0.2562    -2.5710     0.0104     -1.1618     -0.1553
PCT_HH_NO_VEH                    0.0096     0.0216     0.4438     0.6574     -0.0328      0.0519
TSD_POP_PCT_LEHD                -0.0034     0.0020    -1.6559     0.0983     -0.0074      0.0006
JTW_HOME_PCT                     0.0399     0.0272     1.4638     0.1438     -0.0136      0.0934
UBER_NET_REVENUE_RAIL_HINY     -3.5e-06  7.405e-06    -0.4727     0.6367  -1.805e-05   1.105e-05
UBER_NET_REVENUE_RAIL_MID    -8.611e-06  6.968e-06    -1.2358     0.2171   -2.23e-05   5.078e-06
BIKE_SHARE                       0.0205     0.0372     0.5505     0.5822     -0.0526      0.0935
scooter_flag                     0.0190     0.0663     0.2865     0.7746     -0.1112      0.1492
================================================================================================

F-test for Poolability: 42.808
P-value: 0.0000
Distribution: F(40,520)

Included effects: Entity

### Separate models by cluster

In [88]:
# combined model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6475
Estimator:                   PanelOLS   R-squared (Between):              0.9490
No. Observations:                3993   R-squared (Within):               0.6475
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9494
Time:                        16:30:37   Log-likelihood                    1359.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.20
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.20
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8159     0.0126     64.598     0.0000      0.7911      0.8407
FARE_per_UPT_2018_log           -0.6996     0.0204    -34.282     0.0000     -0.7396     -0.6596
POP_EMP_log                      0.2820     0.0495     5.6967     0.0000      0.1850      0.3791
GAS_PRICE_2018_log               0.2052     0.0250     8.2111     0.0000      0.1562      0.2542
TOTAL_MED_INC_INDIV_2018_log    -0.3862     0.0522    -7.4020     0.0000     -0.4885     -0.2839
PCT_HH_NO_VEH                    0.0062     0.0030     2.0531     0.0401      0.0003      0.0121
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.2499     0.0012      0.0013      0.0053
UBER_NET_REVENUE_BUS_HINY    -1.025e-05  3.531e-06    -2.9026     0.0037  -1.717e-05  -3.326e-06
UBER_NET_REVENUE_BUS_MID     -1.333e-05  2.039e-06    -6.5378     0.0000  -1.733e-05  -9.335e-06
UBER_NET_REVENUE_BUS_LOW     -5.335e-06   1.39e-06    -3.8384     0.0001   -8.06e-06   -2.61e-06
UBER_NET_REVENUE_RAIL_HINY    -5.96e-06  3.535e-06    -1.6862     0.0918  -1.289e-05   9.699e-07
UBER_NET_REVENUE_RAIL_MID    -6.495e-06  3.561e-06    -1.8242     0.0682  -1.348e-05   4.857e-07
BIKE_SHARE                       0.0110     0.0123     0.8980     0.3693     -0.0131      0.0351
scooter_flag                     0.0004     0.0269     0.0150     0.9880     -0.0523      0.0531
MDBF_Total                    4.775e-10  5.563e-10     0.8584     0.3908  -6.132e-10   1.568e-09
================================================================================================

F-test for Poolability: 92.180
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [89]:
# high op-ex model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[(df['HI_OPEX']==1) | (df['NEW_YORK']==1)])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.8637
Estimator:                   PanelOLS   R-squared (Between):              0.3635
No. Observations:                 658   R-squared (Within):               0.8637
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.3661
Time:                        16:31:07   Log-likelihood                    341.57
Cov. Estimator:            Unadjusted
                                        F-statistic:                      320.14
Entities:                          40   P-value                           0.0000
Avg Obs:                       16.450   Distribution:                  F(12,606)
Min Obs:                      10.0000
Max Obs:                       17.000   F-statistic (robust):             320.14
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(12,606)
Avg Obs:                       38.706
Min Obs:                       32.000
Max Obs:                       40.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9959     0.0178     55.929     0.0000      0.9609      1.0309
FARE_per_UPT_2018_log            0.0088     0.0848     0.1035     0.9176     -0.1578      0.1754
POP_EMP_log                     -0.7530     0.1733    -4.3442     0.0000     -1.0934     -0.4126
GAS_PRICE_2018_log               0.2071     0.0578     3.5846     0.0004      0.0937      0.3206
TOTAL_MED_INC_INDIV_2018_log    -0.1600     0.1529    -1.0464     0.2958     -0.4603      0.1403
PCT_HH_NO_VEH                   -0.0064     0.0143    -0.4441     0.6571     -0.0345      0.0218
TSD_POP_PCT_LEHD                 0.0011     0.0009     1.1490     0.2510     -0.0008      0.0030
UBER_NET_REVENUE_BUS_HINY    -6.038e-06  4.357e-06    -1.3858     0.1663  -1.459e-05   2.519e-06
UBER_NET_REVENUE_RAIL_HINY   -1.216e-05  4.272e-06    -2.8475     0.0046  -2.055e-05  -3.774e-06
BIKE_SHARE                       0.0333     0.0220     1.5138     0.1306     -0.0099      0.0764
scooter_flag                     0.0208     0.0399     0.5222     0.6017     -0.0575      0.0992
MDBF_Total                    1.869e-10   4.84e-10     0.3862     0.6995  -7.637e-10   1.138e-09
================================================================================================

F-test for Poolability: 50.159
P-value: 0.0000
Distribution: F(39,606)

Included effects: Entity

In [90]:
# mid op-ex model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS \
                    + UBER_NET_REVENUE_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[df['MID_OPEX']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5892
Estimator:                   PanelOLS   R-squared (Between):              0.8850
No. Observations:                1305   R-squared (Within):               0.5892
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.8840
Time:                        16:31:28   Log-likelihood                    512.59
Cov. Estimator:            Unadjusted
                                        F-statistic:                      144.40
Entities:                          85   P-value                           0.0000
Avg Obs:                       15.353   Distribution:                 F(12,1208)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             144.40
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,1208)
Avg Obs:                       76.765
Min Obs:                       63.000
Max Obs:                       84.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.4309     0.0241     17.867     0.0000      0.3836      0.4782
FARE_per_UPT_2018_log           -0.8648     0.0272    -31.757     0.0000     -0.9182     -0.8113
POP_EMP_log                      0.5860     0.0954     6.1438     0.0000      0.3989      0.7732
GAS_PRICE_2018_log               0.1586     0.0449     3.5314     0.0004      0.0705      0.2467
TOTAL_MED_INC_INDIV_2018_log    -0.3994     0.0955    -4.1833     0.0000     -0.5867     -0.2121
PCT_HH_NO_VEH                    0.0092     0.0059     1.5642     0.1180     -0.0023      0.0206
TSD_POP_PCT_LEHD                 0.0028     0.0044     0.6487     0.5167     -0.0057      0.0114
UBER_NET_REVENUE_BUS         -1.248e-05   2.41e-06    -5.1801     0.0000  -1.721e-05  -7.756e-06
UBER_NET_REVENUE_RAIL          3.15e-06  3.764e-06     0.8368     0.4029  -4.235e-06   1.054e-05
BIKE_SHARE                       0.0092     0.0197     0.4678     0.6400     -0.0295      0.0479
scooter_flag                    -0.0363     0.0377    -0.9608     0.3368     -0.1103      0.0378
MDBF_Total                    1.328e-09  3.794e-09     0.3501     0.7263  -6.116e-09   8.773e-09
================================================================================================

F-test for Poolability: 54.535
P-value: 0.0000
Distribution: F(84,1208)

Included effects: Entity

In [91]:
# low op-ex model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[df['LOW_OPEX']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6386
Estimator:                   PanelOLS   R-squared (Between):              0.9859
No. Observations:                2030   R-squared (Within):               0.6386
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9858
Time:                        16:31:49   Log-likelihood                    791.66
Cov. Estimator:            Unadjusted
                                        F-statistic:                      302.47
Entities:                         136   P-value                           0.0000
Avg Obs:                       14.926   Distribution:                 F(11,1883)
Min Obs:                       6.0000
Max Obs:                       17.000   F-statistic (robust):             302.47
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,1883)
Avg Obs:                       119.41
Min Obs:                       59.000
Max Obs:                       136.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9120     0.0201     45.440     0.0000      0.8727      0.9514
FARE_per_UPT_2018_log           -0.5304     0.0294    -18.018     0.0000     -0.5881     -0.4727
POP_EMP_log                      0.2732     0.0590     4.6294     0.0000      0.1575      0.3890
GAS_PRICE_2018_log               0.2553     0.0328     7.7745     0.0000      0.1909      0.3197
TOTAL_MED_INC_INDIV_2018_log    -0.3661     0.0648    -5.6479     0.0000     -0.4933     -0.2390
PCT_HH_NO_VEH                    0.0046     0.0034     1.3477     0.1779     -0.0021      0.0113
TSD_POP_PCT_LEHD                 0.0036     0.0036     1.0044     0.3153     -0.0035      0.0107
UBER_NET_REVENUE_BUS         -6.019e-06  1.538e-06    -3.9145     0.0001  -9.035e-06  -3.003e-06
BIKE_SHARE                      -0.0069     0.0196    -0.3500     0.7263     -0.0452      0.0315
scooter_flag                     0.0798     0.0601     1.3274     0.1845     -0.0381      0.1977
MDBF_Total                   -2.106e-08  1.447e-08    -1.4552     0.1458  -4.943e-08   7.323e-09
================================================================================================

F-test for Poolability: 94.028
P-value: 0.0000
Distribution: F(135,1883)

Included effects: Entity

In [92]:
## excluding low op-ex, since they are different

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[df['LOW_OPEX']==0])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6732
Estimator:                   PanelOLS   R-squared (Between):              0.9387
No. Observations:                1963   R-squared (Within):               0.6732
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9393
Time:                        16:32:08   Log-likelihood                    631.02
Cov. Estimator:            Unadjusted
                                        F-statistic:                      268.41
Entities:                         125   P-value                           0.0000
Avg Obs:                       15.704   Distribution:                 F(14,1824)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             268.41
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,1824)
Avg Obs:                       115.47
Min Obs:                       95.000
Max Obs:                       124.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7618     0.0163     46.795     0.0000      0.7299      0.7937
FARE_per_UPT_2018_log           -0.8302     0.0279    -29.782     0.0000     -0.8849     -0.7756
POP_EMP_log                      0.2870     0.0892     3.2188     0.0013      0.1121      0.4618
GAS_PRICE_2018_log               0.1773     0.0389     4.5555     0.0000      0.1010      0.2536
TOTAL_MED_INC_INDIV_2018_log    -0.3367     0.0882    -3.8180     0.0001     -0.5097     -0.1637
PCT_HH_NO_VEH                    0.0035     0.0058     0.6021     0.5472     -0.0079      0.0150
TSD_POP_PCT_LEHD                 0.0041     0.0011     3.7791     0.0002      0.0020      0.0063
UBER_NET_REVENUE_BUS_HINY    -1.142e-05  3.874e-06    -2.9472     0.0032  -1.902e-05   -3.82e-06
UBER_NET_REVENUE_BUS_MID     -1.402e-05  2.351e-06    -5.9639     0.0000  -1.863e-05  -9.411e-06
UBER_NET_REVENUE_RAIL_HINY   -4.421e-06  3.873e-06    -1.1416     0.2538  -1.202e-05   3.174e-06
UBER_NET_REVENUE_RAIL_MID    -7.138e-06  3.809e-06    -1.8738     0.0611  -1.461e-05   3.332e-07
BIKE_SHARE                       0.0323     0.0162     1.9977     0.0459      0.0006      0.0640
scooter_flag                    -0.0152     0.0307    -0.4945     0.6210     -0.0755      0.0451
MDBF_Total                    4.134e-10  5.702e-10     0.7250     0.4686  -7.049e-10   1.532e-09
================================================================================================

F-test for Poolability: 53.601
P-value: 0.0000
Distribution: F(124,1824)

Included effects: Entity

In [93]:
# segment bus vs rail and low vs everything else
# rail

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[df['RAIL_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5891
Estimator:                   PanelOLS   R-squared (Between):              0.8464
No. Observations:                 573   R-squared (Within):               0.5891
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.8468
Time:                        16:32:27   Log-likelihood                    56.023
Cov. Estimator:            Unadjusted
                                        F-statistic:                      67.901
Entities:                          41   P-value                           0.0000
Avg Obs:                       13.976   Distribution:                  F(11,521)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             67.901
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(11,521)
Avg Obs:                       33.706
Min Obs:                       24.000
Max Obs:                       41.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.5168     0.0352     14.683     0.0000      0.4476      0.5859
FARE_per_UPT_2018_log           -0.7291     0.0524    -13.913     0.0000     -0.8321     -0.6262
POP_EMP_log                      0.6896     0.2617     2.6350     0.0087      0.1755      1.2038
GAS_PRICE_2018_log               0.1171     0.0938     1.2484     0.2125     -0.0672      0.3013
TOTAL_MED_INC_INDIV_2018_log    -0.7576     0.2372    -3.1937     0.0015     -1.2236     -0.2916
PCT_HH_NO_VEH                    0.0097     0.0214     0.4561     0.6485     -0.0322      0.0517
TSD_POP_PCT_LEHD                -0.0029     0.0020    -1.4473     0.1484     -0.0069      0.0010
UBER_NET_REVENUE               -5.8e-07  5.439e-06    -0.1066     0.9151  -1.127e-05   1.011e-05
BIKE_SHARE                       0.0236     0.0364     0.6466     0.5182     -0.0480      0.0951
scooter_flag                     0.0180     0.0642     0.2798     0.7798     -0.1082      0.1442
MDBF_Total                   -1.087e-07  3.668e-08    -2.9629     0.0032  -1.807e-07  -3.662e-08
================================================================================================

F-test for Poolability: 44.328
P-value: 0.0000
Distribution: F(40,521)

Included effects: Entity

In [94]:
# segment bus vs rail and low vs everything else
# bus -- mid and above

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[(df['RAIL_FLAG']==0) & df['LOW_OPEX']==0])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6718
Estimator:                   PanelOLS   R-squared (Between):              0.9358
No. Observations:                1963   R-squared (Within):               0.6718
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9365
Time:                        16:32:46   Log-likelihood                    626.63
Cov. Estimator:            Unadjusted
                                        F-statistic:                      339.90
Entities:                         125   P-value                           0.0000
Avg Obs:                       15.704   Distribution:                 F(11,1827)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             339.90
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,1827)
Avg Obs:                       115.47
Min Obs:                       95.000
Max Obs:                       124.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7698     0.0160     48.055     0.0000      0.7383      0.8012
FARE_per_UPT_2018_log           -0.8298     0.0278    -29.800     0.0000     -0.8844     -0.7752
POP_EMP_log                      0.2691     0.0890     3.0243     0.0025      0.0946      0.4436
GAS_PRICE_2018_log               0.1777     0.0390     4.5612     0.0000      0.1013      0.2541
TOTAL_MED_INC_INDIV_2018_log    -0.3326     0.0882    -3.7723     0.0002     -0.5055     -0.1597
PCT_HH_NO_VEH                    0.0031     0.0058     0.5309     0.5955     -0.0084      0.0146
TSD_POP_PCT_LEHD                 0.0042     0.0011     3.8272     0.0001      0.0020      0.0063
UBER_NET_REVENUE             -1.183e-05  2.167e-06    -5.4566     0.0000  -1.608e-05  -7.575e-06
BIKE_SHARE                       0.0385     0.0159     2.4300     0.0152      0.0074      0.0696
scooter_flag                    -0.0004     0.0297    -0.0136     0.9891     -0.0587      0.0579
MDBF_Total                     4.13e-10  5.654e-10     0.7305     0.4652  -6.959e-10   1.522e-09
================================================================================================

F-test for Poolability: 55.204
P-value: 0.0000
Distribution: F(124,1827)

Included effects: Entity

In [96]:
# segment bus vs rail and low vs everything else
# bus -- low op-ex

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df[(df['RAIL_FLAG']==0) & df['LOW_OPEX']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6386
Estimator:                   PanelOLS   R-squared (Between):              0.9859
No. Observations:                2030   R-squared (Within):               0.6386
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9858
Time:                        16:33:43   Log-likelihood                    791.66
Cov. Estimator:            Unadjusted
                                        F-statistic:                      302.47
Entities:                         136   P-value                           0.0000
Avg Obs:                       14.926   Distribution:                 F(11,1883)
Min Obs:                       6.0000
Max Obs:                       17.000   F-statistic (robust):             302.47
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,1883)
Avg Obs:                       119.41
Min Obs:                       59.000
Max Obs:                       136.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9120     0.0201     45.440     0.0000      0.8727      0.9514
FARE_per_UPT_2018_log           -0.5304     0.0294    -18.018     0.0000     -0.5881     -0.4727
POP_EMP_log                      0.2732     0.0590     4.6294     0.0000      0.1575      0.3890
GAS_PRICE_2018_log               0.2553     0.0328     7.7745     0.0000      0.1909      0.3197
TOTAL_MED_INC_INDIV_2018_log    -0.3661     0.0648    -5.6479     0.0000     -0.4933     -0.2390
PCT_HH_NO_VEH                    0.0046     0.0034     1.3477     0.1779     -0.0021      0.0113
TSD_POP_PCT_LEHD                 0.0036     0.0036     1.0044     0.3153     -0.0035      0.0107
UBER_NET_REVENUE             -6.019e-06  1.538e-06    -3.9145     0.0001  -9.035e-06  -3.003e-06
BIKE_SHARE                      -0.0069     0.0196    -0.3500     0.7263     -0.0452      0.0315
scooter_flag                     0.0798     0.0601     1.3274     0.1845     -0.0381      0.1977
MDBF_Total                   -2.106e-08  1.447e-08    -1.4552     0.1458  -4.943e-08   7.323e-09
================================================================================================

F-test for Poolability: 94.028
P-value: 0.0000
Distribution: F(135,1883)

Included effects: Entity

### Currently prefer the combined model

In [68]:
# combined model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6476
Estimator:                   PanelOLS   R-squared (Between):              0.9496
No. Observations:                3985   R-squared (Within):               0.6476
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9500
Time:                        15:53:09   Log-likelihood                    1354.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      454.41
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(15,3709)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             454.41
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3709)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8166     0.0126     64.581     0.0000      0.7918      0.8414
FARE_per_UPT_2018_log           -0.7006     0.0204    -34.290     0.0000     -0.7407     -0.6606
POP_EMP_log                      0.2741     0.0503     5.4452     0.0000      0.1754      0.3728
GAS_PRICE_2018_log               0.2040     0.0250     8.1536     0.0000      0.1550      0.2531
TOTAL_MED_INC_INDIV_2018_log    -0.3759     0.0527    -7.1354     0.0000     -0.4792     -0.2726
PCT_HH_NO_VEH                    0.0061     0.0030     2.0287     0.0426      0.0002      0.0121
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.2399     0.0012      0.0013      0.0053
JTW_HOME_PCT                     0.0044     0.0040     1.0847     0.2781     -0.0035      0.0123
UBER_NET_REVENUE_BUS_HINY    -1.128e-05  3.536e-06    -3.1909     0.0014  -1.822e-05  -4.351e-06
UBER_NET_REVENUE_BUS_MID     -1.394e-05  2.107e-06    -6.6173     0.0000  -1.807e-05  -9.811e-06
UBER_NET_REVENUE_BUS_LOW     -5.797e-06  1.461e-06    -3.9684     0.0001  -8.662e-06  -2.933e-06
UBER_NET_REVENUE_RAIL_HINY   -6.604e-06  3.577e-06    -1.8465     0.0649  -1.362e-05   4.082e-07
UBER_NET_REVENUE_RAIL_MID    -7.181e-06  3.612e-06    -1.9881     0.0469  -1.426e-05   -9.94e-08
BIKE_SHARE                       0.0097     0.0123     0.7891     0.4301     -0.0145      0.0339
scooter_flag                     0.0025     0.0269     0.0937     0.9254     -0.0502      0.0552
================================================================================================

F-test for Poolability: 88.439
P-value: 0.0000
Distribution: F(260,3709)

Included effects: Entity

In [70]:
# add maintenance
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6477
Estimator:                   PanelOLS   R-squared (Between):              0.9487
No. Observations:                3985   R-squared (Within):               0.6477
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9491
Time:                        15:54:18   Log-likelihood                    1354.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      426.03
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.268   Distribution:                 F(16,3708)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             426.03
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3708)
Avg Obs:                       234.41
Min Obs:                       154.00
Max Obs:                       258.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8161     0.0127     64.498     0.0000      0.7913      0.8409
FARE_per_UPT_2018_log           -0.7003     0.0204    -34.264     0.0000     -0.7404     -0.6602
POP_EMP_log                      0.2740     0.0503     5.4439     0.0000      0.1753      0.3727
GAS_PRICE_2018_log               0.2046     0.0250     8.1750     0.0000      0.1556      0.2537
TOTAL_MED_INC_INDIV_2018_log    -0.3783     0.0528    -7.1711     0.0000     -0.4817     -0.2749
PCT_HH_NO_VEH                    0.0061     0.0030     2.0118     0.0443      0.0002      0.0120
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.2307     0.0012      0.0013      0.0053
JTW_HOME_PCT                     0.0045     0.0040     1.1072     0.2683     -0.0034      0.0124
UBER_NET_REVENUE_BUS_HINY    -1.083e-05  3.573e-06    -3.0318     0.0024  -1.784e-05  -3.827e-06
UBER_NET_REVENUE_BUS_MID     -1.392e-05  2.107e-06    -6.6052     0.0000  -1.805e-05  -9.786e-06
UBER_NET_REVENUE_BUS_LOW     -5.785e-06  1.461e-06    -3.9597     0.0001   -8.65e-06  -2.921e-06
UBER_NET_REVENUE_RAIL_HINY   -6.553e-06  3.577e-06    -1.8319     0.0670  -1.357e-05   4.603e-07
UBER_NET_REVENUE_RAIL_MID    -7.153e-06  3.612e-06    -1.9802     0.0478  -1.424e-05  -7.078e-08
BIKE_SHARE                       0.0099     0.0123     0.8025     0.4223     -0.0143      0.0341
scooter_flag                     0.0014     0.0269     0.0513     0.9591     -0.0514      0.0541
MDBF_Total                    4.932e-10  5.569e-10     0.8856     0.3759  -5.987e-10   1.585e-09
================================================================================================

F-test for Poolability: 88.366
P-value: 0.0000
Distribution: F(260,3708)

Included effects: Entity

In [71]:
# drop work at home
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6475
Estimator:                   PanelOLS   R-squared (Between):              0.9490
No. Observations:                3993   R-squared (Within):               0.6475
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9494
Time:                        15:56:00   Log-likelihood                    1359.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.20
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.20
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8159     0.0126     64.598     0.0000      0.7911      0.8407
FARE_per_UPT_2018_log           -0.6996     0.0204    -34.282     0.0000     -0.7396     -0.6596
POP_EMP_log                      0.2820     0.0495     5.6967     0.0000      0.1850      0.3791
GAS_PRICE_2018_log               0.2052     0.0250     8.2111     0.0000      0.1562      0.2542
TOTAL_MED_INC_INDIV_2018_log    -0.3862     0.0522    -7.4020     0.0000     -0.4885     -0.2839
PCT_HH_NO_VEH                    0.0062     0.0030     2.0531     0.0401      0.0003      0.0121
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.2499     0.0012      0.0013      0.0053
UBER_NET_REVENUE_BUS_HINY    -1.025e-05  3.531e-06    -2.9026     0.0037  -1.717e-05  -3.326e-06
UBER_NET_REVENUE_BUS_MID     -1.333e-05  2.039e-06    -6.5378     0.0000  -1.733e-05  -9.335e-06
UBER_NET_REVENUE_BUS_LOW     -5.335e-06   1.39e-06    -3.8384     0.0001   -8.06e-06   -2.61e-06
UBER_NET_REVENUE_RAIL_HINY    -5.96e-06  3.535e-06    -1.6862     0.0918  -1.289e-05   9.699e-07
UBER_NET_REVENUE_RAIL_MID    -6.495e-06  3.561e-06    -1.8242     0.0682  -1.348e-05   4.857e-07
BIKE_SHARE                       0.0110     0.0123     0.8980     0.3693     -0.0131      0.0351
scooter_flag                     0.0004     0.0269     0.0150     0.9880     -0.0523      0.0531
MDBF_Total                    4.775e-10  5.563e-10     0.8584     0.3908  -6.132e-10   1.568e-09
================================================================================================

F-test for Poolability: 92.180
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [72]:
# maintenance variations
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Total_log \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6477
Estimator:                   PanelOLS   R-squared (Between):              0.9499
No. Observations:                3993   R-squared (Within):               0.6477
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9502
Time:                        15:56:34   Log-likelihood                    1360.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.65
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.65
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8176     0.0126     64.691     0.0000      0.7928      0.8424
FARE_per_UPT_2018_log           -0.7031     0.0205    -34.344     0.0000     -0.7432     -0.6629
POP_EMP_log                      0.2758     0.0496     5.5604     0.0000      0.1786      0.3731
GAS_PRICE_2018_log               0.2048     0.0250     8.2001     0.0000      0.1558      0.2537
TOTAL_MED_INC_INDIV_2018_log    -0.3727     0.0525    -7.1042     0.0000     -0.4755     -0.2698
PCT_HH_NO_VEH                    0.0061     0.0030     2.0240     0.0430      0.0002      0.0120
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.3289     0.0009      0.0014      0.0054
UBER_NET_REVENUE_BUS_HINY    -1.103e-05  3.496e-06    -3.1561     0.0016  -1.789e-05  -4.179e-06
UBER_NET_REVENUE_BUS_MID     -1.329e-05  2.039e-06    -6.5167     0.0000  -1.728e-05  -9.289e-06
UBER_NET_REVENUE_BUS_LOW     -5.485e-06  1.391e-06    -3.9429     0.0001  -8.213e-06  -2.758e-06
UBER_NET_REVENUE_RAIL_HINY   -6.075e-06  3.533e-06    -1.7196     0.0856    -1.3e-05   8.513e-07
UBER_NET_REVENUE_RAIL_MID    -6.903e-06  3.565e-06    -1.9361     0.0529  -1.389e-05   8.724e-08
BIKE_SHARE                       0.0108     0.0123     0.8775     0.3803     -0.0133      0.0349
scooter_flag                     0.0020     0.0268     0.0730     0.9418     -0.0506      0.0546
MDBF_Total_log                  -0.0052     0.0029    -1.7642     0.0778     -0.0109      0.0006
================================================================================================

F-test for Poolability: 91.368
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [74]:
# maintenance variations
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Mechanical \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6476
Estimator:                   PanelOLS   R-squared (Between):              0.9485
No. Observations:                3993   R-squared (Within):               0.6476
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9489
Time:                        15:57:17   Log-likelihood                    1360.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.31
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.31
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8156     0.0126     64.543     0.0000      0.7908      0.8404
FARE_per_UPT_2018_log           -0.6995     0.0204    -34.279     0.0000     -0.7395     -0.6595
POP_EMP_log                      0.2818     0.0495     5.6921     0.0000      0.1847      0.3788
GAS_PRICE_2018_log               0.2056     0.0250     8.2270     0.0000      0.1566      0.2546
TOTAL_MED_INC_INDIV_2018_log    -0.3873     0.0522    -7.4216     0.0000     -0.4896     -0.2850
PCT_HH_NO_VEH                    0.0062     0.0030     2.0514     0.0403      0.0003      0.0120
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.2823     0.0010      0.0014      0.0054
UBER_NET_REVENUE_BUS_HINY    -1.014e-05  3.524e-06    -2.8779     0.0040  -1.705e-05  -3.233e-06
UBER_NET_REVENUE_BUS_MID     -1.331e-05  2.039e-06    -6.5265     0.0000  -1.731e-05  -9.312e-06
UBER_NET_REVENUE_BUS_LOW     -5.318e-06   1.39e-06    -3.8260     0.0001  -8.043e-06  -2.593e-06
UBER_NET_REVENUE_RAIL_HINY   -5.929e-06  3.535e-06    -1.6774     0.0935  -1.286e-05   1.001e-06
UBER_NET_REVENUE_RAIL_MID    -6.464e-06  3.561e-06    -1.8153     0.0696  -1.344e-05   5.175e-07
BIKE_SHARE                       0.0111     0.0123     0.9033     0.3664     -0.0130      0.0352
scooter_flag                     0.0002     0.0269     0.0077     0.9938     -0.0524      0.0529
MDBF_Mechanical               6.409e-10  5.567e-10     1.1511     0.2498  -4.507e-10   1.732e-09
================================================================================================

F-test for Poolability: 92.170
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [75]:
# maintenance variations
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Mechanical_log \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6476
Estimator:                   PanelOLS   R-squared (Between):              0.9494
No. Observations:                3993   R-squared (Within):               0.6476
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9498
Time:                        15:57:33   Log-likelihood                    1359.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.31
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.31
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8171     0.0126     64.647     0.0000      0.7923      0.8419
FARE_per_UPT_2018_log           -0.7022     0.0205    -34.263     0.0000     -0.7424     -0.6620
POP_EMP_log                      0.2784     0.0496     5.6124     0.0000      0.1811      0.3756
GAS_PRICE_2018_log               0.2048     0.0250     8.1982     0.0000      0.1558      0.2537
TOTAL_MED_INC_INDIV_2018_log    -0.3784     0.0523    -7.2340     0.0000     -0.4809     -0.2758
PCT_HH_NO_VEH                    0.0061     0.0030     2.0265     0.0428      0.0002      0.0120
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.2882     0.0010      0.0014      0.0054
UBER_NET_REVENUE_BUS_HINY    -1.083e-05  3.493e-06    -3.0996     0.0020  -1.768e-05  -3.979e-06
UBER_NET_REVENUE_BUS_MID     -1.329e-05   2.04e-06    -6.5171     0.0000  -1.729e-05  -9.295e-06
UBER_NET_REVENUE_BUS_LOW     -5.396e-06   1.39e-06    -3.8818     0.0001  -8.121e-06   -2.67e-06
UBER_NET_REVENUE_RAIL_HINY   -6.057e-06  3.534e-06    -1.7141     0.0866  -1.299e-05   8.711e-07
UBER_NET_REVENUE_RAIL_MID    -6.809e-06  3.568e-06    -1.9082     0.0564  -1.381e-05   1.869e-07
BIKE_SHARE                       0.0108     0.0123     0.8792     0.3793     -0.0133      0.0349
scooter_flag                     0.0016     0.0268     0.0584     0.9534     -0.0510      0.0542
MDBF_Mechanical_log             -0.0033     0.0029    -1.1350     0.2564     -0.0089      0.0024
================================================================================================

F-test for Poolability: 91.702
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [78]:
# combined

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_HINY \
                    + UBER_NET_REVENUE_BUS_MID \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL_HINY \
                    + UBER_NET_REVENUE_RAIL_MID \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Mechanical \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6476
Estimator:                   PanelOLS   R-squared (Between):              0.9485
No. Observations:                3993   R-squared (Within):               0.6476
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9489
Time:                        15:59:29   Log-likelihood                    1360.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      455.31
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(15,3717)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             455.31
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3717)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8156     0.0126     64.543     0.0000      0.7908      0.8404
FARE_per_UPT_2018_log           -0.6995     0.0204    -34.279     0.0000     -0.7395     -0.6595
POP_EMP_log                      0.2818     0.0495     5.6921     0.0000      0.1847      0.3788
GAS_PRICE_2018_log               0.2056     0.0250     8.2270     0.0000      0.1566      0.2546
TOTAL_MED_INC_INDIV_2018_log    -0.3873     0.0522    -7.4216     0.0000     -0.4896     -0.2850
PCT_HH_NO_VEH                    0.0062     0.0030     2.0514     0.0403      0.0003      0.0120
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.2823     0.0010      0.0014      0.0054
UBER_NET_REVENUE_BUS_HINY    -1.014e-05  3.524e-06    -2.8779     0.0040  -1.705e-05  -3.233e-06
UBER_NET_REVENUE_BUS_MID     -1.331e-05  2.039e-06    -6.5265     0.0000  -1.731e-05  -9.312e-06
UBER_NET_REVENUE_BUS_LOW     -5.318e-06   1.39e-06    -3.8260     0.0001  -8.043e-06  -2.593e-06
UBER_NET_REVENUE_RAIL_HINY   -5.929e-06  3.535e-06    -1.6774     0.0935  -1.286e-05   1.001e-06
UBER_NET_REVENUE_RAIL_MID    -6.464e-06  3.561e-06    -1.8153     0.0696  -1.344e-05   5.175e-07
BIKE_SHARE                       0.0111     0.0123     0.9033     0.3664     -0.0130      0.0352
scooter_flag                     0.0002     0.0269     0.0077     0.9938     -0.0524      0.0529
MDBF_Mechanical               6.409e-10  5.567e-10     1.1511     0.2498  -4.507e-10   1.732e-09
================================================================================================

F-test for Poolability: 92.170
P-value: 0.0000
Distribution: F(260,3717)

Included effects: Entity

In [98]:
# slightly less segmentation
df['UBER_NET_REVENUE_BUS_MIDHINY'] = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_HINY']

In [101]:
# current winner

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_MIDHINY \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + UBER_NET_REVENUE_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Mechanical \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6475
Estimator:                   PanelOLS   R-squared (Between):              0.9490
No. Observations:                3993   R-squared (Within):               0.6475
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9494
Time:                        16:40:07   Log-likelihood                    1359.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      525.47
Entities:                         261   P-value                           0.0000
Avg Obs:                       15.299   Distribution:                 F(13,3719)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             525.47
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3719)
Avg Obs:                       234.88
Min Obs:                       154.00
Max Obs:                       260.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8154     0.0126     64.565     0.0000      0.7906      0.8402
FARE_per_UPT_2018_log           -0.6991     0.0204    -34.325     0.0000     -0.7391     -0.6592
POP_EMP_log                      0.2821     0.0495     5.7001     0.0000      0.1851      0.3791
GAS_PRICE_2018_log               0.2058     0.0250     8.2380     0.0000      0.1568      0.2548
TOTAL_MED_INC_INDIV_2018_log    -0.3858     0.0521    -7.3990     0.0000     -0.4880     -0.2835
PCT_HH_NO_VEH                    0.0062     0.0030     2.0514     0.0403      0.0003      0.0120
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.3426     0.0008      0.0014      0.0054
UBER_NET_REVENUE_BUS_MIDHINY -1.276e-05  1.933e-06    -6.6002     0.0000  -1.655e-05  -8.969e-06
UBER_NET_REVENUE_BUS_LOW     -5.384e-06  1.387e-06    -3.8806     0.0001  -8.104e-06  -2.664e-06
UBER_NET_REVENUE_RAIL        -6.442e-06  2.709e-06    -2.3779     0.0175  -1.175e-05  -1.131e-06
BIKE_SHARE                       0.0126     0.0122     1.0313     0.3025     -0.0113      0.0364
scooter_flag                     0.0048     0.0262     0.1832     0.8546     -0.0466      0.0563
MDBF_Mechanical               5.815e-10  5.526e-10     1.0523     0.2927  -5.019e-10   1.665e-09
================================================================================================

F-test for Poolability: 92.271
P-value: 0.0000
Distribution: F(260,3719)

Included effects: Entity

### Bus vs rail with just TNCs segmented by op-ex

In [112]:
# bus

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_MIDHINY \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df[df['BUS_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6875
Estimator:                   PanelOLS   R-squared (Between):              0.9898
No. Observations:                3420   R-squared (Within):               0.6875
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9897
Time:                        16:54:35   Log-likelihood                    1487.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      637.69
Entities:                         220   P-value                           0.0000
Avg Obs:                       15.545   Distribution:                 F(11,3189)
Min Obs:                       6.0000
Max Obs:                       17.000   F-statistic (robust):             637.69
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,3189)
Avg Obs:                       201.18
Min Obs:                       130.00
Max Obs:                       219.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9105     0.0137     66.662     0.0000      0.8838      0.9373
FARE_per_UPT_2018_log           -0.6451     0.0218    -29.652     0.0000     -0.6878     -0.6025
POP_EMP_log                      0.2647     0.0469     5.6472     0.0000      0.1728      0.3566
GAS_PRICE_2018_log               0.2219     0.0244     9.1023     0.0000      0.1741      0.2697
TOTAL_MED_INC_INDIV_2018_log    -0.3245     0.0497    -6.5350     0.0000     -0.4219     -0.2272
PCT_HH_NO_VEH                    0.0055     0.0028     1.9914     0.0465   8.546e-05      0.0110
TSD_POP_PCT_LEHD                 0.0056     0.0013     4.4238     0.0000      0.0031      0.0080
UBER_NET_REVENUE_BUS_MIDHINY -1.323e-05  1.839e-06    -7.1948     0.0000  -1.684e-05  -9.626e-06
UBER_NET_REVENUE_BUS_LOW     -6.348e-06  1.297e-06    -4.8935     0.0000  -8.891e-06  -3.804e-06
BIKE_SHARE                       0.0125     0.0125     1.0019     0.3165     -0.0119      0.0369
scooter_flag                    -0.0052     0.0284    -0.1834     0.8545     -0.0609      0.0505
================================================================================================

F-test for Poolability: 87.528
P-value: 0.0000
Distribution: F(219,3189)

Included effects: Entity

In [107]:
# rail

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + MDBF_Mechanical \
                    + EntityEffects \
                    ',data=df[df['RAIL_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5836
Estimator:                   PanelOLS   R-squared (Between):              0.8829
No. Observations:                 573   R-squared (Within):               0.5836
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.8827
Time:                        16:51:27   Log-likelihood                    52.236
Cov. Estimator:            Unadjusted
                                        F-statistic:                      66.388
Entities:                          41   P-value                           0.0000
Avg Obs:                       13.976   Distribution:                  F(11,521)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             66.388
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(11,521)
Avg Obs:                       33.706
Min Obs:                       24.000
Max Obs:                       41.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.5267     0.0352     14.952     0.0000      0.4575      0.5960
FARE_per_UPT_2018_log           -0.7228     0.0528    -13.703     0.0000     -0.8265     -0.6192
POP_EMP_log                      0.7277     0.2631     2.7656     0.0059      0.2108      1.2446
GAS_PRICE_2018_log               0.1200     0.0944     1.2710     0.2043     -0.0655      0.3054
TOTAL_MED_INC_INDIV_2018_log    -0.7502     0.2394    -3.1338     0.0018     -1.2206     -0.2799
PCT_HH_NO_VEH                    0.0095     0.0216     0.4392     0.6607     -0.0329      0.0518
TSD_POP_PCT_LEHD                -0.0032     0.0020    -1.5590     0.1196     -0.0072      0.0008
UBER_NET_REVENUE_RAIL        -1.594e-06  5.466e-06    -0.2917     0.7706  -1.233e-05   9.145e-06
BIKE_SHARE                       0.0280     0.0366     0.7645     0.4449     -0.0440      0.1000
scooter_flag                     0.0190     0.0647     0.2935     0.7693     -0.1081      0.1460
MDBF_Mechanical              -2.493e-08  1.847e-08    -1.3502     0.1776  -6.121e-08   1.135e-08
================================================================================================

F-test for Poolability: 43.788
P-value: 0.0000
Distribution: F(40,521)

Included effects: Entity

### Current best models below, split bus vs rail

In [115]:
# bus - simplified

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + UBER_NET_REVENUE_BUS_MIDHINY \
                    + UBER_NET_REVENUE_BUS_LOW \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df[df['BUS_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6875
Estimator:                   PanelOLS   R-squared (Between):              0.9898
No. Observations:                3420   R-squared (Within):               0.6875
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9897
Time:                        16:57:17   Log-likelihood                    1487.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      637.69
Entities:                         220   P-value                           0.0000
Avg Obs:                       15.545   Distribution:                 F(11,3189)
Min Obs:                       6.0000
Max Obs:                       17.000   F-statistic (robust):             637.69
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,3189)
Avg Obs:                       201.18
Min Obs:                       130.00
Max Obs:                       219.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.9105     0.0137     66.662     0.0000      0.8838      0.9373
FARE_per_UPT_2018_log           -0.6451     0.0218    -29.652     0.0000     -0.6878     -0.6025
POP_EMP_log                      0.2647     0.0469     5.6472     0.0000      0.1728      0.3566
GAS_PRICE_2018_log               0.2219     0.0244     9.1023     0.0000      0.1741      0.2697
TOTAL_MED_INC_INDIV_2018_log    -0.3245     0.0497    -6.5350     0.0000     -0.4219     -0.2272
PCT_HH_NO_VEH                    0.0055     0.0028     1.9914     0.0465   8.546e-05      0.0110
TSD_POP_PCT_LEHD                 0.0056     0.0013     4.4238     0.0000      0.0031      0.0080
UBER_NET_REVENUE_BUS_MIDHINY -1.323e-05  1.839e-06    -7.1948     0.0000  -1.684e-05  -9.626e-06
UBER_NET_REVENUE_BUS_LOW     -6.348e-06  1.297e-06    -4.8935     0.0000  -8.891e-06  -3.804e-06
BIKE_SHARE                       0.0125     0.0125     1.0019     0.3165     -0.0119      0.0369
scooter_flag                    -0.0052     0.0284    -0.1834     0.8545     -0.0609      0.0505
================================================================================================

F-test for Poolability: 87.528
P-value: 0.0000
Distribution: F(219,3189)

Included effects: Entity

In [120]:
# rail -- simplified

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + UBER_NET_REVENUE_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag  \
                    + EntityEffects \
                    ',data=df[df['RAIL_FLAG']==1])
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5799
Estimator:                   PanelOLS   R-squared (Between):              0.8447
No. Observations:                 574   R-squared (Within):               0.5799
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.8457
Time:                        17:02:05   Log-likelihood                    50.217
Cov. Estimator:            Unadjusted
                                        F-statistic:                      80.370
Entities:                         258   P-value                           0.0000
Avg Obs:                       2.2248   Distribution:                   F(9,524)
Min Obs:                       0.0000
Max Obs:                       17.000   F-statistic (robust):             80.370
                                        P-value                           0.0000
Time periods:                      17   Distribution:                   F(9,524)
Avg Obs:                       33.765
Min Obs:                       25.000
Max Obs:                       41.000

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.5381     0.0348     15.460     0.0000      0.4697      0.6065
FARE_per_UPT_2018_log           -0.7258     0.0525    -13.830     0.0000     -0.8288     -0.6227
POP_EMP_log                      0.6824     0.2604     2.6205     0.0090      0.1708      1.1940
GAS_PRICE_2018_log               0.1195     0.0944     1.2665     0.2059     -0.0659      0.3049
TOTAL_MED_INC_INDIV_2018_log    -0.7928     0.2389    -3.3189     0.0010     -1.2620     -0.3235
PCT_HH_NO_VEH                    0.0098     0.0214     0.4606     0.6453     -0.0322      0.0519
UBER_NET_REVENUE_RAIL        -1.018e-06   5.46e-06    -0.1865     0.8521  -1.174e-05   9.708e-06
BIKE_SHARE                       0.0262     0.0366     0.7156     0.4746     -0.0457      0.0980
scooter_flag                     0.0192     0.0647     0.2970     0.7666     -0.1080      0.1464
================================================================================================

F-test for Poolability: 44.963
P-value: 0.0000
Distribution: F(40,524)

Included effects: Entity