In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf
import statsmodels.api as sm

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype

pd.set_option('display.max_columns', 500)

%matplotlib inline

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/linearmodels/panel/data.py:10: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import (Categorical, DataFrame, Index, MultiIndex, Panel, Series,

In [192]:
df=pd.read_csv('final_estimation_file_apta_added.csv',
                    encoding='utf-8')
df.drop(columns=['Unnamed: 0'],inplace=True)

In [193]:
tsd_data=pd.read_csv('tsd_pop_employment.csv',
                    encoding='utf-8')
tsd_data.drop(columns=['Unnamed: 0','CBSA Title'],inplace=True)
tsd_data.head()

,CBSA Code,STATE,Year,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10180,Texas,2002,9489.0,57166.0,58397.0,0.0,0.0,0.0,23086.0,25800.0,9511.0,48886.0,58397.0,0.0,0.0,1216.0,2355.0,0.0,0.0,0.0,954.0,1065.0,336.0,2019.0,2355.0,0.0,0.0
1,10180,Texas,2003,9484.0,56917.0,57221.0,0.0,0.0,0.0,22049.0,25074.0,10098.0,47123.0,57221.0,0.0,0.0,1216.0,2462.0,0.0,0.0,0.0,1032.0,1069.0,361.0,2101.0,2462.0,0.0,0.0
2,10180,Texas,2004,9599.0,59025.0,61419.0,0.0,0.0,0.0,23062.0,27199.0,11158.0,50261.0,61419.0,0.0,0.0,1216.0,2970.0,0.0,0.0,0.0,1231.0,1315.0,424.0,2546.0,2970.0,0.0,0.0
3,10180,Texas,2005,9645.0,57879.0,60001.0,0.0,0.0,0.0,21854.0,26081.0,12066.0,47935.0,60001.0,0.0,0.0,1216.0,2938.0,0.0,0.0,0.0,1134.0,1326.0,478.0,2460.0,2938.0,0.0,0.0
4,10180,Texas,2006,9819.0,59588.0,62311.0,0.0,0.0,0.0,22008.0,26639.0,13664.0,48647.0,62311.0,0.0,0.0,1216.0,2983.0,0.0,0.0,0.0,1122.0,1342.0,519.0,2464.0,2983.0,0.0,0.0

In [194]:
df=pd.merge(df,tsd_data,left_on=['CBSA','Year'],right_on=['CBSA Code','Year'],how='left')
df=df.drop_duplicates()
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.0,314749.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.0,313075.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.0,312683.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.0,309266.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.0,315180.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0

In [195]:
df['TSD_EMP_PCT_LEHD']=100*df['TOT_EMP_TSD_TRACTS']/df['TOT_EMP_ALL_TRACTS']
df['TSD_EMP_PCT_CBSA']=100*df['TOT_EMP_TSD_TRACTS']/df['TOT_EMP_MSA']
df['TSD_POP_PCT_LEHD']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS'] #RAC data
df['TSD_POP_PCT_CBSA']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['Tot_Pop']
df['TSD_POP_WAGE_UNDER_1250']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_RA']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_1250_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_RA']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_BETN_1250_3333_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_RA']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_3333_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']

In [196]:
# read in and join the maintenance and restructure data
mr=pd.read_csv('maintenance_restructure.csv',
                    encoding='utf-8')
mr = mr[['CBSA', 'Mode', 'Year', 'MAINTENANCE', 'MAINTENANCE_NYC', 'MAINTENANCE_WMATA', 'RESTRUCTURE']]

df = df.merge(mr, on=['CBSA', 'Mode', 'Year'], how='left')

In [197]:
# read in mechanical and other failures

failures=pd.read_csv('maintenance_final.csv',encoding='utf-8')

failures.drop(columns=['Unnamed: 0'],inplace=True)

df=df.merge(failures, on=['CBSA','MNAME','Mode','Year'],how='left')

In [198]:
df=df.rename(columns={'UPT_ADJUSTED':'UPT_ADJ','VRM_ADJUSTED':'VRM_ADJ','FARE_ADJUSTED':'FARE_ADJ','AVG_FARE_2018':'FARE_per_UPT_2018',
                     'Mecha_Failures':'Mechanical_Failures'})

In [199]:
df['Mechanical_Failures']=df['Mechanical_Failures'].fillna(0)
df['Total_Failures']=df['Total_Failures'].fillna(0)
df['MDBF_Mechanical']=np.where(df['Mechanical_Failures']>0,df['VRM_ADJ']/df['Mechanical_Failures'],df['VRM_ADJ'])
df['MDBF_Total']=np.where(df['Total_Failures']>0,df['VRM_ADJ']/df['Total_Failures'],df['VRM_ADJ'])

In [200]:
# read in and join the bike share updates
bsu=pd.read_csv('bike_share_update.csv',
                    encoding='utf-8')
bsu = bsu[['CBSA', 'Mode', 'Year', 'PBS_Flag_Update']]

df = df.merge(bsu, on=['CBSA', 'Mode', 'Year'], how='left')

#df['PBS_Flag_Missing'] = df['PBS_Flag'].apply(lambda x : x.isnan())
df['PBS_Flag'] = np.where(df['PBS_Flag'].isnull(), df['PBS_Flag_Update'], df['PBS_Flag'])

In [201]:
# 4 apta clusers
df['CLUSTER_APTA4'] = np.floor(df['CLUSTER_APTA']/10)

In [202]:
# exclude if ridership is zero--missing data
df = df[df['UPT_ADJ']>0]

In [203]:
# fill in missing data as needed

# min fare is zero
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : max(x,0))

# max fare is $20
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : min(x,20))

# zero vehicle HH can't go negative
df['HH_0Veh'] = df['HH_0Veh'].apply(lambda x : max(x,0))

In [204]:
df=df.drop_duplicates(['CBSA','Mode','Year'])

In [205]:
# exclude problematic data
old_len = len(df)
df = df[df['VRM_ADJ']>0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing VRM') 

# exclude if problem flag 2 is set
old_len = len(df)
df = df[df['PROBLEM_FLAG2']!=1]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with problem flag set to 1')

Excluding 2 records with missing VRM
Excluding 36 records with problem flag set to 1

In [206]:
# exclude discontinuous data
df = df.sort_values(by=['CBSA', 'Mode', 'Year'])

excluded_records = 100
while excluded_records > 0: 
    old_len = len(df)
    df['YearDiff'] = df['Year'].shift(-1) - df['Year']
    df = df[(df['YearDiff']==1) | (df['Year']==2018)]
    excluded_records = old_len - len(df)
    print('Excluding ' + str(excluded_records) + ' records with discontinuities in year.')

Excluding 1 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 0 records with discontinuities in year.

In [207]:
df['BUS_FLAG'] = np.where(df['Mode']=='Bus', 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)

In [208]:
# include population + employment
df['POP_EMP'] = df['Tot_Pop'] + df['TOT_EMP_MSA']
df['HH_EMP'] = df['Total_HH'] + df['TOT_EMP_MSA']


# percent of pop born outside USA
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [209]:
# time effects
df['YEARS_SINCE_2002']  = df['Year'] - 2002

df['YEARS_2002_2010']  = df['Year'].apply(lambda x : min(x-2002, 8))
df['YEARS_AFTER_2010'] = df['Year'].apply(lambda x : max(x-2010, 0))

df['YEARS_2002_2014']  = df['Year'].apply(lambda x : min(x-2002, 12))
df['YEARS_AFTER_2014'] = df['Year'].apply(lambda x : max(x-2014, 0))


df['YEARS_SINCE_2002_BUS']  = df['YEARS_SINCE_2002'] * df['BUS_FLAG']
df['YEARS_SINCE_2002_RAIL'] = df['YEARS_SINCE_2002'] * df['RAIL_FLAG']

df['YEARS_2002_2010_BUS']   = df['YEARS_2002_2010'] * df['BUS_FLAG']
df['YEARS_AFTER_2010_BUS']  = df['YEARS_AFTER_2010']* df['BUS_FLAG']
df['YEARS_2002_2010_RAIL']  = df['YEARS_2002_2010'] * df['RAIL_FLAG']
df['YEARS_AFTER_2010_RAIL'] = df['YEARS_AFTER_2010']* df['RAIL_FLAG']

df['YEARS_2002_2014_BUS']   = df['YEARS_2002_2014'] * df['BUS_FLAG']
df['YEARS_AFTER_2014_BUS']  = df['YEARS_AFTER_2014']* df['BUS_FLAG']
df['YEARS_2002_2014_RAIL']  = df['YEARS_2002_2014'] * df['RAIL_FLAG']
df['YEARS_AFTER_2014_RAIL'] = df['YEARS_AFTER_2014']* df['RAIL_FLAG']

In [210]:
# more time effects

df['YEARS_AFTER_2012'] = df['Year'].apply(lambda x : max(x-2012, 0))

df['TNC_YEARS_AFTER_2012'] = df['YEARS_AFTER_2012'] * df['TNC_FLAG']

df['TNC_YEARS_AFTER_2012_BUS'] = df['TNC_YEARS_AFTER_2012'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2012_RAIL'] = df['TNC_YEARS_AFTER_2012'] * df['RAIL_FLAG']

In [211]:
# test rail ramp up period
df['YEARS_SINCE_RAIL_START'] = (df['Year'] - df['min_year']) * df['RAIL_FLAG']
df['YEARS_SINCE_RAIL_START'] = np.where(df['min_year']==2002, 0, df['YEARS_SINCE_RAIL_START'])

df['YEARS_SINCE_RAIL_START_1'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 1))
df['YEARS_SINCE_RAIL_START_2'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_RAIL_START_3'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 3))

In [212]:
# calculate bus vs rail stuff

# various bus/rail specifics

df['TNC_FLAG_BUS'] = df['TNC_FLAG'] * df['BUS_FLAG']
df['TNC_FLAG_RAIL'] = df['TNC_FLAG'] * df['RAIL_FLAG']

df['YEARS_SINCE_TNC_BUS'] = df['YEARS_SINCE_TNC'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_RAIL'] = df['YEARS_SINCE_TNC'] * df['RAIL_FLAG']

df['dockless_flag'] = df['dockCt'].apply(lambda x : min(x,1))
df['scooter_flag']  = df['scooterCt'].apply(lambda x : min(x,1))

df['BIKE_SHARE'] = df['PBS_Flag'] + df['dockless_flag']
df['BIKE_SHARE'] = df['BIKE_SHARE'].apply(lambda x : min(x,1))


df['PBS_Flag_BUS']   = df['PBS_Flag']   * df['BUS_FLAG']
df['dockCt_BUS']     = df['dockCt']     * df['BUS_FLAG']
df['docklessCt_BUS'] = df['docklessCt'] * df['BUS_FLAG']
df['scooterCt_BUS']  = df['scooterCt']  * df['BUS_FLAG']
df['dockless_flag_BUS'] = df['dockless_flag'] * df['BUS_FLAG']
df['scooter_flag_BUS']  = df['scooter_flag']  * df['BUS_FLAG']
df['BIKE_SHARE_BUS']  = df['BIKE_SHARE']  * df['BUS_FLAG']


df['PBS_Flag_RAIL']   = df['PBS_Flag']   * df['RAIL_FLAG']
df['dockCt_RAIL']     = df['dockCt']     * df['RAIL_FLAG']
df['docklessCt_RAIL'] = df['docklessCt'] * df['RAIL_FLAG']
df['scooterCt_RAIL']  = df['scooterCt']  * df['RAIL_FLAG']
df['dockless_flag_RAIL'] = df['dockless_flag'] * df['RAIL_FLAG']
df['scooter_flag_RAIL']  = df['scooter_flag']  * df['RAIL_FLAG']
df['BIKE_SHARE_RAIL']  = df['BIKE_SHARE']  * df['RAIL_FLAG']

In [213]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('#VALUE!', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('#VALUE!', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('#VALUE!', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('#VALUE!', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('#VALUE!', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('#VALUE!', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('#VALUE!', np.nan)


df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('N', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('N', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('N', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('N', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('N', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('N', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('N', np.nan)

In [214]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].astype(float)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].astype(float)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].astype(float)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].astype(float)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].astype(float)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].astype(float)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].astype(float)

In [215]:
# immigrant population percentage
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [216]:
# bike share plus scooters for rail
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# merge bike and scooter for bus
df['BIKE_SCOOTER_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] + df['scooter_flag_BUS']

# merge bike and scooter for bus
df['BIKE_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 

# scooter or bike
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_OR_SCOOTER_BUS'].apply(lambda x : min(x, 1))

df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 
df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_OR_SCOOTER_RAIL'].apply(lambda x : min(x, 1))

# calculate average vehicles
df['AVG_VEHS'] = (df['HH_1Veh'] + 2*df['HH_2Veh'] + 3*df['HH_3Veh'] + 4*df['HH_4+Veh']) / (df['HH_0Veh'] + df['HH_1Veh'] + df['HH_2Veh'] + df['HH_3Veh'] + df['HH_4+Veh'])
df['AVG_VEHS_log'] = np.log(1+df['AVG_VEHS'])

In [217]:
# walk bike other commuting
df['JTW_WALK_BIKE_OTHER_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT'] + df['JTW_OTHER_PCT']

# walk bike commuting
df['JTW_WALK_BIKE_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT']

In [218]:
df['VRM_ADJ_BUS'] = df['VRM_ADJ'] * df['BUS_FLAG']
df['VRM_ADJ_RAIL'] = df['VRM_ADJ'] * df['RAIL_FLAG']


#maintenance effect on competing mode
df['MDBF_Mechanical_RAIL']  = df['MDBF_Mechanical'] * df['RAIL_FLAG']
df['MDBF_Mechanical_BUS'] = df['MDBF_Mechanical']  * df['BUS_FLAG']

df['MDBF_Total_RAIL']  = df['MDBF_Total'] * df['RAIL_FLAG']
df['MDBF_Total_BUS'] = df['MDBF_Total']  * df['BUS_FLAG']

In [219]:
# segment TNCs by cluster
df['HI_OPEX']  = np.where(df['CLUSTER_APTA4']==1, 1, 0)
df['MID_OPEX'] = np.where(df['CLUSTER_APTA4']==2, 1, 0)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['NEW_YORK'] = np.where(df['CLUSTER_APTA4']==10, 1, 0)

df['YEARS_SINCE_TNC_BUS_HI']  = df['YEARS_SINCE_TNC_BUS'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS_MID'] = df['YEARS_SINCE_TNC_BUS'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS_LOW'] = df['YEARS_SINCE_TNC_BUS'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_BUS_NY']  = df['YEARS_SINCE_TNC_BUS'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_RAIL_HI']  = df['YEARS_SINCE_TNC_RAIL'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL_MID'] = df['YEARS_SINCE_TNC_RAIL'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL_LOW'] = df['YEARS_SINCE_TNC_RAIL'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_RAIL_NY']  = df['YEARS_SINCE_TNC_RAIL'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_BUS_HINY']  = df['YEARS_SINCE_TNC_BUS_HI'] + df['YEARS_SINCE_TNC_BUS_NY']
df['YEARS_SINCE_TNC_RAIL_HINY']  = df['YEARS_SINCE_TNC_RAIL_HI'] + df['YEARS_SINCE_TNC_RAIL_NY']

df['YEARS_SINCE_TNC_BUS_MIDLOW']  = df['YEARS_SINCE_TNC_BUS_MID'] + df['YEARS_SINCE_TNC_BUS_LOW']
df['YEARS_SINCE_TNC_RAIL_MIDLOW']  = df['YEARS_SINCE_TNC_RAIL_MID'] + df['YEARS_SINCE_TNC_RAIL_LOW']

In [220]:
# bikes and scooters by segment

df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']
df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']

df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']
df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']


df['BIKE_SHARE_HINY']  = df['BIKE_SHARE_HI'] + df['BIKE_SHARE_NY']
df['BIKE_SHARE_MIDLOW']  = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_HINY']  = df['scooter_flag_HI'] + df['scooter_flag_NY']
df['scooter_flag_MIDLOW']  = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [221]:
tnc_rev=pd.read_csv('tnc_revenue.csv',encoding='utf-8')
tnc_rev.head()

,Unnamed: 0,CBSA,MNAME,Mode,Year,TNC_FLAG,YEARS_SINCE_TNC,UBER_NET_REVENUE,UBER_REV_SCALED
0,0,10420,"Akron, OH Metro Area",Bus,2014,1,0,445,1.000000
1,1,10420,"Akron, OH Metro Area",Bus,2015,1,1,1690,3.797753
2,2,10420,"Akron, OH Metro Area",Bus,2016,1,2,4964,11.155056
3,3,10420,"Akron, OH Metro Area",Bus,2017,1,3,7932,17.824719
4,4,10420,"Akron, OH Metro Area",Bus,2018,1,4,11270,25.325843

In [222]:
tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)

In [223]:
list(tnc_rev)

['CBSA',
 'MNAME',
 'Mode',
 'Year',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'UBER_NET_REVENUE',
 'UBER_REV_SCALED']

In [224]:
df=pd.merge(df,tnc_rev,on=['CBSA',
 'MNAME',
 'Mode',
 'Year',
 'TNC_FLAG',
 'YEARS_SINCE_TNC'],how='left')
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJ,VRM_ADJ,FARE_ADJ,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,FARE_per_UPT_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_EMP_PCT_LEHD,TSD_EMP_PCT_CBSA,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,MAINTENANCE,MAINTENANCE_NYC,MAINTENANCE_WMATA,RESTRUCTURE,Mechanical_Failures,Other_Failures,Total_Failures,MDBF_Mechanical,MDBF_Total,PBS_Flag_Update,CLUSTER_APTA4,YearDiff,BUS_FLAG,RAIL_FLAG,POP_EMP,HH_EMP,Tot_NonUSA_POP_pct,YEARS_SINCE_2002,YEARS_2002_2010,YEARS_AFTER_2010,YEARS_2002_2014,YEARS_AFTER_2014,YEARS_SINCE_2002_BUS,YEARS_SINCE_2002_RAIL,YEARS_2002_2010_BUS,YEARS_AFTER_2010_BUS,YEARS_2002_2010_RAIL,YEARS_AFTER_2010_RAIL,YEARS_2002_2014_BUS,YEARS_AFTER_2014_BUS,YEARS_2002_2014_RAIL,YEARS_AFTER_2014_RAIL,YEARS_AFTER_2012,TNC_YEARS_AFTER_2012,TNC_YEARS_AFTER_2012_BUS,TNC_YEARS_AFTER_2012_RAIL,YEARS_SINCE_RAIL_START,YEARS_SINCE_RAIL_START_1,YEARS_SINCE_RAIL_START_2,YEARS_SINCE_RAIL_START_3,TNC_FLAG_BUS,TNC_FLAG_RAIL,YEARS_SINCE_TNC_BUS,YEARS_SINCE_TNC_RAIL,dockless_flag,scooter_flag,BIKE_SHARE,PBS_Flag_BUS,dockCt_BUS,docklessCt_BUS,scooterCt_BUS,dockless_flag_BUS,scooter_flag_BUS,BIKE_SHARE_BUS,PBS_Flag_RAIL,dockCt_RAIL,docklessCt_RAIL,scooterCt_RAIL,dockless_flag_RAIL,scooter_flag_RAIL,BIKE_SHARE_RAIL,BIKE_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_BUS,BIKE_SCOOTER_BUS,BIKE_OR_SCOOTER_BUS,BIKE_OR_SCOOTER_RAIL,AVG_VEHS,AVG_VEHS_log,JTW_WALK_BIKE_OTHER_PCT,JTW_WALK_BIKE_PCT,VRM_ADJ_BUS,VRM_ADJ_RAIL,MDBF_Mechanical_RAIL,MDBF_Mechanical_BUS,MDBF_Total_RAIL,MDBF_Total_BUS,HI_OPEX,MID_OPEX,LOW_OPEX,NEW_YORK,YEARS_SINCE_TNC_BUS_HI,YEARS_SINCE_TNC_BUS_MID,YEARS_SINCE_TNC_BUS_LOW,YEARS_SINCE_TNC_BUS_NY,YEARS_SINCE_TNC_RAIL_HI,YEARS_SINCE_TNC_RAIL_MID,YEARS_SINCE_TNC_RAIL_LOW,YEARS_SINCE_TNC_RAIL_NY,YEARS_SINCE_TNC_BUS_HINY,YEARS_SINCE_TNC_RAIL_HINY,YEARS_SINCE_TNC_BUS_MIDLOW,YEARS_SINCE_TNC_RAIL_MIDLOW,BIKE_SHARE_HI,BIKE_SHARE_MID,BIKE_SHARE_LOW,BIKE_SHARE_NY,scooter_flag_HI,scooter_flag_MID,scooter_flag_LOW,scooter_flag_NY,BIKE_SHARE_HINY,BIKE_SHARE_MIDLOW,scooter_flag_HINY,scooter_flag_MIDLOW,UBER_NET_REVENUE,UBER_REV_SCALED
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.0,314749.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,25.881893,23.534209,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,0.0,0.0,0.0,0.0,76.0,1279.0,1355.0,52978.584053,2971.492537,NaN,2.0,1.0,1,0,9.927309e+05,611599.37,-0.060245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.938830,1.078012,2.5,1.8,4026372.388,0.0,0.0,52978.584053,0.0,2971.492537,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.0,313075.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,25.483031,22.887812,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,0.0,0.0,0.0,0.0,19.0,1409.0,1428.0,209293.085474,2784.711922,NaN,2.0,1.0,1,0,1.007971e+06,617718.36,0.114214,1,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896082,1.063359,2.5,1.8,3976568.624,0.0,0.0,209293.085474,0.0,2784.711922,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.0,312683.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,25.140478,22.349927,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,0.0,0.0,0.0,0.0,67.0,1254.0,1321.0,64408.844104,3266.761964,NaN,2.0,1.0,1,0,1.024216e+06,624616.00,0.288851,2,2,0,2,0,2,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.853753,1.048635,2.5,1.8,4315392.555,0.0,0.0,64408.844104,0.0,3266.761964,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.0,309266.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,25.009862,21.598917,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,0.0,0.0,0.0,0.0,169.0,2369.0,2538.0,23982.313994,1596.931074,NaN,2.0,1.0,1,0,1.042565e+06,634521.92,0.430267,3,3,0,3,0,3,0,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.815448,1.035122,2.5,1.8,4053011.065,0.0,0.0,23982.313994,0.0,1596.931074,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0.0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.0,315180.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,24.988578,21.569929,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,0.0,0.0,0.0,0.0,166.0,2236.0,2402.0,24064.975982,1663.108249,NaN,2.0,1.0,1,0,1.066076e+06,645970.33,0.669812,4,4,0,4,0,4,0,4,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.766890,1.017724,3.1,2.2,3994786.013,0.0,0.0,24064.975982,0.0,1663.108249,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,NaN,NaN

In [226]:
df['UBER_NET_REVENUE']=df['UBER_NET_REVENUE'].fillna(0)
df['UBER_REV_SCALED']=df['UBER_REV_SCALED'].fillna(0)
df.head(20)

,CBSA,MNAME,Mode,Year,UPT_ADJ,VRM_ADJ,FARE_ADJ,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,FARE_per_UPT_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOT_EMP_TSD_TRACTS,TOT_EMP_ALL_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_EMP_PCT_LEHD,TSD_EMP_PCT_CBSA,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,MAINTENANCE,MAINTENANCE_NYC,MAINTENANCE_WMATA,RESTRUCTURE,Mechanical_Failures,Other_Failures,Total_Failures,MDBF_Mechanical,MDBF_Total,PBS_Flag_Update,CLUSTER_APTA4,YearDiff,BUS_FLAG,RAIL_FLAG,POP_EMP,HH_EMP,Tot_NonUSA_POP_pct,YEARS_SINCE_2002,YEARS_2002_2010,YEARS_AFTER_2010,YEARS_2002_2014,YEARS_AFTER_2014,YEARS_SINCE_2002_BUS,YEARS_SINCE_2002_RAIL,YEARS_2002_2010_BUS,YEARS_AFTER_2010_BUS,YEARS_2002_2010_RAIL,YEARS_AFTER_2010_RAIL,YEARS_2002_2014_BUS,YEARS_AFTER_2014_BUS,YEARS_2002_2014_RAIL,YEARS_AFTER_2014_RAIL,YEARS_AFTER_2012,TNC_YEARS_AFTER_2012,TNC_YEARS_AFTER_2012_BUS,TNC_YEARS_AFTER_2012_RAIL,YEARS_SINCE_RAIL_START,YEARS_SINCE_RAIL_START_1,YEARS_SINCE_RAIL_START_2,YEARS_SINCE_RAIL_START_3,TNC_FLAG_BUS,TNC_FLAG_RAIL,YEARS_SINCE_TNC_BUS,YEARS_SINCE_TNC_RAIL,dockless_flag,scooter_flag,BIKE_SHARE,PBS_Flag_BUS,dockCt_BUS,docklessCt_BUS,scooterCt_BUS,dockless_flag_BUS,scooter_flag_BUS,BIKE_SHARE_BUS,PBS_Flag_RAIL,dockCt_RAIL,docklessCt_RAIL,scooterCt_RAIL,dockless_flag_RAIL,scooter_flag_RAIL,BIKE_SHARE_RAIL,BIKE_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_RAIL,BIKE_SCOOTER_SCOOTER_BUS,BIKE_SCOOTER_BUS,BIKE_OR_SCOOTER_BUS,BIKE_OR_SCOOTER_RAIL,AVG_VEHS,AVG_VEHS_log,JTW_WALK_BIKE_OTHER_PCT,JTW_WALK_BIKE_PCT,VRM_ADJ_BUS,VRM_ADJ_RAIL,MDBF_Mechanical_RAIL,MDBF_Mechanical_BUS,MDBF_Total_RAIL,MDBF_Total_BUS,HI_OPEX,MID_OPEX,LOW_OPEX,NEW_YORK,YEARS_SINCE_TNC_BUS_HI,YEARS_SINCE_TNC_BUS_MID,YEARS_SINCE_TNC_BUS_LOW,YEARS_SINCE_TNC_BUS_NY,YEARS_SINCE_TNC_RAIL_HI,YEARS_SINCE_TNC_RAIL_MID,YEARS_SINCE_TNC_RAIL_LOW,YEARS_SINCE_TNC_RAIL_NY,YEARS_SINCE_TNC_BUS_HINY,YEARS_SINCE_TNC_RAIL_HINY,YEARS_SINCE_TNC_BUS_MIDLOW,YEARS_SINCE_TNC_RAIL_MIDLOW,BIKE_SHARE_HI,BIKE_SHARE_MID,BIKE_SHARE_LOW,BIKE_SHARE_NY,scooter_flag_HI,scooter_flag_MID,scooter_flag_LOW,scooter_flag_NY,BIKE_SHARE_HINY,BIKE_SHARE_MIDLOW,scooter_flag_HINY,scooter_flag_MIDLOW,UBER_NET_REVENUE,UBER_REV_SCALED
0,10420,"Akron, OH Metro Area",Bus,2002,5226385.660,4026372.388,5.965827e+05,2002,2018,0.114148,NaN,NaN,NaN,646583.7344,496141.0469,137193.67190,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.90,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.56250,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.78750,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.200,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,81463.00,314749.0,305401.0,0.0,0.00,0.0,92556.0,127165.00,85680.00,219721.00,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.00,25397.0,10892.00,43625.00,54517.0,0.00,0.00,25.881893,23.534209,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,0.0,0.0,0.0,0.0,76.0,1279.0,1355.0,52978.584053,2971.492537,NaN,2.0,1.0,1,0,9.927309e+05,611599.37,-0.060245,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.938830,1.078012,2.500,1.800,4026372.388,0.0,0.0,52978.584053,0.0,2971.492537,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
1,10420,"Akron, OH Metro Area",Bus,2003,5395901.888,3976568.624,2.318587e+06,2002,2018,0.429694,NaN,NaN,NaN,659397.0625,504631.8125,137582.31250,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.00,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.75000,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.25750,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.400,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,79781.00,313075.0,318486.0,0.0,0.00,0.0,95379.0,128948.00,94159.00,224327.00,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.00,23767.0,11116.00,40860.00,51976.0,0.00,0.00,25.483031,22.887812,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,0.0,0.0,0.0,0.0,19.0,1409.0,1428.0,209293.085474,2784.711922,NaN,2.0,1.0,1,0,1.007971e+06,617718.36,0.114214,1,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896082,1.063359,2.500,1.800,3976568.624,0.0,0.0,209293.085474,0.0,2784.711922,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
2,10420,"Akron, OH Metro Area",Bus,2004,5907162.281,4315392.555,2.279211e+06,2002,2018,0.385839,NaN,NaN,NaN,672492.7500,513183.7500,138058.75000,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.10,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.00000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.70000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.700,0.8,1.700,0.1,0.7,3.100,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,78610.00,312683.0,315004.0,0.0,0.00,0.0,92341.0,124884.00,97779.00,217225.00,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.00,22739.0,11578.00,39272.00,50850.0,0.00,0.00,25.140478,22.349927,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,0.0,0.0,0.0,0.0,67.0,1254.0,1321.0,64408.844104,3266.761964,NaN,2.0,1.0,1,0,1.024216e+06,624616.00,0.288851,2,2,0,2,0,2,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.853753,1.048635,2.500,1.800,4315392.555,0.0,0.0,64408.844104,0.0,3266.761964,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
3,10420,"Akron, OH Metro Area",Bus,2005,6013680.881,4053011.065,2.728754e+06,2002,2018,0.453758,NaN,NaN,NaN,684459.0000,521491.0000,138184.00000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.20,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.00000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.04000,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.800,0.8,1.700,0.1,0.7,3.100,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,77347.00,309266.0,316201.0,0.0,0.00,0.0,90737.0,123595.00,101869.00,214332.00,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.00,22152.0,11901.00,38361.00,50262.0,0.00,0.00,25.009862,21.598917,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,0.0,0.0,0.0,0.0,169.0,2369.0,2538.0,23982.313994,1596.931074,NaN,2.0,1.0,1,0,1.042565e+06,634521.92,0.430267,3,3,0,3,0,3,0,3,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.815448,1.035122,2.500,1.800,4053011.065,0.0,0.0,23982.313994,0.0,1596.931074,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
4,10420,"Akron, OH Metro Area",Bus,2006,6070797.419,3994786.013,2.855273e+06,2002,2018,0.470329,NaN,NaN,NaN,700943.0000,530777.0000,139714.00000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.30,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.00000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.75000,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.300,1.3,2.200,0.0,0.9,2.500,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,78759.00,315180.0,313986.0,0.0,0.00,0.0,89652.0,117761.00,106573.00,207413.00,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.00,21149.0,12635.00,36658.00,49293.0,0.00,0.00,24.988578,21.569929,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,0.0,0.0,0.0,0.0,166.0,2236.0,2402.0,24064.975982,1663.108249,NaN,2.0,1.0,1,0,1.066076e+06,645970.33,0.669812,4,4,0,4,0,4,0,4,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.766890,1.017724,3.100,2.200,3994786.013,0.0,0.0,24064.975982,0.0,1663.108249,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
5,10420,"Akron, OH Metro Area",Bus,2007,5868746.078,4571428.064,3.109813e+06,2002,2018,0.529894,NaN,NaN,NaN,699356.0000,536148.0000,135625.00000,3455.00000,25217.00000,25202.00000,24776.00000,25575,682807.00,13.40,7.60,79.00,23.30,63.40,13.30,281669.00,21066.00,94071.00,113232.00,36917.00,16383.00,7.48,47898.00000,63454.00000,37.20,46.10,16.70,20953.42,368688.42,389641.83,5.38,94.62,2.82,13644.8,116851.0,16.03,1.21,2014,http://www.crainscleveland.com/article/2014082...,0,0,18481486.41,30512.57000,30494.42000,29978.96000,57956.58000,76779.34000,3.4122,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,335010,85.7,7.000,1.3,2.000,0.2,0.8,2.900,NaN,0.641172,2416.526602,both,24,10420.0,Ohio,74582.00,314679.0,319224.0,0.0,0.00,0.0,89537.0,118540.00,111147.00,208077.00,319224.0,0.0,0.0,13619.2,49222.0,0.0,0.0,0.0,15377.00,21052.0,12793.00,36429.00,49222.0,0.00,0.00,23.700978,20.229005,15.419267,7.038189,4.816994,6.594742,11.411736,17.173906,17.759406,17.507461,31.240096,42.769493,74.009589,0.0,0.0,0.0,0.0,144.0,1230.0,1374.0,31746.028222,3327.094661,NaN,2.0,1.0,1,0,1.068044e+06,650357.42,0.494026,5,5,0,5,0,5,0,5,0,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.763836,1.016620,3.000,2.200,4571428.064,0.0,0.0,31746.028222,0.0,3327.094661,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
6,10420,"Akron, OH Metro Area",Bus,2008,6140428.988,3873343.976,3.251531e+06,2002,2018,0.529528,NaN,NaN,NaN,698553.0000,529519.0000,137011.00000,4452.00000,25357.00000,25559.00000,25281.00000,15247,681880.00,12.10,8.20,79.70,22.90,63.50,13.60,281731.00,19035.00,100229.00,108332.00,38548.00,15587.00,6.76,50036.00000,65801.00000,36.40,45.10,18.50,24154.58,367016.58,391171.17,6.17,93.83,3.23,13644.8,116264.0,14.89,1.17,2014,http://www.crainscleveland.com/article/2014082...,0,0,18601942.58,29667.69000,29904.03000,29578.77000,58542.12000,76987.17000,3.7791,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,346231,84.4,7.500,1.6,2.700,0.2,0.6,3.000,NaN,0.619548,2417.876039,both,24,10420.0,Ohio,78727.00,319316.0,317542.0,0.0,0.00,0.0,86339.0,116287.00,114916.00,202626.00,317542.0,0.0,0.0,13619.2,49460.0,0.0,0.0,0.0,14881.00,20948.0,13631.00,35829.00,49460.0,0.00,0.00,24.654887,21.450530,15.575892,7.080350,4.686309,6.596923,11.283232,17.235548,18.014051,17.682331,30.086939,42.353417,72.440356,0.0,0.0,0.0,0.0,187.0,1390.0,1577.0,20713.069390,2456.147100,NaN,2.0,1.0,1,0,1.065570e+06,648747.58,0.637317,6,6,0,6,0,6,0,6,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.756587,1.013993,3.500,2.900,3873343.976,0.0,0.0,20713.069390,0.0,2456.147100,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
7,10420,"Akron, OH Metro Area",Bus,2009,5560854.064,3431434.413,3.057887e+06,2002,2018,0.549895,NaN,NaN,NaN,699935.0000,537803.0000,134499.00000,2466.00000,24856.00000,24810.00000,24817.00000,29301,685405.00,14.70,7.20,78.10,22.40,63.60,14.00,281769.00,23447.00,97811.00,108215.00,36339.00,15957.00,8.32,47482.00000,60668.00000,36.80,48.10,15.10,38703.17,346409.33,385112.50,10.05,89.95,2.33,13644.8,115677.0,12.41,1.17,2014,http://www.crainscleveland.com/article/2014082...,0,0,17469678.88,29081.52000,29027.70000,29035.89000,55553.94000,70981.56000,2.7261,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,326349,86.6,5.900,1.4,2.200,0.2,0.5,3.200,NaN,0.643377,2419.599273,both,24,10420.0,Ohio,72366.00,302021.0,298516.0,262385.0,28901.00,3474.0,80381.0,111176.00,106959.00,191557.00,36131.0,87876.0,141993.0,13619.2,46308.0,37889.0,7040.0,697.0,13878.00,19414.0,13016.00,33292.00,8419.0,14335.00,19761.00,23.960586,20.890315,15.512736,6.616043,4.648997,6.503504,11.152501,17.265274,17.462402,17.379683,29.968904,41.923642,71.892546,0.0,0.0,0.0,0.0,201.0,1319.0,1520.0,17071.813000,2257.522640,NaN,2.0,1.0,1,0,1.046344e+06,628178.33,0.352318,7,7,0,7,0,7,0,7,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.728671,1.003815,2.900,2.400,3431434.413,0.0,0.0,17071.813000,0.0,2257.522640,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
8,10420,"Akron, OH Metro Area",Bus,2010,5616567.806,3471447.493,3.247759e+06,2002,2018,0.578246,NaN,NaN,NaN,702951.0000,539313.0000,132784.00000,3944.00000,24592.00000,24348.00000,25441.00000,18974,687098.00,NaN,NaN,NaN,22.30,63.40,14.30,281523.00,22621.00,92537.00,114311.00,35021.00,17033.00,8.04,46521.00000,60782.00000,38.00,45.60,16.40,39167.33,333040.75,372208.08,10.52,89.48,2.78,13644.8,115090.0,11.57,1.15,2014,http://www.crainscleveland.com/article/2014082...,0,0,18235616.11,28280.80000,28000.20000,29257.15000,53499.15000,69899.30000,3.1970,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,319431,87.7,5.700,1.5,1.600,0.1,0.6,2.900,NaN,0.664983,2414.853641,both,24,10420.0,Ohio,78069.00,302577.0,295351.0,260354.0,27527.00,3506.0,76839.0,106195.00,112317.00,183034.00,34997.0,86191.0,143233.0,13619.2,43030.0,35142.0,6576.0,676.0,12479.00,18114.0,12437.00,30593.00,7888.0,13146.00,18730.00,25.801366,23.441276,14.569106,6.121337,4.225142,6.133042,10.358184,16.240451,17.057300,16.714381,29.000697,42.096212,71.096909,0.0,0.0,0.0,0.0,216.0,1221.0,1437.0,16071.516171,2415.760260,NaN,2.0,1.0,1,0,1.035992e+06,614563.75,0.561063,8,8,0,8,0,8,0,8,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.755999,1.013780,2.300,1.700,3471447.493,0.0,0.0,16071.516171,0.0,2415.760260,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
9,10420,"Akron, OH Metro Area",Bus,2011,5858952.685,3918014.086,3.432078e+06,2002,2018,0.585784,NaN,NaN,NaN,701456.0000,541743.0000,127206.00000,5605.00000,24744.00000,24630.00000,24718.00000,19914,684916.00,NaN,NaN,NaN,21.90,63.70,14.40,274696.00,22332.00,98938.00,101762.00,35249.00,16415.00,8.13,47032.00000,62438.00000,38.40,45.10,16.50,33038.33,332935.08,365973.42,9.03,90.97,3.53,13644.8,114503.0,12.84,1.12,2014,http://www.crainscleveland.com/article/2014082...,0,0,18786450.64,27713.28000,27585.60000,27684.16000,52675.84000,69930.56000,3.9536,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,322871,85.6,7.200,1.3,1.700,0.3,0.6,3.300,NaN,0.656078,2435.023505,both,24,10420.0,Ohio,76343.00,308585.0,303760.0,266291.0,29519.00,3925.0,80387.0,108358.00,115015.00,188745.00,37469.0,89467.0,144893.0,13619.2,42132.0,34086.0,6686.0,679.0,12256.00,17738.0,12138.00,29994.00,8046.0,12876.00,18367.00,24.739699,22.930296,13.870161,6.006364,4.034764,5.839479,9.874243,15.246246,16.369811,15.891282,29.089528,42.101016,71.190544,0.0,0.0,0.0,0.0,138.0,959.0,1097.0,28391.406420,3571.571637,NaN,2.0,1.0,1,0,1.034391e+06,607631.08,0.799052,9,8,1,9,0,9,0,8,1,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.725067,1.002493,2.600,2.000,3918014.086,0.0,0.0,28391.406420,0.0,3571.571637,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000
10,10420,"Akron, OH Metro Area",Bus,2012,5996224.469,3862989.104,5.834141e+06,2002,2018,0.972969,NaN,NaN,NaN,702262.0000,541057.0000,125650.00000,5192.00000,25564.00000,25656.00000,25880.00000,25575,687031.00,NaN,NaN,NaN,21.60,63.50,14.90,280887.00,24001.00,98798.00,110693.00,32826.00,14569.00,8.54,49731.00000,65187.00000,35.50,46.20,18.30,26723.25,333535.58,360258.83,7.42,92.58,3.61,13644.8,112988.0,12.64,1.09,2014,http://www.crainscleveland.com/article/2014082...,0,0,25004946.41,27864.76000,27965.04000,28209.20000,54206.79000,71053.83000,3.9349,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,325710,86.1,7.300,1.3,1.600,0.2,0.6,3.000,NaN,1.060536,2409.272433,both,24,10420.0,Ohio,71741.00,312046.0,310433.0,270864.0,31252.00,4074.0,80210.0,110794.00,119429.00,191004.00,39569.0,92162.0,148708.0,13619.2,43008.0,34411.0,7260.0,686.0,12605.00,18122.0,12281.00,30727.00,8597.0,13509.00,18621.00,22.990521,21.509249,13.854197,6.124210,4.060457,5.837653,9.898110,15.714998,16.356481,16.087098,29.308501,42.136347,71.444847,0.0,0.0,0.0,0.0,128.0,878.0,1006.0,30179.602375,3839.949408,NaN,2.0,1.0,1,0,1.035798e+06,614422.58,0.739325,10,8,2,10,0,10,0,8,2,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.697971,0.992500,2.400,1.800,3862989.104,0.0,0.0,30179.602375,0.0,3839.949408,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0,0,0.0,0.000000

In [230]:
df['UBER_REV_SCALED_BUS'] = df['UBER_REV_SCALED'] * df['BUS_FLAG']
df['UBER_REV_SCALED_RAIL'] = df['UBER_REV_SCALED'] * df['RAIL_FLAG']

df['UBER_REV_SCALED_BUS_HI']  = df['UBER_REV_SCALED_BUS'] * df['HI_OPEX']
df['UBER_REV_SCALED_BUS_MID'] = df['UBER_REV_SCALED_BUS'] * df['MID_OPEX']
df['UBER_REV_SCALED_BUS_LOW'] = df['UBER_REV_SCALED_BUS'] * df['LOW_OPEX']
df['UBER_REV_SCALED_BUS_NY']  = df['UBER_REV_SCALED_BUS'] * df['NEW_YORK']

df['UBER_REV_SCALED_RAIL_HI']  = df['UBER_REV_SCALED_RAIL'] * df['HI_OPEX']
df['UBER_REV_SCALED_RAIL_MID'] = df['UBER_REV_SCALED_RAIL'] * df['MID_OPEX']
df['UBER_REV_SCALED_RAIL_LOW'] = df['UBER_REV_SCALED_RAIL'] * df['LOW_OPEX']
df['UBER_REV_SCALED_RAIL_NY']  = df['UBER_REV_SCALED_RAIL'] * df['NEW_YORK']

df['UBER_REV_SCALED_BUS_HINY']  = df['UBER_REV_SCALED_BUS_HI'] + df['UBER_REV_SCALED_BUS_NY']
df['UBER_REV_SCALED_RAIL_HINY']  = df['UBER_REV_SCALED_RAIL_HI'] + df['UBER_REV_SCALED_RAIL_NY']

df['UBER_REV_SCALED_BUS_MIDLOW']  = df['UBER_REV_SCALED_BUS_MID'] + df['UBER_REV_SCALED_BUS_LOW']
df['UBER_REV_SCALED_RAIL_MIDLOW']  = df['UBER_REV_SCALED_RAIL_MID'] + df['UBER_REV_SCALED_RAIL_LOW']

In [232]:
df.head()

                                CBSA      UPT_ADJ      VRM_ADJ      FARE_ADJ  \
ID                       Year
Akron, OH Metro Area-Bus 2002  10420  5226385.660  4026372.388  5.965827e+05
                         2003  10420  5395901.888  3976568.624  2.318587e+06
                         2004  10420  5907162.281  4315392.555  2.279211e+06
                         2005  10420  6013680.881  4053011.065  2.728754e+06
                         2006  10420  6070797.419  3994786.013  2.855273e+06

                               min_year  max_year  FARE_per_UPT  PROBLEM_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002      2002      2018      0.114148           NaN
                         2003      2002      2018      0.429694           NaN
                         2004      2002      2018      0.385839           NaN
                         2005      2002      2018      0.453758           NaN
                         2006      2002      2018      0.470329           NaN

                               PROBLEM_FLAG2      Tot_Pop  Tot_Instate_Pop  \
ID                       Year
Akron, OH Metro Area-Bus 2002            NaN  646583.7344      496141.0469
                         2003            NaN  659397.0625      504631.8125
                         2004            NaN  672492.7500      513183.7500
                         2005            NaN  684459.0000      521491.0000
                         2006            NaN  700943.0000      530777.0000

                               Tot_Outstate_Pop  Tot_NonUSA_POP  \
ID                       Year
Akron, OH Metro Area-Bus 2002       137193.6719      -389.53125
                         2003       137582.3125       753.12500
                         2004       138058.7500      1942.50000
                         2005       138184.0000      2945.00000
                         2006       139714.0000      4695.00000

                               Total_Median_Income_Individual  \
ID                       Year
Akron, OH Metro Area-Bus 2002                     25405.20313
                         2003                     25120.18750
                         2004                     24804.25000
                         2005                     24612.00000
                         2006                     23925.00000

                               Native_Instate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                   26028.32813
                         2003                   25632.68750
                         2004                   25208.25000
                         2005                   24899.00000
                         2006                   24129.00000

                               Native_Outstate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    26651.07813
                         2003                    25995.68750
                         2004                    25305.25000
                         2005                    24755.00000
                         2006                    23644.00000

                               Total_Pop_Poverty  Pop_Below100_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002          682354.11                  7.55
                         2003          682850.56                  8.81
                         2004          683397.75                 10.08
                         2005          683742.00                 11.30
                         2006          684898.00                 12.70

                               Pop_Below150_Poverty  Pop_Above150_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  8.94                 83.85
                         2003                  8.66                 82.79
                         2004                  8.38                 81.73
                         2005                  8.10                 80.70
                         2006                  7.80                 79.50

                               Age_under18  Age_18to64  Age_over64   Total_HH  \
ID                       Year
Akron, OH Metro Area-Bus 2002        24.64        62.9       12.46  265452.20
                         2003        24.33        63.0       12.68  269144.19
                         2004        24.00        63.1       12.90  272892.25
                         2005        23.70        63.2       13.10  276416.00
                         2006        23.30        63.3       13.40  280837.00

                                HH_0Veh   HH_1Veh    HH_2Veh   HH_3Veh  \
ID                       Year
Akron, OH Metro Area-Bus 2002  22830.14  58254.52  117083.25  46891.53
                         2003  22073.44  67400.94  115443.00  44874.88
                         2004  21266.25  76795.25  113694.00  42855.50
                         2005  20661.00  85198.00  112380.00  40847.00
                         2006  19248.00  97567.00  109326.00  38795.00

                               HH_4+Veh  PCT_HH_NO_VEH   HH_MED_INC  \
ID                       Year
Akron, OH Metro Area-Bus 2002  20392.77           8.60  43046.82813
                         2003  19351.94           8.20  43566.68750
                         2004  18281.25           7.79  44030.25000
                         2005  17330.00           7.47  44719.00000
                         2006  15901.00           6.85  44507.00000

                               HH_MEAN_INC  INC_U35  INC_35_100  INC_100P  \
ID                       Year
Akron, OH Metro Area-Bus 2002   55300.5625    39.49       46.56     13.95
                         2003   56379.7500    39.24       46.66     14.10
                         2004   57390.0000    39.03       46.78     14.20
                         2005   58676.0000    38.70       46.80     14.50
                         2006   58859.0000    38.80       47.20     14.00

                               TOT_UNEMP_MSA  TOT_EMP_MSA  TOT_LABOR_MSA  \
ID                       Year
Akron, OH Metro Area-Bus 2002       21948.42    346147.17      368095.58
                         2003       23342.50    348574.17      371916.67
                         2004       23471.75    351723.75      375195.50
                         2005       22420.75    358105.92      380526.67
                         2006       20348.08    365133.33      385481.42

                               UNEMP_RATE_PCT  EMP_RATE_PCT  GasPrice  \
ID                       Year
Akron, OH Metro Area-Bus 2002            5.96         94.04      1.36
                         2003            6.28         93.72      1.55
                         2004            6.26         93.74      1.83
                         2005            5.90         94.10      2.25
                         2006            5.28         94.72      2.54

                               Area_acre  POP_CENSUSTRACT  AVG_SPEED  \
ID                       Year
Akron, OH Metro Area-Bus 2002        NaN         119786.0      14.88
                         2003        NaN         119199.0      14.71
                         2004        NaN         118612.0       7.23
                         2005    13644.8         118025.0      14.40
                         2006    13644.8         117438.0      14.19

                               2018_Dollar_Multiplier  TNC_ARRIVAL  TNC_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    1.40         2014         0
                         2003                    1.37         2014         0
                         2004                    1.33         2014         0
                         2005                    1.29         2014         0
                         2006                    1.25         2014         0

                               YEARS_SINCE_TNC  FARE_ADJ_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                0     4004892.28
                         2003                0    15690640.83
                         2004                0    14652259.89
                         2005                0    17316881.13
                         2006                0    17511368.98

                               TOTAL_MED_INC_INDIV_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002               35567.28438
                         2003               34414.65688
                         2004               32989.65250
                         2005               31749.48000
                         2006               29906.25000

                               NATIVE_INSTATE_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  36439.65938
                         2003                  35116.78188
                         2004                  33526.97250
                         2005                  32119.71000
                         2006                  30161.25000

                               NATIVE_OUTSTATE_MED_INC_2018  HH_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                   37311.50938      60265.55938
                         2003                   35614.09188      59686.36188
                         2004                   33655.98250      58560.23250
                         2005                   31933.95000      57687.51000
                         2006                   29555.00000      55633.75000

                               HH_MEAN_INC_2018  GAS_PRICE_2018  dockCt  \
ID                       Year
Akron, OH Metro Area-Bus 2002        77420.7875          1.9040       0
                         2003        77240.2575          2.1235       0
                         2004        76328.7000          2.4339       0
                         2005        75692.0400          2.9025       0
                         2006        73573.7500          3.1750       0

                               docklessCt  scooterCt  PBS_Start  PBS_End  \
ID                       Year
Akron, OH Metro Area-Bus 2002           0          0        NaN      NaN
                         2003           0          0        NaN      NaN
                         2004           0          0        NaN      NaN
                         2005           0          0        NaN      NaN
                         2006           0          0        NaN      NaN

                               PBS_Flag  walkscore  transit  bike  \
ID                       Year
Akron, OH Metro Area-Bus 2002       0.0          0        0     0
                         2003       0.0          0        0     0
                         2004       0.0          0        0     0
                         2005       0.0          0        0     0
                         2006       0.0          0        0     0

                               CLUSTER_GT_NEW_11  CLUSTER_GT_ORIGINAL  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  1                    1
                         2003                  1                    1
                         2004                  1                    1
                         2005                  1                    1
                         2006                  1                    1

                               CLUSTER_APTA  JTW_DA_PCT  JTW_CARPOOLED_PCT  \
ID                       Year
Akron, OH Metro Area-Bus 2002            24        87.4                6.2
                         2003            24        87.2                6.4
                         2004            24        86.9                6.7
                         2005            24        86.8                6.8
                         2006            24        85.8                7.3

                               JTW_TRANSIT_PCT  JTW_WALK_PCT  JTW_BICYCLE_PCT  \
ID                       Year
Akron, OH Metro Area-Bus 2002              0.8           1.7              0.1
                         2003              0.8           1.7              0.1
                         2004              0.8           1.7              0.1
                         2005              0.8           1.7              0.1
                         2006              1.3           2.2              0.0

                               JTW_OTHER_PCT  JTW_HOME_PCT  FARE_per_UPT_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002            0.7           3.1           0.159808
                         2003            0.7           3.1           0.588681
                         2004            0.7           3.1           0.513165
                         2005            0.7           3.1           0.585347
                         2006            0.9           2.5           0.587911

                               WEIGHTED_POP_DENSITY  CLUSTER_APTA_EXTENDED  \
ID                       Year
Akron, OH Metro Area-Bus 2002           2417.239652                     24
                         2003           2417.305061                     24
                         2004           2417.260004                     24
                         2005           2417.138680                     24
                         2006           2417.703484                     24

                               CBSA Code  TOT_EMP_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002    10420.0             81463.0
                         2003    10420.0             79781.0
                         2004    10420.0             78610.0
                         2005    10420.0             77347.0
                         2006    10420.0             78759.0

                               TOT_EMP_ALL_TRACTS  TOTAL_JOBS_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002            314749.0              305401.0
                         2003            313075.0              318486.0
                         2004            312683.0              315004.0
                         2005            309266.0              316201.0
                         2006            315180.0              313986.0

                               TOTAL_JOBS_WHITE_ALONE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                               0.0
                         2003                               0.0
                         2004                               0.0
                         2005                               0.0
                         2006                               0.0

                               TOTAL_JOBS_BLACK_ALONE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                               0.0
                         2003                               0.0
                         2004                               0.0
                         2005                               0.0
                         2006                               0.0

                               TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_UNDER_1250_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                          92556.0
                         2003                          95379.0
                         2004                          92341.0
                         2005                          90737.0
                         2006                          89652.0

                               TOTAL_JOBS_BETN_1250_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                             127165.0
                         2003                             128948.0
                         2004                             124884.0
                         2005                             123595.0
                         2006                             117761.0

                               TOTAL_JOBS_OVER_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                         85680.0
                         2003                         94159.0
                         2004                         97779.0
                         2005                        101869.0
                         2006                        106573.0

                               TOTAL_JOBS_UNDER_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                         219721.0
                         2003                         224327.0
                         2004                         217225.0
                         2005                         214332.0
                         2006                         207413.0

                               TOTAL_JOBS_NON_WHITE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                        305401.0
                         2003                        318486.0
                         2004                        315004.0
                         2005                        316201.0
                         2006                        313986.0

                               TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                    0.0
                         2003                                    0.0
                         2004                                    0.0
                         2005                                    0.0
                         2006                                    0.0

                               TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                     0.0
                         2003                                     0.0
                         2004                                     0.0
                         2005                                     0.0
                         2006                                     0.0

                               AREA_ACRE  TOTAL_JOBS_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002    13619.2                   54517.0
                         2003    13619.2                   51976.0
                         2004    13619.2                   50850.0
                         2005    13619.2                   50262.0
                         2006    13619.2                   49293.0

                               TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                       0.0
                         2003                                       0.0

In [231]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df=df.set_index(['ID','Year'])

KeyError: 'MNAME'

In [233]:
# keep only the numeric columns -- the estimation will give an error otherwise
df = df.select_dtypes(include=[np.number])

In [234]:
# create a log of all fields
for col in df.columns:
    df[col+'_log'] = np.log(df[col]+1)

In [235]:
# Test TNC ramp up

df['YEARS_SINCE_TNC_BUS_2'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_BUS_3'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_BUS_4'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_BUS_5'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 5))

df['YEARS_SINCE_TNC_RAIL_2'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_RAIL_3'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_RAIL_4'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_RAIL_5'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 5))

In [236]:
# count the first year of TNC presence
df['YEARS_SINCE_TNC_BUS2'] = df['YEARS_SINCE_TNC_BUS'] + df['TNC_FLAG_BUS']
df['YEARS_SINCE_TNC_RAIL2'] = df['YEARS_SINCE_TNC_RAIL'] + df['TNC_FLAG_RAIL']

In [237]:
## start in first year TNCs show up

df['YEARS_SINCE_TNC_BUS2_NY']  = df['YEARS_SINCE_TNC_BUS2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_BUS2_HI']  = df['YEARS_SINCE_TNC_BUS2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS2_MID'] = df['YEARS_SINCE_TNC_BUS2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS2_LOW'] = df['YEARS_SINCE_TNC_BUS2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_BUS2_HINY']   = df['YEARS_SINCE_TNC_BUS2_NY'] + df['YEARS_SINCE_TNC_BUS2_HI']
df['YEARS_SINCE_TNC_BUS2_MIDLOW'] = df['YEARS_SINCE_TNC_BUS2_MID'] + df['YEARS_SINCE_TNC_BUS2_LOW']

df['YEARS_SINCE_TNC_RAIL2_NY']  = df['YEARS_SINCE_TNC_RAIL2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_RAIL2_HI']  = df['YEARS_SINCE_TNC_RAIL2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL2_MID'] = df['YEARS_SINCE_TNC_RAIL2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL2_LOW'] = df['YEARS_SINCE_TNC_RAIL2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_RAIL2_HINY']   = df['YEARS_SINCE_TNC_RAIL2_NY'] + df['YEARS_SINCE_TNC_RAIL2_HI']
df['YEARS_SINCE_TNC_RAIL2_MIDLOW'] = df['YEARS_SINCE_TNC_RAIL2_MID'] + df['YEARS_SINCE_TNC_RAIL2_LOW']

In [238]:
## BIKE SHARE SEGMENTATION

df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']
df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']

df['BIKE_SHARE_HINY']   = df['BIKE_SHARE_NY'] + df['BIKE_SHARE_HI']
df['BIKE_SHARE_MIDLOW'] = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']
df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']

df['scooter_flag_HINY']   = df['scooter_flag_NY'] + df['scooter_flag_HI']
df['scooter_flag_MIDLOW'] = df['scooter_flag_MID'] + df['scooter_flag_LOW']

## Model Estimation

In [80]:
# base model 1 from 9-5
### preferred model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6305
Estimator:                   PanelOLS   R-squared (Between):              0.9641
No. Observations:                4145   R-squared (Within):               0.6305
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9647
Time:                        02:47:07   Log-likelihood                    1321.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      549.04
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             549.04
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8058     0.0126     63.824     0.0000      0.7810      0.8305
FARE_per_UPT_2018_log           -0.6539     0.0200    -32.769     0.0000     -0.6931     -0.6148
POP_EMP_log                      0.1297     0.0530     2.4490     0.0144      0.0259      0.2336
GAS_PRICE_2018_log               0.2377     0.0247     9.6054     0.0000      0.1892      0.2862
TOTAL_MED_INC_INDIV_2018_log    -0.3607     0.0526    -6.8545     0.0000     -0.4639     -0.2575
PCT_HH_NO_VEH                    0.0074     0.0030     2.4553     0.0141      0.0015      0.0133
WEIGHTED_POP_DENSITY_log         1.0443     0.1535     6.8045     0.0000      0.7434      1.3452
JTW_HOME_PCT                    -0.0004     0.0039    -0.0907     0.9277     -0.0080      0.0073
YEARS_SINCE_TNC_BUS             -0.0240     0.0041    -5.8126     0.0000     -0.0320     -0.0159
YEARS_SINCE_TNC_RAIL            -0.0105     0.0054    -1.9480     0.0515     -0.0212   6.806e-05
BIKE_SHARE                       0.0054     0.0128     0.4202     0.6744     -0.0198      0.0305
scooter_flag                    -0.0631     0.0258    -2.4410     0.0147     -0.1137     -0.0124
================================================================================================

F-test for Poolability: 112.44
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [87]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOT_EMP_TSD_TRACTS',
 'TOT_EMP_ALL_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_EMP_PCT_LEHD',
 'TSD_EMP_PCT_CBSA',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOT_EMP_TSD_TRACTS_log',
 'TOT_EMP_ALL_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_EMP_PCT_LEHD_log',
 'TSD_EMP_PCT_CBSA_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW']

In [88]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6321
Estimator:                   PanelOLS   R-squared (Between):              0.7418
No. Observations:                4033   R-squared (Within):               0.6321
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.7440
Time:                        11:11:34   Log-likelihood                    1294.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      538.03
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(12,3757)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             538.03
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3757)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8148     0.0125     65.092     0.0000      0.7903      0.8393
FARE_per_UPT_2018_log           -0.6945     0.0207    -33.562     0.0000     -0.7351     -0.6539
TSD_EMP_PCT_LEHD                 0.0017     0.0010     1.6487     0.0993     -0.0003      0.0036
GAS_PRICE_2018_log               0.2448     0.0246     9.9683     0.0000      0.1967      0.2930
TOTAL_MED_INC_INDIV_2018_log    -0.4365     0.0523    -8.3383     0.0000     -0.5391     -0.3339
PCT_HH_NO_VEH                    0.0048     0.0030     1.5601     0.1188     -0.0012      0.0107
TSD_POP_PCT_LEHD                 0.0022     0.0013     1.7564     0.0791     -0.0003      0.0047
JTW_HOME_PCT                     0.0034     0.0039     0.8735     0.3824     -0.0042      0.0110
YEARS_SINCE_TNC_BUS             -0.0116     0.0040    -2.9202     0.0035     -0.0194     -0.0038
YEARS_SINCE_TNC_RAIL             0.0007     0.0053     0.1309     0.8958     -0.0097      0.0110
BIKE_SHARE                       0.0132     0.0128     1.0361     0.3002     -0.0118      0.0383
scooter_flag                    -0.0500     0.0256    -1.9497     0.0513     -0.1003      0.0003
================================================================================================

F-test for Poolability: 129.67
P-value: 0.0000
Distribution: F(263,3757)

Included effects: Entity

In [89]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250 \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TSD_POP_PCT_LEHD \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6323
Estimator:                   PanelOLS   R-squared (Between):              0.7381
No. Observations:                4033   R-squared (Within):               0.6323
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.7404
Time:                        11:11:41   Log-likelihood                    1295.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      496.90
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             496.90
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8174     0.0127     64.567     0.0000      0.7925      0.8422
FARE_per_UPT_2018_log           -0.6927     0.0207    -33.409     0.0000     -0.7333     -0.6520
TSD_EMP_PCT_LEHD                 0.0016     0.0010     1.6216     0.1050     -0.0003      0.0036
TSD_POP_WAGE_UNDER_1250          0.0065     0.0048     1.3532     0.1761     -0.0029      0.0158
GAS_PRICE_2018_log               0.2544     0.0256     9.9552     0.0000      0.2043      0.3045
TOTAL_MED_INC_INDIV_2018_log    -0.4477     0.0530    -8.4482     0.0000     -0.5516     -0.3438
PCT_HH_NO_VEH                    0.0043     0.0031     1.3908     0.1644     -0.0017      0.0103
TSD_POP_PCT_LEHD                 0.0009     0.0016     0.5251     0.5996     -0.0023      0.0040
JTW_HOME_PCT                     0.0038     0.0039     0.9634     0.3354     -0.0039      0.0114
YEARS_SINCE_TNC_BUS             -0.0095     0.0043    -2.2293     0.0259     -0.0178     -0.0011
YEARS_SINCE_TNC_RAIL             0.0030     0.0056     0.5444     0.5862     -0.0079      0.0139
BIKE_SHARE                       0.0139     0.0128     1.0868     0.2772     -0.0112      0.0390
scooter_flag                    -0.0521     0.0257    -2.0269     0.0427     -0.1024     -0.0017
================================================================================================

F-test for Poolability: 129.58
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [90]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250 \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6323
Estimator:                   PanelOLS   R-squared (Between):              0.7383
No. Observations:                4033   R-squared (Within):               0.6323
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.7406
Time:                        11:11:43   Log-likelihood                    1295.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      538.38
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(12,3757)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             538.38
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3757)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8184     0.0125     65.429     0.0000      0.7939      0.8429
FARE_per_UPT_2018_log           -0.6922     0.0207    -33.418     0.0000     -0.7329     -0.6516
TSD_EMP_PCT_LEHD                 0.0019     0.0009     2.0639     0.0391   9.351e-05      0.0036
TSD_POP_WAGE_UNDER_1250          0.0080     0.0037     2.1546     0.0313      0.0007      0.0153
GAS_PRICE_2018_log               0.2562     0.0253     10.128     0.0000      0.2066      0.3058
TOTAL_MED_INC_INDIV_2018_log    -0.4491     0.0529    -8.4854     0.0000     -0.5528     -0.3453
PCT_HH_NO_VEH                    0.0042     0.0031     1.3691     0.1711     -0.0018      0.0102
JTW_HOME_PCT                     0.0038     0.0039     0.9759     0.3292     -0.0038      0.0114
YEARS_SINCE_TNC_BUS             -0.0089     0.0041    -2.1697     0.0301     -0.0169     -0.0009
YEARS_SINCE_TNC_RAIL             0.0038     0.0054     0.6972     0.4857     -0.0068      0.0143
BIKE_SHARE                       0.0141     0.0128     1.1023     0.2704     -0.0110      0.0391
scooter_flag                    -0.0527     0.0257    -2.0537     0.0401     -0.1030     -0.0024
================================================================================================

F-test for Poolability: 129.79
P-value: 0.0000
Distribution: F(263,3757)

Included effects: Entity

In [91]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250 \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)
#total population and employment
#emoloyment at TSDs, and density of low-wage population on ridership
#after including POP_EMP_log, coeff on TSD_POP_WAGE_UNDER_1250 jumps up
#Should carry this model forward

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6354
Estimator:                   PanelOLS   R-squared (Between):              0.9486
No. Observations:                4033   R-squared (Within):               0.6354
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9489
Time:                        11:11:49   Log-likelihood                    1312.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      503.47
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             503.47
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8054     0.0127     63.562     0.0000      0.7805      0.8302
POP_EMP_log                      0.2945     0.0523     5.6306     0.0000      0.1919      0.3970
FARE_per_UPT_2018_log           -0.6901     0.0206    -33.442     0.0000     -0.7305     -0.6496
TSD_EMP_PCT_LEHD                 0.0022     0.0009     2.4041     0.0163      0.0004      0.0039
TSD_POP_WAGE_UNDER_1250          0.0121     0.0038     3.2113     0.0013      0.0047      0.0195
GAS_PRICE_2018_log               0.2341     0.0255     9.1804     0.0000      0.1841      0.2841
TOTAL_MED_INC_INDIV_2018_log    -0.3981     0.0535    -7.4445     0.0000     -0.5030     -0.2933
PCT_HH_NO_VEH                    0.0058     0.0031     1.8811     0.0600     -0.0002      0.0118
JTW_HOME_PCT                    -0.0004     0.0040    -0.1087     0.9134     -0.0082      0.0073
YEARS_SINCE_TNC_BUS             -0.0140     0.0042    -3.3659     0.0008     -0.0222     -0.0059
YEARS_SINCE_TNC_RAIL             0.0011     0.0054     0.2084     0.8349     -0.0094      0.0117
BIKE_SHARE                       0.0074     0.0128     0.5786     0.5629     -0.0177      0.0324
scooter_flag                    -0.0522     0.0256    -2.0416     0.0413     -0.1023     -0.0021
================================================================================================

F-test for Poolability: 110.73
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [92]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6346
Estimator:                   PanelOLS   R-squared (Between):              0.9390
No. Observations:                4033   R-squared (Within):               0.6346
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9394
Time:                        11:13:00   Log-likelihood                    1308.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      501.83
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             501.83
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8024     0.0127     63.076     0.0000      0.7774      0.8273
POP_EMP_log                        0.2647     0.0514     5.1497     0.0000      0.1639      0.3654
FARE_per_UPT_2018_log             -0.6936     0.0206    -33.627     0.0000     -0.7340     -0.6532
TSD_EMP_PCT_LEHD                   0.0025     0.0010     2.4710     0.0135      0.0005      0.0044
TSD_POP_WAGE_UNDER_1250_PCT_RA     0.0020     0.0013     1.5887     0.1122     -0.0005      0.0045
GAS_PRICE_2018_log                 0.2195     0.0250     8.7737     0.0000      0.1704      0.2685
TOTAL_MED_INC_INDIV_2018_log      -0.3810     0.0532    -7.1638     0.0000     -0.4853     -0.2767
PCT_HH_NO_VEH                      0.0065     0.0031     2.1252     0.0336      0.0005      0.0125
JTW_HOME_PCT                      -0.0007     0.0040    -0.1732     0.8625     -0.0084      0.0071
YEARS_SINCE_TNC_BUS               -0.0172     0.0041    -4.1949     0.0000     -0.0253     -0.0092
YEARS_SINCE_TNC_RAIL              -0.0027     0.0053    -0.5000     0.6171     -0.0131      0.0078
BIKE_SHARE                         0.0071     0.0128     0.5529     0.5804     -0.0180      0.0322
scooter_flag                      -0.0482     0.0256    -1.8848     0.0595     -0.0983      0.0019
==================================================================================================

F-test for Poolability: 110.43
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [242]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOT_EMP_TSD_TRACTS',
 'TOT_EMP_ALL_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_EMP_PCT_LEHD',
 'TSD_EMP_PCT_CBSA',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'UBER_NET_REVENUE',
 'UBER_REV_SCALED',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOT_EMP_TSD_TRACTS_log',
 'TOT_EMP_ALL_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_EMP_PCT_LEHD_log',
 'TSD_EMP_PCT_CBSA_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'UBER_NET_REVENUE_log',
 'UBER_REV_SCALED_log',
 'UBER_REV_SCALED_BUS',
 'UBER_REV_SCALED_RAIL',
 'UBER_REV_SCALED_BUS_HI',
 'UBER_REV_SCALED_BUS_MID',
 'UBER_REV_SCALED_BUS_LOW',
 'UBER_REV_SCALED_BUS_NY',
 'UBER_REV_SCALED_RAIL_HI',
 'UBER_REV_SCALED_RAIL_MID',
 'UBER_REV_SCALED_RAIL_LOW',
 'UBER_REV_SCALED_RAIL_NY',
 'UBER_REV_SCALED_BUS_HINY',
 'UBER_REV_SCALED_RAIL_HINY',
 'UBER_REV_SCALED_BUS_MIDLOW',
 'UBER_REV_SCALED_RAIL_MIDLOW',
 'CBSA_log_log',
 'UPT_ADJ_log_log',
 'VRM_ADJ_log_log',
 'FARE_ADJ_log_log',
 'min_year_log_log',
 'max_year_log_log',
 'FARE_per_UPT_log_log',
 'PROBLEM_FLAG_log_log',
 'PROBLEM_FLAG2_log_log',
 'Tot_Pop_log_log',
 'Tot_Instate_Pop_log_log',
 'Tot_Outstate_Pop_log_log',
 'Tot_NonUSA_POP_log_log',
 'Total_Median_Income_Individual_log_log',
 'Native_Instate_Med_Inc_Indiv_log_log',
 'Native_Outstate_Med_Inc_Indiv_log_log',
 'Total_Pop_Poverty_log_log',
 'Pop_Below100_Poverty_log_log',
 'Pop_Below150_Poverty_log_log',
 'Pop_Above150_Poverty_log_log',
 'Age_under18_log_log',
 'Age_18to64_log_log',
 'Age_over64_log_log',
 'Total_HH_log_log',
 'HH_0Veh_log_log',
 'HH_1Veh_log_log',
 'HH_2Veh_log_log',
 'HH_3Veh_log_log',
 'HH_4+Veh_log_log',
 'PCT_HH_NO_VEH_log_log',
 'HH_MED_INC_log_log',
 'HH_MEAN_INC_log_log',
 'INC_U35_log_log',
 'INC_35_100_log_log',
 'INC_100P_log_log',
 'TOT_UNEMP_MSA_log_log',
 'TOT_EMP_MSA_log_log',
 'TOT_LABOR_MSA_log_log',
 'UNEMP_RATE_PCT_log_log',
 'EMP_RATE_PCT_log_log',
 'GasPrice_log_log',
 'Area_acre_log_log',
 'POP_CENSUSTRACT_log_log',
 'AVG_SPEED_log_log',
 '2018_Dollar_Multiplier_log_log',
 'TNC_ARRIVAL_log_log',
 'TNC_FLAG_log_log',
 'YEARS_SINCE_TNC_log_log',
 'FARE_ADJ_2018_log_log',
 'TOTAL_MED_INC_INDIV_2018_log_log',
 'NATIVE_INSTATE_MED_INC_2018_log_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log_log',
 'HH_MED_INC_2018_log_log',
 'HH_MEAN_INC_2018_log_log',
 'GAS_PRICE_2018_log_log',
 'dockCt_log_log',
 'docklessCt_log_log',
 'scooterCt_log_log',
 'PBS_Start_log_log',
 'PBS_End_log_log',
 'PBS_Flag_log_log',
 'walkscore_log_log',
 'transit_log_log',
 'bike_log_log',
 'CLUSTER_GT_NEW_11_log_log',
 'CLUSTER_GT_ORIGINAL_log_log',
 'CLUSTER_APTA_log_log',
 'JTW_DA_PCT_log_log',
 'JTW_CARPOOLED_PCT_log_log',
 'JTW_TRANSIT_PCT_log_log',
 'JTW_WALK_PCT_log_log',
 'JTW_BICYCLE_PCT_log_log',
 'JTW_OTHER_PCT_log_log',
 'JTW_HOME_PCT_log_log',
 'FARE_per_UPT_2018_log_log',
 'WEIGHTED_POP_DENSITY_log_log',
 'CLUSTER_APTA_EXTENDED_log_log',
 'CBSA Code_log_log',
 'TOT_EMP_TSD_TRACTS_log_log',
 'TOT_EMP_ALL_TRACTS_log_log',
 'TOTAL_JOBS_RA_TRACTS_log_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log_log',
 'AREA_ACRE_log_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log_log',
 'TSD_EMP_PCT_LEHD_log_log',
 'TSD_EMP_PCT_CBSA_log_log',
 'TSD_POP_PCT_LEHD_log_log',
 'TSD_POP_PCT_CBSA_log_log',
 'TSD_POP_WAGE_UNDER_1250_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_log_log',
 'TSD_POP_WAGE_UNDER_3333_log_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log_log',
 'MAINTENANCE_log_log',
 'MAINTENANCE_NYC_log_log',
 'MAINTENANCE_WMATA_log_log',
 'RESTRUCTURE_log_log',
 'Mechanical_Failures_log_log',
 'Other_Failures_log_log',
 'Total_Failures_log_log',
 'MDBF_Mechanical_log_log',
 'MDBF_Total_log_log',
 'PBS_Flag_Update_log_log',
 'CLUSTER_APTA4_log_log',
 'YearDiff_log_log',
 'BUS_FLAG_log_log',
 'RAIL_FLAG_log_log',
 'POP_EMP_log_log',
 'HH_EMP_log_log',
 'Tot_NonUSA_POP_pct_log_log',
 'YEARS_SINCE_2002_log_log',
 'YEARS_2002_2010_log_log',
 'YEARS_AFTER_2010_log_log',
 'YEARS_2002_2014_log_log',
 'YEARS_AFTER_2014_log_log',
 'YEARS_SINCE_2002_BUS_log_log',
 'YEARS_SINCE_2002_RAIL_log_log',
 'YEARS_2002_2010_BUS_log_log',
 'YEARS_AFTER_2010_BUS_log_log',
 'YEARS_2002_2010_RAIL_log_log',
 'YEARS_AFTER_2010_RAIL_log_log',
 'YEARS_2002_2014_BUS_log_log',
 'YEARS_AFTER_2014_BUS_log_log',
 'YEARS_2002_2014_RAIL_log_log',
 'YEARS_AFTER_2014_RAIL_log_log',
 'YEARS_AFTER_2012_log_log',
 'TNC_YEARS_AFTER_2012_log_log',
 'TNC_YEARS_AFTER_2012_BUS_log_log',
 'TNC_YEARS_AFTER_2012_RAIL_log_log',
 'YEARS_SINCE_RAIL_START_log_log',
 'YEARS_SINCE_RAIL_START_1_log_log',
 'YEARS_SINCE_RAIL_START_2_log_log',
 'YEARS_SINCE_RAIL_START_3_log_log',
 'TNC_FLAG_BUS_log_log',
 'TNC_FLAG_RAIL_log_log',
 'YEARS_SINCE_TNC_BUS_log_log',
 'YEARS_SINCE_TNC_RAIL_log_log',
 'dockless_flag_log_log',
 'scooter_flag_log_log',
 'BIKE_SHARE_log_log',
 'PBS_Flag_BUS_log_log',
 'dockCt_BUS_log_log',
 'docklessCt_BUS_log_log',
 'scooterCt_BUS_log_log',
 'dockless_flag_BUS_log_log',
 'scooter_flag_BUS_log_log',
 'BIKE_SHARE_BUS_log_log',
 'PBS_Flag_RAIL_log_log',
 'dockCt_RAIL_log_log',
 'docklessCt_RAIL_log_log',
 'scooterCt_RAIL_log_log',
 'dockless_flag_RAIL_log_log',
 'scooter_flag_RAIL_log_log',
 'BIKE_SHARE_RAIL_log_log',
 'BIKE_SCOOTER_RAIL_log_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log_log',
 'BIKE_SCOOTER_BUS_log_log',
 'BIKE_OR_SCOOTER_BUS_log_log',
 'BIKE_OR_SCOOTER_RAIL_log_log',
 'AVG_VEHS_log_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log_log',
 'JTW_WALK_BIKE_PCT_log_log',
 'VRM_ADJ_BUS_log_log',
 'VRM_ADJ_RAIL_log_log',
 'MDBF_Mechanical_RAIL_log_log',
 'MDBF_Mechanical_BUS_log_log',
 'MDBF_Total_RAIL_log_log',
 'MDBF_Total_BUS_log_log',
 'HI_OPEX_log_log',
 'MID_OPEX_log_log',
 'LOW_OPEX_log_log',
 'NEW_YORK_log_log',
 'YEARS_SINCE_TNC_BUS_HI_log_log',
 'YEARS_SINCE_TNC_BUS_MID_log_log',
 'YEARS_SINCE_TNC_BUS_LOW_log_log',
 'YEARS_SINCE_TNC_BUS_NY_log_log',
 'YEARS_SINCE_TNC_RAIL_HI_log_log',
 'YEARS_SINCE_TNC_RAIL_MID_log_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log_log',
 'YEARS_SINCE_TNC_RAIL_NY_log_log',
 'YEARS_SINCE_TNC_BUS_HINY_log_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log_log',
 'BIKE_SHARE_HI_log_log',
 'BIKE_SHARE_MID_log_log',
 'BIKE_SHARE_LOW_log_log',
 'BIKE_SHARE_NY_log_log',
 'scooter_flag_HI_log_log',
 'scooter_flag_MID_log_log',
 'scooter_flag_LOW_log_log',
 'scooter_flag_NY_log_log',
 'BIKE_SHARE_HINY_log_log',
 'BIKE_SHARE_MIDLOW_log_log',
 'scooter_flag_HINY_log_log',
 'scooter_flag_MIDLOW_log_log',
 'UBER_NET_REVENUE_log_log',
 'UBER_REV_SCALED_log_log',
 'UBER_REV_SCALED_BUS_log',
 'UBER_REV_SCALED_RAIL_log',
 'UBER_REV_SCALED_BUS_HI_log',
 'UBER_REV_SCALED_BUS_MID_log',
 'UBER_REV_SCALED_BUS_LOW_log',
 'UBER_REV_SCALED_BUS_NY_log',
 'UBER_REV_SCALED_RAIL_HI_log',
 'UBER_REV_SCALED_RAIL_MID_log',
 'UBER_REV_SCALED_RAIL_LOW_log',
 'UBER_REV_SCALED_RAIL_NY_log',
 'UBER_REV_SCALED_BUS_HINY_log',
 'UBER_REV_SCALED_RAIL_HINY_log',
 'UBER_REV_SCALED_BUS_MIDLOW_log',
 'UBER_REV_SCALED_RAIL_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW']

In [243]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + UBER_REV_SCALED_BUS_HINY \
                    + UBER_REV_SCALED_BUS_MIDLOW \
                    + UBER_REV_SCALED_RAIL_HINY \
                    + UBER_REV_SCALED_RAIL_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6350
Estimator:                   PanelOLS   R-squared (Between):              0.9253
No. Observations:                4033   R-squared (Within):               0.6350
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9258
Time:                        12:31:42   Log-likelihood                    1309.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      435.31
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(15,3754)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             435.31
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3754)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8005     0.0126     63.381     0.0000      0.7757      0.8252
POP_EMP_log                        0.2392     0.0503     4.7565     0.0000      0.1406      0.3379
FARE_per_UPT_2018_log             -0.6960     0.0206    -33.733     0.0000     -0.7364     -0.6555
TSD_EMP_PCT_LEHD                   0.0026     0.0010     2.6652     0.0077      0.0007      0.0046
TSD_POP_WAGE_UNDER_1250_PCT_RA     0.0017     0.0013     1.3220     0.1862     -0.0008      0.0042
GAS_PRICE_2018_log                 0.2332     0.0244     9.5606     0.0000      0.1854      0.2810
TOTAL_MED_INC_INDIV_2018_log      -0.3849     0.0532    -7.2364     0.0000     -0.4891     -0.2806
PCT_HH_NO_VEH                      0.0066     0.0031     2.1648     0.0305      0.0006      0.0126
JTW_HOME_PCT                      -0.0029     0.0039    -0.7468     0.4552     -0.0105      0.0047
UBER_REV_SCALED_BUS_HINY        -7.95e-05  6.031e-05    -1.3181     0.1875     -0.0002   3.875e-05
UBER_REV_SCALED_BUS_MIDLOW        -0.0018     0.0005    -3.8083     0.0001     -0.0027     -0.0009
UBER_REV_SCALED_RAIL_HINY          0.0001  6.076e-05     1.6560     0.0978  -1.851e-05      0.0002
UBER_REV_SCALED_RAIL_MIDLOW        0.0005     0.0007     0.7134     0.4757     -0.0009      0.0019
BIKE_SHARE                        -0.0048     0.0120    -0.4052     0.6853     -0.0283      0.0186
scooter_flag                      -0.0595     0.0267    -2.2318     0.0257     -0.1118     -0.0072
==================================================================================================

F-test for Poolability: 110.81
P-value: 0.0000
Distribution: F(263,3754)

Included effects: Entity

In [93]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6346
Estimator:                   PanelOLS   R-squared (Between):              0.9235
No. Observations:                4033   R-squared (Within):               0.6346
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9240
Time:                        11:13:35   Log-likelihood                    1307.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      501.74
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             501.74
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8024     0.0127     63.073     0.0000      0.7774      0.8273
POP_EMP_log                        0.2467     0.0511     4.8268     0.0000      0.1465      0.3470
FARE_per_UPT_2018_log             -0.6925     0.0206    -33.578     0.0000     -0.7329     -0.6520
TSD_POP_PCT_LEHD                   0.0179     0.0075     2.3820     0.0173      0.0032      0.0326
TSD_POP_WAGE_UNDER_1250_PCT_RA    -0.0144     0.0077    -1.8695     0.0616     -0.0295      0.0007
GAS_PRICE_2018_log                 0.2142     0.0252     8.5007     0.0000      0.1648      0.2636
TOTAL_MED_INC_INDIV_2018_log      -0.3930     0.0532    -7.3845     0.0000     -0.4974     -0.2887
PCT_HH_NO_VEH                      0.0066     0.0031     2.1422     0.0322      0.0006      0.0125
JTW_HOME_PCT                      -0.0006     0.0040    -0.1409     0.8879     -0.0083      0.0072
YEARS_SINCE_TNC_BUS               -0.0177     0.0041    -4.3190     0.0000     -0.0257     -0.0096
YEARS_SINCE_TNC_RAIL              -0.0036     0.0053    -0.6709     0.5023     -0.0140      0.0068
BIKE_SHARE                         0.0061     0.0128     0.4764     0.6338     -0.0190      0.0312
scooter_flag                      -0.0505     0.0256    -1.9711     0.0488     -0.1007     -0.0003
==================================================================================================

F-test for Poolability: 112.46
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [94]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250_PCT_TSD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6354
Estimator:                   PanelOLS   R-squared (Between):              0.8959
No. Observations:                4033   R-squared (Within):               0.6354
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.8966
Time:                        11:15:00   Log-likelihood                    1312.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      503.56
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             503.56
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                        Parameter Estimates
===================================================================================================
                                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------------------
VRM_ADJ_log                         0.7952     0.0128     61.908     0.0000      0.7700      0.8204
POP_EMP_log                         0.1841     0.0545     3.3761     0.0007      0.0772      0.2910
FARE_per_UPT_2018_log              -0.6957     0.0206    -33.743     0.0000     -0.7362     -0.6553
TSD_POP_PCT_LEHD                    0.0041     0.0010     3.9421     0.0001      0.0020      0.0061
TSD_POP_WAGE_UNDER_1250_PCT_TSD    -0.0054     0.0015    -3.4868     0.0005     -0.0084     -0.0024
GAS_PRICE_2018_log                  0.2084     0.0252     8.2715     0.0000      0.1590      0.2578
TOTAL_MED_INC_INDIV_2018_log       -0.3536     0.0540    -6.5448     0.0000     -0.4595     -0.2476
PCT_HH_NO_VEH                       0.0064     0.0031     2.0921     0.0365      0.0004      0.0124
JTW_HOME_PCT                       -0.0027     0.0040    -0.6698     0.5030     -0.0105      0.0052
YEARS_SINCE_TNC_BUS                -0.0229     0.0043    -5.3548     0.0000     -0.0313     -0.0145
YEARS_SINCE_TNC_RAIL               -0.0063     0.0054    -1.1816     0.2375     -0.0168      0.0042
BIKE_SHARE                          0.0069     0.0128     0.5391     0.5899     -0.0182      0.0319
scooter_flag                       -0.0415     0.0256    -1.6233     0.1046     -0.0917      0.0086
===================================================================================================

F-test for Poolability: 116.07
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [95]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_BETN_1250_3333_PCT_TSD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9189
No. Observations:                4033   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9195
Time:                        11:15:41   Log-likelihood                    1307.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      501.43
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             501.43
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                          Parameter Estimates
=======================================================================================================
                                     Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------------
VRM_ADJ_log                             0.8003     0.0128     62.674     0.0000      0.7752      0.8253
POP_EMP_log                             0.2340     0.0525     4.4547     0.0000      0.1310      0.3370
FARE_per_UPT_2018_log                  -0.6940     0.0207    -33.604     0.0000     -0.7345     -0.6535
TSD_POP_PCT_LEHD                        0.0038     0.0010     3.6695     0.0002      0.0018      0.0059
TSD_POP_WAGE_BETN_1250_3333_PCT_TSD    -0.0025     0.0018    -1.4130     0.1577     -0.0060      0.0010
GAS_PRICE_2018_log                      0.2156     0.0252     8.5489     0.0000      0.1661      0.2650
TOTAL_MED_INC_INDIV_2018_log           -0.3776     0.0537    -7.0309     0.0000     -0.4828     -0.2723
PCT_HH_NO_VEH                           0.0061     0.0031     1.9841     0.0473   7.182e-05      0.0121
JTW_HOME_PCT                           -0.0014     0.0040    -0.3473     0.7284     -0.0092      0.0064
YEARS_SINCE_TNC_BUS                    -0.0202     0.0043    -4.7104     0.0000     -0.0285     -0.0118
YEARS_SINCE_TNC_RAIL                   -0.0053     0.0055    -0.9773     0.3285     -0.0161      0.0054
BIKE_SHARE                              0.0047     0.0129     0.3601     0.7188     -0.0207      0.0300
scooter_flag                           -0.0479     0.0256    -1.8732     0.0611     -0.0980      0.0022
=======================================================================================================

F-test for Poolability: 108.16
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [96]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_3333_PCT_TSD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6354
Estimator:                   PanelOLS   R-squared (Between):              0.8865
No. Observations:                4033   R-squared (Within):               0.6354
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.8873
Time:                        11:16:05   Log-likelihood                    1312.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      503.59
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             503.59
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                        Parameter Estimates
===================================================================================================
                                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------------------
VRM_ADJ_log                         0.7944     0.0129     61.674     0.0000      0.7691      0.8196
POP_EMP_log                         0.1732     0.0557     3.1121     0.0019      0.0641      0.2823
FARE_per_UPT_2018_log              -0.6973     0.0206    -33.780     0.0000     -0.7378     -0.6568
TSD_POP_PCT_LEHD                    0.0038     0.0010     3.6668     0.0002      0.0018      0.0058
TSD_POP_WAGE_UNDER_3333_PCT_TSD    -0.0040     0.0011    -3.5070     0.0005     -0.0063     -0.0018
GAS_PRICE_2018_log                  0.2038     0.0254     8.0223     0.0000      0.1540      0.2536
TOTAL_MED_INC_INDIV_2018_log       -0.3453     0.0545    -6.3363     0.0000     -0.4521     -0.2384
PCT_HH_NO_VEH                       0.0060     0.0031     1.9720     0.0487   3.466e-05      0.0120
JTW_HOME_PCT                       -0.0034     0.0040    -0.8407     0.4005     -0.0113      0.0045
YEARS_SINCE_TNC_BUS                -0.0247     0.0045    -5.5387     0.0000     -0.0334     -0.0160
YEARS_SINCE_TNC_RAIL               -0.0086     0.0055    -1.5722     0.1160     -0.0194      0.0021
BIKE_SHARE                          0.0030     0.0128     0.2329     0.8158     -0.0222      0.0281
scooter_flag                       -0.0438     0.0256    -1.7135     0.0867     -0.0939      0.0063
===================================================================================================

F-test for Poolability: 112.30
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [45]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250 \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + MDBF_Mechanical_log \
                    + scooter_flag \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6354
Estimator:                   PanelOLS   R-squared (Between):              0.9485
No. Observations:                4033   R-squared (Within):               0.6354
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9488
Time:                        10:58:56   Log-likelihood                    1312.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      408.86
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(16,3753)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             408.86
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3753)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8087     0.0128     63.357     0.0000      0.7836      0.8337
POP_EMP_log                      0.2971     0.0534     5.5647     0.0000      0.1924      0.4018
FARE_per_UPT_2018_log           -0.6946     0.0208    -33.452     0.0000     -0.7353     -0.6539
TSD_EMP_PCT_LEHD                 0.0018     0.0009     2.0001     0.0456   3.611e-05      0.0036
TSD_POP_WAGE_UNDER_1250          0.0133     0.0038     3.4902     0.0005      0.0058      0.0208
GAS_PRICE_2018_log               0.2279     0.0266     8.5554     0.0000      0.1756      0.2801
TOTAL_MED_INC_INDIV_2018_log    -0.4011     0.0536    -7.4780     0.0000     -0.5062     -0.2959
PCT_HH_NO_VEH                    0.0055     0.0031     1.7967     0.0725     -0.0005      0.0115
JTW_HOME_PCT                    -0.0002     0.0040    -0.0522     0.9584     -0.0081      0.0076
YEARS_SINCE_TNC_BUS2_HINY       -0.0025     0.0050    -0.4916     0.6230     -0.0123      0.0073
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0107     0.0037    -2.9057     0.0037     -0.0179     -0.0035
YEARS_SINCE_TNC_RAIL2_HINY       0.0046     0.0051     0.9169     0.3592     -0.0053      0.0146
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0085     0.0071    -1.1921     0.2333     -0.0224      0.0055
BIKE_SHARE                       0.0013     0.0129     0.0998     0.9205     -0.0241      0.0266
MDBF_Mechanical_log             -0.0040     0.0029    -1.3756     0.1690     -0.0097      0.0017
scooter_flag                    -0.0638     0.0252    -2.5272     0.0115     -0.1132     -0.0143
================================================================================================

F-test for Poolability: 109.36
P-value: 0.0000
Distribution: F(263,3753)

Included effects: Entity

In [97]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_BETN_1250_3333_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6346
Estimator:                   PanelOLS   R-squared (Between):              0.9368
No. Observations:                4033   R-squared (Within):               0.6346
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9371
Time:                        11:16:31   Log-likelihood                    1307.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      501.74
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             501.74
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                         Parameter Estimates
======================================================================================================
                                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------------
VRM_ADJ_log                            0.8035     0.0127     63.026     0.0000      0.7785      0.8285
POP_EMP_log                            0.2741     0.0525     5.2225     0.0000      0.1712      0.3770
FARE_per_UPT_2018_log                 -0.6934     0.0206    -33.615     0.0000     -0.7338     -0.6529
TSD_POP_PCT_LEHD                       0.0174     0.0073     2.3978     0.0165      0.0032      0.0316
TSD_POP_WAGE_BETN_1250_3333_PCT_RA    -0.0147     0.0079    -1.8678     0.0619     -0.0301      0.0007
GAS_PRICE_2018_log                     0.2180     0.0250     8.7141     0.0000      0.1689      0.2670
TOTAL_MED_INC_INDIV_2018_log          -0.3919     0.0532    -7.3661     0.0000     -0.4962     -0.2876
PCT_HH_NO_VEH                          0.0064     0.0031     2.0930     0.0364      0.0004      0.0124
JTW_HOME_PCT                          -0.0003     0.0040    -0.0677     0.9460     -0.0080      0.0075
YEARS_SINCE_TNC_BUS                   -0.0178     0.0041    -4.3564     0.0000     -0.0258     -0.0098
YEARS_SINCE_TNC_RAIL                  -0.0043     0.0053    -0.8003     0.4236     -0.0147      0.0062
BIKE_SHARE                             0.0075     0.0128     0.5848     0.5587     -0.0176      0.0326
scooter_flag                          -0.0495     0.0256    -1.9337     0.0532     -0.0997      0.0007
======================================================================================================

F-test for Poolability: 114.66
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [47]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_1250 \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6353
Estimator:                   PanelOLS   R-squared (Between):              0.9512
No. Observations:                4033   R-squared (Within):               0.6353
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9515
Time:                        10:59:24   Log-likelihood                    1311.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      408.62
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(16,3753)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             408.62
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3753)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8088     0.0129     62.926     0.0000      0.7836      0.8340
POP_EMP_log                      0.3052     0.0537     5.6799     0.0000      0.1998      0.4105
FARE_per_UPT_2018_log           -0.6916     0.0207    -33.417     0.0000     -0.7322     -0.6510
TSD_EMP_PCT_LEHD                 0.0022     0.0010     2.1141     0.0346      0.0002      0.0041
TSD_POP_PCT_LEHD                -0.0012     0.0017    -0.7306     0.4651     -0.0045      0.0021
TSD_POP_WAGE_UNDER_1250          0.0154     0.0050     3.0661     0.0022      0.0055      0.0252
GAS_PRICE_2018_log               0.2294     0.0269     8.5432     0.0000      0.1767      0.2820
TOTAL_MED_INC_INDIV_2018_log    -0.4074     0.0535    -7.6170     0.0000     -0.5123     -0.3026
PCT_HH_NO_VEH                    0.0056     0.0031     1.8230     0.0684     -0.0004      0.0116
JTW_HOME_PCT                 -7.425e-06     0.0040    -0.0019     0.9985     -0.0079      0.0078
YEARS_SINCE_TNC_BUS2_HINY       -0.0012     0.0052    -0.2327     0.8160     -0.0115      0.0091
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0103     0.0038    -2.7469     0.0060     -0.0177     -0.0030
YEARS_SINCE_TNC_RAIL2_HINY       0.0056     0.0053     1.0632     0.2878     -0.0047      0.0159
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0074     0.0071    -1.0409     0.2980     -0.0214      0.0066
BIKE_SHARE                       0.0012     0.0129     0.0926     0.9262     -0.0242      0.0266
scooter_flag                    -0.0646     0.0253    -2.5570     0.0106     -0.1142     -0.0151
================================================================================================

F-test for Poolability: 109.90
P-value: 0.0000
Distribution: F(263,3753)

Included effects: Entity

In [98]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_3333_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6349
Estimator:                   PanelOLS   R-squared (Between):              0.9330
No. Observations:                4033   R-squared (Within):               0.6349
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9334
Time:                        11:17:04   Log-likelihood                    1309.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      502.37
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             502.37
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8037     0.0127     63.114     0.0000      0.7787      0.8286
POP_EMP_log                        0.2711     0.0516     5.2522     0.0000      0.1699      0.3724
FARE_per_UPT_2018_log             -0.6932     0.0206    -33.624     0.0000     -0.7336     -0.6528
TSD_POP_PCT_LEHD                   0.0292     0.0099     2.9300     0.0034      0.0096      0.0487
TSD_POP_WAGE_UNDER_3333_PCT_RA    -0.0269     0.0106    -2.5435     0.0110     -0.0477     -0.0062
GAS_PRICE_2018_log                 0.2130     0.0251     8.4714     0.0000      0.1637      0.2623
TOTAL_MED_INC_INDIV_2018_log      -0.3962     0.0532    -7.4423     0.0000     -0.5005     -0.2918
PCT_HH_NO_VEH                      0.0066     0.0031     2.1620     0.0307      0.0006      0.0126
JTW_HOME_PCT                      -0.0002     0.0040    -0.0413     0.9671     -0.0079      0.0076
YEARS_SINCE_TNC_BUS               -0.0172     0.0041    -4.2040     0.0000     -0.0253     -0.0092
YEARS_SINCE_TNC_RAIL              -0.0043     0.0053    -0.8144     0.4155     -0.0147      0.0061
BIKE_SHARE                         0.0069     0.0128     0.5360     0.5920     -0.0182      0.0319
scooter_flag                      -0.0518     0.0256    -2.0214     0.0433     -0.1020     -0.0016
==================================================================================================

F-test for Poolability: 115.87
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [99]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_3333_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6295
Estimator:                   PanelOLS   R-squared (Between):              0.9913
No. Observations:                4033   R-squared (Within):               0.6295
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9914
Time:                        11:17:37   Log-likelihood                    1279.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      531.91
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(12,3757)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             531.91
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3757)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8040     0.0128     62.692     0.0000      0.7789      0.8292
POP_EMP_log                        0.3408     0.0511     6.6647     0.0000      0.2405      0.4411
FARE_per_UPT_2018_log             -0.6845     0.0207    -33.017     0.0000     -0.7251     -0.6438
TSD_POP_PCT_LEHD                   0.0245     0.0100     2.4518     0.0143      0.0049      0.0441
TSD_POP_WAGE_UNDER_3333_PCT_RA    -0.0223     0.0106    -2.0928     0.0364     -0.0431     -0.0014
GAS_PRICE_2018_log                 0.3061     0.0220     13.934     0.0000      0.2630      0.3491
PCT_HH_NO_VEH                      0.0116     0.0030     3.8613     0.0001      0.0057      0.0175
JTW_HOME_PCT                       0.0031     0.0040     0.7765     0.4375     -0.0047      0.0108
YEARS_SINCE_TNC_BUS               -0.0178     0.0041    -4.3066     0.0000     -0.0259     -0.0097
YEARS_SINCE_TNC_RAIL              -0.0043     0.0053    -0.7978     0.4250     -0.0148      0.0062
BIKE_SHARE                         0.0111     0.0129     0.8650     0.3871     -0.0141      0.0364
scooter_flag                      -0.0695     0.0257    -2.7073     0.0068     -0.1199     -0.0192
==================================================================================================

F-test for Poolability: 114.03
P-value: 0.0000
Distribution: F(263,3757)

Included effects: Entity

In [100]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + TSD_POP_WAGE_UNDER_3333_PCT_RA \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6352
Estimator:                   PanelOLS   R-squared (Between):              0.9396
No. Observations:                4033   R-squared (Within):               0.6352
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9400
Time:                        11:18:23   Log-likelihood                    1311.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      466.94
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(14,3755)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             466.94
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3755)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8036     0.0127     63.128     0.0000      0.7787      0.8286
POP_EMP_log                        0.2785     0.0518     5.3772     0.0000      0.1769      0.3800
FARE_per_UPT_2018_log             -0.6939     0.0206    -33.661     0.0000     -0.7343     -0.6535
TSD_EMP_PCT_LEHD                   0.0018     0.0010     1.7289     0.0839     -0.0002      0.0038
TSD_POP_PCT_LEHD                   0.0242     0.0103     2.3417     0.0192      0.0039      0.0445
TSD_POP_WAGE_UNDER_3333_PCT_RA    -0.0230     0.0108    -2.1283     0.0334     -0.0442     -0.0018
GAS_PRICE_2018_log                 0.2130     0.0251     8.4723     0.0000      0.1637      0.2622
TOTAL_MED_INC_INDIV_2018_log      -0.3907     0.0533    -7.3279     0.0000     -0.4952     -0.2861
PCT_HH_NO_VEH                      0.0067     0.0031     2.2030     0.0277      0.0007      0.0127
JTW_HOME_PCT                      -0.0003     0.0040    -0.0646     0.9485     -0.0080      0.0075
YEARS_SINCE_TNC_BUS               -0.0165     0.0041    -4.0187     0.0001     -0.0246     -0.0085
YEARS_SINCE_TNC_RAIL              -0.0037     0.0053    -0.6925     0.4886     -0.0141      0.0067
BIKE_SHARE                         0.0067     0.0128     0.5254     0.5993     -0.0183      0.0318
scooter_flag                      -0.0520     0.0256    -2.0312     0.0423     -0.1022     -0.0018
==================================================================================================

F-test for Poolability: 110.48
P-value: 0.0000
Distribution: F(263,3755)

Included effects: Entity

In [101]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6347
Estimator:                   PanelOLS   R-squared (Between):              0.9380
No. Observations:                4033   R-squared (Within):               0.6347
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9384
Time:                        11:18:59   Log-likelihood                    1308.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      502.04
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(13,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             502.04
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3756)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8021     0.0127     63.079     0.0000      0.7772      0.8271
POP_EMP_log                      0.2642     0.0514     5.1423     0.0000      0.1634      0.3649
FARE_per_UPT_2018_log           -0.6936     0.0206    -33.630     0.0000     -0.7340     -0.6531
TSD_EMP_PCT_LEHD                 0.0022     0.0010     2.2199     0.0265      0.0003      0.0042
TSD_POP_PCT_LEHD                 0.0024     0.0013     1.8773     0.0606     -0.0001      0.0049
GAS_PRICE_2018_log               0.2189     0.0250     8.7622     0.0000      0.1700      0.2679
TOTAL_MED_INC_INDIV_2018_log    -0.3827     0.0532    -7.1931     0.0000     -0.4870     -0.2784
PCT_HH_NO_VEH                    0.0065     0.0031     2.1266     0.0335      0.0005      0.0125
JTW_HOME_PCT                    -0.0007     0.0040    -0.1648     0.8691     -0.0084      0.0071
YEARS_SINCE_TNC_BUS             -0.0173     0.0041    -4.2059     0.0000     -0.0253     -0.0092
YEARS_SINCE_TNC_RAIL            -0.0028     0.0053    -0.5283     0.5973     -0.0132      0.0076
BIKE_SHARE                       0.0069     0.0128     0.5395     0.5896     -0.0182      0.0320
scooter_flag                    -0.0485     0.0256    -1.8978     0.0578     -0.0986      0.0016
================================================================================================

F-test for Poolability: 110.36
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [102]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6350
Estimator:                   PanelOLS   R-squared (Between):              0.9543
No. Observations:                4033   R-squared (Within):               0.6350
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9545
Time:                        11:19:46   Log-likelihood                    1310.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      466.71
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(14,3755)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             466.71
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3755)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8000     0.0128     62.654     0.0000      0.7750      0.8250
Tot_Pop_log                      0.1572     0.0472     3.3275     0.0009      0.0646      0.2498
TOT_EMP_MSA_log                  0.1786     0.0802     2.2269     0.0260      0.0214      0.3359
FARE_per_UPT_2018_log           -0.6929     0.0206    -33.596     0.0000     -0.7334     -0.6525
TSD_EMP_PCT_LEHD                 0.0024     0.0010     2.3487     0.0189      0.0004      0.0044
TSD_POP_PCT_LEHD                 0.0024     0.0013     1.8820     0.0599  -9.929e-05      0.0049
GAS_PRICE_2018_log               0.2140     0.0251     8.5157     0.0000      0.1647      0.2633
TOTAL_MED_INC_INDIV_2018_log    -0.3969     0.0560    -7.0887     0.0000     -0.5066     -0.2871
PCT_HH_NO_VEH                    0.0067     0.0031     2.2036     0.0276      0.0007      0.0127
JTW_HOME_PCT                    -0.0009     0.0040    -0.2231     0.8234     -0.0086      0.0069
YEARS_SINCE_TNC_BUS             -0.0186     0.0042    -4.4391     0.0000     -0.0268     -0.0104
YEARS_SINCE_TNC_RAIL            -0.0041     0.0054    -0.7676     0.4428     -0.0147      0.0064
BIKE_SHARE                       0.0052     0.0128     0.4053     0.6853     -0.0200      0.0304
scooter_flag                    -0.0496     0.0256    -1.9375     0.0528     -0.0997      0.0006
================================================================================================

F-test for Poolability: 100.59
P-value: 0.0000
Distribution: F(263,3755)

Included effects: Entity

In [103]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + MDBF_Total_log \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6353
Estimator:                   PanelOLS   R-squared (Between):              0.9546
No. Observations:                4033   R-squared (Within):               0.6353
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9548
Time:                        11:21:31   Log-likelihood                    1311.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      435.95
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(15,3754)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             435.95
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3754)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8012     0.0128     62.654     0.0000      0.7761      0.8263
Tot_Pop_log                      0.1529     0.0473     3.2314     0.0012      0.0601      0.2456
TOT_EMP_MSA_log                  0.1790     0.0802     2.2322     0.0257      0.0218      0.3363
FARE_per_UPT_2018_log           -0.6955     0.0207    -33.625     0.0000     -0.7360     -0.6549
TSD_EMP_PCT_LEHD                 0.0024     0.0010     2.3826     0.0172      0.0004      0.0044
TSD_POP_PCT_LEHD                 0.0024     0.0013     1.9197     0.0550  -5.172e-05      0.0049
GAS_PRICE_2018_log               0.2144     0.0251     8.5323     0.0000      0.1651      0.2637
TOTAL_MED_INC_INDIV_2018_log    -0.3880     0.0562    -6.8984     0.0000     -0.4983     -0.2777
PCT_HH_NO_VEH                    0.0066     0.0031     2.1673     0.0303      0.0006      0.0126
JTW_HOME_PCT                    -0.0011     0.0040    -0.2809     0.7788     -0.0089      0.0066
YEARS_SINCE_TNC_BUS             -0.0187     0.0042    -4.4605     0.0000     -0.0269     -0.0105
YEARS_SINCE_TNC_RAIL            -0.0044     0.0054    -0.8105     0.4177     -0.0149      0.0062
BIKE_SHARE                       0.0052     0.0128     0.4026     0.6873     -0.0200      0.0303
MDBF_Total_log                  -0.0047     0.0030    -1.5921     0.1114     -0.0105      0.0011
scooter_flag                    -0.0495     0.0256    -1.9355     0.0530     -0.0996      0.0006
================================================================================================

F-test for Poolability: 99.236
P-value: 0.0000
Distribution: F(263,3754)

Included effects: Entity

In [104]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + MDBF_Total_log \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6349
Estimator:                   PanelOLS   R-squared (Between):              0.9527
No. Observations:                4033   R-squared (Within):               0.6349
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9530
Time:                        11:22:58   Log-likelihood                    1309.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      383.85
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(17,3752)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             383.85
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(17,3752)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8039     0.0129     62.510     0.0000      0.7787      0.8291
Tot_Pop_log                      0.1643     0.0479     3.4312     0.0006      0.0704      0.2582
TOT_EMP_MSA_log                  0.1660     0.0808     2.0538     0.0401      0.0075      0.3244
FARE_per_UPT_2018_log           -0.6971     0.0208    -33.594     0.0000     -0.7378     -0.6564
TSD_EMP_PCT_LEHD                 0.0023     0.0010     2.2133     0.0269      0.0003      0.0043
TSD_POP_PCT_LEHD                 0.0022     0.0013     1.7160     0.0862     -0.0003      0.0047
GAS_PRICE_2018_log               0.2044     0.0262     7.7904     0.0000      0.1530      0.2559
TOTAL_MED_INC_INDIV_2018_log    -0.3948     0.0565    -6.9852     0.0000     -0.5057     -0.2840
PCT_HH_NO_VEH                    0.0066     0.0031     2.1538     0.0313      0.0006      0.0126
JTW_HOME_PCT                    -0.0006     0.0040    -0.1526     0.8787     -0.0085      0.0072
YEARS_SINCE_TNC_BUS2_HINY       -0.0084     0.0050    -1.6629     0.0964     -0.0182      0.0015
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0144     0.0037    -3.8972     0.0001     -0.0216     -0.0071
YEARS_SINCE_TNC_RAIL2_HINY      -0.0007     0.0051    -0.1358     0.8920     -0.0107      0.0093
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0122     0.0071    -1.7209     0.0854     -0.0262      0.0017
BIKE_SHARE                       0.0009     0.0130     0.0722     0.9424     -0.0245      0.0264
MDBF_Total_log                  -0.0047     0.0030    -1.5798     0.1142     -0.0105      0.0011
scooter_flag                    -0.0604     0.0253    -2.3905     0.0169     -0.1099     -0.0109
================================================================================================

F-test for Poolability: 99.035
P-value: 0.0000
Distribution: F(263,3752)

Included effects: Entity

In [105]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6347
Estimator:                   PanelOLS   R-squared (Between):              0.9524
No. Observations:                4033   R-squared (Within):               0.6347
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9527
Time:                        11:24:00   Log-likelihood                    1308.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      407.53
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(16,3753)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             407.53
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3753)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8028     0.0128     62.506     0.0000      0.7776      0.8279
Tot_Pop_log                      0.1689     0.0478     3.5344     0.0004      0.0752      0.2627
TOT_EMP_MSA_log                  0.1650     0.0808     2.0413     0.0413      0.0065      0.3235
FARE_per_UPT_2018_log           -0.6946     0.0207    -33.567     0.0000     -0.7351     -0.6540
TSD_EMP_PCT_LEHD                 0.0022     0.0010     2.1768     0.0296      0.0002      0.0042
TSD_POP_PCT_LEHD                 0.0021     0.0013     1.6737     0.0943     -0.0004      0.0046
GAS_PRICE_2018_log               0.2040     0.0262     7.7712     0.0000      0.1525      0.2554
TOTAL_MED_INC_INDIV_2018_log    -0.4033     0.0563    -7.1660     0.0000     -0.5137     -0.2930
PCT_HH_NO_VEH                    0.0067     0.0031     2.1916     0.0285      0.0007      0.0127
JTW_HOME_PCT                    -0.0004     0.0040    -0.0962     0.9234     -0.0082      0.0075
YEARS_SINCE_TNC_BUS2_HINY       -0.0079     0.0050    -1.5705     0.1164     -0.0177      0.0020
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0144     0.0037    -3.9036     0.0001     -0.0217     -0.0072
YEARS_SINCE_TNC_RAIL2_HINY      -0.0006     0.0051    -0.1128     0.9102     -0.0105      0.0094
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0117     0.0071    -1.6489     0.0993     -0.0256      0.0022
BIKE_SHARE                       0.0008     0.0130     0.0613     0.9511     -0.0247      0.0262
scooter_flag                    -0.0607     0.0253    -2.4023     0.0163     -0.1102     -0.0112
================================================================================================

F-test for Poolability: 100.37
P-value: 0.0000
Distribution: F(263,3753)

Included effects: Entity

In [106]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9381
No. Observations:                4033   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9385
Time:                        11:25:10   Log-likelihood                    1306.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      434.27
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(15,3754)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             434.27
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3754)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8046     0.0128     62.889     0.0000      0.7795      0.8297
POP_EMP_log                      0.2705     0.0526     5.1443     0.0000      0.1674      0.3736
FARE_per_UPT_2018_log           -0.6952     0.0207    -33.607     0.0000     -0.7358     -0.6547
TSD_EMP_PCT_LEHD                 0.0021     0.0010     2.0723     0.0383      0.0001      0.0041
TSD_POP_PCT_LEHD                 0.0021     0.0013     1.6636     0.0963     -0.0004      0.0046
GAS_PRICE_2018_log               0.2092     0.0261     8.0279     0.0000      0.1581      0.2603
TOTAL_MED_INC_INDIV_2018_log    -0.3919     0.0533    -7.3519     0.0000     -0.4964     -0.2874
PCT_HH_NO_VEH                    0.0065     0.0031     2.1266     0.0335      0.0005      0.0125
JTW_HOME_PCT                    -0.0002     0.0040    -0.0545     0.9565     -0.0081      0.0076
YEARS_SINCE_TNC_BUS2_HINY       -0.0067     0.0049    -1.3622     0.1732     -0.0164      0.0029
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0134     0.0036    -3.6907     0.0002     -0.0205     -0.0063
YEARS_SINCE_TNC_RAIL2_HINY       0.0005     0.0050     0.0988     0.9213     -0.0093      0.0103
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0107     0.0071    -1.5198     0.1287     -0.0246      0.0031
BIKE_SHARE                       0.0020     0.0129     0.1575     0.8748     -0.0233      0.0274
scooter_flag                    -0.0597     0.0252    -2.3638     0.0181     -0.1092     -0.0102
================================================================================================

F-test for Poolability: 110.06
P-value: 0.0000
Distribution: F(263,3754)

Included effects: Entity

In [107]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6340
Estimator:                   PanelOLS   R-squared (Between):              0.9304
No. Observations:                4033   R-squared (Within):               0.6340
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9309
Time:                        11:26:06   Log-likelihood                    1304.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      464.57
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(14,3755)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             464.57
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3755)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8046     0.0128     62.857     0.0000      0.7795      0.8297
POP_EMP_log                      0.2612     0.0524     4.9835     0.0000      0.1585      0.3640
FARE_per_UPT_2018_log           -0.6943     0.0207    -33.555     0.0000     -0.7348     -0.6537
TSD_POP_PCT_LEHD                 0.0036     0.0010     3.4378     0.0006      0.0015      0.0057
GAS_PRICE_2018_log               0.2087     0.0261     8.0066     0.0000      0.1576      0.2599
TOTAL_MED_INC_INDIV_2018_log    -0.3978     0.0533    -7.4695     0.0000     -0.5022     -0.2934
PCT_HH_NO_VEH                    0.0063     0.0031     2.0578     0.0397      0.0003      0.0123
JTW_HOME_PCT                 -3.535e-05     0.0040    -0.0088     0.9930     -0.0079      0.0078
YEARS_SINCE_TNC_BUS2_HINY       -0.0073     0.0049    -1.4841     0.1379     -0.0170      0.0023
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0146     0.0036    -4.0798     0.0000     -0.0217     -0.0076
YEARS_SINCE_TNC_RAIL2_HINY   -9.091e-05     0.0050    -0.0182     0.9855     -0.0099      0.0097
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0117     0.0071    -1.6596     0.0971     -0.0255      0.0021
BIKE_SHARE                       0.0025     0.0130     0.1953     0.8452     -0.0229      0.0279
scooter_flag                    -0.0588     0.0253    -2.3292     0.0199     -0.1083     -0.0093
================================================================================================

F-test for Poolability: 115.22
P-value: 0.0000
Distribution: F(263,3755)

Included effects: Entity

In [109]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_BUS_log \
                    + VRM_ADJ_RAIL_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6529
Estimator:                   PanelOLS   R-squared (Between):              0.9267
No. Observations:                4033   R-squared (Within):               0.6529
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9294
Time:                        11:28:23   Log-likelihood                    1411.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      470.69
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(15,3754)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             470.69
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3754)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_BUS_log                  0.9161     0.0147     62.288     0.0000      0.8872      0.9449
VRM_ADJ_RAIL_log                 0.5323     0.0228     23.385     0.0000      0.4877      0.5770
POP_EMP_log                      0.2406     0.0511     4.7115     0.0000      0.1405      0.3408
FARE_per_UPT_2018_log           -0.6687     0.0202    -33.053     0.0000     -0.7084     -0.6290
TSD_POP_PCT_LEHD                 0.0018     0.0010     1.7070     0.0879     -0.0003      0.0038
GAS_PRICE_2018_log               0.2167     0.0254     8.5308     0.0000      0.1669      0.2665
TOTAL_MED_INC_INDIV_2018_log    -0.3812     0.0519    -7.3471     0.0000     -0.4829     -0.2795
PCT_HH_NO_VEH                    0.0060     0.0030     2.0098     0.0445      0.0001      0.0118
JTW_HOME_PCT                 -6.721e-05     0.0039    -0.0172     0.9863     -0.0077      0.0076
YEARS_SINCE_TNC_BUS2_HINY       -0.0079     0.0048    -1.6448     0.1001     -0.0173      0.0015
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0180     0.0035    -5.1312     0.0000     -0.0248     -0.0111
YEARS_SINCE_TNC_RAIL2_HINY       0.0211     0.0051     4.1508     0.0000      0.0112      0.0311
YEARS_SINCE_TNC_RAIL2_MIDLOW     0.0079     0.0070     1.1249     0.2607     -0.0059      0.0216
BIKE_SHARE                       0.0065     0.0126     0.5147     0.6068     -0.0182      0.0312
scooter_flag                    -0.0655     0.0246    -2.6624     0.0078     -0.1137     -0.0173
================================================================================================

F-test for Poolability: 117.96
P-value: 0.0000
Distribution: F(263,3754)

Included effects: Entity

In [110]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_BUS_log \
                    + VRM_ADJ_RAIL_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6527
Estimator:                   PanelOLS   R-squared (Between):              0.9258
No. Observations:                4041   R-squared (Within):               0.6527
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9286
Time:                        11:29:29   Log-likelihood                    1416.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      505.24
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(14,3763)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             505.24
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3763)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_BUS_log                  0.9154     0.0147     62.392     0.0000      0.8866      0.9442
VRM_ADJ_RAIL_log                 0.5324     0.0227     23.406     0.0000      0.4878      0.5770
POP_EMP_log                      0.2389     0.0503     4.7492     0.0000      0.1403      0.3376
FARE_per_UPT_2018_log           -0.6690     0.0202    -33.111     0.0000     -0.7086     -0.6294
TSD_POP_PCT_LEHD                 0.0018     0.0010     1.7149     0.0864     -0.0003      0.0038
GAS_PRICE_2018_log               0.2172     0.0254     8.5680     0.0000      0.1675      0.2669
TOTAL_MED_INC_INDIV_2018_log    -0.3812     0.0515    -7.3997     0.0000     -0.4822     -0.2802
PCT_HH_NO_VEH                    0.0059     0.0030     2.0093     0.0446      0.0001      0.0117
YEARS_SINCE_TNC_BUS2_HINY       -0.0079     0.0047    -1.6600     0.0970     -0.0172      0.0014
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0180     0.0034    -5.3491     0.0000     -0.0246     -0.0114
YEARS_SINCE_TNC_RAIL2_HINY       0.0211     0.0051     4.1830     0.0000      0.0112      0.0310
YEARS_SINCE_TNC_RAIL2_MIDLOW     0.0079     0.0069     1.1409     0.2540     -0.0057      0.0214
BIKE_SHARE                       0.0067     0.0126     0.5310     0.5955     -0.0180      0.0313
scooter_flag                    -0.0655     0.0246    -2.6633     0.0078     -0.1137     -0.0173
================================================================================================

F-test for Poolability: 120.42
P-value: 0.0000
Distribution: F(263,3763)

Included effects: Entity

In [111]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_BUS_log \
                    + VRM_ADJ_RAIL_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6527
Estimator:                   PanelOLS   R-squared (Between):              0.9227
No. Observations:                4041   R-squared (Within):               0.6527
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9255
Time:                        11:29:59   Log-likelihood                    1415.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      589.55
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             589.55
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_BUS_log                  0.9116     0.0146     62.393     0.0000      0.8830      0.9403
VRM_ADJ_RAIL_log                 0.5376     0.0224     24.016     0.0000      0.4937      0.5814
POP_EMP_log                      0.2233     0.0487     4.5850     0.0000      0.1278      0.3188
FARE_per_UPT_2018_log           -0.6671     0.0202    -33.089     0.0000     -0.7066     -0.6275
TSD_POP_PCT_LEHD                 0.0023     0.0010     2.2797     0.0227      0.0003      0.0043
GAS_PRICE_2018_log               0.2317     0.0243     9.5323     0.0000      0.1841      0.2794
TOTAL_MED_INC_INDIV_2018_log    -0.3731     0.0514    -7.2611     0.0000     -0.4738     -0.2723
PCT_HH_NO_VEH                    0.0058     0.0030     1.9668     0.0493   1.847e-05      0.0116
YEARS_SINCE_TNC_BUS             -0.0217     0.0039    -5.6274     0.0000     -0.0293     -0.0141
YEARS_SINCE_TNC_RAIL             0.0186     0.0053     3.4804     0.0005      0.0081      0.0290
BIKE_SHARE                       0.0139     0.0124     1.1219     0.2620     -0.0104      0.0383
scooter_flag                    -0.0524     0.0249    -2.1042     0.0354     -0.1012     -0.0036
================================================================================================

F-test for Poolability: 120.71
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [112]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6342
Estimator:                   PanelOLS   R-squared (Between):              0.9273
No. Observations:                4041   R-squared (Within):               0.6342
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9277
Time:                        11:30:50   Log-likelihood                    1311.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      593.52
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(11,3766)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             593.52
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,3766)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8016     0.0127     63.146     0.0000      0.7767      0.8265
POP_EMP_log                      0.2480     0.0499     4.9655     0.0000      0.1501      0.3459
FARE_per_UPT_2018_log           -0.6929     0.0206    -33.632     0.0000     -0.7332     -0.6525
TSD_POP_PCT_LEHD                 0.0040     0.0010     3.8524     0.0001      0.0020      0.0060
GAS_PRICE_2018_log               0.2209     0.0249     8.8614     0.0000      0.1721      0.2698
TOTAL_MED_INC_INDIV_2018_log    -0.3873     0.0527    -7.3482     0.0000     -0.4907     -0.2840
PCT_HH_NO_VEH                    0.0062     0.0030     2.0380     0.0416      0.0002      0.0121
YEARS_SINCE_TNC_BUS             -0.0184     0.0039    -4.6686     0.0000     -0.0262     -0.0107
YEARS_SINCE_TNC_RAIL            -0.0035     0.0052    -0.6748     0.4999     -0.0138      0.0067
BIKE_SHARE                       0.0071     0.0127     0.5568     0.5777     -0.0179      0.0321
scooter_flag                    -0.0475     0.0255    -1.8574     0.0633     -0.0976      0.0026
================================================================================================

F-test for Poolability: 118.62
P-value: 0.0000
Distribution: F(263,3766)

Included effects: Entity

In [113]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9423
No. Observations:                4041   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9426
Time:                        11:31:35   Log-likelihood                    1312.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      544.54
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             544.54
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7996     0.0128     62.714     0.0000      0.7747      0.8246
Tot_Pop_log                      0.1494     0.0466     3.2038     0.0014      0.0580      0.2408
TOT_EMP_MSA_log                  0.1600     0.0796     2.0113     0.0444      0.0040      0.3160
FARE_per_UPT_2018_log           -0.6923     0.0206    -33.598     0.0000     -0.7327     -0.6519
TSD_POP_PCT_LEHD                 0.0041     0.0010     3.9358     0.0001      0.0020      0.0061
GAS_PRICE_2018_log               0.2167     0.0251     8.6436     0.0000      0.1675      0.2658
TOTAL_MED_INC_INDIV_2018_log    -0.3991     0.0555    -7.1894     0.0000     -0.5079     -0.2902
PCT_HH_NO_VEH                    0.0064     0.0030     2.1007     0.0357      0.0004      0.0123
YEARS_SINCE_TNC_BUS             -0.0197     0.0041    -4.8687     0.0000     -0.0277     -0.0118
YEARS_SINCE_TNC_RAIL            -0.0048     0.0053    -0.8963     0.3701     -0.0152      0.0057
BIKE_SHARE                       0.0056     0.0128     0.4366     0.6624     -0.0195      0.0307
scooter_flag                    -0.0483     0.0256    -1.8881     0.0591     -0.0984      0.0019
================================================================================================

F-test for Poolability: 105.75
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [114]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6341
Estimator:                   PanelOLS   R-squared (Between):              0.9401
No. Observations:                4041   R-squared (Within):               0.6341
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9404
Time:                        11:32:16   Log-likelihood                    1310.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      652.76
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(10,3767)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             652.76
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(10,3767)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8004     0.0127     62.809     0.0000      0.7754      0.8254
Tot_Pop_log                      0.1534     0.0466     3.2920     0.0010      0.0620      0.2447
TOT_EMP_MSA_log                  0.1587     0.0791     2.0066     0.0449      0.0036      0.3138
FARE_per_UPT_2018_log           -0.6916     0.0206    -33.579     0.0000     -0.7320     -0.6512
TSD_POP_PCT_LEHD                 0.0041     0.0010     3.9437     0.0001      0.0021      0.0061
GAS_PRICE_2018_log               0.2096     0.0248     8.4559     0.0000      0.1610      0.2582
TOTAL_MED_INC_INDIV_2018_log    -0.4096     0.0552    -7.4227     0.0000     -0.5177     -0.3014
PCT_HH_NO_VEH                    0.0064     0.0030     2.1048     0.0354      0.0004      0.0124
YEARS_SINCE_TNC_BUS             -0.0211     0.0035    -5.9987     0.0000     -0.0280     -0.0142
YEARS_SINCE_TNC_RAIL            -0.0068     0.0048    -1.4150     0.1572     -0.0161      0.0026
================================================================================================

F-test for Poolability: 106.50
P-value: 0.0000
Distribution: F(263,3767)

Included effects: Entity

In [115]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9423
No. Observations:                4041   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9426
Time:                        11:33:04   Log-likelihood                    1312.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      544.54
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             544.54
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7996     0.0128     62.714     0.0000      0.7747      0.8246
Tot_Pop_log                      0.1494     0.0466     3.2038     0.0014      0.0580      0.2408
TOT_EMP_MSA_log                  0.1600     0.0796     2.0113     0.0444      0.0040      0.3160
FARE_per_UPT_2018_log           -0.6923     0.0206    -33.598     0.0000     -0.7327     -0.6519
TSD_POP_PCT_LEHD                 0.0041     0.0010     3.9358     0.0001      0.0020      0.0061
GAS_PRICE_2018_log               0.2167     0.0251     8.6436     0.0000      0.1675      0.2658
TOTAL_MED_INC_INDIV_2018_log    -0.3991     0.0555    -7.1894     0.0000     -0.5079     -0.2902
PCT_HH_NO_VEH                    0.0064     0.0030     2.1007     0.0357      0.0004      0.0123
YEARS_SINCE_TNC_BUS             -0.0197     0.0041    -4.8687     0.0000     -0.0277     -0.0118
YEARS_SINCE_TNC_RAIL            -0.0048     0.0053    -0.8963     0.3701     -0.0152      0.0057
BIKE_SHARE                       0.0056     0.0128     0.4366     0.6624     -0.0195      0.0307
scooter_flag                    -0.0483     0.0256    -1.8881     0.0591     -0.0984      0.0019
================================================================================================

F-test for Poolability: 105.75
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [116]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOT_EMP_TSD_TRACTS',
 'TOT_EMP_ALL_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_EMP_PCT_LEHD',
 'TSD_EMP_PCT_CBSA',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOT_EMP_TSD_TRACTS_log',
 'TOT_EMP_ALL_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_EMP_PCT_LEHD_log',
 'TSD_EMP_PCT_CBSA_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW']

In [117]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS_log \
                    + YEARS_SINCE_TNC_RAIL_log \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6339
Estimator:                   PanelOLS   R-squared (Between):              0.9402
No. Observations:                4041   R-squared (Within):               0.6339
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9406
Time:                        11:39:08   Log-likelihood                    1309.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      543.23
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             543.23
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8013     0.0128     62.629     0.0000      0.7763      0.8264
Tot_Pop_log                      0.1537     0.0470     3.2724     0.0011      0.0616      0.2457
TOT_EMP_MSA_log                  0.1537     0.0797     1.9282     0.0539     -0.0026      0.3099
FARE_per_UPT_2018_log           -0.6918     0.0206    -33.542     0.0000     -0.7322     -0.6513
TSD_POP_PCT_LEHD                 0.0040     0.0010     3.8437     0.0001      0.0020      0.0060
GAS_PRICE_2018_log               0.2117     0.0258     8.1916     0.0000      0.1610      0.2624
TOTAL_MED_INC_INDIV_2018_log    -0.4047     0.0557    -7.2590     0.0000     -0.5140     -0.2954
PCT_HH_NO_VEH                    0.0065     0.0030     2.1284     0.0334      0.0005      0.0124
YEARS_SINCE_TNC_BUS_log         -0.0408     0.0094    -4.3382     0.0000     -0.0593     -0.0224
YEARS_SINCE_TNC_RAIL_log        -0.0146     0.0139    -1.0509     0.2934     -0.0418      0.0126
BIKE_SHARE                       0.0029     0.0128     0.2306     0.8177     -0.0221      0.0280
scooter_flag                    -0.0616     0.0247    -2.4961     0.0126     -0.1100     -0.0132
================================================================================================

F-test for Poolability: 105.54
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [118]:
df['YEARS_SINCE_TNC_BUS_sqrd']=df['YEARS_SINCE_TNC_BUS']*df['YEARS_SINCE_TNC_BUS']
df['YEARS_SINCE_TNC_RAIL_sqrd']=df['YEARS_SINCE_TNC_RAIL']*df['YEARS_SINCE_TNC_RAIL']

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_RAIL_sqrd \
                    + YEARS_SINCE_TNC_BUS_sqrd \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6342
Estimator:                   PanelOLS   R-squared (Between):              0.9254
No. Observations:                4041   R-squared (Within):               0.6342
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9259
Time:                        11:41:43   Log-likelihood                    1311.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      543.95
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             543.95
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7979     0.0127     62.815     0.0000      0.7730      0.8228
Tot_Pop_log                      0.1315     0.0463     2.8398     0.0045      0.0407      0.2223
TOT_EMP_MSA_log                  0.1270     0.0783     1.6208     0.1051     -0.0266      0.2805
FARE_per_UPT_2018_log           -0.6940     0.0206    -33.678     0.0000     -0.7344     -0.6536
TSD_POP_PCT_LEHD                 0.0042     0.0010     4.0336     0.0001      0.0022      0.0062
GAS_PRICE_2018_log               0.2387     0.0240     9.9519     0.0000      0.1917      0.2857
TOTAL_MED_INC_INDIV_2018_log    -0.3855     0.0553    -6.9656     0.0000     -0.4940     -0.2770
PCT_HH_NO_VEH                    0.0064     0.0030     2.1163     0.0344      0.0005      0.0124
YEARS_SINCE_TNC_RAIL_sqrd      5.26e-05     0.0010     0.0547     0.9564     -0.0018      0.0019
YEARS_SINCE_TNC_BUS_sqrd        -0.0038     0.0009    -4.4292     0.0000     -0.0055     -0.0021
BIKE_SHARE                      -0.0014     0.0123    -0.1113     0.9114     -0.0255      0.0228
scooter_flag                    -0.0423     0.0270    -1.5646     0.1178     -0.0953      0.0107
================================================================================================

F-test for Poolability: 105.70
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [119]:
df['YEARS_SINCE_TNC_BUS_exp']=np.exp(df['YEARS_SINCE_TNC_BUS'])
df['YEARS_SINCE_TNC_RAIL_exp']=np.exp(df['YEARS_SINCE_TNC_RAIL'])

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS_exp \
                    + YEARS_SINCE_TNC_RAIL_exp \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6322
Estimator:                   PanelOLS   R-squared (Between):              0.8927
No. Observations:                4041   R-squared (Within):               0.6322
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.8934
Time:                        11:43:05   Log-likelihood                    1300.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      539.31
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             539.31
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8013     0.0127     63.230     0.0000      0.7764      0.8261
Tot_Pop_log                      0.1184     0.0464     2.5535     0.0107      0.0275      0.2093
TOT_EMP_MSA_log                  0.0661     0.0766     0.8633     0.3880     -0.0840      0.2162
FARE_per_UPT_2018_log           -0.6949     0.0207    -33.639     0.0000     -0.7354     -0.6544
TSD_POP_PCT_LEHD                 0.0040     0.0010     3.8749     0.0001      0.0020      0.0061
GAS_PRICE_2018_log               0.2540     0.0237     10.707     0.0000      0.2075      0.3006
TOTAL_MED_INC_INDIV_2018_log    -0.3820     0.0555    -6.8845     0.0000     -0.4908     -0.2732
PCT_HH_NO_VEH                    0.0066     0.0030     2.1569     0.0311      0.0006      0.0125
YEARS_SINCE_TNC_BUS_exp      -4.023e-05  3.952e-05    -1.0180     0.3087     -0.0001   3.725e-05
YEARS_SINCE_TNC_RAIL_exp      3.616e-05  3.921e-05     0.9221     0.3565  -4.072e-05      0.0001
BIKE_SHARE                      -0.0170     0.0115    -1.4849     0.1377     -0.0395      0.0055
scooter_flag                    -0.0761     0.0261    -2.9138     0.0036     -0.1273     -0.0249
================================================================================================

F-test for Poolability: 105.24
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [120]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9423
No. Observations:                4041   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9426
Time:                        11:44:20   Log-likelihood                    1312.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      544.54
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             544.54
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7996     0.0128     62.714     0.0000      0.7747      0.8246
Tot_Pop_log                      0.1494     0.0466     3.2038     0.0014      0.0580      0.2408
TOT_EMP_MSA_log                  0.1600     0.0796     2.0113     0.0444      0.0040      0.3160
FARE_per_UPT_2018_log           -0.6923     0.0206    -33.598     0.0000     -0.7327     -0.6519
TSD_POP_PCT_LEHD                 0.0041     0.0010     3.9358     0.0001      0.0020      0.0061
GAS_PRICE_2018_log               0.2167     0.0251     8.6436     0.0000      0.1675      0.2658
TOTAL_MED_INC_INDIV_2018_log    -0.3991     0.0555    -7.1894     0.0000     -0.5079     -0.2902
PCT_HH_NO_VEH                    0.0064     0.0030     2.1007     0.0357      0.0004      0.0123
YEARS_SINCE_TNC_BUS             -0.0197     0.0041    -4.8687     0.0000     -0.0277     -0.0118
YEARS_SINCE_TNC_RAIL            -0.0048     0.0053    -0.8963     0.3701     -0.0152      0.0057
BIKE_SHARE                       0.0056     0.0128     0.4366     0.6624     -0.0195      0.0307
scooter_flag                    -0.0483     0.0256    -1.8881     0.0591     -0.0984      0.0019
================================================================================================

F-test for Poolability: 105.75
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [123]:
df.head()

                                CBSA      UPT_ADJ      VRM_ADJ      FARE_ADJ  \
ID                       Year
Akron, OH Metro Area-Bus 2002  10420  5226385.660  4026372.388  5.965827e+05
                         2003  10420  5395901.888  3976568.624  2.318587e+06
                         2004  10420  5907162.281  4315392.555  2.279211e+06
                         2005  10420  6013680.881  4053011.065  2.728754e+06
                         2006  10420  6070797.419  3994786.013  2.855273e+06

                               min_year  max_year  FARE_per_UPT  PROBLEM_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002      2002      2018      0.114148           NaN
                         2003      2002      2018      0.429694           NaN
                         2004      2002      2018      0.385839           NaN
                         2005      2002      2018      0.453758           NaN
                         2006      2002      2018      0.470329           NaN

                               PROBLEM_FLAG2      Tot_Pop  Tot_Instate_Pop  \
ID                       Year
Akron, OH Metro Area-Bus 2002            NaN  646583.7344      496141.0469
                         2003            NaN  659397.0625      504631.8125
                         2004            NaN  672492.7500      513183.7500
                         2005            NaN  684459.0000      521491.0000
                         2006            NaN  700943.0000      530777.0000

                               Tot_Outstate_Pop  Tot_NonUSA_POP  \
ID                       Year
Akron, OH Metro Area-Bus 2002       137193.6719      -389.53125
                         2003       137582.3125       753.12500
                         2004       138058.7500      1942.50000
                         2005       138184.0000      2945.00000
                         2006       139714.0000      4695.00000

                               Total_Median_Income_Individual  \
ID                       Year
Akron, OH Metro Area-Bus 2002                     25405.20313
                         2003                     25120.18750
                         2004                     24804.25000
                         2005                     24612.00000
                         2006                     23925.00000

                               Native_Instate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                   26028.32813
                         2003                   25632.68750
                         2004                   25208.25000
                         2005                   24899.00000
                         2006                   24129.00000

                               Native_Outstate_Med_Inc_Indiv  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    26651.07813
                         2003                    25995.68750
                         2004                    25305.25000
                         2005                    24755.00000
                         2006                    23644.00000

                               Total_Pop_Poverty  Pop_Below100_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002          682354.11                  7.55
                         2003          682850.56                  8.81
                         2004          683397.75                 10.08
                         2005          683742.00                 11.30
                         2006          684898.00                 12.70

                               Pop_Below150_Poverty  Pop_Above150_Poverty  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  8.94                 83.85
                         2003                  8.66                 82.79
                         2004                  8.38                 81.73
                         2005                  8.10                 80.70
                         2006                  7.80                 79.50

                               Age_under18  Age_18to64  Age_over64   Total_HH  \
ID                       Year
Akron, OH Metro Area-Bus 2002        24.64        62.9       12.46  265452.20
                         2003        24.33        63.0       12.68  269144.19
                         2004        24.00        63.1       12.90  272892.25
                         2005        23.70        63.2       13.10  276416.00
                         2006        23.30        63.3       13.40  280837.00

                                HH_0Veh   HH_1Veh    HH_2Veh   HH_3Veh  \
ID                       Year
Akron, OH Metro Area-Bus 2002  22830.14  58254.52  117083.25  46891.53
                         2003  22073.44  67400.94  115443.00  44874.88
                         2004  21266.25  76795.25  113694.00  42855.50
                         2005  20661.00  85198.00  112380.00  40847.00
                         2006  19248.00  97567.00  109326.00  38795.00

                               HH_4+Veh  PCT_HH_NO_VEH   HH_MED_INC  \
ID                       Year
Akron, OH Metro Area-Bus 2002  20392.77           8.60  43046.82813
                         2003  19351.94           8.20  43566.68750
                         2004  18281.25           7.79  44030.25000
                         2005  17330.00           7.47  44719.00000
                         2006  15901.00           6.85  44507.00000

                               HH_MEAN_INC  INC_U35  INC_35_100  INC_100P  \
ID                       Year
Akron, OH Metro Area-Bus 2002   55300.5625    39.49       46.56     13.95
                         2003   56379.7500    39.24       46.66     14.10
                         2004   57390.0000    39.03       46.78     14.20
                         2005   58676.0000    38.70       46.80     14.50
                         2006   58859.0000    38.80       47.20     14.00

                               TOT_UNEMP_MSA  TOT_EMP_MSA  TOT_LABOR_MSA  \
ID                       Year
Akron, OH Metro Area-Bus 2002       21948.42    346147.17      368095.58
                         2003       23342.50    348574.17      371916.67
                         2004       23471.75    351723.75      375195.50
                         2005       22420.75    358105.92      380526.67
                         2006       20348.08    365133.33      385481.42

                               UNEMP_RATE_PCT  EMP_RATE_PCT  GasPrice  \
ID                       Year
Akron, OH Metro Area-Bus 2002            5.96         94.04      1.36
                         2003            6.28         93.72      1.55
                         2004            6.26         93.74      1.83
                         2005            5.90         94.10      2.25
                         2006            5.28         94.72      2.54

                               Area_acre  POP_CENSUSTRACT  AVG_SPEED  \
ID                       Year
Akron, OH Metro Area-Bus 2002        NaN         119786.0      14.88
                         2003        NaN         119199.0      14.71
                         2004        NaN         118612.0       7.23
                         2005    13644.8         118025.0      14.40
                         2006    13644.8         117438.0      14.19

                               2018_Dollar_Multiplier  TNC_ARRIVAL  TNC_FLAG  \
ID                       Year
Akron, OH Metro Area-Bus 2002                    1.40         2014         0
                         2003                    1.37         2014         0
                         2004                    1.33         2014         0
                         2005                    1.29         2014         0
                         2006                    1.25         2014         0

                               YEARS_SINCE_TNC  FARE_ADJ_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                0     4004892.28
                         2003                0    15690640.83
                         2004                0    14652259.89
                         2005                0    17316881.13
                         2006                0    17511368.98

                               TOTAL_MED_INC_INDIV_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002               35567.28438
                         2003               34414.65688
                         2004               32989.65250
                         2005               31749.48000
                         2006               29906.25000

                               NATIVE_INSTATE_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  36439.65938
                         2003                  35116.78188
                         2004                  33526.97250
                         2005                  32119.71000
                         2006                  30161.25000

                               NATIVE_OUTSTATE_MED_INC_2018  HH_MED_INC_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002                   37311.50938      60265.55938
                         2003                   35614.09188      59686.36188
                         2004                   33655.98250      58560.23250
                         2005                   31933.95000      57687.51000
                         2006                   29555.00000      55633.75000

                               HH_MEAN_INC_2018  GAS_PRICE_2018  dockCt  \
ID                       Year
Akron, OH Metro Area-Bus 2002        77420.7875          1.9040       0
                         2003        77240.2575          2.1235       0
                         2004        76328.7000          2.4339       0
                         2005        75692.0400          2.9025       0
                         2006        73573.7500          3.1750       0

                               docklessCt  scooterCt  PBS_Start  PBS_End  \
ID                       Year
Akron, OH Metro Area-Bus 2002           0          0        NaN      NaN
                         2003           0          0        NaN      NaN
                         2004           0          0        NaN      NaN
                         2005           0          0        NaN      NaN
                         2006           0          0        NaN      NaN

                               PBS_Flag  walkscore  transit  bike  \
ID                       Year
Akron, OH Metro Area-Bus 2002       0.0          0        0     0
                         2003       0.0          0        0     0
                         2004       0.0          0        0     0
                         2005       0.0          0        0     0
                         2006       0.0          0        0     0

                               CLUSTER_GT_NEW_11  CLUSTER_GT_ORIGINAL  \
ID                       Year
Akron, OH Metro Area-Bus 2002                  1                    1
                         2003                  1                    1
                         2004                  1                    1
                         2005                  1                    1
                         2006                  1                    1

                               CLUSTER_APTA  JTW_DA_PCT  JTW_CARPOOLED_PCT  \
ID                       Year
Akron, OH Metro Area-Bus 2002            24        87.4                6.2
                         2003            24        87.2                6.4
                         2004            24        86.9                6.7
                         2005            24        86.8                6.8
                         2006            24        85.8                7.3

                               JTW_TRANSIT_PCT  JTW_WALK_PCT  JTW_BICYCLE_PCT  \
ID                       Year
Akron, OH Metro Area-Bus 2002              0.8           1.7              0.1
                         2003              0.8           1.7              0.1
                         2004              0.8           1.7              0.1
                         2005              0.8           1.7              0.1
                         2006              1.3           2.2              0.0

                               JTW_OTHER_PCT  JTW_HOME_PCT  FARE_per_UPT_2018  \
ID                       Year
Akron, OH Metro Area-Bus 2002            0.7           3.1           0.159808
                         2003            0.7           3.1           0.588681
                         2004            0.7           3.1           0.513165
                         2005            0.7           3.1           0.585347
                         2006            0.9           2.5           0.587911

                               WEIGHTED_POP_DENSITY  CLUSTER_APTA_EXTENDED  \
ID                       Year
Akron, OH Metro Area-Bus 2002           2417.239652                     24
                         2003           2417.305061                     24
                         2004           2417.260004                     24
                         2005           2417.138680                     24
                         2006           2417.703484                     24

                               CBSA Code  TOT_EMP_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002    10420.0             81463.0
                         2003    10420.0             79781.0
                         2004    10420.0             78610.0
                         2005    10420.0             77347.0
                         2006    10420.0             78759.0

                               TOT_EMP_ALL_TRACTS  TOTAL_JOBS_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002            314749.0              305401.0
                         2003            313075.0              318486.0
                         2004            312683.0              315004.0
                         2005            309266.0              316201.0
                         2006            315180.0              313986.0

                               TOTAL_JOBS_WHITE_ALONE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                               0.0
                         2003                               0.0
                         2004                               0.0
                         2005                               0.0
                         2006                               0.0

                               TOTAL_JOBS_BLACK_ALONE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                               0.0
                         2003                               0.0
                         2004                               0.0
                         2005                               0.0
                         2006                               0.0

                               TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_UNDER_1250_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                          92556.0
                         2003                          95379.0
                         2004                          92341.0
                         2005                          90737.0
                         2006                          89652.0

                               TOTAL_JOBS_BETN_1250_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                             127165.0
                         2003                             128948.0
                         2004                             124884.0
                         2005                             123595.0
                         2006                             117761.0

                               TOTAL_JOBS_OVER_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                         85680.0
                         2003                         94159.0
                         2004                         97779.0
                         2005                        101869.0
                         2006                        106573.0

                               TOTAL_JOBS_UNDER_3333_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                         219721.0
                         2003                         224327.0
                         2004                         217225.0
                         2005                         214332.0
                         2006                         207413.0

                               TOTAL_JOBS_NON_WHITE_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                        305401.0
                         2003                        318486.0
                         2004                        315004.0
                         2005                        316201.0
                         2006                        313986.0

                               TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                    0.0
                         2003                                    0.0
                         2004                                    0.0
                         2005                                    0.0
                         2006                                    0.0

                               TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                     0.0
                         2003                                     0.0
                         2004                                     0.0
                         2005                                     0.0
                         2006                                     0.0

                               AREA_ACRE  TOTAL_JOBS_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002    13619.2                   54517.0
                         2003    13619.2                   51976.0
                         2004    13619.2                   50850.0
                         2005    13619.2                   50262.0
                         2006    13619.2                   49293.0

                               TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                   0.0
                         2003                                   0.0
                         2004                                   0.0
                         2005                                   0.0
                         2006                                   0.0

                               TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS  \
ID                       Year
Akron, OH Metro Area-Bus 2002                                       0.0
                         2003                                       0.0

In [122]:
#df['TNC_YEAR_FLAG_BUS']=
#df['YEARS_SINCE_TNC_RAIL_exp']=np.exp(df['YEARS_SINCE_TNC_RAIL'])

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TNC_FLAG_BUS \
                    + TNC_FLAG_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6321
Estimator:                   PanelOLS   R-squared (Between):              0.9018
No. Observations:                4041   R-squared (Within):               0.6321
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9025
Time:                        11:46:55   Log-likelihood                    1299.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      539.09
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             539.09
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8041     0.0129     62.429     0.0000      0.7789      0.8294
Tot_Pop_log                      0.1255     0.0477     2.6304     0.0086      0.0319      0.2190
TOT_EMP_MSA_log                  0.0835     0.0785     1.0640     0.2874     -0.0704      0.2375
FARE_per_UPT_2018_log           -0.6932     0.0207    -33.500     0.0000     -0.7338     -0.6527
TSD_POP_PCT_LEHD                 0.0040     0.0010     3.8614     0.0001      0.0020      0.0060
GAS_PRICE_2018_log               0.2441     0.0262     9.3023     0.0000      0.1927      0.2956
TOTAL_MED_INC_INDIV_2018_log    -0.3938     0.0567    -6.9521     0.0000     -0.5049     -0.2828
PCT_HH_NO_VEH                    0.0065     0.0030     2.1336     0.0329      0.0005      0.0125
TNC_FLAG_BUS                    -0.0081     0.0098    -0.8276     0.4080     -0.0274      0.0111
TNC_FLAG_RAIL                   -0.0158     0.0177    -0.8918     0.3726     -0.0505      0.0189
BIKE_SHARE                      -0.0131     0.0121    -1.0853     0.2778     -0.0368      0.0106
scooter_flag                    -0.0769     0.0242    -3.1784     0.0015     -0.1243     -0.0295
================================================================================================

F-test for Poolability: 104.82
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [130]:
df=df.reset_index()

In [131]:
df['YEAR_2']=df['Year']
df=df.set_index(['ID','Year'])

In [132]:

df['TNC_YEAR_FLAG_BUS_BEFORE_2014']=np.where(df['YEAR_2']<2014, df['TNC_FLAG_BUS'],0)
df['TNC_YEAR_FLAG_BUS_2015']=np.where(df['YEAR_2']==2015, df['TNC_FLAG_BUS'],0)
df['TNC_YEAR_FLAG_BUS_2016']=np.where(df['YEAR_2']==2016, df['TNC_FLAG_BUS'],0)
df['TNC_YEAR_FLAG_BUS_2017']=np.where(df['YEAR_2']==2017, df['TNC_FLAG_BUS'],0)
df['TNC_YEAR_FLAG_BUS_2018']=np.where(df['YEAR_2']==2018, df['TNC_FLAG_BUS'],0)

df['TNC_YEAR_FLAG_RAIL_BEFORE_2014']=np.where(df['YEAR_2']<2014, df['TNC_FLAG_RAIL'],0)
df['TNC_YEAR_FLAG_RAIL_2015']=np.where(df['YEAR_2']==2015, df['TNC_FLAG_RAIL'],0)
df['TNC_YEAR_FLAG_RAIL_2016']=np.where(df['YEAR_2']==2016, df['TNC_FLAG_RAIL'],0)
df['TNC_YEAR_FLAG_RAIL_2017']=np.where(df['YEAR_2']==2017, df['TNC_FLAG_RAIL'],0)
df['TNC_YEAR_FLAG_RAIL_2018']=np.where(df['YEAR_2']==2018, df['TNC_FLAG_RAIL'],0)
#df['YEARS_SINCE_TNC_RAIL_exp']=np.exp(df['YEARS_SINCE_TNC_RAIL'])

In [133]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TNC_YEAR_FLAG_BUS_BEFORE_2014 \
                    + TNC_YEAR_FLAG_BUS_2015 \
                    + TNC_YEAR_FLAG_BUS_2016 \
                    + TNC_YEAR_FLAG_BUS_2017 \
                    + TNC_YEAR_FLAG_BUS_2018 \
                    + TNC_YEAR_FLAG_RAIL_BEFORE_2014 \
                    + TNC_YEAR_FLAG_RAIL_2015 \
                    + TNC_YEAR_FLAG_RAIL_2016 \
                    + TNC_YEAR_FLAG_RAIL_2017 \
                    + TNC_YEAR_FLAG_RAIL_2018 \
                    + TNC_FLAG_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6387
Estimator:                   PanelOLS   R-squared (Between):              0.9383
No. Observations:                4041   R-squared (Within):               0.6387
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9386
Time:                        11:56:31   Log-likelihood                    1336.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      316.11
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(21,3756)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             316.11
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(21,3756)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8050     0.0128     62.707     0.0000      0.7798      0.8302
Tot_Pop_log                        0.1254     0.0478     2.6204     0.0088      0.0316      0.2192
TOT_EMP_MSA_log                    0.0981     0.0784     1.2510     0.2110     -0.0557      0.2519
FARE_per_UPT_2018_log             -0.6967     0.0205    -33.910     0.0000     -0.7369     -0.6564
TSD_POP_PCT_LEHD                   0.0039     0.0010     3.7144     0.0002      0.0018      0.0059
GAS_PRICE_2018_log                 0.2799     0.0298     9.3872     0.0000      0.2214      0.3383
TOTAL_MED_INC_INDIV_2018_log      -0.3192     0.0570    -5.5950     0.0000     -0.4310     -0.2073
PCT_HH_NO_VEH                      0.0054     0.0030     1.7673     0.0773     -0.0006      0.0113
TNC_YEAR_FLAG_BUS_BEFORE_2014     -0.0068     0.0292    -0.2312     0.8171     -0.0640      0.0505
TNC_YEAR_FLAG_BUS_2015             0.0522     0.0170     3.0642     0.0022      0.0188      0.0857
TNC_YEAR_FLAG_BUS_2016             0.0264     0.0169     1.5616     0.1185     -0.0067      0.0595
TNC_YEAR_FLAG_BUS_2017            -0.0430     0.0157    -2.7367     0.0062     -0.0738     -0.0122
TNC_YEAR_FLAG_BUS_2018            -0.0857     0.0162    -5.2951     0.0000     -0.1174     -0.0540
TNC_YEAR_FLAG_RAIL_BEFORE_2014     0.0047     0.0415     0.1141     0.9092     -0.0767      0.0862
TNC_YEAR_FLAG_RAIL_2015            0.0708     0.0413     1.7125     0.0869     -0.0103      0.1518
TNC_YEAR_FLAG_RAIL_2016            0.0625     0.0417     1.4996     0.1338     -0.0192      0.1442
TNC_YEAR_FLAG_RAIL_2017            0.0104     0.0414     0.2509     0.8019     -0.0709      0.0917
TNC_YEAR_FLAG_RAIL_2018           -0.0429     0.0440    -0.9753     0.3295     -0.1291      0.0433
TNC_FLAG_RAIL                     -0.0461     0.0316    -1.4587     0.1447     -0.1080      0.0158
BIKE_SHARE                         0.0031     0.0123     0.2491     0.8033     -0.0211      0.0273
scooter_flag                      -0.0115     0.0280    -0.4109     0.6812     -0.0665      0.0434
==================================================================================================

F-test for Poolability: 106.06
P-value: 0.0000
Distribution: F(263,3756)

Included effects: Entity

In [139]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TNC_YEAR_FLAG_BUS_BEFORE_2014 \
                    + TNC_YEAR_FLAG_BUS_2015 \
                    + TNC_YEAR_FLAG_BUS_2016 \
                    + TNC_YEAR_FLAG_BUS_2017 \
                    + TNC_YEAR_FLAG_BUS_2018 \
                    + TNC_YEAR_FLAG_RAIL_BEFORE_2014 \
                    + TNC_YEAR_FLAG_RAIL_2015 \
                    + TNC_YEAR_FLAG_RAIL_2016 \
                    + TNC_YEAR_FLAG_RAIL_2017 \
                    + TNC_YEAR_FLAG_RAIL_2018 \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6384
Estimator:                   PanelOLS   R-squared (Between):              0.9369
No. Observations:                4041   R-squared (Within):               0.6384
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9372
Time:                        12:01:08   Log-likelihood                    1334.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      331.71
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(20,3757)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             331.71
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(20,3757)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8033     0.0128     62.833     0.0000      0.7782      0.8283
Tot_Pop_log                        0.1263     0.0478     2.6385     0.0084      0.0324      0.2201
TOT_EMP_MSA_log                    0.0919     0.0783     1.1725     0.2411     -0.0617      0.2454
FARE_per_UPT_2018_log             -0.6974     0.0205    -33.949     0.0000     -0.7376     -0.6571
TSD_POP_PCT_LEHD                   0.0038     0.0010     3.6982     0.0002      0.0018      0.0059
GAS_PRICE_2018_log                 0.2801     0.0298     9.3943     0.0000      0.2217      0.3386
TOTAL_MED_INC_INDIV_2018_log      -0.3143     0.0570    -5.5179     0.0000     -0.4259     -0.2026
PCT_HH_NO_VEH                      0.0054     0.0030     1.7825     0.0748     -0.0005      0.0113
TNC_YEAR_FLAG_BUS_BEFORE_2014     -0.0060     0.0292    -0.2064     0.8365     -0.0633      0.0512
TNC_YEAR_FLAG_BUS_2015             0.0533     0.0170     3.1277     0.0018      0.0199      0.0867
TNC_YEAR_FLAG_BUS_2016             0.0275     0.0169     1.6302     0.1032     -0.0056      0.0606
TNC_YEAR_FLAG_BUS_2017            -0.0416     0.0157    -2.6550     0.0080     -0.0724     -0.0109
TNC_YEAR_FLAG_BUS_2018            -0.0843     0.0162    -5.2174     0.0000     -0.1160     -0.0526
TNC_YEAR_FLAG_RAIL_BEFORE_2014    -0.0353     0.0312    -1.1329     0.2573     -0.0964      0.0258
TNC_YEAR_FLAG_RAIL_2015            0.0316     0.0314     1.0058     0.3146     -0.0300      0.0932
TNC_YEAR_FLAG_RAIL_2016            0.0235     0.0320     0.7351     0.4623     -0.0392      0.0862
TNC_YEAR_FLAG_RAIL_2017           -0.0283     0.0318    -0.8907     0.3732     -0.0907      0.0341
TNC_YEAR_FLAG_RAIL_2018           -0.0821     0.0348    -2.3588     0.0184     -0.1503     -0.0139
BIKE_SHARE                         0.0010     0.0123     0.0797     0.9365     -0.0231      0.0250
scooter_flag                      -0.0104     0.0280    -0.3708     0.7108     -0.0653      0.0446
==================================================================================================

F-test for Poolability: 106.03
P-value: 0.0000
Distribution: F(263,3757)

Included effects: Entity

In [135]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + TNC_YEAR_FLAG_BUS_BEFORE_2014 \
                    + TNC_YEAR_FLAG_BUS_2015 \
                    + TNC_YEAR_FLAG_BUS_2016 \
                    + TNC_YEAR_FLAG_BUS_2017 \
                    + TNC_YEAR_FLAG_BUS_2018 \
                    + TNC_YEAR_FLAG_RAIL_BEFORE_2014 \
                    + TNC_YEAR_FLAG_RAIL_2015 \
                    + TNC_YEAR_FLAG_RAIL_2016 \
                    + TNC_YEAR_FLAG_RAIL_2017 \
                    + TNC_YEAR_FLAG_RAIL_2018 \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + TimeEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5838
Estimator:                   PanelOLS   R-squared (Between):              0.9548
No. Observations:                4041   R-squared (Within):               0.6123
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9548
Time:                        11:58:15   Log-likelihood                    1367.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      262.35
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(20,3741)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             262.35
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(20,3741)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.7946     0.0129     61.712     0.0000      0.7693      0.8198
Tot_Pop_log                        0.0311     0.0516     0.6012     0.5477     -0.0702      0.1323
TOT_EMP_MSA_log                    0.1132     0.0807     1.4033     0.1606     -0.0450      0.2714
FARE_per_UPT_2018_log             -0.7081     0.0205    -34.498     0.0000     -0.7483     -0.6678
TSD_POP_PCT_LEHD                   0.0043     0.0010     4.1495     0.0000      0.0023      0.0064
GAS_PRICE_2018_log                 0.3166     0.1711     1.8503     0.0644     -0.0189      0.6522
TOTAL_MED_INC_INDIV_2018_log      -0.1523     0.0663    -2.2974     0.0216     -0.2822     -0.0223
PCT_HH_NO_VEH                      0.0052     0.0030     1.7149     0.0865     -0.0007      0.0111
TNC_YEAR_FLAG_BUS_BEFORE_2014     -0.0227     0.0299    -0.7609     0.4468     -0.0813      0.0358
TNC_YEAR_FLAG_BUS_2015             0.0139     0.0275     0.5046     0.6138     -0.0401      0.0679
TNC_YEAR_FLAG_BUS_2016             0.0458     0.0377     1.2157     0.2242     -0.0281      0.1197
TNC_YEAR_FLAG_BUS_2017             0.0925     0.1318     0.7022     0.4826     -0.1658      0.3509
TNC_YEAR_FLAG_BUS_2018             0.0562     0.1860     0.3020     0.7627     -0.3085      0.4209
TNC_YEAR_FLAG_RAIL_BEFORE_2014    -0.0502     0.0317    -1.5834     0.1134     -0.1124      0.0120
TNC_YEAR_FLAG_RAIL_2015           -0.0065     0.0381    -0.1715     0.8638     -0.0812      0.0681
TNC_YEAR_FLAG_RAIL_2016            0.0419     0.0463     0.9059     0.3650     -0.0488      0.1326
TNC_YEAR_FLAG_RAIL_2017            0.1061     0.1346     0.7879     0.4308     -0.1579      0.3700
TNC_YEAR_FLAG_RAIL_2018            0.0582     0.1885     0.3086     0.7577     -0.3115      0.4278
BIKE_SHARE                        -0.0049     0.0124    -0.3951     0.6928     -0.0292      0.0194
scooter_flag                      -0.0103     0.0279    -0.3682     0.7127     -0.0649      0.0444
==================================================================================================

F-test for Poolability: 101.39
P-value: 0.0000
Distribution: F(279,3741)

Included effects: Entity, Time

#

In [138]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TimeEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5835
Estimator:                   PanelOLS   R-squared (Between):              0.9576
No. Observations:                4041   R-squared (Within):               0.6286
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9576
Time:                        11:59:44   Log-likelihood                    1366.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      437.62
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3749)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             437.62
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3749)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7909     0.0129     61.481     0.0000      0.7656      0.8161
Tot_Pop_log                      0.0356     0.0517     0.6884     0.4913     -0.0657      0.1369
TOT_EMP_MSA_log                  0.1203     0.0821     1.4664     0.1426     -0.0406      0.2812
FARE_per_UPT_2018_log           -0.7086     0.0205    -34.569     0.0000     -0.7488     -0.6684
TSD_POP_PCT_LEHD                 0.0042     0.0010     4.0225     0.0001      0.0022      0.0063
GAS_PRICE_2018_log               0.3209     0.1713     1.8740     0.0610     -0.0148      0.6567
TOTAL_MED_INC_INDIV_2018_log    -0.1505     0.0662    -2.2734     0.0231     -0.2803     -0.0207
PCT_HH_NO_VEH                    0.0054     0.0030     1.7794     0.0753     -0.0005      0.0113
YEARS_SINCE_TNC_BUS             -0.0060     0.0057    -1.0440     0.2965     -0.0172      0.0053
YEARS_SINCE_TNC_RAIL             0.0030     0.0060     0.4994     0.6176     -0.0088      0.0148
BIKE_SHARE                      -0.0025     0.0128    -0.1947     0.8457     -0.0277      0.0227
scooter_flag                    -0.0107     0.0273    -0.3931     0.6942     -0.0642      0.0428
================================================================================================

F-test for Poolability: 102.30
P-value: 0.0000
Distribution: F(279,3749)

Included effects: Entity, Time

In [140]:
df['YEAR_2017_FLAG']=np.where(df['YEAR_2']==2017,1,0)
df['YEAR_2018_FLAG']=np.where(df['YEAR_2']==2018,1,0)

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + YEAR_2017_FLAG \
                    + YEAR_2018_FLAG \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6377
Estimator:                   PanelOLS   R-squared (Between):              0.9526
No. Observations:                4041   R-squared (Within):               0.6377
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9528
Time:                        12:03:45   Log-likelihood                    1330.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      473.06
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(14,3763)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             473.06
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3763)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8029     0.0127     63.167     0.0000      0.7780      0.8279
Tot_Pop_log                      0.1626     0.0465     3.4957     0.0005      0.0714      0.2538
TOT_EMP_MSA_log                  0.1243     0.0796     1.5614     0.1185     -0.0318      0.2804
FARE_per_UPT_2018_log           -0.6971     0.0205    -33.943     0.0000     -0.7373     -0.6568
TSD_POP_PCT_LEHD                 0.0035     0.0010     3.3536     0.0008      0.0014      0.0055
GAS_PRICE_2018_log               0.2329     0.0254     9.1591     0.0000      0.1830      0.2828
TOTAL_MED_INC_INDIV_2018_log    -0.3434     0.0562    -6.1085     0.0000     -0.4536     -0.2332
PCT_HH_NO_VEH                    0.0058     0.0030     1.9163     0.0554     -0.0001      0.0117
YEARS_SINCE_TNC_BUS           5.164e-05     0.0053     0.0098     0.9922     -0.0103      0.0104
YEARS_SINCE_TNC_RAIL             0.0079     0.0058     1.3815     0.1672     -0.0033      0.0192
BIKE_SHARE                       0.0042     0.0127     0.3323     0.7396     -0.0207      0.0292
scooter_flag                    -0.0218     0.0272    -0.7987     0.4245     -0.0751      0.0316
YEAR_2017_FLAG                  -0.0617     0.0150    -4.1252     0.0000     -0.0911     -0.0324
YEAR_2018_FLAG                  -0.1012     0.0185    -5.4792     0.0000     -0.1375     -0.0650
================================================================================================

F-test for Poolability: 106.44
P-value: 0.0000
Distribution: F(263,3763)

Included effects: Entity

In [141]:

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEAR_FLAG_BUS_2017 \
                    + TNC_YEAR_FLAG_BUS_2018 \
                    + TNC_YEAR_FLAG_RAIL_2017 \
                    + TNC_YEAR_FLAG_RAIL_2018 \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6377
Estimator:                   PanelOLS   R-squared (Between):              0.9507
No. Observations:                4041   R-squared (Within):               0.6377
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9509
Time:                        12:06:36   Log-likelihood                    1330.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      413.81
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(16,3761)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             413.81
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(16,3761)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8024     0.0127     63.083     0.0000      0.7775      0.8273
Tot_Pop_log                      0.1614     0.0465     3.4678     0.0005      0.0701      0.2526
TOT_EMP_MSA_log                  0.1197     0.0797     1.5025     0.1331     -0.0365      0.2760
FARE_per_UPT_2018_log           -0.6982     0.0206    -33.959     0.0000     -0.7385     -0.6579
TSD_POP_PCT_LEHD                 0.0034     0.0010     3.3007     0.0010      0.0014      0.0055
GAS_PRICE_2018_log               0.2343     0.0255     9.2029     0.0000      0.1843      0.2842
TOTAL_MED_INC_INDIV_2018_log    -0.3420     0.0563    -6.0777     0.0000     -0.4523     -0.2317
PCT_HH_NO_VEH                    0.0057     0.0030     1.8921     0.0586     -0.0002      0.0117
YEARS_SINCE_TNC_BUS             -0.0023     0.0055    -0.4132     0.6795     -0.0131      0.0085
YEARS_SINCE_TNC_RAIL             0.0149     0.0076     1.9540     0.0508  -5.041e-05      0.0299
BIKE_SHARE                       0.0040     0.0127     0.3137     0.7537     -0.0210      0.0290
scooter_flag                    -0.0137     0.0282    -0.4846     0.6280     -0.0690      0.0416
TNC_YEAR_FLAG_BUS_2017          -0.0534     0.0164    -3.2562     0.0011     -0.0855     -0.0212
TNC_YEAR_FLAG_BUS_2018          -0.0903     0.0198    -4.5624     0.0000     -0.1291     -0.0515
TNC_YEAR_FLAG_RAIL_2017         -0.0938     0.0375    -2.5006     0.0124     -0.1673     -0.0203
TNC_YEAR_FLAG_RAIL_2018         -0.1578     0.0449    -3.5183     0.0004     -0.2457     -0.0699
================================================================================================

F-test for Poolability: 106.38
P-value: 0.0000
Distribution: F(263,3761)

Included effects: Entity

In [143]:
df['TNC_YEAR_FLAG_BUS_HI_2017']=df['TNC_YEAR_FLAG_BUS_2017']*df['HI_OPEX']
df['TNC_YEAR_FLAG_BUS_NY_2017']=df['TNC_YEAR_FLAG_BUS_2017']*df['NEW_YORK']
df['TNC_YEAR_FLAG_BUS_MID_2017']=df['TNC_YEAR_FLAG_BUS_2017']*df['MID_OPEX']
df['TNC_YEAR_FLAG_BUS_LOW_2017']=df['TNC_YEAR_FLAG_BUS_2017']*df['LOW_OPEX']

df['TNC_YEAR_FLAG_BUS_HINY_2017']=df['TNC_YEAR_FLAG_BUS_HI_2017']+df['TNC_YEAR_FLAG_BUS_NY_2017']
df['TNC_YEAR_FLAG_BUS_MIDLOW_2017']=df['TNC_YEAR_FLAG_BUS_MID_2017']+df['TNC_YEAR_FLAG_BUS_LOW_2017']

df['TNC_YEAR_FLAG_BUS_HI_2018']=df['TNC_YEAR_FLAG_BUS_2018']*df['HI_OPEX']
df['TNC_YEAR_FLAG_BUS_NY_2018']=df['TNC_YEAR_FLAG_BUS_2018']*df['NEW_YORK']
df['TNC_YEAR_FLAG_BUS_MID_2018']=df['TNC_YEAR_FLAG_BUS_2018']*df['MID_OPEX']
df['TNC_YEAR_FLAG_BUS_LOW_2018']=df['TNC_YEAR_FLAG_BUS_2018']*df['LOW_OPEX']

df['TNC_YEAR_FLAG_BUS_HINY_2018']=df['TNC_YEAR_FLAG_BUS_HI_2018']+df['TNC_YEAR_FLAG_BUS_NY_2018']
df['TNC_YEAR_FLAG_BUS_MIDLOW_2018']=df['TNC_YEAR_FLAG_BUS_MID_2018']+df['TNC_YEAR_FLAG_BUS_LOW_2018']

df['TNC_YEAR_FLAG_RAIL_HI_2017']=df['TNC_YEAR_FLAG_RAIL_2017']*df['HI_OPEX']
df['TNC_YEAR_FLAG_RAIL_NY_2017']=df['TNC_YEAR_FLAG_RAIL_2017']*df['NEW_YORK']
df['TNC_YEAR_FLAG_RAIL_MID_2017']=df['TNC_YEAR_FLAG_RAIL_2017']*df['MID_OPEX']
df['TNC_YEAR_FLAG_RAIL_LOW_2017']=df['TNC_YEAR_FLAG_RAIL_2017']*df['LOW_OPEX']

df['TNC_YEAR_FLAG_RAIL_HINY_2017']=df['TNC_YEAR_FLAG_RAIL_HI_2017']+df['TNC_YEAR_FLAG_RAIL_NY_2017']
df['TNC_YEAR_FLAG_RAIL_MIDLOW_2017']=df['TNC_YEAR_FLAG_RAIL_MID_2017']+df['TNC_YEAR_FLAG_RAIL_LOW_2017']

df['TNC_YEAR_FLAG_RAIL_HI_2018']=df['TNC_YEAR_FLAG_RAIL_2018']*df['HI_OPEX']
df['TNC_YEAR_FLAG_RAIL_NY_2018']=df['TNC_YEAR_FLAG_RAIL_2018']*df['NEW_YORK']
df['TNC_YEAR_FLAG_RAIL_MID_2018']=df['TNC_YEAR_FLAG_RAIL_2018']*df['MID_OPEX']
df['TNC_YEAR_FLAG_RAIL_LOW_2018']=df['TNC_YEAR_FLAG_RAIL_2018']*df['LOW_OPEX']

df['TNC_YEAR_FLAG_RAIL_HINY_2018']=df['TNC_YEAR_FLAG_RAIL_HI_2018']+df['TNC_YEAR_FLAG_RAIL_NY_2018']
df['TNC_YEAR_FLAG_RAIL_MIDLOW_2018']=df['TNC_YEAR_FLAG_RAIL_MID_2018']+df['TNC_YEAR_FLAG_RAIL_LOW_2018']

In [144]:


mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEAR_FLAG_BUS_HINY_2017 \
                    + TNC_YEAR_FLAG_BUS_HINY_2018 \
                    + TNC_YEAR_FLAG_BUS_MIDLOW_2017 \
                    + TNC_YEAR_FLAG_BUS_MIDLOW_2018 \
                    + TNC_YEAR_FLAG_RAIL_HINY_2017 \
                    + TNC_YEAR_FLAG_RAIL_HINY_2018 \
                    + TNC_YEAR_FLAG_RAIL_MIDLOW_2017 \
                    + TNC_YEAR_FLAG_RAIL_MIDLOW_2018 \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6378
Estimator:                   PanelOLS   R-squared (Between):              0.9501
No. Observations:                4041   R-squared (Within):               0.6378
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9504
Time:                        12:17:54   Log-likelihood                    1331.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      330.82
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(20,3757)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             330.82
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(20,3757)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                       Parameter Estimates
==================================================================================================
                                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------------------
VRM_ADJ_log                        0.8022     0.0127     63.019     0.0000      0.7773      0.8272
Tot_Pop_log                        0.1598     0.0466     3.4258     0.0006      0.0683      0.2512
TOT_EMP_MSA_log                    0.1198     0.0798     1.5024     0.1331     -0.0365      0.2762
FARE_per_UPT_2018_log             -0.6987     0.0206    -33.944     0.0000     -0.7391     -0.6584
TSD_POP_PCT_LEHD                   0.0034     0.0010     3.3065     0.0010      0.0014      0.0055
GAS_PRICE_2018_log                 0.2354     0.0257     9.1447     0.0000      0.1849      0.2859
TOTAL_MED_INC_INDIV_2018_log      -0.3417     0.0565    -6.0518     0.0000     -0.4524     -0.2310
PCT_HH_NO_VEH                      0.0057     0.0030     1.8689     0.0617     -0.0003      0.0116
YEARS_SINCE_TNC_BUS               -0.0014     0.0058    -0.2440     0.8073     -0.0127      0.0099
YEARS_SINCE_TNC_RAIL               0.0142     0.0079     1.8038     0.0713     -0.0012      0.0296
BIKE_SHARE                         0.0042     0.0128     0.3315     0.7403     -0.0208      0.0292
scooter_flag                      -0.0134     0.0307    -0.4350     0.6636     -0.0736      0.0469
TNC_YEAR_FLAG_BUS_HINY_2017       -0.0687     0.0466    -1.4754     0.1402     -0.1600      0.0226
TNC_YEAR_FLAG_BUS_HINY_2018       -0.1122     0.0534    -2.0992     0.0359     -0.2170     -0.0074
TNC_YEAR_FLAG_BUS_MIDLOW_2017     -0.0536     0.0166    -3.2336     0.0012     -0.0861     -0.0211
TNC_YEAR_FLAG_BUS_MIDLOW_2018     -0.0911     0.0201    -4.5343     0.0000     -0.1305     -0.0517
TNC_YEAR_FLAG_RAIL_HINY_2017      -0.0925     0.0514    -1.8001     0.0719     -0.1932      0.0082
TNC_YEAR_FLAG_RAIL_HINY_2018      -0.1311     0.0605    -2.1684     0.0302     -0.2497     -0.0126
TNC_YEAR_FLAG_RAIL_MIDLOW_2017    -0.0908     0.0446    -2.0348     0.0419     -0.1784     -0.0033
TNC_YEAR_FLAG_RAIL_MIDLOW_2018    -0.1760     0.0497    -3.5417     0.0004     -0.2734     -0.0786
==================================================================================================

F-test for Poolability: 106.26
P-value: 0.0000
Distribution: F(263,3757)

Included effects: Entity

In [145]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOT_EMP_TSD_TRACTS',
 'TOT_EMP_ALL_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_EMP_PCT_LEHD',
 'TSD_EMP_PCT_CBSA',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOT_EMP_TSD_TRACTS_log',
 'TOT_EMP_ALL_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_EMP_PCT_LEHD_log',
 'TSD_EMP_PCT_CBSA_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'YEARS_SINCE_TNC_BUS_sqrd',
 'YEARS_SINCE_TNC_RAIL_sqrd',
 'YEARS_SINCE_TNC_BUS_exp',
 'YEARS_SINCE_TNC_RAIL_exp',
 'YEAR_2',
 'TNC_YEAR_FLAG_BUS_BEFORE_2014',
 'TNC_YEAR_FLAG_BUS_2015',
 'TNC_YEAR_FLAG_BUS_2016',
 'TNC_YEAR_FLAG_BUS_2017',
 'TNC_YEAR_FLAG_BUS_2018',
 'TNC_YEAR_FLAG_RAIL_BEFORE_2014',
 'TNC_YEAR_FLAG_RAIL_2015',
 'TNC_YEAR_FLAG_RAIL_2016',
 'TNC_YEAR_FLAG_RAIL_2017',
 'TNC_YEAR_FLAG_RAIL_2018',
 'YEAR_2017_FLAG',
 'YEAR_2018_FLAG',
 'TNC_YEAR_FLAG_BUS_HI_2017',
 'TNC_YEAR_FLAG_BUS_NY_2017',
 'TNC_YEAR_FLAG_BUS_MID_2017',
 'TNC_YEAR_FLAG_BUS_LOW_2017',
 'TNC_YEAR_FLAG_BUS_HINY_2017',
 'TNC_YEAR_FLAG_BUS_MIDLOW_2017',
 'TNC_YEAR_FLAG_RAIL_HI_2017',
 'TNC_YEAR_FLAG_RAIL_NY_2017',
 'TNC_YEAR_FLAG_RAIL_MID_2017',
 'TNC_YEAR_FLAG_RAIL_LOW_2017',
 'TNC_YEAR_FLAG_RAIL_HINY_2017',
 'TNC_YEAR_FLAG_RAIL_MIDLOW_2017',
 'TNC_YEAR_FLAG_BUS_HI_2018',
 'TNC_YEAR_FLAG_BUS_NY_2018',
 'TNC_YEAR_FLAG_BUS_MID_2018',
 'TNC_YEAR_FLAG_BUS_LOW_2018',
 'TNC_YEAR_FLAG_BUS_HINY_2018',
 'TNC_YEAR_FLAG_BUS_MIDLOW_2018',
 'TNC_YEAR_FLAG_RAIL_HI_2018',
 'TNC_YEAR_FLAG_RAIL_NY_2018',
 'TNC_YEAR_FLAG_RAIL_MID_2018',
 'TNC_YEAR_FLAG_RAIL_LOW_2018',
 'TNC_YEAR_FLAG_RAIL_HINY_2018',
 'TNC_YEAR_FLAG_RAIL_MIDLOW_2018']

In [146]:
df['YEARS_AFTER_2014'] = df['YEAR_2'].apply(lambda x : max(x-2014, 0))
df['TNC_YEARS_AFTER_2014'] = df['YEARS_AFTER_2014'] * df['TNC_FLAG']

df['TNC_YEARS_AFTER_2014_BUS'] = df['TNC_YEARS_AFTER_2014'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2014_RAIL'] = df['TNC_YEARS_AFTER_2014'] * df['RAIL_FLAG']

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEARS_AFTER_2014_BUS \
                    + TNC_YEARS_AFTER_2014_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6362
Estimator:                   PanelOLS   R-squared (Between):              0.9526
No. Observations:                4041   R-squared (Within):               0.6362
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9529
Time:                        12:26:27   Log-likelihood                    1322.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      470.10
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(14,3763)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             470.10
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3763)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8040     0.0128     62.893     0.0000      0.7790      0.8291
Tot_Pop_log                      0.1741     0.0473     3.6828     0.0002      0.0814      0.2668
TOT_EMP_MSA_log                  0.1487     0.0795     1.8719     0.0613     -0.0070      0.3045
FARE_per_UPT_2018_log           -0.6969     0.0206    -33.834     0.0000     -0.7373     -0.6565
TSD_POP_PCT_LEHD                 0.0033     0.0010     3.1775     0.0015      0.0013      0.0054
GAS_PRICE_2018_log               0.1953     0.0258     7.5587     0.0000      0.1446      0.2459
TOTAL_MED_INC_INDIV_2018_log    -0.3843     0.0555    -6.9246     0.0000     -0.4931     -0.2755
PCT_HH_NO_VEH                    0.0059     0.0030     1.9507     0.0512  -3.002e-05      0.0119
YEARS_SINCE_TNC_BUS             -0.0105     0.0061    -1.7062     0.0881     -0.0225      0.0016
YEARS_SINCE_TNC_RAIL             0.0299     0.0108     2.7556     0.0059      0.0086      0.0511
BIKE_SHARE                       0.0072     0.0128     0.5656     0.5717     -0.0178      0.0323
scooter_flag                    -0.0348     0.0258    -1.3518     0.1765     -0.0854      0.0157
TNC_YEARS_AFTER_2014_BUS        -0.0123     0.0055    -2.2461     0.0248     -0.0231     -0.0016
TNC_YEARS_AFTER_2014_RAIL       -0.0557     0.0148    -3.7578     0.0002     -0.0848     -0.0266
================================================================================================

F-test for Poolability: 106.18
P-value: 0.0000
Distribution: F(263,3763)

Included effects: Entity

In [147]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEARS_AFTER_2014_BUS \
                    + TNC_YEARS_AFTER_2014_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6351
Estimator:                   PanelOLS   R-squared (Between):              0.9548
No. Observations:                4041   R-squared (Within):               0.6351
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9550
Time:                        12:27:36   Log-likelihood                    1316.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      546.12
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             546.12
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8068     0.0128     63.220     0.0000      0.7818      0.8319
Tot_Pop_log                      0.1745     0.0473     3.6914     0.0002      0.0818      0.2672
TOT_EMP_MSA_log                  0.1530     0.0777     1.9698     0.0489      0.0007      0.3053
FARE_per_UPT_2018_log           -0.6934     0.0206    -33.703     0.0000     -0.7337     -0.6530
TSD_POP_PCT_LEHD                 0.0036     0.0010     3.4346     0.0006      0.0015      0.0056
GAS_PRICE_2018_log               0.1953     0.0258     7.5570     0.0000      0.1447      0.2460
TOTAL_MED_INC_INDIV_2018_log    -0.3872     0.0553    -7.0060     0.0000     -0.4956     -0.2789
PCT_HH_NO_VEH                    0.0061     0.0030     2.0115     0.0443      0.0002      0.0121
BIKE_SHARE                       0.0052     0.0122     0.4305     0.6668     -0.0187      0.0291
scooter_flag                    -0.0435     0.0253    -1.7160     0.0862     -0.0932      0.0062
TNC_YEARS_AFTER_2014_BUS        -0.0205     0.0036    -5.6639     0.0000     -0.0276     -0.0134
TNC_YEARS_AFTER_2014_RAIL       -0.0173     0.0072    -2.4177     0.0157     -0.0313     -0.0033
================================================================================================

F-test for Poolability: 105.87
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [ ]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEARS_AFTER_2014_BUS \
                    + TNC_YEARS_AFTER_2014_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

In [148]:
df['TNC_YEARS_AFTER_2014_BUS'] = df['TNC_YEARS_AFTER_2014'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2014_RAIL'] = df['TNC_YEARS_AFTER_2014'] * df['RAIL_FLAG']


mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + TNC_YEARS_AFTER_2014_BUS \
                    + TNC_YEARS_AFTER_2014_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [150]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + YEARS_SINCE_TNC_BUS * YEARS_AFTER_2014\
                    + YEARS_SINCE_TNC_RAIL * YEARS_AFTER_2014\
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6365
Estimator:                   PanelOLS   R-squared (Between):              0.9500
No. Observations:                4041   R-squared (Within):               0.6365
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9503
Time:                        12:34:19   Log-likelihood                    1324.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      439.22
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(15,3762)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             439.22
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3762)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                           Parameter Estimates
=========================================================================================================
                                       Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------------------------------
VRM_ADJ_log                               0.8028     0.0128     62.630     0.0000      0.7777      0.8279
Tot_Pop_log                               0.1642     0.0480     3.4239     0.0006      0.0702      0.2583
TOT_EMP_MSA_log                           0.1255     0.0802     1.5662     0.1174     -0.0316      0.2827
FARE_per_UPT_2018_log                    -0.6968     0.0206    -33.852     0.0000     -0.7372     -0.6565
TSD_POP_PCT_LEHD                          0.0034     0.0010     3.2891     0.0010      0.0014      0.0055
GAS_PRICE_2018_log                        0.2204     0.0284     7.7542     0.0000      0.1646      0.2761
TOTAL_MED_INC_INDIV_2018_log             -0.3540     0.0568    -6.2338     0.0000     -0.4653     -0.2427
PCT_HH_NO_VEH                             0.0060     0.0030     1.9803     0.0477   5.966e-05      0.0120
BIKE_SHARE                                0.0037     0.0128     0.2890     0.7726     -0.0214      0.0288
scooter_flag                             -0.0045     0.0287    -0.1578     0.8746     -0.0608      0.0517
YEARS_SINCE_TNC_BUS                       0.0178     0.0099     1.7984     0.0722     -0.0016      0.0372
YEARS_AFTER_2014                         -0.0091     0.0059    -1.5399     0.1237     -0.0206      0.0025
YEARS_SINCE_TNC_BUS:YEARS_AFTER_2014     -0.0091     0.0029    -3.1051     0.0019     -0.0148     -0.0033
YEARS_SINCE_TNC_RAIL                      0.0168     0.0113     1.4807     0.1388     -0.0054      0.0390
YEARS_SINCE_TNC_RAIL:YEARS_AFTER_2014    -0.0055     0.0034    -1.5972     0.1103     -0.0123      0.0013
=========================================================================================================

F-test for Poolability: 106.15
P-value: 0.0000
Distribution: F(263,3762)

Included effects: Entity

In [151]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + YEARS_AFTER_2014 \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6355
Estimator:                   PanelOLS   R-squared (Between):              0.9575
No. Observations:                4041   R-squared (Within):               0.6355
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9578
Time:                        12:36:26   Log-likelihood                    1318.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      504.88
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(13,3764)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             504.88
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3764)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8043     0.0128     62.789     0.0000      0.7792      0.8294
Tot_Pop_log                      0.1832     0.0477     3.8442     0.0001      0.0898      0.2766
TOT_EMP_MSA_log                  0.1614     0.0795     2.0315     0.0423      0.0056      0.3172
FARE_per_UPT_2018_log           -0.6939     0.0206    -33.712     0.0000     -0.7342     -0.6535
TSD_POP_PCT_LEHD                 0.0035     0.0010     3.3593     0.0008      0.0015      0.0056
GAS_PRICE_2018_log               0.1873     0.0265     7.0607     0.0000      0.1353      0.2393
TOTAL_MED_INC_INDIV_2018_log    -0.3941     0.0555    -7.1076     0.0000     -0.5029     -0.2854
PCT_HH_NO_VEH                    0.0062     0.0030     2.0591     0.0396      0.0003      0.0122
BIKE_SHARE                       0.0060     0.0128     0.4676     0.6401     -0.0191      0.0310
scooter_flag                    -0.0433     0.0256    -1.6935     0.0904     -0.0934      0.0068
YEARS_AFTER_2014                -0.0175     0.0052    -3.3454     0.0008     -0.0278     -0.0073
YEARS_SINCE_TNC_BUS             -0.0060     0.0058    -1.0507     0.2935     -0.0173      0.0052
YEARS_SINCE_TNC_RAIL             0.0046     0.0060     0.7633     0.4453     -0.0072      0.0164
================================================================================================

F-test for Poolability: 106.05
P-value: 0.0000
Distribution: F(263,3764)

Included effects: Entity

In [152]:
#Preferred model 

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6344
Estimator:                   PanelOLS   R-squared (Between):              0.9423
No. Observations:                4041   R-squared (Within):               0.6344
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9426
Time:                        12:37:47   Log-likelihood                    1312.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      544.54
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(12,3765)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             544.54
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3765)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7996     0.0128     62.714     0.0000      0.7747      0.8246
Tot_Pop_log                      0.1494     0.0466     3.2038     0.0014      0.0580      0.2408
TOT_EMP_MSA_log                  0.1600     0.0796     2.0113     0.0444      0.0040      0.3160
FARE_per_UPT_2018_log           -0.6923     0.0206    -33.598     0.0000     -0.7327     -0.6519
TSD_POP_PCT_LEHD                 0.0041     0.0010     3.9358     0.0001      0.0020      0.0061
GAS_PRICE_2018_log               0.2167     0.0251     8.6436     0.0000      0.1675      0.2658
TOTAL_MED_INC_INDIV_2018_log    -0.3991     0.0555    -7.1894     0.0000     -0.5079     -0.2902
PCT_HH_NO_VEH                    0.0064     0.0030     2.1007     0.0357      0.0004      0.0123
BIKE_SHARE                       0.0056     0.0128     0.4366     0.6624     -0.0195      0.0307
scooter_flag                    -0.0483     0.0256    -1.8881     0.0591     -0.0984      0.0019
YEARS_SINCE_TNC_BUS             -0.0197     0.0041    -4.8687     0.0000     -0.0277     -0.0118
YEARS_SINCE_TNC_RAIL            -0.0048     0.0053    -0.8963     0.3701     -0.0152      0.0057
================================================================================================

F-test for Poolability: 105.75
P-value: 0.0000
Distribution: F(263,3765)

Included effects: Entity

In [239]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOT_EMP_TSD_TRACTS',
 'TOT_EMP_ALL_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_EMP_PCT_LEHD',
 'TSD_EMP_PCT_CBSA',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'UBER_NET_REVENUE',
 'UBER_REV_SCALED',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOT_EMP_TSD_TRACTS_log',
 'TOT_EMP_ALL_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_EMP_PCT_LEHD_log',
 'TSD_EMP_PCT_CBSA_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'UBER_NET_REVENUE_log',
 'UBER_REV_SCALED_log',
 'UBER_REV_SCALED_BUS',
 'UBER_REV_SCALED_RAIL',
 'UBER_REV_SCALED_BUS_HI',
 'UBER_REV_SCALED_BUS_MID',
 'UBER_REV_SCALED_BUS_LOW',
 'UBER_REV_SCALED_BUS_NY',
 'UBER_REV_SCALED_RAIL_HI',
 'UBER_REV_SCALED_RAIL_MID',
 'UBER_REV_SCALED_RAIL_LOW',
 'UBER_REV_SCALED_RAIL_NY',
 'UBER_REV_SCALED_BUS_HINY',
 'UBER_REV_SCALED_RAIL_HINY',
 'UBER_REV_SCALED_BUS_MIDLOW',
 'UBER_REV_SCALED_RAIL_MIDLOW',
 'CBSA_log_log',
 'UPT_ADJ_log_log',
 'VRM_ADJ_log_log',
 'FARE_ADJ_log_log',
 'min_year_log_log',
 'max_year_log_log',
 'FARE_per_UPT_log_log',
 'PROBLEM_FLAG_log_log',
 'PROBLEM_FLAG2_log_log',
 'Tot_Pop_log_log',
 'Tot_Instate_Pop_log_log',
 'Tot_Outstate_Pop_log_log',
 'Tot_NonUSA_POP_log_log',
 'Total_Median_Income_Individual_log_log',
 'Native_Instate_Med_Inc_Indiv_log_log',
 'Native_Outstate_Med_Inc_Indiv_log_log',
 'Total_Pop_Poverty_log_log',
 'Pop_Below100_Poverty_log_log',
 'Pop_Below150_Poverty_log_log',
 'Pop_Above150_Poverty_log_log',
 'Age_under18_log_log',
 'Age_18to64_log_log',
 'Age_over64_log_log',
 'Total_HH_log_log',
 'HH_0Veh_log_log',
 'HH_1Veh_log_log',
 'HH_2Veh_log_log',
 'HH_3Veh_log_log',
 'HH_4+Veh_log_log',
 'PCT_HH_NO_VEH_log_log',
 'HH_MED_INC_log_log',
 'HH_MEAN_INC_log_log',
 'INC_U35_log_log',
 'INC_35_100_log_log',
 'INC_100P_log_log',
 'TOT_UNEMP_MSA_log_log',
 'TOT_EMP_MSA_log_log',
 'TOT_LABOR_MSA_log_log',
 'UNEMP_RATE_PCT_log_log',
 'EMP_RATE_PCT_log_log',
 'GasPrice_log_log',
 'Area_acre_log_log',
 'POP_CENSUSTRACT_log_log',
 'AVG_SPEED_log_log',
 '2018_Dollar_Multiplier_log_log',
 'TNC_ARRIVAL_log_log',
 'TNC_FLAG_log_log',
 'YEARS_SINCE_TNC_log_log',
 'FARE_ADJ_2018_log_log',
 'TOTAL_MED_INC_INDIV_2018_log_log',
 'NATIVE_INSTATE_MED_INC_2018_log_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log_log',
 'HH_MED_INC_2018_log_log',
 'HH_MEAN_INC_2018_log_log',
 'GAS_PRICE_2018_log_log',
 'dockCt_log_log',
 'docklessCt_log_log',
 'scooterCt_log_log',
 'PBS_Start_log_log',
 'PBS_End_log_log',
 'PBS_Flag_log_log',
 'walkscore_log_log',
 'transit_log_log',
 'bike_log_log',
 'CLUSTER_GT_NEW_11_log_log',
 'CLUSTER_GT_ORIGINAL_log_log',
 'CLUSTER_APTA_log_log',
 'JTW_DA_PCT_log_log',
 'JTW_CARPOOLED_PCT_log_log',
 'JTW_TRANSIT_PCT_log_log',
 'JTW_WALK_PCT_log_log',
 'JTW_BICYCLE_PCT_log_log',
 'JTW_OTHER_PCT_log_log',
 'JTW_HOME_PCT_log_log',
 'FARE_per_UPT_2018_log_log',
 'WEIGHTED_POP_DENSITY_log_log',
 'CLUSTER_APTA_EXTENDED_log_log',
 'CBSA Code_log_log',
 'TOT_EMP_TSD_TRACTS_log_log',
 'TOT_EMP_ALL_TRACTS_log_log',
 'TOTAL_JOBS_RA_TRACTS_log_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log_log',
 'AREA_ACRE_log_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log_log',
 'TSD_EMP_PCT_LEHD_log_log',
 'TSD_EMP_PCT_CBSA_log_log',
 'TSD_POP_PCT_LEHD_log_log',
 'TSD_POP_PCT_CBSA_log_log',
 'TSD_POP_WAGE_UNDER_1250_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_log_log',
 'TSD_POP_WAGE_UNDER_3333_log_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log_log',
 'MAINTENANCE_log_log',
 'MAINTENANCE_NYC_log_log',
 'MAINTENANCE_WMATA_log_log',
 'RESTRUCTURE_log_log',
 'Mechanical_Failures_log_log',
 'Other_Failures_log_log',
 'Total_Failures_log_log',
 'MDBF_Mechanical_log_log',
 'MDBF_Total_log_log',
 'PBS_Flag_Update_log_log',
 'CLUSTER_APTA4_log_log',
 'YearDiff_log_log',
 'BUS_FLAG_log_log',
 'RAIL_FLAG_log_log',
 'POP_EMP_log_log',
 'HH_EMP_log_log',
 'Tot_NonUSA_POP_pct_log_log',
 'YEARS_SINCE_2002_log_log',
 'YEARS_2002_2010_log_log',
 'YEARS_AFTER_2010_log_log',
 'YEARS_2002_2014_log_log',
 'YEARS_AFTER_2014_log_log',
 'YEARS_SINCE_2002_BUS_log_log',
 'YEARS_SINCE_2002_RAIL_log_log',
 'YEARS_2002_2010_BUS_log_log',
 'YEARS_AFTER_2010_BUS_log_log',
 'YEARS_2002_2010_RAIL_log_log',
 'YEARS_AFTER_2010_RAIL_log_log',
 'YEARS_2002_2014_BUS_log_log',
 'YEARS_AFTER_2014_BUS_log_log',
 'YEARS_2002_2014_RAIL_log_log',
 'YEARS_AFTER_2014_RAIL_log_log',
 'YEARS_AFTER_2012_log_log',
 'TNC_YEARS_AFTER_2012_log_log',
 'TNC_YEARS_AFTER_2012_BUS_log_log',
 'TNC_YEARS_AFTER_2012_RAIL_log_log',
 'YEARS_SINCE_RAIL_START_log_log',
 'YEARS_SINCE_RAIL_START_1_log_log',
 'YEARS_SINCE_RAIL_START_2_log_log',
 'YEARS_SINCE_RAIL_START_3_log_log',
 'TNC_FLAG_BUS_log_log',
 'TNC_FLAG_RAIL_log_log',
 'YEARS_SINCE_TNC_BUS_log_log',
 'YEARS_SINCE_TNC_RAIL_log_log',
 'dockless_flag_log_log',
 'scooter_flag_log_log',
 'BIKE_SHARE_log_log',
 'PBS_Flag_BUS_log_log',
 'dockCt_BUS_log_log',
 'docklessCt_BUS_log_log',
 'scooterCt_BUS_log_log',
 'dockless_flag_BUS_log_log',
 'scooter_flag_BUS_log_log',
 'BIKE_SHARE_BUS_log_log',
 'PBS_Flag_RAIL_log_log',
 'dockCt_RAIL_log_log',
 'docklessCt_RAIL_log_log',
 'scooterCt_RAIL_log_log',
 'dockless_flag_RAIL_log_log',
 'scooter_flag_RAIL_log_log',
 'BIKE_SHARE_RAIL_log_log',
 'BIKE_SCOOTER_RAIL_log_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log_log',
 'BIKE_SCOOTER_BUS_log_log',
 'BIKE_OR_SCOOTER_BUS_log_log',
 'BIKE_OR_SCOOTER_RAIL_log_log',
 'AVG_VEHS_log_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log_log',
 'JTW_WALK_BIKE_PCT_log_log',
 'VRM_ADJ_BUS_log_log',
 'VRM_ADJ_RAIL_log_log',
 'MDBF_Mechanical_RAIL_log_log',
 'MDBF_Mechanical_BUS_log_log',
 'MDBF_Total_RAIL_log_log',
 'MDBF_Total_BUS_log_log',
 'HI_OPEX_log_log',
 'MID_OPEX_log_log',
 'LOW_OPEX_log_log',
 'NEW_YORK_log_log',
 'YEARS_SINCE_TNC_BUS_HI_log_log',
 'YEARS_SINCE_TNC_BUS_MID_log_log',
 'YEARS_SINCE_TNC_BUS_LOW_log_log',
 'YEARS_SINCE_TNC_BUS_NY_log_log',
 'YEARS_SINCE_TNC_RAIL_HI_log_log',
 'YEARS_SINCE_TNC_RAIL_MID_log_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log_log',
 'YEARS_SINCE_TNC_RAIL_NY_log_log',
 'YEARS_SINCE_TNC_BUS_HINY_log_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log_log',
 'BIKE_SHARE_HI_log_log',
 'BIKE_SHARE_MID_log_log',
 'BIKE_SHARE_LOW_log_log',
 'BIKE_SHARE_NY_log_log',
 'scooter_flag_HI_log_log',
 'scooter_flag_MID_log_log',
 'scooter_flag_LOW_log_log',
 'scooter_flag_NY_log_log',
 'BIKE_SHARE_HINY_log_log',
 'BIKE_SHARE_MIDLOW_log_log',
 'scooter_flag_HINY_log_log',
 'scooter_flag_MIDLOW_log_log',
 'UBER_NET_REVENUE_log_log',
 'UBER_REV_SCALED_log_log',
 'UBER_REV_SCALED_BUS_log',
 'UBER_REV_SCALED_RAIL_log',
 'UBER_REV_SCALED_BUS_HI_log',
 'UBER_REV_SCALED_BUS_MID_log',
 'UBER_REV_SCALED_BUS_LOW_log',
 'UBER_REV_SCALED_BUS_NY_log',
 'UBER_REV_SCALED_RAIL_HI_log',
 'UBER_REV_SCALED_RAIL_MID_log',
 'UBER_REV_SCALED_RAIL_LOW_log',
 'UBER_REV_SCALED_RAIL_NY_log',
 'UBER_REV_SCALED_BUS_HINY_log',
 'UBER_REV_SCALED_RAIL_HINY_log',
 'UBER_REV_SCALED_BUS_MIDLOW_log',
 'UBER_REV_SCALED_RAIL_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW']

In [241]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_POP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    + UBER_REV_SCALED_BUS_HINY \
                    + UBER_REV_SCALED_BUS_MIDLOW \
                    + UBER_REV_SCALED_RAIL_HINY \
                    + UBER_REV_SCALED_RAIL_MIDLOW \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6345
Estimator:                   PanelOLS   R-squared (Between):              0.9156
No. Observations:                4041   R-squared (Within):               0.6345
Date:                Mon, Apr 20 2020   R-squared (Overall):              0.9161
Time:                        01:51:35   Log-likelihood                    1312.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      466.61
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.307   Distribution:                 F(14,3763)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             466.61
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3763)
Avg Obs:                       237.71
Min Obs:                       156.00
Max Obs:                       263.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.7979     0.0127     62.921     0.0000      0.7731      0.8228
Tot_Pop_log                      0.1391     0.0464     2.9945     0.0028      0.0480      0.2301
TOT_EMP_MSA_log                  0.1025     0.0775     1.3224     0.1861     -0.0495      0.2545
FARE_per_UPT_2018_log           -0.6955     0.0206    -33.744     0.0000     -0.7360     -0.6551
TSD_POP_PCT_LEHD                 0.0038     0.0010     3.6835     0.0002      0.0018      0.0059
GAS_PRICE_2018_log               0.2359     0.0243     9.7248     0.0000      0.1883      0.2834
TOTAL_MED_INC_INDIV_2018_log    -0.3902     0.0554    -7.0442     0.0000     -0.4988     -0.2816
PCT_HH_NO_VEH                    0.0064     0.0030     2.0978     0.0360      0.0004      0.0123
BIKE_SHARE                      -0.0088     0.0119    -0.7370     0.4612     -0.0322      0.0146
scooter_flag                    -0.0605     0.0267    -2.2658     0.0235     -0.1128     -0.0081
UBER_REV_SCALED_BUS_HINY      -8.96e-05  6.058e-05    -1.4791     0.1392     -0.0002   2.917e-05
UBER_REV_SCALED_BUS_MIDLOW      -0.0020     0.0005    -4.2117     0.0000     -0.0029     -0.0011
UBER_REV_SCALED_RAIL_HINY      9.17e-05    6.1e-05     1.5033     0.1328   -2.79e-05      0.0002
UBER_REV_SCALED_RAIL_MIDLOW      0.0004     0.0007     0.5557     0.5784     -0.0010      0.0017
================================================================================================

F-test for Poolability: 105.70
P-value: 0.0000
Distribution: F(263,3763)

Included effects: Entity

In [108]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + POP_EMP_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_EMP_PCT_LEHD \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6341
Estimator:                   PanelOLS   R-squared (Between):              0.9394
No. Observations:                4033   R-squared (Within):               0.6341
Date:                Fri, Apr 17 2020   R-squared (Overall):              0.9398
Time:                        11:26:19   Log-likelihood                    1305.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      464.87
Entities:                         264   P-value                           0.0000
Avg Obs:                       15.277   Distribution:                 F(14,3755)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             464.87
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3755)
Avg Obs:                       237.24
Min Obs:                       156.00
Max Obs:                       261.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8064     0.0128     63.220     0.0000      0.7813      0.8314
POP_EMP_log                      0.2685     0.0526     5.1055     0.0000      0.1654      0.3716
FARE_per_UPT_2018_log           -0.6955     0.0207    -33.612     0.0000     -0.7360     -0.6549
TSD_EMP_PCT_LEHD                 0.0031     0.0008     3.6537     0.0003      0.0014      0.0047
GAS_PRICE_2018_log               0.2074     0.0260     7.9625     0.0000      0.1563      0.2584
TOTAL_MED_INC_INDIV_2018_log    -0.3865     0.0532    -7.2621     0.0000     -0.4908     -0.2821
PCT_HH_NO_VEH                    0.0067     0.0031     2.1836     0.0291      0.0007      0.0127
JTW_HOME_PCT                    -0.0003     0.0040    -0.0786     0.9373     -0.0082      0.0075
YEARS_SINCE_TNC_BUS2_HINY       -0.0058     0.0049    -1.1889     0.2346     -0.0154      0.0038
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0131     0.0036    -3.6123     0.0003     -0.0202     -0.0060
YEARS_SINCE_TNC_RAIL2_HINY       0.0013     0.0050     0.2645     0.7914     -0.0085      0.0111
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0107     0.0071    -1.5090     0.1314     -0.0245      0.0032
BIKE_SHARE                       0.0020     0.0130     0.1524     0.8789     -0.0234      0.0274
scooter_flag                    -0.0603     0.0253    -2.3894     0.0169     -0.1098     -0.0108
================================================================================================

F-test for Poolability: 110.14
P-value: 0.0000
Distribution: F(263,3755)

Included effects: Entity

In [54]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_LABOR_FORCE_PCT \
                    + TSD_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6312
Estimator:                   PanelOLS   R-squared (Between):              0.7393
No. Observations:                4018   R-squared (Within):               0.6312
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.7417
Time:                        03:55:57   Log-likelihood                    1254.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      534.09
Entities:                         262   P-value                           0.0000
Avg Obs:                       15.336   Distribution:                 F(12,3744)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             534.09
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3744)
Avg Obs:                       236.35
Min Obs:                       161.00
Max Obs:                       259.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8214     0.0126     65.338     0.0000      0.7967      0.8460
FARE_per_UPT_2018_log           -0.6870     0.0209    -32.903     0.0000     -0.7279     -0.6461
TSD_LABOR_FORCE_PCT              0.1313     0.1699     0.7731     0.4395     -0.2017      0.4644
TSD_EMP_PCT                      0.1843     0.0947     1.9456     0.0518     -0.0014      0.3700
GAS_PRICE_2018_log               0.2440     0.0248     9.8341     0.0000      0.1953      0.2926
TOTAL_MED_INC_INDIV_2018_log    -0.4477     0.0536    -8.3582     0.0000     -0.5527     -0.3427
PCT_HH_NO_VEH                    0.0052     0.0031     1.6772     0.0936     -0.0009      0.0112
JTW_HOME_PCT                     0.0039     0.0039     0.9843     0.3250     -0.0038      0.0116
YEARS_SINCE_TNC_BUS             -0.0122     0.0040    -3.0446     0.0023     -0.0201     -0.0043
YEARS_SINCE_TNC_RAIL          2.425e-05     0.0054     0.0045     0.9964     -0.0105      0.0105
BIKE_SHARE                       0.0125     0.0129     0.9696     0.3323     -0.0128      0.0378
scooter_flag                    -0.0470     0.0259    -1.8170     0.0693     -0.0978      0.0037
================================================================================================

F-test for Poolability: 128.32
P-value: 0.0000
Distribution: F(261,3744)

Included effects: Entity

In [55]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TSD_LABOR_FORCE_PCT \
                    + TSD_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + JOBS_LESS_THAN_40K_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6249
Estimator:                   PanelOLS   R-squared (Between):              0.9613
No. Observations:                4016   R-squared (Within):               0.6249
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.9613
Time:                        03:58:52   Log-likelihood                    1218.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      519.43
Entities:                         262   P-value                           0.0000
Avg Obs:                       15.328   Distribution:                 F(12,3742)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             519.43
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3742)
Avg Obs:                       236.24
Min Obs:                       161.00
Max Obs:                       259.00

                                   Parameter Estimates
==========================================================================================
                        Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------
VRM_ADJ_log                0.8253     0.0127     65.067     0.0000      0.8004      0.8501
FARE_per_UPT_2018_log     -0.6796     0.0210    -32.287     0.0000     -0.7209     -0.6383
TSD_LABOR_FORCE_PCT       -0.3239     0.2356    -1.3746     0.1693     -0.7859      0.1381
TSD_EMP_PCT                0.2864     0.1022     2.8030     0.0051      0.0861      0.4867
GAS_PRICE_2018_log         0.3525     0.0211     16.725     0.0000      0.3112      0.3938
JOBS_LESS_THAN_40K_log     0.0018     0.0165     0.1112     0.9115     -0.0306      0.0343
PCT_HH_NO_VEH              0.0107     0.0030     3.5242     0.0004      0.0047      0.0167
JTW_HOME_PCT               0.0087     0.0039     2.2203     0.0265      0.0010      0.0164
YEARS_SINCE_TNC_BUS       -0.0091     0.0041    -2.2395     0.0252     -0.0170     -0.0011
YEARS_SINCE_TNC_RAIL       0.0028     0.0054     0.5083     0.6113     -0.0079      0.0134
BIKE_SHARE                 0.0173     0.0130     1.3241     0.1856     -0.0083      0.0428
scooter_flag              -0.0710     0.0260    -2.7351     0.0063     -0.1220     -0.0201
==========================================================================================

F-test for Poolability: 120.31
P-value: 0.0000
Distribution: F(261,3742)

Included effects: Entity

In [38]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + TSD_LABOR_FORCE_PCT \
                    + TSD_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6335
Estimator:                   PanelOLS   R-squared (Between):              0.9284
No. Observations:                4018   R-squared (Within):               0.6335
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.9289
Time:                        11:29:06   Log-likelihood                    1266.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      497.65
Entities:                         262   P-value                           0.0000
Avg Obs:                       15.336   Distribution:                 F(13,3743)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             497.65
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3743)
Avg Obs:                       236.35
Min Obs:                       161.00
Max Obs:                       259.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8098     0.0128     63.430     0.0000      0.7847      0.8348
FARE_per_UPT_2018_log           -0.6861     0.0208    -32.955     0.0000     -0.7269     -0.6453
POP_EMP_log                      0.2485     0.0519     4.7869     0.0000      0.1467      0.3503
TSD_LABOR_FORCE_PCT              0.2021     0.1700     1.1889     0.2346     -0.1312      0.5355
TSD_EMP_PCT                      0.2235     0.0948     2.3576     0.0184      0.0376      0.4093
GAS_PRICE_2018_log               0.2196     0.0253     8.6946     0.0000      0.1701      0.2691
TOTAL_MED_INC_INDIV_2018_log    -0.3989     0.0544    -7.3362     0.0000     -0.5055     -0.2923
PCT_HH_NO_VEH                    0.0068     0.0031     2.1916     0.0285      0.0007      0.0128
JTW_HOME_PCT                 -5.047e-05     0.0040    -0.0126     0.9899     -0.0079      0.0078
YEARS_SINCE_TNC_BUS             -0.0179     0.0042    -4.2897     0.0000     -0.0260     -0.0097
YEARS_SINCE_TNC_RAIL            -0.0035     0.0054    -0.6588     0.5101     -0.0141      0.0070
BIKE_SHARE                       0.0069     0.0129     0.5320     0.5947     -0.0185      0.0322
scooter_flag                    -0.0451     0.0258    -1.7473     0.0807     -0.0957      0.0055
================================================================================================

F-test for Poolability: 108.05
P-value: 0.0000
Distribution: F(261,3743)

Included effects: Entity

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/linearmodels/utility.py:478: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [39]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + TSD_EMP_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6333
Estimator:                   PanelOLS   R-squared (Between):              0.9280
No. Observations:                4018   R-squared (Within):               0.6333
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.9284
Time:                        11:29:57   Log-likelihood                    1266.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      538.95
Entities:                         262   P-value                           0.0000
Avg Obs:                       15.336   Distribution:                 F(12,3744)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             538.95
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3744)
Avg Obs:                       236.35
Min Obs:                       161.00
Max Obs:                       259.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8097     0.0128     63.420     0.0000      0.7846      0.8347
FARE_per_UPT_2018_log           -0.6863     0.0208    -32.960     0.0000     -0.7271     -0.6454
POP_EMP_log                      0.2431     0.0517     4.7010     0.0000      0.1417      0.3445
TSD_EMP_PCT                      0.2698     0.0864     3.1215     0.0018      0.1003      0.4392
GAS_PRICE_2018_log               0.2182     0.0252     8.6482     0.0000      0.1687      0.2676
TOTAL_MED_INC_INDIV_2018_log    -0.3909     0.0540    -7.2443     0.0000     -0.4967     -0.2851
PCT_HH_NO_VEH                    0.0069     0.0031     2.2373     0.0253      0.0009      0.0129
JTW_HOME_PCT                    -0.0001     0.0040    -0.0325     0.9741     -0.0080      0.0077
YEARS_SINCE_TNC_BUS             -0.0172     0.0041    -4.1631     0.0000     -0.0253     -0.0091
YEARS_SINCE_TNC_RAIL            -0.0027     0.0053    -0.5089     0.6109     -0.0132      0.0078
BIKE_SHARE                       0.0062     0.0129     0.4834     0.6288     -0.0191      0.0316
scooter_flag                    -0.0459     0.0258    -1.7788     0.0754     -0.0965      0.0047
================================================================================================

F-test for Poolability: 108.04
P-value: 0.0000
Distribution: F(261,3744)

Included effects: Entity

In [40]:
#Preferred model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + TSD_LABOR_FORCE_PCT \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6329
Estimator:                   PanelOLS   R-squared (Between):              0.9192
No. Observations:                4018   R-squared (Within):               0.6329
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.9198
Time:                        11:30:36   Log-likelihood                    1263.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      538.01
Entities:                         262   P-value                           0.0000
Avg Obs:                       15.336   Distribution:                 F(12,3744)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             538.01
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3744)
Avg Obs:                       236.35
Min Obs:                       161.00
Max Obs:                       259.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8108     0.0128     63.516     0.0000      0.7858      0.8359
FARE_per_UPT_2018_log           -0.6842     0.0208    -32.868     0.0000     -0.7250     -0.6434
POP_EMP_log                      0.2379     0.0518     4.5975     0.0000      0.1365      0.3394
TSD_LABOR_FORCE_PCT              0.3668     0.1551     2.3650     0.0181      0.0627      0.6709
GAS_PRICE_2018_log               0.2218     0.0253     8.7843     0.0000      0.1723      0.2713
TOTAL_MED_INC_INDIV_2018_log    -0.4078     0.0543    -7.5143     0.0000     -0.5143     -0.3014
PCT_HH_NO_VEH                    0.0066     0.0031     2.1371     0.0327      0.0005      0.0126
JTW_HOME_PCT                  5.631e-05     0.0040     0.0140     0.9888     -0.0078      0.0079
YEARS_SINCE_TNC_BUS             -0.0188     0.0042    -4.5242     0.0000     -0.0269     -0.0106
YEARS_SINCE_TNC_RAIL            -0.0042     0.0054    -0.7721     0.4401     -0.0147      0.0064
BIKE_SHARE                       0.0075     0.0129     0.5759     0.5647     -0.0179      0.0328
scooter_flag                    -0.0446     0.0258    -1.7248     0.0846     -0.0952      0.0061
================================================================================================

F-test for Poolability: 111.76
P-value: 0.0000
Distribution: F(261,3744)

Included effects: Entity

In [41]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6249
Estimator:                   PanelOLS   R-squared (Between):              0.9274
No. Observations:                4155   R-squared (Within):               0.6249
Date:                Fri, Apr 10 2020   R-squared (Overall):              0.9277
Time:                        11:36:33   Log-likelihood                    1278.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      586.20
Entities:                         273   P-value                           0.0000
Avg Obs:                       15.220   Distribution:                 F(11,3871)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             586.20
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(11,3871)
Avg Obs:                       244.41
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8112     0.0128     63.619     0.0000      0.7862      0.8362
FARE_per_UPT_2018_log           -0.6410     0.0201    -31.856     0.0000     -0.6805     -0.6016
POP_EMP_log                      0.2369     0.0510     4.6427     0.0000      0.1369      0.3370
GAS_PRICE_2018_log               0.2211     0.0249     8.8724     0.0000      0.1722      0.2699
TOTAL_MED_INC_INDIV_2018_log    -0.3828     0.0530    -7.2233     0.0000     -0.4868     -0.2789
PCT_HH_NO_VEH                    0.0078     0.0030     2.5622     0.0104      0.0018      0.0137
JTW_HOME_PCT                    -0.0005     0.0039    -0.1234     0.9018     -0.0082      0.0072
YEARS_SINCE_TNC_BUS             -0.0191     0.0041    -4.6454     0.0000     -0.0272     -0.0110
YEARS_SINCE_TNC_RAIL            -0.0034     0.0054    -0.6322     0.5273     -0.0139      0.0071
BIKE_SHARE                       0.0059     0.0130     0.4588     0.6464     -0.0195      0.0314
scooter_flag                    -0.0428     0.0260    -1.6469     0.0997     -0.0937      0.0081
================================================================================================

F-test for Poolability: 123.63
P-value: 0.0000
Distribution: F(272,3871)

Included effects: Entity

In [44]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre_x',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'Area_acre_y',
 'TSD_EMP_LEHD',
 'TSD_EMP_DENSITY',
 'TSD_POP_LEHD',
 'JOBS_WHITE_ALONE',
 'JOBS_BLACK_ALONE',
 'JOBS_HISPANIC_LATINO',
 'JOBS_LESS_THAN_40K',
 'JOBS_NON_WHITE',
 'JOBS_UPTO_HIGH_SCHHOL',
 'JOBS_COLLEGE_OR_HIGHER',
 'TSD_POP_DENSITY',
 'TSD_LABOR_FORCE_PCT',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_x_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'Area_acre_y_log',
 'TSD_EMP_LEHD_log',
 'TSD_EMP_DENSITY_log',
 'TSD_POP_LEHD_log',
 'JOBS_WHITE_ALONE_log',
 'JOBS_BLACK_ALONE_log',
 'JOBS_HISPANIC_LATINO_log',
 'JOBS_LESS_THAN_40K_log',
 'JOBS_NON_WHITE_log',
 'JOBS_UPTO_HIGH_SCHHOL_log',
 'JOBS_COLLEGE_OR_HIGHER_log',
 'TSD_POP_DENSITY_log',
 'TSD_LABOR_FORCE_PCT_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW']

In [36]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + MDBF_Total_log \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6283
Estimator:                   PanelOLS   R-squared (Between):              0.9426
No. Observations:                4145   R-squared (Within):               0.6283
Date:                Tue, Mar 31 2020   R-squared (Overall):              0.9433
Time:                        13:34:24   Log-likelihood                    1309.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      434.67
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(15,3858)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             434.67
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3858)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8127     0.0127     63.784     0.0000      0.7877      0.8377
FARE_per_UPT_2018_log           -0.6522     0.0201    -32.448     0.0000     -0.6916     -0.6128
POP_EMP_log                      0.2136     0.0529     4.0389     0.0001      0.1099      0.3173
GAS_PRICE_2018_log               0.2149     0.0258     8.3301     0.0000      0.1643      0.2655
TOTAL_MED_INC_INDIV_2018_log    -0.3599     0.0532    -6.7665     0.0000     -0.4642     -0.2556
PCT_HH_NO_VEH                    0.0071     0.0030     2.3554     0.0186      0.0012      0.0130
WEIGHTED_POP_DENSITY             0.0002  3.965e-05     4.5568     0.0000      0.0001      0.0003
JTW_HOME_PCT                     0.0011     0.0040     0.2672     0.7893     -0.0067      0.0088
YEARS_SINCE_TNC_BUS2_HINY       -0.0203     0.0057    -3.5534     0.0004     -0.0315     -0.0091
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0181     0.0036    -5.0386     0.0000     -0.0251     -0.0110
YEARS_SINCE_TNC_RAIL2_HINY      -0.0134     0.0058    -2.3159     0.0206     -0.0248     -0.0021
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0156     0.0071    -2.1912     0.0285     -0.0295     -0.0016
BIKE_SHARE                       0.0026     0.0130     0.1960     0.8446     -0.0230      0.0281
MDBF_Total_log                  -0.0037     0.0029    -1.2465     0.2126     -0.0094      0.0021
scooter_flag                    -0.0670     0.0256    -2.6208     0.0088     -0.1171     -0.0169
================================================================================================

F-test for Poolability: 121.79
P-value: 0.0000
Distribution: F(271,3858)

Included effects: Entity

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/linearmodels/utility.py:478: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [169]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + MDBF_Mechanical_log \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6249
Estimator:                   PanelOLS   R-squared (Between):              0.9325
No. Observations:                4155   R-squared (Within):               0.6249
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9329
Time:                        09:42:40   Log-likelihood                    1278.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      460.36
Entities:                         273   P-value                           0.0000
Avg Obs:                       15.220   Distribution:                 F(14,3868)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             460.36
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3868)
Avg Obs:                       244.41
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8143     0.0128     63.433     0.0000      0.7891      0.8395
FARE_per_UPT_2018_log           -0.6440     0.0202    -31.804     0.0000     -0.6837     -0.6043
POP_EMP_log                      0.2533     0.0526     4.8183     0.0000      0.1502      0.3564
GAS_PRICE_2018_log               0.2062     0.0260     7.9450     0.0000      0.1553      0.2571
TOTAL_MED_INC_INDIV_2018_log    -0.3910     0.0533    -7.3411     0.0000     -0.4954     -0.2866
PCT_HH_NO_VEH                    0.0077     0.0030     2.5310     0.0114      0.0017      0.0136
JTW_HOME_PCT                     0.0004     0.0040     0.0930     0.9259     -0.0074      0.0082
YEARS_SINCE_TNC_BUS2_HINY       -0.0069     0.0050    -1.3895     0.1648     -0.0166      0.0028
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0164     0.0036    -4.5583     0.0000     -0.0235     -0.0093
YEARS_SINCE_TNC_RAIL2_HINY      -0.0003     0.0051    -0.0524     0.9582     -0.0102      0.0096
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0132     0.0072    -1.8388     0.0660     -0.0272      0.0009
BIKE_SHARE                       0.0016     0.0131     0.1230     0.9022     -0.0241      0.0273
MDBF_Mechanical_log             -0.0016     0.0029    -0.5520     0.5810     -0.0073      0.0041
scooter_flag                    -0.0545     0.0256    -2.1242     0.0337     -0.1047     -0.0042
================================================================================================

F-test for Poolability: 122.35
P-value: 0.0000
Distribution: F(272,3868)

Included effects: Entity

In [170]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + MDBF_Total_log \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6301
Estimator:                   PanelOLS   R-squared (Between):              0.9705
No. Observations:                4145   R-squared (Within):               0.6301
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9710
Time:                        09:42:55   Log-likelihood                    1319.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      438.16
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(15,3858)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             438.16
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3858)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8094     0.0127     63.634     0.0000      0.7844      0.8343
FARE_per_UPT_2018_log           -0.6563     0.0201    -32.705     0.0000     -0.6957     -0.6170
POP_EMP_log                      0.1463     0.0547     2.6754     0.0075      0.0391      0.2535
GAS_PRICE_2018_log               0.2253     0.0258     8.7223     0.0000      0.1746      0.2759
TOTAL_MED_INC_INDIV_2018_log    -0.3667     0.0531    -6.9105     0.0000     -0.4707     -0.2626
PCT_HH_NO_VEH                    0.0072     0.0030     2.4115     0.0159      0.0014      0.0131
WEIGHTED_POP_DENSITY_log         0.9887     0.1557     6.3519     0.0000      0.6835      1.2938
JTW_HOME_PCT                  4.782e-05     0.0039     0.0121     0.9903     -0.0077      0.0078
YEARS_SINCE_TNC_BUS2_HINY       -0.0141     0.0050    -2.7948     0.0052     -0.0240     -0.0042
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0184     0.0036    -5.1411     0.0000     -0.0254     -0.0114
YEARS_SINCE_TNC_RAIL2_HINY      -0.0069     0.0051    -1.3424     0.1796     -0.0169      0.0032
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0163     0.0071    -2.2914     0.0220     -0.0302     -0.0023
BIKE_SHARE                       0.0021     0.0130     0.1646     0.8692     -0.0233      0.0276
MDBF_Total_log                  -0.0038     0.0029    -1.2987     0.1941     -0.0095      0.0019
scooter_flag                    -0.0738     0.0255    -2.8908     0.0039     -0.1239     -0.0237
================================================================================================

F-test for Poolability: 109.76
P-value: 0.0000
Distribution: F(271,3858)

Included effects: Entity

In [171]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS2_HINY \
                    + YEARS_SINCE_TNC_BUS2_MIDLOW \
                    + YEARS_SINCE_TNC_RAIL2_HINY \
                    + YEARS_SINCE_TNC_RAIL2_MIDLOW \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6300
Estimator:                   PanelOLS   R-squared (Between):              0.9708
No. Observations:                4145   R-squared (Within):               0.6300
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9712
Time:                        09:43:08   Log-likelihood                    1318.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      469.26
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(14,3859)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             469.26
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3859)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8084     0.0127     63.662     0.0000      0.7835      0.8333
FARE_per_UPT_2018_log           -0.6543     0.0200    -32.700     0.0000     -0.6935     -0.6151
POP_EMP_log                      0.1504     0.0546     2.7554     0.0059      0.0434      0.2575
GAS_PRICE_2018_log               0.2249     0.0258     8.7072     0.0000      0.1743      0.2755
TOTAL_MED_INC_INDIV_2018_log    -0.3745     0.0527    -7.1052     0.0000     -0.4779     -0.2712
PCT_HH_NO_VEH                    0.0074     0.0030     2.4483     0.0144      0.0015      0.0132
WEIGHTED_POP_DENSITY_log         0.9873     0.1557     6.3426     0.0000      0.6821      1.2925
JTW_HOME_PCT                     0.0002     0.0039     0.0565     0.9549     -0.0075      0.0079
YEARS_SINCE_TNC_BUS2_HINY       -0.0137     0.0050    -2.7253     0.0065     -0.0236     -0.0038
YEARS_SINCE_TNC_BUS2_MIDLOW     -0.0183     0.0036    -5.1353     0.0000     -0.0253     -0.0113
YEARS_SINCE_TNC_RAIL2_HINY      -0.0068     0.0051    -1.3277     0.1844     -0.0168      0.0032
YEARS_SINCE_TNC_RAIL2_MIDLOW    -0.0158     0.0071    -2.2300     0.0258     -0.0297     -0.0019
BIKE_SHARE                       0.0020     0.0130     0.1523     0.8790     -0.0235      0.0274
scooter_flag                    -0.0740     0.0255    -2.8999     0.0038     -0.1241     -0.0240
================================================================================================

F-test for Poolability: 111.88
P-value: 0.0000
Distribution: F(271,3859)

Included effects: Entity

In [172]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6305
Estimator:                   PanelOLS   R-squared (Between):              0.9641
No. Observations:                4145   R-squared (Within):               0.6305
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9647
Time:                        09:43:18   Log-likelihood                    1321.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      549.04
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             549.04
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8058     0.0126     63.824     0.0000      0.7810      0.8305
FARE_per_UPT_2018_log           -0.6539     0.0200    -32.769     0.0000     -0.6931     -0.6148
POP_EMP_log                      0.1297     0.0530     2.4490     0.0144      0.0259      0.2336
GAS_PRICE_2018_log               0.2377     0.0247     9.6054     0.0000      0.1892      0.2862
TOTAL_MED_INC_INDIV_2018_log    -0.3607     0.0526    -6.8545     0.0000     -0.4639     -0.2575
PCT_HH_NO_VEH                    0.0074     0.0030     2.4553     0.0141      0.0015      0.0133
WEIGHTED_POP_DENSITY_log         1.0443     0.1535     6.8045     0.0000      0.7434      1.3452
JTW_HOME_PCT                    -0.0004     0.0039    -0.0907     0.9277     -0.0080      0.0073
YEARS_SINCE_TNC_BUS             -0.0240     0.0041    -5.8126     0.0000     -0.0320     -0.0159
YEARS_SINCE_TNC_RAIL            -0.0105     0.0054    -1.9480     0.0515     -0.0212   6.806e-05
BIKE_SHARE                       0.0054     0.0128     0.4202     0.6744     -0.0198      0.0305
scooter_flag                    -0.0631     0.0258    -2.4410     0.0147     -0.1137     -0.0124
================================================================================================

F-test for Poolability: 112.44
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [37]:
df['YEARS_SINCE_TNC_BUS_SQRD']=df['YEARS_SINCE_TNC_BUS']*df['YEARS_SINCE_TNC_BUS']
df['YEARS_SINCE_TNC_RAIL_SQRD']=df['YEARS_SINCE_TNC_RAIL']*df['YEARS_SINCE_TNC_RAIL']

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6301
Estimator:                   PanelOLS   R-squared (Between):              0.9748
No. Observations:                4145   R-squared (Within):               0.6301
Date:                Tue, Mar 31 2020   R-squared (Overall):              0.9753
Time:                        13:35:04   Log-likelihood                    1319.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      548.08
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             548.08
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8031     0.0126     63.885     0.0000      0.7785      0.8278
FARE_per_UPT_2018_log           -0.6551     0.0200    -32.806     0.0000     -0.6942     -0.6159
POP_EMP_log                      0.0924     0.0520     1.7777     0.0755     -0.0095      0.1943
GAS_PRICE_2018_log               0.2623     0.0239     10.956     0.0000      0.2154      0.3093
TOTAL_MED_INC_INDIV_2018_log    -0.3518     0.0527    -6.6723     0.0000     -0.4551     -0.2484
PCT_HH_NO_VEH                    0.0075     0.0030     2.5079     0.0122      0.0016      0.0134
WEIGHTED_POP_DENSITY_log         1.0373     0.1540     6.7375     0.0000      0.7355      1.3392
JTW_HOME_PCT                    -0.0026     0.0038    -0.6871     0.4921     -0.0101      0.0049
YEARS_SINCE_TNC_BUS_SQRD        -0.0047     0.0009    -5.3490     0.0000     -0.0064     -0.0030
YEARS_SINCE_TNC_RAIL_SQRD       -0.0009     0.0010    -0.9165     0.3595     -0.0028      0.0010
BIKE_SHARE                      -0.0027     0.0124    -0.2215     0.8247     -0.0270      0.0215
scooter_flag                    -0.0527     0.0272    -1.9371     0.0528     -0.1061      0.0006
================================================================================================

F-test for Poolability: 112.75
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [174]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6309
Estimator:                   PanelOLS   R-squared (Between):              0.9646
No. Observations:                4145   R-squared (Within):               0.6309
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9652
Time:                        09:43:36   Log-likelihood                    1323.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      471.08
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(14,3859)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             471.08
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3859)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8070     0.0127     63.726     0.0000      0.7822      0.8318
FARE_per_UPT_2018_log           -0.6546     0.0200    -32.802     0.0000     -0.6937     -0.6154
POP_EMP_log                      0.1225     0.0538     2.2746     0.0230      0.0169      0.2281
GAS_PRICE_2018_log               0.2397     0.0256     9.3732     0.0000      0.1896      0.2899
TOTAL_MED_INC_INDIV_2018_log    -0.3628     0.0528    -6.8682     0.0000     -0.4664     -0.2593
PCT_HH_NO_VEH                    0.0072     0.0030     2.3881     0.0170      0.0013      0.0131
WEIGHTED_POP_DENSITY_log         1.0543     0.1541     6.8404     0.0000      0.7521      1.3565
JTW_HOME_PCT                    -0.0003     0.0039    -0.0861     0.9314     -0.0080      0.0073
YEARS_SINCE_TNC_BUS             -0.0178     0.0085    -2.0824     0.0374     -0.0345     -0.0010
YEARS_SINCE_TNC_RAIL            -0.0306     0.0135    -2.2687     0.0233     -0.0570     -0.0042
YEARS_SINCE_TNC_BUS_SQRD        -0.0016     0.0018    -0.8686     0.3851     -0.0052      0.0020
YEARS_SINCE_TNC_RAIL_SQRD        0.0040     0.0024     1.6186     0.1056     -0.0008      0.0088
BIKE_SHARE                       0.0074     0.0129     0.5762     0.5645     -0.0178      0.0327
scooter_flag                    -0.0652     0.0276    -2.3633     0.0182     -0.1193     -0.0111
================================================================================================

F-test for Poolability: 112.42
P-value: 0.0000
Distribution: F(271,3859)

Included effects: Entity

In [175]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + MDBF_Total_log \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6310
Estimator:                   PanelOLS   R-squared (Between):              0.9645
No. Observations:                4145   R-squared (Within):               0.6310
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9651
Time:                        09:43:46   Log-likelihood                    1324.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      439.87
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(15,3858)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             439.87
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3858)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8080     0.0127     63.691     0.0000      0.7831      0.8329
FARE_per_UPT_2018_log           -0.6566     0.0200    -32.808     0.0000     -0.6958     -0.6174
POP_EMP_log                      0.1185     0.0539     2.1969     0.0281      0.0127      0.2242
GAS_PRICE_2018_log               0.2401     0.0256     9.3867     0.0000      0.1899      0.2902
TOTAL_MED_INC_INDIV_2018_log    -0.3548     0.0532    -6.6728     0.0000     -0.4591     -0.2506
PCT_HH_NO_VEH                    0.0071     0.0030     2.3520     0.0187      0.0012      0.0130
WEIGHTED_POP_DENSITY_log         1.0543     0.1541     6.8411     0.0000      0.7522      1.3565
JTW_HOME_PCT                    -0.0005     0.0039    -0.1322     0.8949     -0.0082      0.0072
YEARS_SINCE_TNC_BUS             -0.0178     0.0085    -2.0897     0.0367     -0.0346     -0.0011
YEARS_SINCE_TNC_RAIL            -0.0311     0.0135    -2.3070     0.0211     -0.0575     -0.0047
YEARS_SINCE_TNC_BUS_SQRD        -0.0016     0.0018    -0.8729     0.3828     -0.0052      0.0020
YEARS_SINCE_TNC_RAIL_SQRD        0.0040     0.0024     1.6471     0.0996     -0.0008      0.0088
BIKE_SHARE                       0.0075     0.0129     0.5797     0.5622     -0.0178      0.0327
scooter_flag                    -0.0652     0.0276    -2.3655     0.0181     -0.1193     -0.0112
MDBF_Total_log                  -0.0038     0.0029    -1.3086     0.1908     -0.0095      0.0019
================================================================================================

F-test for Poolability: 110.31
P-value: 0.0000
Distribution: F(271,3858)

Included effects: Entity

In [176]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + MDBF_Total \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6309
Estimator:                   PanelOLS   R-squared (Between):              0.9652
No. Observations:                4145   R-squared (Within):               0.6309
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9658
Time:                        09:44:13   Log-likelihood                    1324.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      439.66
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(15,3858)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             439.66
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3858)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8066     0.0127     63.635     0.0000      0.7817      0.8314
FARE_per_UPT_2018_log           -0.6543     0.0200    -32.780     0.0000     -0.6934     -0.6152
POP_EMP_log                      0.1219     0.0539     2.2640     0.0236      0.0163      0.2275
GAS_PRICE_2018_log               0.2404     0.0256     9.3939     0.0000      0.1903      0.2906
TOTAL_MED_INC_INDIV_2018_log    -0.3648     0.0529    -6.8965     0.0000     -0.4685     -0.2611
PCT_HH_NO_VEH                    0.0071     0.0030     2.3743     0.0176      0.0012      0.0130
WEIGHTED_POP_DENSITY_log         1.0552     0.1541     6.8453     0.0000      0.7530      1.3574
JTW_HOME_PCT                    -0.0003     0.0039    -0.0728     0.9420     -0.0080      0.0074
YEARS_SINCE_TNC_BUS             -0.0177     0.0085    -2.0725     0.0383     -0.0344     -0.0010
YEARS_SINCE_TNC_RAIL            -0.0306     0.0135    -2.2687     0.0233     -0.0570     -0.0042
YEARS_SINCE_TNC_BUS_SQRD        -0.0015     0.0018    -0.8397     0.4011     -0.0051      0.0021
YEARS_SINCE_TNC_RAIL_SQRD        0.0040     0.0024     1.6245     0.1044     -0.0008      0.0088
BIKE_SHARE                       0.0075     0.0129     0.5821     0.5606     -0.0178      0.0327
scooter_flag                    -0.0661     0.0276    -2.3925     0.0168     -0.1202     -0.0119
MDBF_Total                    4.194e-10  5.653e-10     0.7419     0.4582  -6.889e-10   1.528e-09
================================================================================================

F-test for Poolability: 112.40
P-value: 0.0000
Distribution: F(271,3858)

Included effects: Entity

In [177]:
def alt_mode(df):
    if (df['BIKE_SHARE']==1) or (df['scooter_flag']==1) or (df['TNC_FLAG']==1):
        x=1
    else:
        x=0
    return x
    
df['ALT_MODE']=df.apply(alt_mode,axis=1)
df['FAILURE_ALT_MODE_INTERACTION']=df['ALT_MODE']*df['MDBF_Total']
df['FAILURE_ALT_MODE_INTERACTION_log'] = np.log(df['FAILURE_ALT_MODE_INTERACTION']+1)

In [178]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + FAILURE_ALT_MODE_INTERACTION_log  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6309
Estimator:                   PanelOLS   R-squared (Between):              0.9667
No. Observations:                4145   R-squared (Within):               0.6309
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9673
Time:                        09:45:43   Log-likelihood                    1323.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      439.64
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(15,3858)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             439.64
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(15,3858)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                        Parameter Estimates
====================================================================================================
                                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------------------
VRM_ADJ_log                          0.8062     0.0127     63.365     0.0000      0.7812      0.8311
FARE_per_UPT_2018_log               -0.6550     0.0200    -32.802     0.0000     -0.6942     -0.6159
POP_EMP_log                          0.1151     0.0550     2.0931     0.0364      0.0073      0.2229
GAS_PRICE_2018_log                   0.2428     0.0260     9.3394     0.0000      0.1918      0.2938
TOTAL_MED_INC_INDIV_2018_log        -0.3586     0.0532    -6.7400     0.0000     -0.4629     -0.2543
PCT_HH_NO_VEH                        0.0072     0.0030     2.3930     0.0168      0.0013      0.0131
WEIGHTED_POP_DENSITY_log             1.0514     0.1542     6.8178     0.0000      0.7490      1.3537
JTW_HOME_PCT                        -0.0005     0.0039    -0.1345     0.8930     -0.0082      0.0072
YEARS_SINCE_TNC_BUS                 -0.0206     0.0095    -2.1600     0.0308     -0.0393     -0.0019
YEARS_SINCE_TNC_RAIL                -0.0325     0.0138    -2.3581     0.0184     -0.0596     -0.0055
YEARS_SINCE_TNC_BUS_SQRD            -0.0012     0.0019    -0.5936     0.5528     -0.0050      0.0027
YEARS_SINCE_TNC_RAIL_SQRD            0.0042     0.0025     1.7043     0.0884     -0.0006      0.0091
BIKE_SHARE                           0.0054     0.0132     0.4089     0.6826     -0.0205      0.0314
scooter_flag                        -0.0650     0.0276    -2.3567     0.0185     -0.1191     -0.0109
FAILURE_ALT_MODE_INTERACTION_log     0.0008     0.0012     0.6626     0.5076     -0.0015      0.0031
====================================================================================================

F-test for Poolability: 112.31
P-value: 0.0000
Distribution: F(271,3858)

Included effects: Entity

In [179]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + YEARS_SINCE_TNC_RAIL_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6309
Estimator:                   PanelOLS   R-squared (Between):              0.9646
No. Observations:                4145   R-squared (Within):               0.6309
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9652
Time:                        09:47:13   Log-likelihood                    1323.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      471.08
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(14,3859)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             471.08
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3859)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8070     0.0127     63.726     0.0000      0.7822      0.8318
FARE_per_UPT_2018_log           -0.6546     0.0200    -32.802     0.0000     -0.6937     -0.6154
POP_EMP_log                      0.1225     0.0538     2.2746     0.0230      0.0169      0.2281
GAS_PRICE_2018_log               0.2397     0.0256     9.3732     0.0000      0.1896      0.2899
TOTAL_MED_INC_INDIV_2018_log    -0.3628     0.0528    -6.8682     0.0000     -0.4664     -0.2593
PCT_HH_NO_VEH                    0.0072     0.0030     2.3881     0.0170      0.0013      0.0131
WEIGHTED_POP_DENSITY_log         1.0543     0.1541     6.8404     0.0000      0.7521      1.3565
JTW_HOME_PCT                    -0.0003     0.0039    -0.0861     0.9314     -0.0080      0.0073
YEARS_SINCE_TNC_BUS             -0.0178     0.0085    -2.0824     0.0374     -0.0345     -0.0010
YEARS_SINCE_TNC_RAIL            -0.0306     0.0135    -2.2687     0.0233     -0.0570     -0.0042
YEARS_SINCE_TNC_BUS_SQRD        -0.0016     0.0018    -0.8686     0.3851     -0.0052      0.0020
YEARS_SINCE_TNC_RAIL_SQRD        0.0040     0.0024     1.6186     0.1056     -0.0008      0.0088
BIKE_SHARE                       0.0074     0.0129     0.5762     0.5645     -0.0178      0.0327
scooter_flag                    -0.0652     0.0276    -2.3633     0.0182     -0.1193     -0.0111
================================================================================================

F-test for Poolability: 112.42
P-value: 0.0000
Distribution: F(271,3859)

Included effects: Entity

In [180]:
## Create FACs for this model as well

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6306
Estimator:                   PanelOLS   R-squared (Between):              0.9636
No. Observations:                4145   R-squared (Within):               0.6306
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9642
Time:                        09:47:32   Log-likelihood                    1322.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      506.90
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(13,3860)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             506.90
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3860)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8054     0.0126     63.777     0.0000      0.7807      0.8302
FARE_per_UPT_2018_log           -0.6543     0.0200    -32.783     0.0000     -0.6934     -0.6152
POP_EMP_log                      0.1197     0.0538     2.2235     0.0262      0.0142      0.2252
GAS_PRICE_2018_log               0.2439     0.0254     9.5855     0.0000      0.1940      0.2938
TOTAL_MED_INC_INDIV_2018_log    -0.3572     0.0527    -6.7752     0.0000     -0.4606     -0.2538
PCT_HH_NO_VEH                    0.0073     0.0030     2.4452     0.0145      0.0015      0.0132
WEIGHTED_POP_DENSITY_log         1.0593     0.1541     6.8728     0.0000      0.7571      1.3615
JTW_HOME_PCT                    -0.0008     0.0039    -0.1941     0.8461     -0.0084      0.0069
YEARS_SINCE_TNC_BUS             -0.0162     0.0085    -1.9073     0.0566     -0.0328      0.0005
YEARS_SINCE_TNC_RAIL            -0.0106     0.0054    -1.9573     0.0504     -0.0212    1.78e-05
YEARS_SINCE_TNC_BUS_SQRD        -0.0019     0.0018    -1.0508     0.2934     -0.0055      0.0017
BIKE_SHARE                       0.0055     0.0128     0.4263     0.6699     -0.0197      0.0306
scooter_flag                    -0.0552     0.0269    -2.0531     0.0401     -0.1079     -0.0025
================================================================================================

F-test for Poolability: 112.38
P-value: 0.0000
Distribution: F(271,3860)

Included effects: Entity

In [182]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    + FAILURE_ALT_MODE_INTERACTION_log  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6306
Estimator:                   PanelOLS   R-squared (Between):              0.9660
No. Observations:                4145   R-squared (Within):               0.6306
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9666
Time:                        09:47:54   Log-likelihood                    1322.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      506.78
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(13,3860)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             506.78
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3860)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                        Parameter Estimates
====================================================================================================
                                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------------------
VRM_ADJ_log                          0.8048     0.0127     63.358     0.0000      0.7799      0.8297
FARE_per_UPT_2018_log               -0.6545     0.0200    -32.770     0.0000     -0.6936     -0.6153
POP_EMP_log                          0.1200     0.0547     2.1926     0.0284      0.0127      0.2273
GAS_PRICE_2018_log                   0.2424     0.0256     9.4588     0.0000      0.1922      0.2927
TOTAL_MED_INC_INDIV_2018_log        -0.3554     0.0532    -6.6851     0.0000     -0.4596     -0.2511
PCT_HH_NO_VEH                        0.0074     0.0030     2.4617     0.0139      0.0015      0.0133
WEIGHTED_POP_DENSITY_log             1.0449     0.1535     6.8081     0.0000      0.7440      1.3458
JTW_HOME_PCT                        -0.0007     0.0039    -0.1685     0.8662     -0.0083      0.0070
YEARS_SINCE_TNC_BUS                 -0.0250     0.0044    -5.7247     0.0000     -0.0335     -0.0164
YEARS_SINCE_TNC_RAIL                -0.0112     0.0055    -2.0385     0.0416     -0.0220     -0.0004
BIKE_SHARE                           0.0033     0.0132     0.2480     0.8042     -0.0226      0.0291
scooter_flag                        -0.0605     0.0261    -2.3203     0.0204     -0.1116     -0.0094
FAILURE_ALT_MODE_INTERACTION_log     0.0008     0.0011     0.7084     0.4787     -0.0014      0.0029
====================================================================================================

F-test for Poolability: 112.30
P-value: 0.0000
Distribution: F(271,3860)

Included effects: Entity

In [183]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + FAILURE_ALT_MODE_INTERACTION_log  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6300
Estimator:                   PanelOLS   R-squared (Between):              0.9744
No. Observations:                4145   R-squared (Within):               0.6300
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9749
Time:                        09:48:06   Log-likelihood                    1319.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      547.94
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             547.94
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                        Parameter Estimates
====================================================================================================
                                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------------------
VRM_ADJ_log                          0.8050     0.0127     63.341     0.0000      0.7801      0.8299
FARE_per_UPT_2018_log               -0.6540     0.0200    -32.730     0.0000     -0.6932     -0.6148
POP_EMP_log                          0.1214     0.0548     2.2160     0.0267      0.0140      0.2287
GAS_PRICE_2018_log                   0.2365     0.0255     9.2695     0.0000      0.1865      0.2866
TOTAL_MED_INC_INDIV_2018_log        -0.3643     0.0530    -6.8681     0.0000     -0.4683     -0.2603
PCT_HH_NO_VEH                        0.0074     0.0030     2.4723     0.0135      0.0015      0.0133
WEIGHTED_POP_DENSITY_log             1.0067     0.1527     6.5936     0.0000      0.7074      1.3061
JTW_HOME_PCT                        -0.0008     0.0039    -0.2033     0.8389     -0.0085      0.0069
YEARS_SINCE_TNC_BUS                 -0.0279     0.0042    -6.6752     0.0000     -0.0361     -0.0197
YEARS_SINCE_TNC_RAIL                -0.0147     0.0053    -2.7954     0.0052     -0.0251     -0.0044
BIKE_SHARE                           0.0028     0.0132     0.2106     0.8332     -0.0231      0.0286
FAILURE_ALT_MODE_INTERACTION_log     0.0011     0.0011     1.0367     0.2999     -0.0010      0.0033
====================================================================================================

F-test for Poolability: 112.18
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [184]:
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + MDBF_Total_log  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6301
Estimator:                   PanelOLS   R-squared (Between):              0.9723
No. Observations:                4145   R-squared (Within):               0.6301
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9727
Time:                        09:48:11   Log-likelihood                    1319.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      548.06
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             548.06
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8074     0.0127     63.820     0.0000      0.7826      0.8322
FARE_per_UPT_2018_log           -0.6551     0.0200    -32.718     0.0000     -0.6944     -0.6159
POP_EMP_log                      0.1319     0.0530     2.4879     0.0129      0.0280      0.2359
GAS_PRICE_2018_log               0.2295     0.0245     9.3639     0.0000      0.1815      0.2776
TOTAL_MED_INC_INDIV_2018_log    -0.3649     0.0528    -6.9135     0.0000     -0.4684     -0.2614
PCT_HH_NO_VEH                    0.0073     0.0030     2.4291     0.0152      0.0014      0.0132
WEIGHTED_POP_DENSITY_log         1.0035     0.1526     6.5742     0.0000      0.7042      1.3027
JTW_HOME_PCT                    -0.0005     0.0039    -0.1364     0.8915     -0.0082      0.0071
YEARS_SINCE_TNC_BUS             -0.0267     0.0040    -6.6947     0.0000     -0.0345     -0.0189
YEARS_SINCE_TNC_RAIL            -0.0142     0.0052    -2.7111     0.0067     -0.0244     -0.0039
BIKE_SHARE                       0.0059     0.0128     0.4592     0.6461     -0.0193      0.0310
MDBF_Total_log                  -0.0037     0.0029    -1.2706     0.2039     -0.0094      0.0020
================================================================================================

F-test for Poolability: 110.21
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [38]:
### preferred model
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6305
Estimator:                   PanelOLS   R-squared (Between):              0.9641
No. Observations:                4145   R-squared (Within):               0.6305
Date:                Tue, Mar 31 2020   R-squared (Overall):              0.9647
Time:                        13:35:39   Log-likelihood                    1321.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      549.04
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             549.04
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8058     0.0126     63.824     0.0000      0.7810      0.8305
FARE_per_UPT_2018_log           -0.6539     0.0200    -32.769     0.0000     -0.6931     -0.6148
POP_EMP_log                      0.1297     0.0530     2.4490     0.0144      0.0259      0.2336
GAS_PRICE_2018_log               0.2377     0.0247     9.6054     0.0000      0.1892      0.2862
TOTAL_MED_INC_INDIV_2018_log    -0.3607     0.0526    -6.8545     0.0000     -0.4639     -0.2575
PCT_HH_NO_VEH                    0.0074     0.0030     2.4553     0.0141      0.0015      0.0133
WEIGHTED_POP_DENSITY_log         1.0443     0.1535     6.8045     0.0000      0.7434      1.3452
JTW_HOME_PCT                    -0.0004     0.0039    -0.0907     0.9277     -0.0080      0.0073
YEARS_SINCE_TNC_BUS             -0.0240     0.0041    -5.8126     0.0000     -0.0320     -0.0159
YEARS_SINCE_TNC_RAIL            -0.0105     0.0054    -1.9480     0.0515     -0.0212   6.806e-05
BIKE_SHARE                       0.0054     0.0128     0.4202     0.6744     -0.0198      0.0305
scooter_flag                    -0.0631     0.0258    -2.4410     0.0147     -0.1137     -0.0124
================================================================================================

F-test for Poolability: 112.44
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [39]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'YearDiff',
 'BUS_FLAG',
 'RAIL_FLAG',
 'POP_EMP',
 'HH_EMP',
 'TSD_POP_PCT',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'LOW_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'YearDiff_log',
 'BUS_FLAG_log',
 'RAIL_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'TSD_POP_PCT_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'LOW_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'YEARS_SINCE_TNC_BUS_SQRD',
 'YEARS_SINCE_TNC_RAIL_SQRD']

In [41]:
### preferred model updated with new emp
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TOT_EMP_MSA_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + BIKE_SHARE \
                    + EntityEffects \
                    + scooter_flag  \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6302
Estimator:                   PanelOLS   R-squared (Between):              0.9736
No. Observations:                4145   R-squared (Within):               0.6302
Date:                Tue, Mar 31 2020   R-squared (Overall):              0.9740
Time:                        13:40:15   Log-likelihood                    1319.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      548.20
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(12,3861)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             548.20
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(12,3861)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8080     0.0126     64.077     0.0000      0.7832      0.8327
FARE_per_UPT_2018_log           -0.6544     0.0200    -32.762     0.0000     -0.6935     -0.6152
TOT_EMP_MSA_log                  0.1100     0.0731     1.5037     0.1328     -0.0334      0.2534
GAS_PRICE_2018_log               0.2427     0.0248     9.7973     0.0000      0.1941      0.2913
TOTAL_MED_INC_INDIV_2018_log    -0.3957     0.0522    -7.5823     0.0000     -0.4980     -0.2934
PCT_HH_NO_VEH                    0.0071     0.0030     2.3610     0.0183      0.0012      0.0130
WEIGHTED_POP_DENSITY_log         1.0814     0.1550     6.9762     0.0000      0.7775      1.3853
JTW_HOME_PCT                     0.0007     0.0039     0.1740     0.8619     -0.0069      0.0082
YEARS_SINCE_TNC_BUS             -0.0234     0.0042    -5.6057     0.0000     -0.0316     -0.0152
YEARS_SINCE_TNC_RAIL            -0.0109     0.0055    -1.9987     0.0457     -0.0216     -0.0002
BIKE_SHARE                       0.0058     0.0129     0.4496     0.6530     -0.0195      0.0310
scooter_flag                    -0.0655     0.0258    -2.5371     0.0112     -0.1161     -0.0149
================================================================================================

F-test for Poolability: 109.68
P-value: 0.0000
Distribution: F(271,3861)

Included effects: Entity

In [208]:
## Create FACs for this model as well

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6306
Estimator:                   PanelOLS   R-squared (Between):              0.9636
No. Observations:                4145   R-squared (Within):               0.6306
Date:                Tue, Mar 24 2020   R-squared (Overall):              0.9642
Time:                        12:53:59   Log-likelihood                    1322.3
Cov. Estimator:            Unadjusted
                                        F-statistic:                      506.90
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(13,3860)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             506.90
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3860)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8054     0.0126     63.777     0.0000      0.7807      0.8302
FARE_per_UPT_2018_log           -0.6543     0.0200    -32.783     0.0000     -0.6934     -0.6152
POP_EMP_log                      0.1197     0.0538     2.2235     0.0262      0.0142      0.2252
GAS_PRICE_2018_log               0.2439     0.0254     9.5855     0.0000      0.1940      0.2938
TOTAL_MED_INC_INDIV_2018_log    -0.3572     0.0527    -6.7752     0.0000     -0.4606     -0.2538
PCT_HH_NO_VEH                    0.0073     0.0030     2.4452     0.0145      0.0015      0.0132
WEIGHTED_POP_DENSITY_log         1.0593     0.1541     6.8728     0.0000      0.7571      1.3615
JTW_HOME_PCT                    -0.0008     0.0039    -0.1941     0.8461     -0.0084      0.0069
YEARS_SINCE_TNC_BUS             -0.0162     0.0085    -1.9073     0.0566     -0.0328      0.0005
YEARS_SINCE_TNC_RAIL            -0.0106     0.0054    -1.9573     0.0504     -0.0212    1.78e-05
YEARS_SINCE_TNC_BUS_SQRD        -0.0019     0.0018    -1.0508     0.2934     -0.0055      0.0017
BIKE_SHARE                       0.0055     0.0128     0.4263     0.6699     -0.0197      0.0306
scooter_flag                    -0.0552     0.0269    -2.0531     0.0401     -0.1079     -0.0025
================================================================================================

F-test for Poolability: 112.38
P-value: 0.0000
Distribution: F(271,3860)

Included effects: Entity

In [42]:
## Create FACs for this model as well

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_2018_log \
                    + TOT_EMP_MSA_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + WEIGHTED_POP_DENSITY_log \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS \
                    + YEARS_SINCE_TNC_RAIL \
                    + YEARS_SINCE_TNC_BUS_SQRD \
                    + BIKE_SHARE \
                    + scooter_flag \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.6303
Estimator:                   PanelOLS   R-squared (Between):              0.9724
No. Observations:                4145   R-squared (Within):               0.6303
Date:                Mon, Apr 06 2020   R-squared (Overall):              0.9729
Time:                        02:18:01   Log-likelihood                    1320.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      506.25
Entities:                         272   P-value                           0.0000
Avg Obs:                       15.239   Distribution:                 F(13,3860)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             506.25
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(13,3860)
Avg Obs:                       243.82
Min Obs:                       164.00
Max Obs:                       267.00

                                      Parameter Estimates
================================================================================================
                              Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------
VRM_ADJ_log                      0.8074     0.0126     63.996     0.0000      0.7826      0.8321
FARE_per_UPT_2018_log           -0.6548     0.0200    -32.782     0.0000     -0.6940     -0.6157
TOT_EMP_MSA_log                  0.0982     0.0737     1.3323     0.1829     -0.0463      0.2427
GAS_PRICE_2018_log               0.2499     0.0254     9.8415     0.0000      0.2002      0.2997
TOTAL_MED_INC_INDIV_2018_log    -0.3880     0.0525    -7.3880     0.0000     -0.4910     -0.2851
PCT_HH_NO_VEH                    0.0071     0.0030     2.3560     0.0185      0.0012      0.0130
WEIGHTED_POP_DENSITY_log         1.0972     0.1555     7.0570     0.0000      0.7924      1.4021
JTW_HOME_PCT                  8.874e-05     0.0039     0.0229     0.9818     -0.0075      0.0077
YEARS_SINCE_TNC_BUS             -0.0139     0.0084    -1.6532     0.0984     -0.0305      0.0026
YEARS_SINCE_TNC_RAIL            -0.0109     0.0055    -2.0007     0.0455     -0.0217     -0.0002
YEARS_SINCE_TNC_BUS_SQRD        -0.0023     0.0018    -1.2921     0.1964     -0.0059      0.0012
BIKE_SHARE                       0.0059     0.0129     0.4563     0.6482     -0.0194      0.0311
scooter_flag                    -0.0557     0.0269    -2.0701     0.0385     -0.1084     -0.0029
================================================================================================

F-test for Poolability: 109.66
P-value: 0.0000
Distribution: F(271,3860)

Included effects: Entity

In [186]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + Tot_Pop_log \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + WEIGHTED_POP_DENSITY_log \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [187]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + TOT_EMP_MSA_log \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + WEIGHTED_POP_DENSITY_log \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [188]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + Tot_Pop_log \
#                     + TOT_EMP_MSA_log \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + WEIGHTED_POP_DENSITY_log \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [189]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + Tot_Pop_log \
#                     + UNEMP_RATE_PCT \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + WEIGHTED_POP_DENSITY_log \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [190]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + POP_EMP_log \
#                     + WEIGHTED_POP_DENSITY \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [191]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + POP_EMP_log \
#                     + TSD_POP_PCT \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

In [192]:
# def alt_mode(df):
#     if (df['BIKE_SHARE']==1) or (df['scooter_flag']==1) or (df['TNC_FLAG']==1):
#         x=1
#     else:
#         x=0
#     return x
    
# df['ALT_MODE']=df.apply(alt_mode,axis=1)
# df['FAILURE_ALT_MODE_INTERACTION']=df['ALT_MODE']*df['MDBF_Total']
# df['FAILURE_ALT_MODE_INTERACTION_log'] = np.log(df['FAILURE_ALT_MODE_INTERACTION']+1)

In [193]:
# df['FAILURE_ALT_MODE_INTERACTION']=df['ALT_MODE']*df['MDBF_Total']
# df['FAILURE_ALT_MODE_INTERACTION_log'] = np.log(df['FAILURE_ALT_MODE_INTERACTION']+1)

In [194]:
# mod=PanelOLS.from_formula('UPT_ADJ_log \
#                     ~ VRM_ADJ_log \
#                     + FARE_per_UPT_2018_log \
#                     + POP_EMP_log \
#                     + WEIGHTED_POP_DENSITY \
#                     + GAS_PRICE_2018_log \
#                     + TOTAL_MED_INC_INDIV_2018_log \
#                     + PCT_HH_NO_VEH \
#                     + JTW_HOME_PCT \
#                     + YEARS_SINCE_TNC_BUS2_HINY \
#                     + YEARS_SINCE_TNC_BUS2_MIDLOW \
#                     + YEARS_SINCE_TNC_RAIL2_HINY \
#                     + YEARS_SINCE_TNC_RAIL2_MIDLOW \
#                     + BIKE_SHARE \
#                     + scooter_flag \
#                     + FAILURE_ALT_MODE_INTERACTION_log \
#                     + EntityEffects \
#                     ',data=df)
# res=mod.fit()
# print(res)

# Calculate FAC

In [209]:
# keep the relevant fields in the data set
app_data = pd.concat([df[['RAIL_FLAG', 'CLUSTER_APTA']], 
                      res.model.dependent.dataframe, 
                      res.model.exog.dataframe, 
                      res.estimated_effects, 
                      res.resids], axis=1)

In [210]:
# calculate the fitted values
app_data['fitted'] = app_data['estimated_effects']
for var in res.params.keys(): 
    app_data['fitted'] = app_data['fitted'] + (res.params[var] * app_data[var])

# and check that we add up correctly
app_data['check_fitted'] = app_data['fitted'] + app_data['residual'] - app_data['UPT_ADJ_log']

In [211]:
# create the necessary columns

# dependents
app_data['UPT_ADJ']    = np.exp(app_data['UPT_ADJ_log']) - 1
app_data['fitted_exp'] = np.exp(app_data['fitted']) - 1

# linear versions of logged variables
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '')] = np.exp(app_data[var]) - 1              

# ratios and differences
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '_ratio')] = 1
    else: 
        app_data[var+'_diff'] = 0

# FAC multipliers
for var in res.params.keys(): 
    app_data[var+'_FAC_ratio'] = 1

app_data['UPT_ADJ_base'] = 0
app_data['UPT_ADJ_ratio'] = 1
app_data['fitted_exp_ratio'] = 1
app_data['UPT_ADJ_diff'] = 0
app_data['fitted_exp_diff'] = 0

# for tracking new systems
app_data['UPT_ADJ_first_year'] = 0
app_data['UPT_ADJ_new_reporter'] = 0

In [212]:
# get the ridership in the first year the system starts. This allows us to track new systems. 
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()
    first_year = years[0]

    app_data.loc[(id,first_year),'UPT_ADJ_new_reporter'] = app_data.loc[(id,first_year),'UPT_ADJ']
    
    for year in years: 
        app_data.loc[(id,year),'UPT_ADJ_first_year']   = app_data.loc[(id,first_year),'UPT_ADJ']

In [213]:
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()

    for year in years[1:]:       
        base_year = year-1
        
        for var in res.params.keys(): 
            # ratios and differences
            if '_log' in var: 
                out_var = var.replace('_log', '_ratio')
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 / app_data.loc[(id,base_year), var])
            else: 
                out_var = var+'_diff'                    
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 - app_data.loc[(id,base_year), var])

            # FAC multipliers
            app_data.loc[(id,year),var+'_FAC_ratio'] = np.exp(res.params[var] * (
                                                    app_data.loc[(id,year), var] 
                                                    - app_data.loc[(id,base_year), var]))

            # estimated effects (if time effects is zero, no change)
            app_data.loc[(id,year),'effects_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'estimated_effects'] 
                                                    - app_data.loc[(id,base_year), 'estimated_effects'])

            # residual
            app_data.loc[(id,year),'residual_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'residual'] 
                                                    - app_data.loc[(id,base_year), 'residual'])

        # observed and fitted changes            
        app_data.loc[(id,year),'UPT_ADJ_base'] = app_data.loc[(id,base_year),'UPT_ADJ']
        app_data.loc[(id,year),'UPT_ADJ_ratio'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 / app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_ratio'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 / app_data.loc[(id,base_year),'fitted_exp'])

        app_data.loc[(id,year),'UPT_ADJ_diff'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 - app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_diff'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 - app_data.loc[(id,base_year),'fitted_exp'])

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in double_scalars
  from ipykernel import kernelapp as app
/Users/rianajawad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: RuntimeWarning: divide by zero encountered in double_scalars
  from ipykernel import kernelapp as app

In [214]:
# calculate the FAC
app_data['FAC_Sum'] = 0
for var in res.params.keys(): 
    app_data[var+'_FAC'] = (app_data[var+'_FAC_ratio'] - 1) * app_data['UPT_ADJ_base']
    app_data['FAC_Sum'] = app_data['FAC_Sum'] + app_data[var+'_FAC']

In [215]:

# total FAC is based on the fitted model (applied multiplicitively)
app_data['Known_FAC'] = (app_data['fitted_exp_ratio'] - 1) * app_data['UPT_ADJ_base']

# uknown change is the difference between the observed change and the known change
app_data['Unknown_FAC'] = app_data['UPT_ADJ_diff'] - app_data['Known_FAC']

# the change in ridership associated new systems
app_data['New_Reporter_FAC'] = app_data['UPT_ADJ_new_reporter'] 

# should be teh same as UPT_ADJ_DIFF
app_data['Total_Change'] = app_data['Known_FAC'] + app_data['Unknown_FAC'] + app_data['New_Reporter_FAC']

In [216]:
# calculate APTA - 4 groups
app_data['CLUSTER_APTA4'] = np.floor(app_data['CLUSTER_APTA']/10)

In [217]:
# reset the index so I get ID and year
app_data = app_data.reset_index()
app_data = app_data.rename(columns={'level_0' : 'ID', 'level_1' : 'Year'})
app_data.to_csv('FAC_Model2.csv')

In [218]:
# these are the fields we keep
out_fields = ['ID', 'Year', 'RAIL_FLAG', 
              'CLUSTER_APTA', 'CLUSTER_APTA4',    
              'UPT_ADJ_first_year', 
              'UPT_ADJ_base', 'UPT_ADJ', 'UPT_ADJ_diff', 
              'fitted_exp', 'fitted_exp_diff']

# exogenous variables 
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    out_fields = out_fields + [out_var]
    
# FAC
for var in res.params.keys(): 
    out_fields = out_fields + [var+'_FAC']
out_fields = out_fields + ['FAC_Sum', 'Known_FAC', 'Unknown_FAC', 'New_Reporter_FAC', 'Total_Change']
    
# keep those fields
summary_data = app_data.reset_index()[out_fields]

In [219]:
# take weighted average of exogenous variables
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data[out_var] = summary_data[out_var] * summary_data['UPT_ADJ_first_year']

# aggregate to bus/rail totals
summary_data_apta4 = summary_data.groupby(by=['CLUSTER_APTA4', 'RAIL_FLAG', 'Year']).agg('sum')

# divide for weighted averages
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data_apta4[out_var] = summary_data_apta4[out_var] / summary_data_apta4['UPT_ADJ_first_year']

In [220]:

summary_data_apta4.to_csv('FAC_totals_APTA4_CLUSTERS_Model2.csv')