In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_columns=50

In [3]:
fare_05=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2005_Fare.csv',encoding='latin-1')
#fare_05.head()

In [4]:
#fare_05['2005'] = fare_05['2005'].str.replace('$', '')
#fare_05['2005'] = fare_05['2005'].str.replace(',', '')
#fare_05['2005'] = fare_05['2005'].fillna(0)
fare_05['2005'].describe()

count    1.219000e+03
mean     7.887015e+06
std      6.424831e+07
min      0.000000e+00
25%      6.665650e+04
50%      2.876800e+05
75%      1.558390e+06
max      1.856978e+09
Name: 2005, dtype: float64

In [4]:
fare_07=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2007_Fare.csv',encoding='latin-1')
#fare_07.head()

In [6]:
#fare_07['2007'] = fare_07['2007'].str.replace('$', '')
#fare_07['2007'] = fare_07['2007'].str.replace(',', '')
#fare_07['2007'] = fare_07['2007'].fillna(0)
#fare_07['2007'] = fare_07['2007'].astype(float)
#fare_07['2007'].describe()

In [421]:
#fare_07[fare_07['2007']<100]

In [5]:
fare_06=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2006_Fare.csv',encoding='latin-1')
#fare_06['2006'] = fare_06['2006'].str.replace('$', '')
#fare_06['2006']= fare_06['2006'].str.replace(',', '')
#fare_06['2006'] = fare_06['2006'].fillna(0)
#fare_06['2006'] = fare_06['2006'].astype(float)
#fare_06['2006'].describe()

In [423]:
#fare_06[fare_06['2006']<100]

In [6]:
fare_08=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2008_Fare.csv',encoding='latin-1')
#fare_08['2008'] =fare_08['2008'].str.replace('$', '')
#fare_08['2008'] =fare_08['2008'].str.replace(',', '')
#fare_08['2008'] =fare_08['2008'].fillna(0)
#fare_08['2008'] =fare_08['2008'].astype(float)
#fare_08['2008'].describe()

In [9]:
#fare_08[fare_08['2008']=='NaN']

In [7]:
fare_15=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2015_Fare.csv',encoding='latin-1')

In [8]:
fare_09=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2009_Fare.csv',encoding='latin-1')
fare_10=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2010_Fare.csv',encoding='latin-1')
fare_11=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2011_Fare.csv',encoding='latin-1')
fare_12=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2012_Fare.csv',encoding='latin-1')
fare_13=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2013_Fare.csv',encoding='latin-1')
fare_14=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2014_Fare.csv',encoding='latin-1')
fare_15=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2015_Fare.csv',encoding='latin-1')
fare_16=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2016_Fare.csv',encoding='latin-1')
fare_17=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2017_Fare.csv',encoding='latin-1')

In [121]:
fare_02=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2002_fare.csv',encoding='latin-1')
fare_03=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2003_Fare.csv',encoding='latin-1')
fare_04=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/2004_Fare.csv',encoding='latin-1')

In [122]:
fare_02.head()

   NTD_ID MODE SERVICE_ID        2002
0       1   DR         PT    688012.0
1       1   LR         DO    216413.0
2       1   MB         DO  55995026.0
3       1   TB         DO  19012827.0
4       1   VP         DO   5089843.0

In [123]:
fare_03=fare_03[['NTD_ID','MODE','SERVICE_ID','2003']]
fare_03.head()

   NTD_ID MODE SERVICE_ID        2003
0       1   DR         PT    527979.0
1       1   LR         DO    218928.0
2       1   MB         DO  52181801.0
3       1   TB         DO  17695832.0
4       1   VP         DO   4860704.0

In [124]:
fare_04=fare_04[['NTD_ID','MODE','SERVICE_ID','2004']]
fare_04.head()

   NTD_ID MODE SERVICE_ID        2004
0       1   DR         PT    718833.0
1       1   LR         DO    226322.0
2       1   MB         DO  56913382.0
3       1   TB         DO  16683220.0
4       1   VP         DO   4884622.0

In [125]:
fare_0203=pd.merge(fare_02,fare_03,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])

In [126]:
fare_0204=pd.merge(fare_0203,fare_04,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])

In [32]:
fare_0204.head()

   NTD_ID MODE SERVICE_ID         2002        2003        2004
0       1   DR         PT    688012.00    527979.0    718833.0
1       1   LR         DO    216413.00    218928.0    226322.0
2       1   MB         DO  55995026.00  52181801.0  56913382.0
3       1   TB         DO  19012827.00  17695832.0  16683220.0
4       1   VP         DO   5089843.00   4860704.0   4884622.0

In [127]:
fare_0506=pd.merge(fare_05,fare_06,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
#fare_0506=fare_0506.fillna(0)
fare_0506.head()

   NTD_ID MODE SERVICE_ID        2005        2006
0       1   DR         PT    675488.0    659606.0
1       1   LR         DO    211571.0         NaN
2       1   MB         DO  58136140.0  59418649.0
3       1   MB         PT   7872045.0         0.0
4       1   TB         DO  17007997.0  17360619.0

In [128]:
fare_02_06=pd.merge(fare_0204,fare_0506,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_02_06.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,NaN
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0

In [24]:
fare_07.head(10)

   NTD_ID MODE SERVICE_ID        2007
0       1   DR         PT    758136.0
1       1   MB         DO  64550864.0
2       1   MB         PT   9607824.0
3       1   TB         DO  15141561.0
4       1   VP         DO   6872296.0
5       2   DR         DO    154149.0
6       2   DR         PT     50935.0
7       2   MB         DO   6082747.0
8       2   VP         DO    378692.0
9       3   DR         DO     90107.0

In [35]:
fare_0506['2006']=fare_0506['2006'].fillna(0)

In [129]:
fare_0507=pd.merge(fare_02_06,fare_07,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0507=fare_0507.fillna(0)
fare_0507.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0

In [130]:
fare_0508=pd.merge(fare_0507,fare_08,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0508=fare_0508.fillna(0)
fare_0508.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0

In [131]:
fare_0509=pd.merge(fare_0508,fare_09,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0509=fare_0509.fillna(0)
fare_0509.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0

In [132]:
fare_0510=pd.merge(fare_0509,fare_10,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0510=fare_0510.fillna(0)
fare_0510.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0

In [133]:
fare_0511=pd.merge(fare_0510,fare_11,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0511=fare_0511.fillna(0)
fare_0511.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0

In [22]:
fare_12.head()

,NTD_ID,Company_Nm,MODE,Service_Cd,Small_Systems_Waiver_Fl,2012
0,1,King County Department of Transportation - Met...,CB,PT,N,13895391.0
1,1,King County Department of Transportation - Met...,DR,PT,N,1005687.0
2,1,King County Department of Transportation - Met...,DT,PT,N,328203.0
3,1,King County Department of Transportation - Met...,LR,PT,N,13989008.0
4,1,King County Department of Transportation - Met...,MB,DO,N,117457509.0

In [141]:
fare_0512=pd.merge(fare_0511,fare_12,how='outer',left_on=['NTD_ID','MODE','SERVICE_ID'],
                   right_on=['NTD_ID','MODE','SERVICE_ID'])
fare_0512=fare_0512.fillna(0)
fare_0512.head(10)

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Company_Nm,Small_Systems_Waiver_Fl,2012
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,King County Department of Transportation - Met...,N,1005687.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0,0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,King County Department of Transportation - Met...,N,117457509.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,King County Department of Transportation - Met...,N,23547904.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,King County Department of Transportation - Met...,N,10320050.0
5,2,DR,DO,146607.0,164756.0,153728.0,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,Spokane Transit Authority,N,494167.0
6,2,DR,PT,24152.0,24498.0,38276.0,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,Spokane Transit Authority,N,170674.0
7,2,MB,DO,5018070.0,5239111.0,5343235.0,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,Spokane Transit Authority,N,8922422.0
8,2,VP,DO,153858.0,159757.0,181344.0,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,Spokane Transit Authority,N,727380.0
9,3,DR,DO,102675.0,100927.0,190174.0,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,Pierce County Transportation Benefit Area Auth...,N,67844.0

In [25]:
fare_16.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,Mode,TOS,Expense Type,2016
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,16362096.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,957269.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,440458.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2477371.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,30786785.0

In [43]:
fare_16=fare_16.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [27]:
fare_17.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,Mode,TOS,Expense Type,2017
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,17054149.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,863494.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,412730.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2620614.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,38019002.0

In [134]:
fare_17=fare_17.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [135]:
fare_12=fare_12.rename(columns={'Service_Cd':'SERVICE_ID'})

In [136]:
fare_13=fare_13.rename(columns={'TOS':'SERVICE_ID'})

In [137]:
fare_13=fare_13.rename(columns={'Mode':'MODE'})

In [138]:
fare_14=fare_14.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [32]:
fare_15.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Form Module Type,Mode,TOS,Expense Type,2015
0,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,CB,PT,Funds Earned During Period,15973711.0
1,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DR,PT,Funds Earned During Period,983881.0
2,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DT,PT,Funds Earned During Period,430252.0
3,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,LR,PT,Funds Earned During Period,18203801.0
4,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,MB,DO,Funds Earned During Period,136162762.0

In [139]:
fare_15=fare_15.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [142]:
fare_0513=pd.merge(fare_0512,fare_13,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0513=fare_0513.fillna(0)
fare_0513.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Company_Nm,Small_Systems_Waiver_Fl,2012,Agency,SSW,2013
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,King County Department of Transportation - Met...,N,1005687.0,King County Department of Transportation - Met...,N,750659.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0,0,0.0,0,0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,King County Department of Transportation - Met...,N,117457509.0,King County Department of Transportation - Met...,N,122535567.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,King County Department of Transportation - Met...,N,23547904.0,King County Department of Transportation - Met...,N,23166653.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,King County Department of Transportation - Met...,N,10320050.0,King County Department of Transportation - Met...,N,11487561.0

In [143]:
fare_0514=pd.merge(fare_0513,fare_14,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0514=fare_0514.fillna(0)
fare_0514.head(10)

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Company_Nm,Small_Systems_Waiver_Fl,2012,Agency,SSW,2013,4 digit NTDID,Reporter Name,Reporter Type,Expense Type,2014
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,King County Department of Transportation - Met...,N,1005687.0,King County Department of Transportation - Met...,N,750659.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,957280.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,King County Department of Transportation - Met...,N,117457509.0,King County Department of Transportation - Met...,N,122535567.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,130249639.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,King County Department of Transportation - Met...,N,23547904.0,King County Department of Transportation - Met...,N,23166653.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,24787685.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,King County Department of Transportation - Met...,N,10320050.0,King County Department of Transportation - Met...,N,11487561.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,11804793.0
5,2,DR,DO,146607.0,164756.0,153728.0,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,Spokane Transit Authority,N,494167.0,Spokane Transit Authority,N,444397.0,2,Spokane Transit Authority,Full Reporter: Operating,Funds Earned During Period,470539.0
6,2,DR,PT,24152.0,24498.0,38276.0,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,Spokane Transit Authority,N,170674.0,Spokane Transit Authority,N,190595.0,2,Spokane Transit Authority,Full Reporter: Operating,Funds Earned During Period,157919.0
7,2,MB,DO,5018070.0,5239111.0,5343235.0,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,Spokane Transit Authority,N,8922422.0,Spokane Transit Authority,N,9019785.0,2,Spokane Transit Authority,Full Reporter: Operating,Funds Earned During Period,8475543.0
8,2,VP,DO,153858.0,159757.0,181344.0,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,Spokane Transit Authority,N,727380.0,Spokane Transit Authority,N,709604.0,2,Spokane Transit Authority,Full Reporter: Operating,Funds Earned During Period,746614.0
9,3,DR,DO,102675.0,100927.0,190174.0,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,Pierce County Transportation Benefit Area Auth...,N,67844.0,Pierce County Transportation Benefit Area Auth...,N,95710.0,3,Pierce County Transportation Benefit Area Auth...,Full Reporter: Operating,Funds Earned During Period,72523.0

In [36]:
fare_15.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Form Module Type,MODE,SERVICE_ID,Expense Type,2015
0,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,CB,PT,Funds Earned During Period,15973711.0
1,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DR,PT,Funds Earned During Period,983881.0
2,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DT,PT,Funds Earned During Period,430252.0
3,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,LR,PT,Funds Earned During Period,18203801.0
4,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,MB,DO,Funds Earned During Period,136162762.0

In [52]:
fare_15=fare_15[fare_15['Reporter Type']!='Rural Reporter']

In [38]:
fare_15.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Form Module Type,MODE,SERVICE_ID,Expense Type,2015
0,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,CB,PT,Funds Earned During Period,15973711.0
1,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DR,PT,Funds Earned During Period,983881.0
2,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DT,PT,Funds Earned During Period,430252.0
3,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,LR,PT,Funds Earned During Period,18203801.0
4,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,MB,DO,Funds Earned During Period,136162762.0

In [53]:
fare_15['NTD_ID']=fare_15['NTD_ID'].astype(int)
fare_15.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Form Module Type,MODE,SERVICE_ID,Expense Type,2015
0,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,CB,PT,Funds Earned During Period,15973711.0
1,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DR,PT,Funds Earned During Period,983881.0
2,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,DT,PT,Funds Earned During Period,430252.0
3,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,LR,PT,Funds Earned During Period,18203801.0
4,1,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,MB,DO,Funds Earned During Period,136162762.0

In [144]:
fare_0515=pd.merge(fare_0514,fare_15,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0515=fare_0515.fillna(0)
fare_0515.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Company_Nm,Small_Systems_Waiver_Fl,2012,Agency,SSW,2013,4 digit NTDID,Reporter Name,Reporter Type_x,Expense Type_x,2014,Legacy NTD ID,Agency Name,Reporter Type_y,Form Module Type,Expense Type_y,2015
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,King County Department of Transportation - Met...,N,1005687.0,King County Department of Transportation - Met...,N,750659.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,957280.0,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,Funds Earned During Period,983881.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0,0,0.0,0,0,0.0,0,0,0,0,0.0,0,0,0,0,0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,King County Department of Transportation - Met...,N,117457509.0,King County Department of Transportation - Met...,N,122535567.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,130249639.0,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,Funds Earned During Period,136162762.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,King County Department of Transportation - Met...,N,23547904.0,King County Department of Transportation - Met...,N,23166653.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,24787685.0,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,Funds Earned During Period,22028748.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,King County Department of Transportation - Met...,N,10320050.0,King County Department of Transportation - Met...,N,11487561.0,1,King County Department of Transportation - Met...,Full Reporter: Operating,Funds Earned During Period,11804793.0,1,King County Department of Transportation - Met...,Full Reporter,Full Reporter,Funds Earned During Period,7121362.0

In [55]:
list(fare_0515)

['NTD_ID',
 'MODE',
 'SERVICE_ID',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 'Company_Nm',
 'Service_Cd',
 'Small_Systems_Waiver_Fl',
 '2012',
 'Agency',
 'SSW',
 '2013',
 '4 digit NTDID',
 'Reporter Name',
 'Reporter Type_x',
 'Expense Type_x',
 '2014',
 'Legacy NTD ID',
 'Agency Name',
 'Reporter Type_y',
 'Form Module Type',
 'Expense Type_y',
 '2015']

In [146]:
fare_0515=fare_0515.drop(columns=['Company_Nm','Small_Systems_Waiver_Fl','SSW','Reporter Name',
                                  'Reporter Type_x','Expense Type_x','Agency Name','Reporter Type_y',
                                  'Form Module Type','Expense Type_y'])
fare_0515.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Agency,2013,4 digit NTDID,2014,Legacy NTD ID,2015
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,King County Department of Transportation - Met...,750659.0,1,957280.0,1,983881.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0,0.0,0,0.0,0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,King County Department of Transportation - Met...,122535567.0,1,130249639.0,1,136162762.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,King County Department of Transportation - Met...,23166653.0,1,24787685.0,1,22028748.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,King County Department of Transportation - Met...,11487561.0,1,11804793.0,1,7121362.0

In [57]:
fare_16.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,MODE,SERVICE_ID,Expense Type,2016
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,16362096.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,957269.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,440458.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2477371.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,30786785.0

In [482]:
#fare_16=fare_16.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [58]:
fare_16=fare_16[fare_16['Reporter Type']!='Rural Reporter']

In [59]:
fare_16['NTD_ID']=fare_16['NTD_ID'].astype(int)
fare_16.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,MODE,SERVICE_ID,Expense Type,2016
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,16362096.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,957269.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,440458.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2477371.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,30786785.0

In [60]:
fare_16=fare_16.drop(columns=['Legacy NTD ID','Agency Name','Reporter Type','Reporting Module','Expense Type'])

In [147]:
fare_0516=pd.merge(fare_0515,fare_16,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0516=fare_0516.fillna(0)
fare_0516.head()

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Agency,2013,4 digit NTDID,2014,Legacy NTD ID,2015,2016
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,King County Department of Transportation - Met...,750659.0,1,957280.0,1,983881.0,957269.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,King County Department of Transportation - Met...,122535567.0,1,130249639.0,1,136162762.0,139001364.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,King County Department of Transportation - Met...,23166653.0,1,24787685.0,1,22028748.0,22872383.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,King County Department of Transportation - Met...,11487561.0,1,11804793.0,1,7121362.0,7293271.0

In [487]:
fare_17.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,MODE,SERVICE_ID,Expense Type,2017
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,17054149.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,863494.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,412730.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2620614.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,38019002.0

In [488]:
#fare_17=fare_17.rename(columns={'TOS':'SERVICE_ID','Mode':'MODE'})

In [62]:
fare_17=fare_17[fare_17['Reporter Type']!='Rural Reporter']

In [64]:
fare_17['Reporter Type'].unique()

array(['Full Reporter', 'Reduced Reporter', 'Separate Service'],
      dtype=object)

In [63]:
fare_17['NTD_ID']=fare_17['NTD_ID'].astype(int)
fare_17.head()

,NTD_ID,Legacy NTD ID,Agency Name,Reporter Type,Reporting Module,MODE,SERVICE_ID,Expense Type,2017
0,1,1,King County Department of Transportation,Full Reporter,Urban,CB,PT,Funds Earned During Period,17054149.0
1,1,1,King County Department of Transportation,Full Reporter,Urban,DR,PT,Funds Earned During Period,863494.0
2,1,1,King County Department of Transportation,Full Reporter,Urban,DT,PT,Funds Earned During Period,412730.0
3,1,1,King County Department of Transportation,Full Reporter,Urban,FB,DO,Funds Earned During Period,2620614.0
4,1,1,King County Department of Transportation,Full Reporter,Urban,LR,PT,Funds Earned During Period,38019002.0

In [65]:
fare_17=fare_17.drop(columns=['Legacy NTD ID','Agency Name','Reporter Type','Reporting Module','Expense Type'])

In [148]:
fare_0517=pd.merge(fare_0516,fare_17,how='outer',on=['NTD_ID','MODE','SERVICE_ID'])
fare_0517=fare_0517.fillna(0)
fare_0517.head(10)

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Agency,2013,4 digit NTDID,2014,Legacy NTD ID,2015,2016,2017
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,King County Department of Transportation - Met...,750659.0,1,957280.0,1,983881.0,957269.0,863494.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,King County Department of Transportation - Met...,122535567.0,1,130249639.0,1,136162762.0,139001364.0,139520130.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,King County Department of Transportation - Met...,23166653.0,1,24787685.0,1,22028748.0,22872383.0,22808461.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,King County Department of Transportation - Met...,11487561.0,1,11804793.0,1,7121362.0,7293271.0,7622086.0
5,2,DR,DO,146607.0,164756.0,153728.0,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,494167.0,Spokane Transit Authority,444397.0,2,470539.0,2,472560.0,455855.0,510050.0
6,2,DR,PT,24152.0,24498.0,38276.0,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,170674.0,Spokane Transit Authority,190595.0,2,157919.0,2,170357.0,192427.0,200174.0
7,2,MB,DO,5018070.0,5239111.0,5343235.0,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,8922422.0,Spokane Transit Authority,9019785.0,2,8475543.0,2,7988366.0,7517135.0,8314345.0
8,2,VP,DO,153858.0,159757.0,181344.0,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,727380.0,Spokane Transit Authority,709604.0,2,746614.0,2,590762.0,569848.0,528460.0
9,3,DR,DO,102675.0,100927.0,190174.0,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,67844.0,Pierce County Transportation Benefit Area Auth...,95710.0,3,72523.0,3,72326.0,97116.0,125212.0

In [149]:
fare_0517.drop_duplicates(subset=['NTD_ID','MODE','SERVICE_ID'],keep='last')

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Agency,2013,4 digit NTDID,2014,Legacy NTD ID,2015,2016,2017
0,1,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,King County Department of Transportation - Met...,750659.0,1,957280.0,1,983881.0,957269.0,863494.0
1,1,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0
2,1,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,King County Department of Transportation - Met...,122535567.0,1,130249639.0,1,136162762.0,139001364.0,139520130.0
3,1,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,King County Department of Transportation - Met...,23166653.0,1,24787685.0,1,22028748.0,22872383.0,22808461.0
4,1,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,King County Department of Transportation - Met...,11487561.0,1,11804793.0,1,7121362.0,7293271.0,7622086.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12935,91092,CB,DO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,177141.0
12936,91092,DR,DO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,68302.0
12937,91092,MB,DO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,329624.0
12939,99334,MB,DO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,964.0
12941,99433,MB,DO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,18359.0

In [494]:
fare_0517[fare_0517['2009'].isnull()]

Empty DataFrame
Columns: [NTD_ID, MODE, SERVICE_ID, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, Agency, 2013, 4 digit NTDID, 2014, Legacy NTD ID, 2015, 2016, 2017]
Index: []

In [68]:
fare_0517.head(10)

,NTD_ID,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,Agency,2013,4 digit NTDID,2014,Legacy NTD ID,2015,2016,2017
0,1,DR,PT,688012.00,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,King County Department of Transportation - Met...,750659.0,1,957280.0,1,983881.0,957269.0,863494.0
1,1,LR,DO,216413.00,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0,0.0,0,0.0,0,0.0,0.0,0.0
2,1,MB,DO,55995026.00,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,King County Department of Transportation - Met...,122535567.0,1,130249639.0,1,136162762.0,139001364.0,139520130.0
3,1,TB,DO,19012827.00,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,King County Department of Transportation - Met...,23166653.0,1,24787685.0,1,22028748.0,22872383.0,22808461.0
4,1,VP,DO,5089843.00,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,King County Department of Transportation - Met...,11487561.0,1,11804793.0,1,7121362.0,7293271.0,7622086.0
5,2,DR,DO,146607.00,164756.0,153728.0,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,494167.0,Spokane Transit Authority,444397.0,2,470539.0,2,472560.0,455855.0,510050.0
6,2,DR,PT,24152.00,24498.0,38276.0,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,170674.0,Spokane Transit Authority,190595.0,2,157919.0,2,170357.0,192427.0,200174.0
7,2,MB,DO,5018070.00,5239111.0,5343235.0,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,8922422.0,Spokane Transit Authority,9019785.0,2,8475543.0,2,7988366.0,7517135.0,8314345.0
8,2,VP,DO,153858.00,159757.0,181344.0,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,727380.0,Spokane Transit Authority,709604.0,2,746614.0,2,590762.0,569848.0,528460.0
9,3,DR,DO,102675.00,100927.0,190174.0,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,67844.0,Pierce County Transportation Benefit Area Auth...,95710.0,3,72523.0,3,72326.0,97116.0,125212.0

In [495]:
#fare_05.head(10)

In [496]:
#fare_06.head(10)

In [54]:
list(fare_0517)

['NTD_ID',
 'MODE',
 'SERVICE_ID',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 'Agency',
 '2013',
 '4 digit NTDID',
 '2014',
 'Legacy NTD ID',
 '2015',
 '2016',
 '2017']

In [150]:
fare_0517=fare_0517[['NTD_ID','4 digit NTDID','Legacy NTD ID','Agency','MODE','SERVICE_ID','2002','2003','2004',
                     '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017']]
fare_0517.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,0,0,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0
4,1,1,1,King County Department of Transportation - Met...,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0

In [56]:
fare_0517['MODE'].unique()

array(['DR', 'LR', 'MB', 'TB', 'VP', 'FB', 'MO', 'CR', 'AR', 'HR', 'IP',
       'AG', 'PB', 'CC', 'JT', 'TR', 'DT', 'CB', 'RB', 'SR', 'YR', 'MG'],
      dtype=object)

In [70]:
rail=['AG','CC','CR','HR','LR','IP','MO','RL','RP','RS','SR','VT','MG']
bus=['MB','RB','CB','TB']
dr = ['DT','JT','VP','DR','PB']
other=['TR','FB']
def railbus(df):
    if df['MODE'] in rail:
        return 'Rail'
    elif df['MODE'] in bus:
        return 'Bus'
    elif df['MODE'] in dr:
        return 'DemandResponse'
    else:
        return "Other"

In [151]:
ntd_fare=fare_0517.assign(RailBus=fare_0517.apply(railbus,axis=1))
ntd_fare.head(10)

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,RailBus
0,1,1,1,King County Department of Transportation - Met...,DR,PT,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,DemandResponse
1,1,0,0,0,LR,DO,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Rail
2,1,1,1,King County Department of Transportation - Met...,MB,DO,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,Bus
3,1,1,1,King County Department of Transportation - Met...,TB,DO,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,Bus
4,1,1,1,King County Department of Transportation - Met...,VP,DO,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,DemandResponse
5,2,2,2,Spokane Transit Authority,DR,DO,146607.0,164756.0,153728.0,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,494167.0,444397.0,470539.0,472560.0,455855.0,510050.0,DemandResponse
6,2,2,2,Spokane Transit Authority,DR,PT,24152.0,24498.0,38276.0,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,170674.0,190595.0,157919.0,170357.0,192427.0,200174.0,DemandResponse
7,2,2,2,Spokane Transit Authority,MB,DO,5018070.0,5239111.0,5343235.0,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,8922422.0,9019785.0,8475543.0,7988366.0,7517135.0,8314345.0,Bus
8,2,2,2,Spokane Transit Authority,VP,DO,153858.0,159757.0,181344.0,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,727380.0,709604.0,746614.0,590762.0,569848.0,528460.0,DemandResponse
9,3,3,3,Pierce County Transportation Benefit Area Auth...,DR,DO,102675.0,100927.0,190174.0,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,67844.0,95710.0,72523.0,72326.0,97116.0,125212.0,DemandResponse

In [59]:
fare_0517[fare_0517['NTD_ID']==90002]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
10136,90002,9002,9002,0,DR,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1687195.0,1646006.0,1716757.0,1803200.0
10137,90002,9002,9002,0,DT,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180400.0,194208.0,235664.0,260190.0
10138,90002,9002,9002,0,MB,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54976149.0,55064804.0,53216236.0,51441589.0
13072,90002,0,0,0,VP,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,535.0

In [60]:
ntd_fare[ntd_fare['NTD_ID']==90002]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,RailBus
10136,90002,9002,9002,0,DR,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1687195.0,1646006.0,1716757.0,1803200.0,DemandResponse
10137,90002,9002,9002,0,DT,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,180400.0,194208.0,235664.0,260190.0,DemandResponse
10138,90002,9002,9002,0,MB,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54976149.0,55064804.0,53216236.0,51441589.0,Bus
13072,90002,0,0,0,VP,PT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,535.0,DemandResponse

In [152]:
ntd_fare=ntd_fare[['NTD_ID','4 digit NTDID','Legacy NTD ID','Agency','MODE','SERVICE_ID','RailBus','2002','2003','2004',
                     '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017']]
ntd_fare.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0

In [153]:
ntd_fare.to_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/fare_by_agency_yearly.csv')

In [74]:
agency_uza=pd.read_csv('../Factors and Ridership Data/Fares/FARE_YEARLY/agency_uza.csv',encoding='latin-1')
agency_uza.head()
#data from April 2018 monthly ridership table

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
2,1,0001,King County Department of Transportation,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
3,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
4,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"

In [63]:
agency_uza[agency_uza['5 digit NTD ID']==90002]

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
1742,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1743,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1744,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1745,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1746,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1747,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"
1748,90002,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54,"Urban Honolulu, HI",170,"802,459",277,"953,207"

In [510]:
ntd_fare['NTD_ID'].describe()

count    12866.000000
mean     40955.836157
std      28718.520939
min          1.000000
25%      10123.000000
50%      40166.000000
75%      60089.000000
max      99433.000000
Name: NTD_ID, dtype: float64

In [511]:
#agency_uza[agency_uza['UZA Name'].isnull()]

In [512]:
#ntd_fare

In [64]:
#fare_0517[fare_0517['NTD_ID']==90002]

In [65]:
#fare_16[fare_16['NTD_ID']==90259]

In [66]:
#fare_17[fare_17['NTD_ID']==90259]

In [68]:
ntd_fare.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0

In [72]:
ntd_fare_uza=pd.merge(ntd_fare_2,agency_uza,how='inner',left_on='NTD_ID',right_on='5 digit NTD ID',indicator=True)
ntd_fare_uza.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
1,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
2,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1,0001,King County Department of Transportation,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
3,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
4,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both

In [519]:
ntd_fare_uza[ntd_fare_uza['NTD_ID']==90003]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
12197,90003,9003,9003,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,859684.0,866615.0,861459.0,90003,9003,San Francisco Bay Area Rapid Transit District,Oakland,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",93,"833,762"
12200,90003,9003,9003,0,HR,DO,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,415742134.0,459041781.0,482050036.0,479276684.0,90003,9003,San Francisco Bay Area Rapid Transit District,Oakland,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",93,"833,762"
12203,90003,0,9003,0,MG,PT,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3732554.0,6666416.0,5536442.0,90003,9003,San Francisco Bay Area Rapid Transit District,Oakland,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",93,"833,762"
12206,90003,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90003,9003,San Francisco Bay Area Rapid Transit District,Oakland,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",93,"833,762"

In [81]:
ntd_fare_uza=ntd_fare_uza.drop_duplicates()

In [82]:
len(ntd_fare_uza['UZA Name'].unique())

383

In [83]:
ntd_fare_uza['UZA Name'].describe()

count                          1782
unique                          383
top       New York-Newark, NY-NJ-CT
freq                             74
Name: UZA Name, dtype: object

In [521]:
ntd_fare_uza[ntd_fare_uza['UZA Name'].isnull()]

Empty DataFrame
Columns: [NTD_ID, 4 digit NTDID, Legacy NTD ID, Agency_x, MODE, SERVICE_ID, RailBus, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 5 digit NTD ID, 4 digit NTD ID, Agency_y, HQ City, HQ State, UZA, UZA Name, UZA Area SQ Miles, UZA Population, Service Area SQ Miles, Service Area Population]
Index: []

In [286]:
#ntd_fare_uza[ntd_fare_uza['Agency_x']=='Massachusetts Bay Transportation Authority']

In [84]:
list(ntd_fare_uza)

['NTD_ID',
 '4 digit NTDID',
 'Legacy NTD ID',
 'Agency_x',
 'MODE',
 'SERVICE_ID',
 'RailBus',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '5 digit NTD ID',
 '4 digit NTD ID',
 'Agency_y',
 'HQ City',
 'HQ State',
 'UZA',
 'UZA Name',
 'UZA Area SQ Miles',
 'UZA Population',
 'Service Area SQ Miles',
 'Service Area Population',
 '_merge']

In [85]:
ntd_fare_uza=ntd_fare_uza[['NTD_ID','4 digit NTDID','Legacy NTD ID','Agency_x','HQ City','HQ State','UZA Name','UZA',
                           'UZA Area SQ Miles','UZA Population','MODE','SERVICE_ID','RailBus','Service Area SQ Miles',
                           'Service Area Population',
                           '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',
                           '2015','2016','2017']]
ntd_fare_uza.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,HQ City,HQ State,UZA Name,UZA,UZA Area SQ Miles,UZA Population,MODE,SERVICE_ID,RailBus,Service Area SQ Miles,Service Area Population,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",DR,PT,DemandResponse,"2,134","2,117,125",675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
2,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",DR,PT,DemandResponse,"2,134","2,117,125",675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
9,1,0,0,0,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",LR,DO,Rail,"2,134","2,117,125",211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,0,0,0,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",LR,DO,Rail,"2,134","2,117,125",211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",MB,DO,Bus,"2,134","2,117,125",58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0

In [609]:
ntd_fare_uza.to_csv('ntd_fare_uza_trial.csv')

In [620]:
fare_14[fare_14['NTD_ID']==30019]

,NTD_ID,4 digit NTDID,Reporter Name,Reporter Type,MODE,SERVICE_ID,Expense Type,2014
501,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,CR,DO,Funds Earned During Period,148939089.0
502,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,DR,PT,Funds Earned During Period,5886831.0
503,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,HR,DO,Funds Earned During Period,103850277.0
504,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,MB,DO,Funds Earned During Period,179059963.0
505,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,MB,PT,Funds Earned During Period,110081.0
506,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,SR,DO,Funds Earned During Period,33025852.0
507,30019,3019,Southeastern Pennsylvania Transportation Autho...,Full Reporter: Operating,TB,DO,Funds Earned During Period,5778951.0

In [210]:
import re

In [525]:
#ntd_fare_uza['2005'] = ntd_fare_uza['2005'].str.replace('$', '')

In [526]:
#ntd_fare_uza['2005'] = ntd_fare_uza['2005'].str.replace(',', '')

In [527]:
#ntd_fare_uza['2005'] = ntd_fare_uza['2005'].astype(float)

In [293]:
#ntd_fare_uza=ntd_fare_uza.fillna(0)
#ntd_fare_uza

In [528]:
#ntd_fare_uza['2006'] = ntd_fare_uza['2006'].str.replace('$', '')
#ntd_fare_uza['2006'] = ntd_fare_uza['2006'].str.replace(',', '')
#ntd_fare_uza['2006'] = ntd_fare_uza['2006'].astype(float)

In [529]:
#ntd_fare_uza['2007'] = ntd_fare_uza['2007'].str.replace('$', '')
#ntd_fare_uza['2007'] = ntd_fare_uza['2007'].str.replace(',', '')
#ntd_fare_uza['2007'] = ntd_fare_uza['2007'].astype(float)

In [530]:
#ntd_fare_uza['2008'] = ntd_fare_uza['2008'].str.replace('$', '')
#ntd_fare_uza['2008'] = ntd_fare_uza['2008'].str.replace(',', '')
#ntd_fare_uza['2008'] = ntd_fare_uza['2008'].fillna(0)
#ntd_fare_uza['2008'] = ntd_fare_uza['2008'].astype(float)

In [531]:
#ntd_fare_uza['2009'] = ntd_fare_uza['2009'].str.replace('$', '')
#ntd_fare_uza['2009'] = ntd_fare_uza['2009'].str.replace(',', '')
#ntd_fare_uza['2009'] = ntd_fare_uza['2009'].fillna(0)

In [532]:
#ntd_fare_uza['2010'] = ntd_fare_uza['2010'].str.replace('$', '')
#ntd_fare_uza['2010'] = ntd_fare_uza['2010'].str.replace(',', '')
#ntd_fare_uza['2010'] = ntd_fare_uza['2010'].fillna(0)

In [533]:
#ntd_fare_uza['2011'] = ntd_fare_uza['2011'].str.replace('$', '')
#ntd_fare_uza['2011'] = ntd_fare_uza['2011'].str.replace(',', '')
#ntd_fare_uza['2011'] = ntd_fare_uza['2011'].fillna(0)

In [534]:
#ntd_fare_uza['2012'] = ntd_fare_uza['2012'].str.replace('$', '')
#ntd_fare_uza['2012'] = ntd_fare_uza['2012'].str.replace(',', '')
#ntd_fare_uza['2012'] = ntd_fare_uza['2012'].fillna(0)

In [535]:
#ntd_fare_uza['2013'] = ntd_fare_uza['2013'].str.replace('$', '')
#ntd_fare_uza['2013'] = ntd_fare_uza['2013'].str.replace(',', '')
#ntd_fare_uza['2013'] = ntd_fare_uza['2013'].fillna(0)

In [536]:
#ntd_fare_uza['2014'] = ntd_fare_uza['2014'].str.replace('$', '')
#ntd_fare_uza['2014'] = ntd_fare_uza['2014'].str.replace(',', '')
#ntd_fare_uza['2014'] = ntd_fare_uza['2014'].fillna(0)

In [537]:
ntd_fare_uza['2005'].describe()

count    4.963000e+03
mean     7.773229e+04
std      1.637881e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.845744e+07
Name: 2005, dtype: float64

In [538]:
ntd_fare_uza.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,HQ City,HQ State,UZA Name,UZA,UZA Area SQ Miles,UZA Population,MODE,SERVICE_ID,RailBus,Service Area SQ Miles,Service Area Population,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",DR,PT,DemandResponse,"2,134","2,117,125",675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
2,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",DR,PT,DemandResponse,"2,134","2,117,125",675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
9,1,0,0,0,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",LR,DO,Rail,"2,134","2,117,125",211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1,0,0,0,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",LR,DO,Rail,"2,134","2,117,125",211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,1,1,King County Department of Transportation - Met...,Seattle,WA,"Seattle, WA",14,"1,010","3,059,393",MB,DO,Bus,"2,134","2,117,125",58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0

In [154]:
ntd_fare_2=ntd_fare.drop_duplicates(subset=['NTD_ID','MODE','SERVICE_ID'],keep='last')

In [585]:
ntd_fare_uza[ntd_fare_uza['NTD_ID']==30074]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,HQ City,HQ State,UZA Name,UZA,UZA Area SQ Miles,UZA Population,MODE,SERVICE_ID,RailBus,Service Area SQ Miles,Service Area Population,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1837,30074,3074,3074,0,Abingdon,MD,"Aberdeen-Bel Air South-Bel Air North, MD",169,131,"213,751",DR,DO,DemandResponse,133,"250,290",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75007.0,62384.0,69744.0,76400.0
1839,30074,3074,3074,0,Abingdon,MD,"Aberdeen-Bel Air South-Bel Air North, MD",169,131,"213,751",MB,DO,Bus,133,"250,290",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,217294.0,244500.0,234177.0,221995.0

In [331]:
#ntd_fare_uza.groupby(['UZA Name','RailBus']).sum()

In [89]:
ntd_fare_uza=ntd_fare_uza.fillna(0)

In [588]:
ntd_fare_2.to_csv('ntd_fare_2.csv')

In [589]:
ntd_fare_2.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0

In [590]:
ntd_fare_2.groupby(['NTD_ID','RailBus']).sum()

                             2005        2006        2007         2008  \
NTD_ID RailBus
1      Bus             83016182.0  76779268.0  89300249.0  112668444.0
       DemandResponse   6227828.0   6898061.0   7630432.0    8880331.0
       Other                  0.0         0.0         0.0          0.0
       Rail              211571.0         0.0         0.0     275185.0
2      Bus              5411522.0   5801631.0   6082747.0    7112748.0
       DemandResponse    435981.0    536133.0    583776.0     749435.0
3      Bus             10316861.0   9133510.0  12906182.0   15165373.0
       DemandResponse   1892557.0   2381497.0   2388706.0    2567212.0
4      Bus                    0.0         0.0         0.0          0.0
       Other                  0.0         0.0         0.0          0.0
5      Bus              1042125.0    804398.0   1023457.0    1091474.0
       DemandResponse     31865.0     33150.0     37626.0      41211.0
6      Bus               272478.0    301019.0    331030.0     395355.0
       DemandResponse    179470.0    173259.0    207155.0     380831.0
7      Bus              4378336.0   5078340.0   5213706.0    6122561.0
       DemandResponse    236023.0    280778.0    229066.0     241986.0
8      Bus             37559384.0  40714948.0  44760793.0   47467995.0
       DemandResponse    127756.0   3344843.0   3498416.0    3547874.0
       Other                  0.0         0.0         0.0          0.0
       Rail            23249374.0  26149543.0  29337862.0   31495353.0
9      Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
10     Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
11     Bus               688490.0    639037.0    698804.0     882927.0
       DemandResponse     65192.0     67289.0     77641.0      80360.0
12     Bus              2867604.0   3461154.0   3331361.0    3770857.0
       DemandResponse   1130682.0   1131979.0   1664868.0    1302135.0
14     Bus                    0.0         0.0         0.0          0.0
15     DemandResponse         0.0         0.0         0.0          0.0
...                           ...         ...         ...          ...
90298  DemandResponse         0.0         0.0         0.0          0.0
90300  DemandResponse         0.0         0.0         0.0          0.0
90301  DemandResponse         0.0         0.0         0.0          0.0
91092  Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
99256  Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
99262  DemandResponse         0.0         0.0         0.0          0.0
       Other                  0.0         0.0         0.0          0.0
99286  Bus                    0.0         0.0         0.0          0.0
99292  Bus                    0.0         0.0         0.0          0.0
99298  DemandResponse         0.0         0.0         0.0          0.0
99316  Other                  0.0         0.0         0.0          0.0
99322  DemandResponse         0.0         0.0         0.0          0.0
99328  Bus                    0.0         0.0         0.0          0.0
99334  Bus                    0.0         0.0         0.0          0.0
99340  DemandResponse         0.0         0.0         0.0          0.0
99358  DemandResponse         0.0         0.0         0.0          0.0
99364  DemandResponse         0.0         0.0         0.0          0.0
99376  DemandResponse         0.0         0.0         0.0          0.0
99382  Bus                    0.0         0.0         0.0          0.0
99394  DemandResponse         0.0         0.0         0.0          0.0
99406  Bus                    0.0         0.0         0.0          0.0
99423  Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
99424  Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0
99425  DemandResponse         0.0         0.0         0.0          0.0
99433  Bus                    0.0         0.0         0.0          0.0
       DemandResponse         0.0         0.0         0.0          0.0

                              2009         2010         2011         2012  \
NTD_ID RailBus
1      Bus             123068565.0  130826400.0  141141185.0  155167416.0
       DemandResponse   10487508.0    9359714.0   10636003.0   11653940.0
       Other                   0.0          0.0          0.0          0.0
       Rail              2714803.0    9897210.0   12440918.0   14494047.0
2      Bus               7127521.0    8382949.0    8988852.0    8922422.0
       DemandResponse     740080.0     960577.0    1162897.0    1392221.0
3      Bus              16868890.0   16220955.0   17395102.0   18095492.0
       DemandResponse    2944555.0    2885062.0    3005441.0    2894513.0
4      Bus                     0.0          0.0          0.0          0.0
       Other                   0.0          0.0          0.0          0.0
5      Bus               1076498.0    1206313.0    1175587.0    1210870.0
       DemandResponse      47157.0     104512.0     115440.0     106105.0
6      Bus                495585.0     534590.0     598546.0     502570.0
       DemandResponse     302494.0     356254.0     383330.0     355395.0
7      Bus               6639924.0    7064784.0    7432593.0    6774444.0
       DemandResponse     295215.0     326936.0     296877.0     351152.0
8      Bus              54044751.0   54468361.0   53576580.0   56332405.0
       DemandResponse    5160538.0    4452907.0    4822598.0    4710935.0
       Other                   0.0          0.0     386003.0     447356.0
       Rail             33976100.0   37220208.0   40843683.0   43069976.0
9      Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
10     Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
11     Bus                895598.0     894691.0     893179.0     862227.0
       DemandResponse      73922.0      68022.0      79017.0      84318.0
12     Bus               3762970.0    3774194.0    4115324.0    4353774.0
       DemandResponse    1881056.0    1883827.0    2507979.0    2510295.0
14     Bus                     0.0          0.0          0.0          0.0
15     DemandResponse          0.0          0.0          0.0          0.0
...                            ...          ...          ...          ...
90298  DemandResponse          0.0          0.0          0.0          0.0
90300  DemandResponse          0.0          0.0          0.0          0.0
90301  DemandResponse          0.0          0.0          0.0          0.0
91092  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
99256  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
99262  DemandResponse          0.0          0.0          0.0          0.0
       Other                   0.0          0.0          0.0          0.0
99286  Bus                     0.0          0.0          0.0          0.0
99292  Bus                     0.0          0.0          0.0          0.0
99298  DemandResponse          0.0          0.0          0.0          0.0
99316  Other                   0.0          0.0          0.0          0.0
99322  DemandResponse          0.0          0.0          0.0          0.0
99328  Bus                     0.0          0.0          0.0          0.0
99334  Bus                     0.0          0.0          0.0          0.0
99340  DemandResponse          0.0          0.0          0.0          0.0
99358  DemandResponse          0.0          0.0          0.0          0.0
99364  DemandResponse          0.0          0.0          0.0          0.0
99376  DemandResponse          0.0          0.0          0.0          0.0
99382  Bus                     0.0          0.0          0.0          0.0
99394  DemandResponse          0.0          0.0          0.0          0.0
99406  Bus                     0.0          0.0          0.0          0.0
99423  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
99424  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
99425  DemandResponse          0.0          0.0          0.0          0.0
99433  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0

                              2013         2014         2015         2016  \
NTD_ID RailBus
1      Bus             160562870.0  170815299.0  175346062.0  179465400.0
       DemandResponse   12748070.0   13071391.0    8535495.0    8690998.0
       Other                   0.0          0.0          0.0    2477371.0
       Rail             15607562.0   16291263.0   18669499.0   32036865.0
2      Bus               9019785.0    8475543.0    7988366.0    7517135.0
       DemandResponse    1344596.0    1375072.0    1233679.0    1218130.0
3      Bus              18467360.0   19115887.0   19808915.0   19642227.0
       DemandResponse    3313552.0    3353815.0    3261611.0    3336086.0
4      Bus                     0.0          0.0          0.0          0.0
       Other                   0.0          0.0          0.0          0.0
5      Bus               1507463.0    1443345.0    1401252.0    1287776.0
       DemandResponse     106263.0     110663.0     104641.0     103809.0
6      Bus                873269.0     958667.0     987356.0    1040977.0
       DemandResponse     374109.0     364128.0     361716.0     282774.0
7      Bus               6952902.0    7108331.0    7320181.0    7148311.0
       DemandResponse     415778.0     552908.0     633057.0     528175.0
8      Bus              63818606.0   65529184.0   68567921.0   66843094.0
       DemandResponse    4140109.0    5779173.0    7604899.0    8407859.0
       Other              467838.0     554133.0     522503.0     540148.0
       Rail             46805988.0   46936245.0   46523818.0   49913913.0
9      Bus                     0.0          0.0       2910.0         83.0
       DemandResponse          0.0          0.0          0.0          0.0
10     Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0          0.0          0.0
11     Bus                906723.0     877868.0     931936.0     790719.0
       DemandResponse      86154.0      93103.0      88536.0      94984.0
12     Bus               4265961.0    4243486.0    4191141.0    3904205.0
       DemandResponse    1880964.0    2841498.0    2395667.0    2100660.0
14     Bus                     0.0          0.0      36703.0      17938.0
15     DemandResponse          0.0          0.0          0.0          0.0
...                            ...          ...          ...          ...
90298  DemandResponse          0.0          0.0          0.0      13268.0
90300  DemandResponse          0.0          0.0          0.0      10629.0
90301  DemandResponse          0.0          0.0          0.0          0.0
91092  Bus                     0.0          0.0          0.0     556764.0
       DemandResponse          0.0          0.0          0.0      67327.0
99256  Bus                     0.0          0.0      13597.0      13196.0
       DemandResponse          0.0          0.0        319.0       1487.0
99262  DemandResponse          0.0          0.0       6525.0       9164.0
       Other                   0.0          0.0          0.0        316.0
99286  Bus                     0.0          0.0      26905.0      24780.0
99292  Bus                     0.0          0.0      49377.0      46286.0
99298  DemandResponse          0.0          0.0          0.0          0.0
99316  Other                   0.0          0.0     224594.0     233473.0
99322  DemandResponse          0.0          0.0          0.0          0.0
99328  Bus                     0.0          0.0          0.0          0.0
99334  Bus                     0.0          0.0          0.0          0.0
99340  DemandResponse          0.0          0.0          0.0          0.0
99358  DemandResponse          0.0          0.0       3796.0       4917.0
99364  DemandResponse          0.0          0.0          0.0          0.0
99376  DemandResponse          0.0          0.0      12931.0      15809.0
99382  Bus                     0.0          0.0      18704.0      18718.0
99394  DemandResponse          0.0          0.0          0.0          0.0
99406  Bus                     0.0          0.0       2671.0       4616.0
99423  Bus                     0.0          0.0          0.0    1052207.0
       DemandResponse          0.0          0.0          0.0      50016.0
99424  Bus                     0.0          0.0          0.0     762097.0
       DemandResponse          0.0          0.0          0.0      53124.0
99425  DemandResponse          0.0          0.0          0.0     226057.0
99433  Bus                     0.0          0.0          0.0          0.0
       DemandResponse          0.0          0.0       1894.0       1100.0

                              2017
NTD_ID RailBus
1      Bus             180492586.0
       DemandResponse    8898310.0
       Other             2620614.0
       Rail             39387137.0
2      Bus               8314345.0
       DemandResponse    1238684.0
3      Bus              19901683.0
       DemandResponse    3401567.0
4      Bus                     0.0
       Other                   0.0
5      Bus               1206043.0
       DemandResponse     103668.0
6      Bus               1063720.0
       DemandResponse     253823.0
7      Bus               7494017.0
       DemandResponse     560451.0
8      Bus              65512900.0
       DemandResponse    8888062.0
       Other              473627.0
       Rail             50186405.0
9      Bus                     0.0
       DemandResponse          0.0
10     Bus                     0.0
       DemandResponse          0.0
11     Bus                841606.0
       DemandResponse      95852.0
12     Bus               3235222.0
       DemandResponse    1687190.0
14     Bus                 49381.0
15     DemandResponse          0.0
...                            ...
90298  DemandResponse          0.0
90300  DemandResponse      33628.0
90301  DemandResponse          0.0
91092  Bus                506765.0
       DemandResponse      71283.0
99256  Bus                  9998.0
       DemandResponse       1018.0
99262  DemandResponse      10662.0
       Other                   0.0
99286  Bus                 38460.0
99292  Bus                 15336.0
99298  DemandResponse          0.0
99316  Other              244293.0
99322  DemandResponse          0.0
99328  Bus                     0.0
99334  Bus                   964.0
99340  DemandResponse          0.0
99358  DemandResponse       3671.0
99364  DemandResponse          0.0
99376  DemandResponse      15633.0
99382  Bus                     0.0
99394  DemandResponse          0.0
99406  Bus                  6152.0
99423  Bus               1049473.0
       DemandResponse      49116.0
99424  Bus                803855.0
       DemandResponse      46355.0
99425  DemandResponse     197061.0
99433  Bus                 18359.0
       DemandResponse       2433.0

[3350 rows x 13 columns]

In [373]:
ntd_fare_uza=ntd_fare_uza.drop_duplicates()

In [596]:
ntd_fare_2[ntd_fare_2['NTD_ID']==4]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
10826,4,0,0T04,0,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10834,4,0,0T04,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [385]:
fare_0517.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,0001,0001,King County Department of Transportation - Met...,DR,PT,"$675,488","$659,606","$758,136","$831,048","$850,905","$308,539","$874,036","$1,005,687","$750,659","957,280","$983,881","$957,269","$863,494"
1,1,NaN,NaN,NaN,LR,DO,"$211,571",NaN,NaN,"$275,185","$342,835","$288,470",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0001,0001,King County Department of Transportation - Met...,MB,DO,"$58,136,140","$59,418,649","$64,550,864","$85,113,515","$93,937,578","$99,604,752","$103,418,068","$117,457,509","$122,535,567","130,249,639","$136,162,762","$139,001,364","$139,520,130"
3,1,0001,0001,King County Department of Transportation - Met...,MB,PT,"$7,872,045",$0,"$9,607,824","$11,342,831","$11,238,115","$11,109,150","$216,978","$266,612","$277,338","1,069,328","$1,180,841","$1,229,557","$1,109,846"
4,1,0001,0001,King County Department of Transportation - Met...,TB,DO,"$17,007,997","$17,360,619","$15,141,561","$16,212,098","$17,892,872","$20,112,498","$21,573,330","$23,547,904","$23,166,653","24,787,685","$22,028,748","$22,872,383","$22,808,461"

In [383]:
ntd_fare['2008'].describe()

count                  1361
unique                 1238
top
freq                     27
Name: 2008, dtype: object

In [624]:
df=ntd_fare_uza.groupby(['UZA Name','RailBus']).sum()
#.to_csv('ntd_fare_uza_trial2.csv')

In [632]:
df.loc['Seattle, WA']

,NTD_ID,UZA,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
RailBus,,,,,,,,,,,,,,,
Bus,295,238,121127295.0,113858717.0,135565479.0,151439089.0,178730866.0,190810204.0,207353321.0,227790870.0,237914297.0,250660715.0,258216982.0,264007879.0,266545018.0
DemandResponse,148,154,9796740.0,11363915.0,11950131.0,13899138.0,16289752.0,15235128.0,16998571.0,17555220.0,19239674.0,19646443.0,15187813.0,15307881.0,15561358.0
Other,118,56,60073602.0,34401872.0,36298549.0,37585057.0,37363808.0,38016395.0,38585230.0,39640895.0,41241947.0,42098152.0,43770173.0,45568505.0,46296121.0
Rail,209,126,5418239.0,5480667.0,9358621.0,11179245.0,15803657.0,29693844.0,36123584.0,42062155.0,43929065.0,46727300.0,53111852.0,80615030.0,96499207.0

In [76]:
len(ntd_fare_2[ntd_fare_2['2005']>0].Agency.unique())

478

In [90]:
ntd_fare_uza_2=pd.merge(ntd_fare_2,agency_uza,how='left',left_on='NTD_ID',right_on='5 digit NTD ID',indicator=True)
ntd_fare_uza_2

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
1,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
2,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
3,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
4,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9363,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9364,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9365,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9366,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9367,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [640]:
len(ntd_fare_uza_2[ntd_fare_uza_2['2005']>0]['UZA Name'].unique())

19

In [651]:
ntd_fare_2

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0
5,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0
6,2,2,2,Spokane Transit Authority,DR,DO,DemandResponse,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,494167.0,444397.0,470539.0,472560.0,455855.0,510050.0
7,2,2,2,Spokane Transit Authority,DR,PT,DemandResponse,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,170674.0,190595.0,157919.0,170357.0,192427.0,200174.0
8,2,2,2,Spokane Transit Authority,MB,DO,Bus,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,8922422.0,9019785.0,8475543.0,7988366.0,7517135.0,8314345.0
9,2,2,2,Spokane Transit Authority,VP,DO,DemandResponse,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,727380.0,709604.0,746614.0,590762.0,569848.0,528460.0
10,3,3,3,Pierce County Transportation Benefit Area Auth...,DR,DO,DemandResponse,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,67844.0,95710.0,72523.0,72326.0,97116.0,125212.0
11,3,3,3,Pierce County Transportation Benefit Area Auth...,DR,PT,DemandResponse,158106.0,172859.0,225811.0,243302.0,295185.0,266697.0,270325.0,183144.0,169952.0,164470.0,162720.0,221644.0,225521.0
12,3,3,3,Pierce County Transportation Benefit Area Auth...,MB,DO,Bus,7203721.0,6490693.0,9983459.0,11554497.0,12796106.0,11619743.0,10496943.0,9324727.0,8952627.0,8858933.0,9366803.0,8576749.0,8716219.0
13,3,0,0,0,MB,PT,Bus,3113140.0,2642817.0,2922723.0,3610876.0,4072784.0,4601212.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,3,3,3,Pierce County Transportation Benefit Area Auth...,VP,DO,DemandResponse,1642478.0,2137441.0,2072788.0,2230211.0,2539666.0,2514731.0,2626805.0,2643525.0,3047890.0,3116822.0,3026565.0,3017326.0,3050834.0
15,5,5,5,Everett Transit,DR,DO,DemandResponse,31865.0,33150.0,37626.0,41211.0,47157.0,104512.0,115440.0,106105.0,106263.0,110663.0,104641.0,103809.0,103668.0
16,5,5,5,Everett Transit,MB,DO,Bus,1042125.0,804398.0,1023457.0,1091474.0,1076498.0,1206313.0,1175587.0,1210870.0,1507463.0,1443345.0,1401252.0,1287776.0,1206043.0
17,6,6,6,Yakima Transit,DR,PT,DemandResponse,69195.0,60806.0,77751.0,172055.0,110008.0,130944.0,124761.0,122115.0,118499.0,125862.0,152642.0,120722.0,122189.0
18,6,6,6,Yakima Transit,MB,DO,Bus,272478.0,301019.0,331030.0,395355.0,495585.0,534590.0,598546.0,502570.0,873269.0,958667.0,812661.0,828202.0,828281.0
19,6,6,6,Yakima Transit,VP,DO,DemandResponse,110275.0,112453.0,129404.0,208776.0,192486.0,225310.0,258569.0,233280.0,255610.0,238266.0,209074.0,162052.0,131634.0
20,7,7,7,Lane Transit District,DR,PT,DemandResponse,223319.0,259345.0,200659.0,160407.0,249538.0,246257.0,232975.0,270481.0,288504.0,285891.0,308991.0,313677.0,271429.0
21,7,7,7,Lane Transit District,MB,DO,Bus,4378336.0,5078340.0,5213706.0,6122561.0,6602497.0,7032027.0,7236371.0,5177964.0,5254293.0,5296259.0,5385722.0,5205513.0,5528894.0
22,7,7,7,Lane Transit District,VP,PT,DemandResponse,12704.0,21433.0,28407.0,81579.0,45677.0,80679.0,63902.0,80671.0,127274.0,267017.0,324066.0,214498.0,289022.0
23,8,8,8,Tri-County Metropolitan Transportation Distric...,DR,PT,DemandResponse,127756.0,3344843.0,3498416.0,3547874.0,5160538.0,4027942.0,4333877.0,4192994.0,3708623.0,5168822.0,6737573.0,7312066.0,7769411.0
24,8,8,8,Tri-County Metropolitan Transportation Distric...,LR,DO,Rail,23249374.0,26149543.0,29337862.0,31495353.0,33868269.0,36908552.0,40843683.0,43069976.0,46442818.0,46404323.0,46025815.0,49059712.0,49384596.0
25,8,8,8,Tri-County Metropolitan Transportation Distric...,MB,DO,Bus,37559384.0,40714948.0,44760793.0,47467995.0,54044751.0,54468361.0,53576580.0,56332405.0,63818606.0,65529184.0,68567921.0,66843094.0,65512900.0
26,11,11,11,Valley Regional Transit,DR,DO,DemandResponse,60152.0,61028.0,73095.0,76404.0,69840.0,64402.0,79017.0,84318.0,86154.0,93103.0,88536.0,94984.0,95852.0
27,11,0,0,0,DR,PT,DemandResponse,5040.0,6261.0,4546.0,3956.0,4082.0,3620.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,11,11,11,Valley Regional Transit,MB,DO,Bus,577551.0,503501.0,560870.0,667818.0,727279.0,746074.0,893179.0,862227.0,906723.0,877868.0,931936.0,790719.0,841606.0
29,11,0,0,0,MB,PT,Bus,110939.0,135536.0,137934.0,215109.0,168319.0,148617.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12825,55234,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7918.0
12826,60017,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4892.0
12827,60059,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12829,60089,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1630.0
12831,60089,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12833,60095,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12834,60101,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4229.0
12836,60125,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9571.0
12838,60196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11625.0
12839,60269,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7020621.0
12840,60270,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
12841,60270,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3223.0
12842,70005,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9950.0
12843,70045,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139.0
12844,70271,0,0,0,SR,PT,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12846,70273,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1546.0
12847,80011,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19982.0
12848,90002,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,535.0
12849,90003,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12850,90013,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,308357.0
12851,90045,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1214088.0
12852,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0
12854,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0
12856,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0
12858,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12859,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0
12860,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0
12861,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0
12863,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0
12865,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0

In [644]:
len(fare_0517.NTD_ID.unique())

1944

In [646]:
len(agency_uza['UZA Name'].unique())

388

In [652]:
len(ntd_fare_2['NTD_ID'].unique())

1944

In [716]:
len(ntd_fare_uza_2.NTD_ID.unique())

1944

In [715]:
len(ntd_fare_uza_2['UZA Name'].unique())

384

In [664]:
len(ntd_fare_uza_2[ntd_fare_uza_2['_merge']!='both']['UZA Name'].unique())

1

In [665]:
ntd_fare_uza_2[ntd_fare_uza_2['_merge']!='both']

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
369,1001,0,0,Rhode Island Public Transit Authority,DR,DO,DemandResponse,367856.0,421539.0,436873.0,439180.0,530262.0,569455.0,599815.0,682046.0,772852.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
370,1001,0,0,Rhode Island Public Transit Authority,DR,PT,DemandResponse,119428.0,151658.0,192144.0,199029.0,190637.0,56194.0,56288.0,59279.0,58708.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
371,1001,0,0,Rhode Island Public Transit Authority,MB,DO,Bus,19504737.0,21374315.0,22421422.0,23480485.0,24044176.0,18048941.0,19778407.0,21147737.0,21547853.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
372,1002,0,0,Manchester Transit Authority,DR,DO,DemandResponse,15444.0,20113.0,22632.0,23214.0,29013.0,40185.0,41955.0,34938.0,37737.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
373,1002,0,0,Manchester Transit Authority,MB,DO,Bus,469597.0,312072.0,346149.0,361027.0,486181.0,524925.0,542229.0,565564.0,566814.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
374,1003,0,0,0,CR,DO,Rail,98790037.0,104286465.0,123020901.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
375,1003,0,0,Massachusetts Bay Transportation Authority,DR,PT,DemandResponse,1766630.0,1661848.0,1807289.0,1669088.0,3302090.0,3504823.0,4087164.0,4621537.0,7318243.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
376,1003,0,0,Massachusetts Bay Transportation Authority,FB,PT,Other,5766927.0,6025740.0,7459565.0,5960385.0,5393140.0,5711433.0,6008883.0,5989206.0,6386225.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
377,1003,0,0,Massachusetts Bay Transportation Authority,HR,DO,Rail,106478487.0,109922405.0,125471260.0,156554160.0,160515594.0,153168117.0,156508685.0,162016921.0,191852484.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
378,1003,0,0,Massachusetts Bay Transportation Authority,LR,DO,Rail,53622488.0,55719465.0,65031733.0,74238640.0,75225345.0,69637279.0,71723787.0,76335010.0,89940323.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
379,1003,0,0,Massachusetts Bay Transportation Authority,MB,DO,Bus,56905693.0,59713683.0,68223142.0,70423932.0,70012369.0,77360442.0,78237895.0,81636526.0,96676230.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
380,1003,0,0,Massachusetts Bay Transportation Authority,MB,PT,Bus,2542717.0,2746796.0,2785406.0,2747914.0,1897131.0,674044.0,680687.0,722645.0,454784.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
381,1003,0,0,Massachusetts Bay Transportation Authority,TB,DO,Bus,1707832.0,1792105.0,2077080.0,2175551.0,2170181.0,2156028.0,2929107.0,3067088.0,3355979.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
382,1004,0,0,Brockton Area Transit Authority,DR,PT,DemandResponse,808132.0,830134.0,840277.0,826946.0,1098822.0,1139500.0,1111592.0,1135569.0,1113745.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
383,1004,0,0,Brockton Area Transit Authority,MB,PT,Bus,2239562.0,2303063.0,2295288.0,2258499.0,2383227.0,2422013.0,2564714.0,2715210.0,2628197.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
384,1005,0,0,Lowell Regional Transit Authority,DR,PT,DemandResponse,97461.0,99893.0,136421.0,74548.0,78912.0,71317.0,67814.0,70031.0,68531.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
385,1005,0,0,0,MB,DO,Bus,831688.0,770349.0,860200.0,938400.0,980611.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
386,1006,0,0,Southeastern Regional Transit Authority,DR,PT,DemandResponse,262468.0,230976.0,341719.0,525475.0,572396.0,162083.0,197667.0,74724.0,140451.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
387,1006,0,0,Southeastern Regional Transit Authority,MB,PT,Bus,1487328.0,1500633.0,1366874.0,1226109.0,1335589.0,1438497.0,1779040.0,2065446.0,1982337.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
388,1007,0,0,Berkshire Regional Transit Authority,MB,PT,Bus,483689.0,580058.0,666889.0,667578.0,756253.0,724891.0,713150.0,775523.0,792765.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
389,1008,0,0,Pioneer Valley Transit Authority,DR,PT,DemandResponse,573085.0,538550.0,480803.0,491739.0,649734.0,654084.0,661034.0,670666.0,668227.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
390,1008,0,0,Pioneer Valley Transit Authority,MB,PT,Bus,4661553.0,4805888.0,4893142.0,4982049.0,5859449.0,5815840.0,6077931.0,6684087.0,6738204.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
391,1013,0,0,Merrimack Valley Regional Transit Authority,DR,PT,DemandResponse,109773.0,123560.0,114203.0,133130.0,139422.0,133477.0,138734.0,157628.0,154329.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
392,1013,0,0,Merrimack Valley Regional Transit Authority,MB,PT,Bus,986436.0,1020184.0,1146458.0,1167515.0,1277418.0,1225272.0,1118355.0,1267752.0,1329779.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
393,1014,0,0,Worcester Regional Transit Authority,DR,DO,DemandResponse,50905.0,79788.0,88214.0,73575.0,71876.0,88459.0,69457.0,79394.0,75813.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
394,1014,0,0,Worcester Regional Transit Authority,DR,PT,DemandResponse,267278.0,267669.0,269517.0,238762.0,199471.0,226081.0,182089.0,140286.0,134987.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
395,1014,0,0,Worcester Regional Transit Authority,MB,DO,Bus,1699441.0,2332806.0,2229221.0,2243355.0,2557493.0,2759796.0,2837444.0,3228296.0,3353939.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
396,1016,0,0,Greater Portland Transit District,MB,DO,Bus,1120592.0,1316819.0,1334131.0,1418225.0,1452551.0,1523929.0,1744713.0,1779927.0,1809031.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
397,1017,0,0,Greater Hartford Transit District,DR,PT,DemandResponse,794746.0,302858.0,355778.0,471688.0,366805.0,401414.0,389676.0,388619.0,395032.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
398,1040,0,0,Southeast Area Transit,DR,PT,DemandResponse,13133.0,9458.0,10223.0,11476.0,11637.0,10813.0,9342.0,12708.0,11367.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8893,90298,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13268.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8894,90298,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,761.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8895,90300,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10629.0,33628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8924,99262,0,0,0,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,316.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8929,99424,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53124.0,46355.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8930,99424,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,762097.0,803855.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8954,407,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8955,407,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8956,414,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8958,416,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8959,417,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8965,11146,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8967,11159,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8997,40167,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16722.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8999,40950,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,266541.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9020,50523,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9021,50523,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9022,55234,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7918.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9035,60089,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1630.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9036,60089,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9045,60125,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9571.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9046,60196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9048,60270,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9049,60270,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9061,70273,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1546.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9097,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9098,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9099,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9121,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9122,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [668]:
agency_uza[agency_uza['']=='Massachusetts Bay Transportation Authority']

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
144,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
145,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
146,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
147,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
148,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
149,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
150,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
151,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
152,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"
153,10003,1003,Massachusetts Bay Transportation Authority,Boston,MA,10,"Boston, MA-NH-RI","1,873","4,181,019","3,244","3,109,308"

In [669]:
agency_uza

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
2,1,0001,King County Department of Transportation,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
3,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
4,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
5,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
6,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
7,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
8,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
9,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
10,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
11,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
12,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
13,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
14,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
15,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
16,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
17,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736"
18,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736"
19,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
20,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
21,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
22,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
23,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
24,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
25,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
26,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
27,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
28,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
29,8,0008,Tri-County Metropolitan Transportation Distric...,Portland,OR,24,"Portland, OR-WA",524,"1,849,898",534,"1,560,803"
...,...,...,...,...,...,...,...,...,...,...,...
2085,90233,9233,Yuma County Intergovernmental Public Transport...,Yuma,AZ,238,"Yuma, AZ-CA",59,"135,267",78,"195,751"
2086,90233,9233,Yuma County Intergovernmental Public Transport...,Yuma,AZ,238,"Yuma, AZ-CA",59,"135,267",78,"195,751"
2087,90234,9234,Marin County Transit District,San Rafael,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",520,"258,365"
2088,90234,9234,Marin County Transit District,San Rafael,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",520,"258,365"
2089,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2090,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2091,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2092,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2093,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2094,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2095,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2096,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2097,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2098,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2099,90244,9244,City of Tulare,Tulare,CA,162,"Visalia, CA",63,"219,454",21,"63,515"
2100,90244,9244,City of Tulare,Tulare,CA,162,"Visalia, CA",63,"219,454",21,"63,515"
2101,90296,9296,Claremont Dial-a-Ride,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",13,"36,700"
2102,90296,9296,Claremont Dial-a-Ride,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",13,"36,700"
2103,90299,NaN,Sonoma-Marin Area Rail Transit District,Petaluma,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",NaN,NaN
2104,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2105,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2106,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2107,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2108,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2109,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2110,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2111,99423,NaN,City of Glendale,Glendale,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",39,"214,813"
2112,99423,NaN,City of Glendale,Glendale,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",39,"214,813"
2113,99425,NaN,Pomona Valley Transportation Authority,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",61,"252,880"
2114,99425,NaN,Pomona Valley Transportation Authority,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",61,"252,880"

In [675]:
a='1004'
a[0]+'00'+a[2]+a[3]

'10004'

In [155]:
ntd_fare_2['NTD_ID_STR']=ntd_fare_2['NTD_ID'].astype(str)
ntd_fare_2.head()

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,1
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,1

In [156]:
ntd_fare_2['NTD_ID_STR']=ntd_fare_2['NTD_ID_STR'].apply(lambda x: x.zfill(4))
ntd_fare_2.head()

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,0001

In [95]:
ntd_fare_2[ntd_fare_2['NTD_ID']>9999]['NTD_ID'].unique()

array([10001, 10002, 10003, ..., 70273, 90301, 99334])

In [79]:
def ntd_id(df):
    if df['NTD_ID']<101:
        x=df['NTD_ID_STR']
        k=x.zfill(5)
    elif df['NTD_ID']>9999:
        k=df['NTD_ID_STR']
    else:
        n=df['NTD_ID_STR']
        k=n[0]+'0'+n[1]+n[2]+n[3]
    return k

In [157]:
ntd_fare_2=ntd_fare_2.assign(NTD_5_Digit=ntd_fare_2.apply(ntd_id,axis=1))
ntd_fare_2.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,00001
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,0001,00001

In [98]:
ntd_fare_2[ntd_fare_2['NTD_ID']>9999]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit
2826,10001,1001,1001,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,733937.0,801178.0,711636.0,519430.0,10001,10001
2827,10001,1001,1001,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52206.0,22484.0,7862.0,0.0,10001,10001
2828,10001,1001,1001,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,104022.0,51626.0,59533.0,49276.0,10001,10001
2829,10001,1001,1001,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21779974.0,19076441.0,18289032.0,19507063.0,10001,10001
2845,10002,1002,1002,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52872.0,32796.0,36364.0,37456.0,10002,10002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13083,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092
13084,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092
13085,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092
13087,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,99334,99334
13089,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,99433,99433

In [708]:
ntd_fare_uza_3=pd.merge(ntd_fare_2,agency_uza,how='left',left_on='NTD_5_Digit',right_on='5 digit NTD ID',indicator=True)
ntd_fare_uza_3

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [158]:
ntd_fare_2['NTD_ID_INT']=ntd_fare_2['NTD_5_Digit'].astype(int)
ntd_fare_2.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit,NTD_ID_INT
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,00001,1
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,0001,00001,1

In [711]:
ntd_fare_uza_3=pd.merge(ntd_fare_2,agency_uza,how='left',left_on='NTD_ID_INT',right_on='5 digit NTD ID',indicator=True)
ntd_fare_uza_3

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit,NTD_ID_INT,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
1,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
2,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
3,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
4,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
5,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
6,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
7,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
8,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
9,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
10,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
11,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
12,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
13,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
14,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
15,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
16,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
17,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
18,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
19,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
20,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
21,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
22,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
23,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
24,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
25,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
26,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
27,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
28,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
29,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13767,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196,90196,90196,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
13768,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196,90196,90196,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
13769,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196,90196,90196,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
13770,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196,90196,90196,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
13771,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0,90236,90236,90236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13772,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0,90259,90259,90259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13773,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90301,90301,90301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13774,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13775,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13776,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13777,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13778,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13779,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13780,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13781,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13782,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13783,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13784,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13785,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13786,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13787,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13788,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13789,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13790,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13791,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13792,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13793,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13794,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13795,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,99334,99334,99334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13796,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,99433,99433,99433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [712]:
ntd_fare_uza_2

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
1,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
2,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
3,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
4,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
5,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
6,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
7,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
8,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
9,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
10,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
11,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
12,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
13,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
14,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
15,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
16,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
17,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
18,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
19,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
20,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
21,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
22,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
23,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
24,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
25,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
26,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
27,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
28,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,1.0,0001,King County Department of Transportation - Met...,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
29,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,1.0,0001,King County Department of Transportation,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9093,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9094,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9095,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9096,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9097,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9098,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9099,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9100,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9101,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9102,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9103,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9104,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9105,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9106,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9107,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9108,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9109,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9110,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9111,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9112,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9113,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9114,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9115,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9116,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9117,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9118,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9119,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9120,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9121,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9122,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [720]:
ntd_fare_uza_3[ntd_fare_uza_3['2005']==0]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit,NTD_ID_INT,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
321,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,0040,00040,40,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
365,46,46,46,South Metro Area Regional Transit,DR,DO,DemandResponse,0.0,0.0,9549.0,9238.0,8756.0,8255.0,7442.0,6442.0,6459.0,7545.0,9748.0,7609.0,16735.0,0046,00046,46,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
367,46,46,46,South Metro Area Regional Transit,MB,DO,Bus,0.0,33360.0,116771.0,124218.0,165657.0,156176.0,165047.0,173191.0,217472.0,243966.0,239247.0,182626.0,163152.0,0046,00046,46,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
526,1049,0,0,The Greater New Haven Transit District,MB,DO,Bus,0.0,0.0,0.0,373.0,1773.0,1112.0,1263.0,2599.0,3779.0,0.0,0.0,0.0,0.0,1049,10049,10049,10049.0,1049,The Greater New Haven Transit District,Hamden,CT,72.0,"New Haven, CT",306,"562,839",197,"451,486",both
651,2002,0,0,Capital District Transportation Authority,DR,DO,DemandResponse,0.0,0.0,0.0,356712.0,260301.0,289415.0,502403.0,554179.0,471796.0,0.0,0.0,0.0,0.0,2002,20002,20002,20002.0,2002,Capital District Transportation Authority,Albany,NY,67.0,"Albany-Schenectady, NY",296,"594,962",207,"511,949",both
768,2080,0,0,0,CR,PT,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2080,20080,20080,20080.0,2080,New Jersey Transit Corporation,Newark,NJ,1.0,"New York-Newark, NY-NJ-CT","3,450","18,351,295","5,325","10,594,013",both
831,2082,0,0,New York City Department of Transportation,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2082,20082,20082,20082.0,2082,New York City Department of Transportation,New York,NY,1.0,"New York-Newark, NY-NJ-CT","3,450","18,351,295",372,"8,537,673",both
1386,3083,0,0,Transportation District Commission of Hampton ...,VP,DO,DemandResponse,0.0,0.0,129519.0,617379.0,651622.0,720414.0,825737.0,994582.0,1023780.0,0.0,0.0,0.0,0.0,3083,30083,30083,30083.0,3083,Transportation District Commission of Hampton ...,Hampton,VA,34.0,"Virginia Beach, VA",515,"1,439,666",431,"1,143,932",both
1651,4025,0,0,Chatham Area Transit Authority,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4025,40025,40025,40025.0,4025,Chatham Area Transit Authority,Savannah,GA,144.0,"Savannah, GA",165,"260,677",438,"265,128",both
1730,4030,0,0,Gainesville Regional Transit System,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,151230.0,0.0,0.0,0.0,0.0,4030,40030,40030,40030.0,4030,Gainesville Regional Transit System,Gainesville,FL,187.0,"Gainesville, FL",87,"187,781",76,"163,990",both
1742,4031,0,0,0,MB,PT,Bus,0.0,159116.0,0.0,0.0,0.0,0.0,152225.0,0.0,0.0,0.0,0.0,0.0,0.0,4031,40031,40031,40031.0,4031,Lakeland Area Mass Transit District,Lakeland,FL,143.0,"Lakeland, FL",146,"262,596",77,"312,388",both
1743,4031,0,0,0,MB,PT,Bus,0.0,159116.0,0.0,0.0,0.0,0.0,152225.0,0.0,0.0,0.0,0.0,0.0,0.0,4031,40031,40031,40031.0,4031,Lakeland Area Mass Transit District,Lakeland,FL,143.0,"Lakeland, FL",146,"262,596",77,"312,388",both
1780,4034,0,0,0,AG,DO,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4034,40034,40034,40034.0,4034,Miami-Dade Transit,Miami,FL,4.0,"Miami, FL","1,239","5,502,379",306,"2,496,435",both
1997,4071,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4071,40071,40071,40071.0,4071,"City of Huntsville, Alabama - Public Transport...",Huntsville,AL,132.0,"Huntsville, AL",210,"286,692",66,"137,693",both
2025,4077,0,0,South Florida Regional Transportation Authority,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4077,40077,40077,40077.0,4077,South Florida Regional Transportation Authority,Pompano Beach,FL,4.0,"Miami, FL","1,239","5,502,379","1,238","5,502,379",both
2101,4111,0,0,Morgan County Area Transportation System,DR,DO,DemandResponse,0.0,92102.0,223342.0,139637.0,124437.0,306204.0,266746.0,167375.0,326227.0,0.0,0.0,0.0,0.0,4111,40111,40111,40111.0,4111,Morgan County Area Transportation System,Decatur,AL,392.0,"Decatur, AL",58,"70,436",574,"111,064",both
2172,4142,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4142,40142,40142,40142.0,4142,City of Canton Transit,Canton,GA,11.0,"Atlanta, GA","1,963","3,499,840",17,"17,685",both
2191,5001,0,0,City of Appleton - Valley Transit,MB,PT,Bus,0.0,0.0,0.0,3311.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5001,50001,50001,50001.0,5001,City of Appleton - Valley Transit,Appleton,WI,165.0,"Appleton, WI",104,"216,154",117,"216,154",both
2428,5033,0,0,0,VP,PT,DemandResponse,0.0,10212.0,2553.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5033,50033,50033,50033.0,5033,Interurban Transit Partnership,Grand Rapids,MI,70.0,"Grand Rapids, MI",281,"569,935",155,"417,978",both
2451,5035,0,0,Kalamazoo Metro Transit System,VP,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5035,50035,50035,50035.0,5035,Kalamazoo Metro Transit System,Kalamazoo,MI,173.0,"Kalamazoo, MI",132,"209,703",69,"209,555",both
2682,5103,0,0,North Township of Lake County Dial-A-Ride,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5103,50103,50103,50103.0,5103,North Township of Lake County Dial-A-Ride,Hammond,IN,3.0,"Chicago, IL-IN","2,443","8,608,208",51,"162,855",both
2828,5158,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5158,50158,50158,50158.0,5158,University of Michigan Parking and Transportat...,Ann Arbor,MI,125.0,"Ann Arbor, MI",160,"306,022",12,"66,641",both
2850,5166,0,0,Clermont Transportation Connection,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5166,50166,50166,50166.0,5166,Clermont Transportation Connection,Batavia,OH,30.0,"Cincinnati, OH-KY-IN",788,"1,624,827",452,"203,022",both
2922,6007,0,0,Fort Worth Transportation Authority,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6007,60007,60007,60007.0,6007,Fort Worth Transportation Authority,Fort Worth,TX,6.0,"Dallas-Fort Worth-Arlington, TX","1,779","5,121,892",350,"824,984",both
3085,6020,0,0,Louisiana Department of Transportation & Devel...,FB,DO,Other,0.0,0.0,0.0,0.0,265061.0,251934.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6020,60020,60020,60020.0,6020,Louisiana Department of Transportation & Devel...,Baton Rouge,LA,49.0,"New Orleans, LA",251,"899,703",251,"899,703",both
3157,6048,0,0,Capital Metropolitan Transportation Authority,DR,PT,DemandResponse,0.0,0.0,0.0,118702.0,90368.0,0.0,40043.0,242217.0,586347.0,0.0,0.0,0.0,0.0,6048,60048,60048,60048.0,6048,Capital Metropolitan Transportation Authority,Austin,TX,37.0,"Austin, TX",523,"1,362,416",535,"1,163,204",both
3302,6062,0,0,"University of Arkansas, Fayetteville",DR,DO,DemandResponse,0.0,0.0,188956.0,194002.0,115389.0,223187.0,188391.0,187339.0,9684.0,0.0,0.0,0.0,0.0,6062,60062,60062,60062.0,6062,"University of Arkansas, Fayetteville",Fayetteville,AR,129.0,"Fayetteville-Springdale-Rogers, AR-MO",188,"295,083",18,"80,621",both
3304,6062,0,0,"University of Arkansas, Fayetteville",MB,DO,Bus,0.0,0.0,755826.0,673264.0,586485.0,892749.0,753566.0,914658.0,1405317.0,0.0,0.0,0.0,0.0,6062,60062,60062,60062.0,6062,"University of Arkansas, Fayetteville",Fayetteville,AR,129.0,"Fayetteville-Springdale-Rogers, AR-MO",188,"295,083",18,"80,621",both
3327,6082,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6082,60082,60082,60082.0,6082,The Gulf Coast Center,Texas City,TX,293.0,"Texas City, TX",76,"106,383","1,792","557,437",both
3459,7010,0,0,0,DR,PT,DemandResponse,0.0,178250.0,175196.0,160367.0,222922.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7010,70010,70010,70010.0,7010,Des Moines Area Regional Transit Authority,Des Moines,IA,85.0,"Des Moines, IA",201,"450,070",163,"374,910",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13696,55234,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7918.0,55234,55234,55234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13697,60017,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4892.0,60017,60017,60017,60017.0,6017,Central Oklahoma Transportation and Parking Au...,Oklahoma City,OK,51.0,"Oklahoma City, OK",411,"861,505",244,"650,221",both
13704,60059,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60059,60059,60059,60059.0,6059,Brazos Transit District,Bryan,TX,197.0,"College Station-Bryan, TX",71,"171,345",74,"132,500",both
13709,60089,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1630.0,60089,60089,60089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13710,60089,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60089,60089,60089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13711,60095,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60095,60095,60095,60095.0,6095,Golden Crescent Regional Planning Commission,Victoria,TX,434.0,"Victoria, TX",29,"63,683",30,"60,603",both
13713,60101,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4229.0,60101,60101,60101,60101.0,6101,Denton County Transportation Authority,Lewisville,TX,104.0,"Denton-Lewisville, TX",145,"366,174",157,"241,750",both
13719,60125,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9571.0,60125,60125,60125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13720,60196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11625.0,60196,60196,60196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13721,60269,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7020621.0,60269,60269,60269,60269.0,NaN,Texas State University,San Marcos,TX,479.0,"San Marcos, TX",27,"52,826",27,"48,644",both
13722,60270,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,60270,60270,60270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13723,60270,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3223.0,60270,60270,60270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13724,70005,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9950.0,70005,70005,70005,70005.0,7005,Kansas City Area Transportation Authority,Kansas City,MO,31.0,"Kansas City, MO-KS",678,"1,519,417",456,"788,748",both
13731,70045,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,139.0,70045,70045,70045,70045.0,7045,Johnson County SEATS,Iowa City,IA,290.0,"Iowa City, IA",46,"106,621",614,"130,882",both
13733,70271,0,0,0,SR,PT,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70271,70271,70271,70271.0,NaN,"Kansas City, City of Missouri",Kansas City,MO,31.0,"Kansas City, MO-KS",678,"1,519,417",NaN,NaN,both
13735,70273,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1546.0,70273,70273,70273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13736,80011,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19982.0,80011,80011,80011,80011.0,8011,Transfort,Fort Collins,CO,141.0,"Fort Collins, CO",110,"264,465",54,"143,986",both
13743,90002,0,0,0,VP,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,535.0,90002,90002,90002,90002.0,9002,City and County of Honolulu Department of Tran...,Honolulu,HI,54.0,"Urban Honolulu, HI",170,"802,459",277,"953,207",both
13750,90003,0,0,0,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90003,90003,90003,90003.0,9003,San Francisco Bay Area Rapid Transit District,Oakland,CA,13.0,"San Francisco-Oakland, CA",524,"3,281,212",93,"833,762",both
13753,90013,0,0,0,DT,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,308357.0,90013,90013,90013,90013.0,9013,Santa Clara Valley Transportation Authority,San Jose,CA,29.0,"San Jose, CA",286,"1,664,496",346,"1,938,180",both
13758,90045,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1214088.0,90045,90045,90045,90045.0,9045,Regional Transportation Commission of Southern...,Las Vegas,NV,23.0,"Las Vegas-Henderson, NV",417,"1,886,011",280,"2,008,655",both
13763,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196,90196,90196,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
13771,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0,90236,90236,90236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13772,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0,90259,90259,90259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13773,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90301,90301,90301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13774,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13781,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13788,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092,91092,91092,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
13795,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,99334,99334,99334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13796,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,99433,99433,99433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [719]:
ntd_fare_uza_3=ntd_fare_uza_3.drop_duplicates()

In [718]:
ntd_fare_uza_2[ntd_fare_uza_2['2005']==0]

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,_merge
321,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
322,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
323,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
324,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
325,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
326,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
327,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
328,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
329,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,40.0,0040,Central Puget Sound Regional Transit Authority,Seattle,WA,14.0,"Seattle, WA","1,010","3,059,393","1,087","2,988,000",both
365,46,46,46,South Metro Area Regional Transit,DR,DO,DemandResponse,0.0,0.0,9549.0,9238.0,8756.0,8255.0,7442.0,6442.0,6459.0,7545.0,9748.0,7609.0,16735.0,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
366,46,46,46,South Metro Area Regional Transit,DR,DO,DemandResponse,0.0,0.0,9549.0,9238.0,8756.0,8255.0,7442.0,6442.0,6459.0,7545.0,9748.0,7609.0,16735.0,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
367,46,46,46,South Metro Area Regional Transit,MB,DO,Bus,0.0,33360.0,116771.0,124218.0,165657.0,156176.0,165047.0,173191.0,217472.0,243966.0,239247.0,182626.0,163152.0,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
368,46,46,46,South Metro Area Regional Transit,MB,DO,Bus,0.0,33360.0,116771.0,124218.0,165657.0,156176.0,165047.0,173191.0,217472.0,243966.0,239247.0,182626.0,163152.0,46.0,0046,South Metro Area Regional Transit,Wilsonville,OR,24.0,"Portland, OR-WA",524,"1,849,898",80,"22,729",both
402,1049,0,0,The Greater New Haven Transit District,MB,DO,Bus,0.0,0.0,0.0,373.0,1773.0,1112.0,1263.0,2599.0,3779.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
447,2002,0,0,Capital District Transportation Authority,DR,DO,DemandResponse,0.0,0.0,0.0,356712.0,260301.0,289415.0,502403.0,554179.0,471796.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
481,2080,0,0,0,CR,PT,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
488,2082,0,0,New York City Department of Transportation,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
656,3083,0,0,Transportation District Commission of Hampton ...,VP,DO,DemandResponse,0.0,0.0,129519.0,617379.0,651622.0,720414.0,825737.0,994582.0,1023780.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
724,4025,0,0,Chatham Area Transit Authority,FB,DO,Other,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
740,4030,0,0,Gainesville Regional Transit System,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,151230.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
744,4031,0,0,0,MB,PT,Bus,0.0,159116.0,0.0,0.0,0.0,0.0,152225.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
750,4034,0,0,0,AG,DO,Rail,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
806,4071,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
814,4077,0,0,South Florida Regional Transportation Authority,MB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
844,4111,0,0,Morgan County Area Transportation System,DR,DO,DemandResponse,0.0,92102.0,223342.0,139637.0,124437.0,306204.0,266746.0,167375.0,326227.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
868,4142,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
879,5001,0,0,City of Appleton - Valley Transit,MB,PT,Bus,0.0,0.0,0.0,3311.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
946,5033,0,0,0,VP,PT,DemandResponse,0.0,10212.0,2553.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
952,5035,0,0,Kalamazoo Metro Transit System,VP,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1025,5103,0,0,North Township of Lake County Dial-A-Ride,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9093,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9094,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9095,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9096,90196,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,90196.0,9196,Placer County Department of Public Works and F...,Auburn,CA,28.0,"Sacramento, CA",471,"1,723,634",471,"357,463",both
9097,90236,0,0,0,CB,PT,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9098,90259,0,0,0,DR,PT,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9099,90301,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9100,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9101,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9102,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9103,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9104,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9105,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9106,91092,0,0,0,CB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,177141.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9107,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9108,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9109,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9110,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9111,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9112,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9113,91092,0,0,0,DR,DO,DemandResponse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68302.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9114,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9115,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9116,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9117,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9118,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9119,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9120,91092,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,329624.0,91092.0,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601.0,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925",both
9121,99334,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9122,99433,0,0,0,MB,DO,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [721]:
agency_uza

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
2,1,0001,King County Department of Transportation,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
3,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
4,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
5,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
6,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
7,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
8,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
9,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
10,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
11,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
12,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
13,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
14,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
15,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
16,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
17,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736"
18,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736"
19,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
20,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
21,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
22,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
23,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
24,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
25,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
26,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
27,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
28,7,0007,Lane Transit District,Eugene,OR,151,"Eugene, OR",87,"247,421",482,"302,200"
29,8,0008,Tri-County Metropolitan Transportation Distric...,Portland,OR,24,"Portland, OR-WA",524,"1,849,898",534,"1,560,803"
...,...,...,...,...,...,...,...,...,...,...,...
2085,90233,9233,Yuma County Intergovernmental Public Transport...,Yuma,AZ,238,"Yuma, AZ-CA",59,"135,267",78,"195,751"
2086,90233,9233,Yuma County Intergovernmental Public Transport...,Yuma,AZ,238,"Yuma, AZ-CA",59,"135,267",78,"195,751"
2087,90234,9234,Marin County Transit District,San Rafael,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",520,"258,365"
2088,90234,9234,Marin County Transit District,San Rafael,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",520,"258,365"
2089,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2090,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2091,90238,9238,City of Delano,Delano,CA,471,"Delano, CA",10,"54,372",50,"53,041"
2092,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2093,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2094,90241,9241,County of Maui - Dept. of Transportation,Wailuku,HI,463,"Kahului, HI",17,"55,934",727,"78,110"
2095,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2096,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2097,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2098,90242,9242,Las Vegas Monorail Company,Las Vegas,NV,23,"Las Vegas-Henderson, NV",417,"1,886,011",280,"1,785,303"
2099,90244,9244,City of Tulare,Tulare,CA,162,"Visalia, CA",63,"219,454",21,"63,515"
2100,90244,9244,City of Tulare,Tulare,CA,162,"Visalia, CA",63,"219,454",21,"63,515"
2101,90296,9296,Claremont Dial-a-Ride,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",13,"36,700"
2102,90296,9296,Claremont Dial-a-Ride,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",13,"36,700"
2103,90299,NaN,Sonoma-Marin Area Rail Transit District,Petaluma,CA,13,"San Francisco-Oakland, CA",524,"3,281,212",NaN,NaN
2104,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2105,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2106,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2107,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2108,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2109,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2110,91092,9R02-137,Tahoe Transportation District,Zephyr Cove,NV,601,"Lake Tahoe, CA-NV",37,"210,000",73,"83,925"
2111,99423,NaN,City of Glendale,Glendale,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",39,"214,813"
2112,99423,NaN,City of Glendale,Glendale,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",39,"214,813"
2113,99425,NaN,Pomona Valley Transportation Authority,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",61,"252,880"
2114,99425,NaN,Pomona Valley Transportation Authority,La Verne,CA,2,"Los Angeles-Long Beach-Anaheim, CA","1,736","12,150,996",61,"252,880"

In [159]:
agency_uza=agency_uza.drop_duplicates(subset=['4 digit NTD ID'])

In [727]:
pd.options.display.max_rows=100

In [101]:
agency_uza.head(100)

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125"
9,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271"
13,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975"
17,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736"
19,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715"
...,...,...,...,...,...,...,...,...,...,...,...
275,20003,2003,Broome County Department of Public Transportation,Vestal,NY,210,"Binghamton, NY-PA",74,"158,084",712,"200,600"
278,20004,2004,Niagara Frontier Transportation Authority,Buffalo,NY,46,"Buffalo, NY",380,"935,906",407,"981,771"
281,20005,2005,C-TRAN,Elmira,NY,407,"Elmira, NY",38,"67,983",408,"95,195"
283,20006,2006,City of Long Beach,Long Beach,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",13,"33,275"
285,20007,2007,"Metropolitan Suburban Bus Authority, dba: MTA ...",Garden City,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",285,"1,344,436"

In [102]:
ntd_fare_2.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit,NTD_ID_INT
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,00001,1

In [160]:
agency_uza['NTD_ID_STR']=agency_uza['5 digit NTD ID'].astype(str)
agency_uza.head(100)

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,NTD_ID_STR
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",1
9,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271",2
13,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975",3
17,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736",5
19,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715",6
...,...,...,...,...,...,...,...,...,...,...,...,...
275,20003,2003,Broome County Department of Public Transportation,Vestal,NY,210,"Binghamton, NY-PA",74,"158,084",712,"200,600",20003
278,20004,2004,Niagara Frontier Transportation Authority,Buffalo,NY,46,"Buffalo, NY",380,"935,906",407,"981,771",20004
281,20005,2005,C-TRAN,Elmira,NY,407,"Elmira, NY",38,"67,983",408,"95,195",20005
283,20006,2006,City of Long Beach,Long Beach,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",13,"33,275",20006
285,20007,2007,"Metropolitan Suburban Bus Authority, dba: MTA ...",Garden City,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",285,"1,344,436",20007

In [161]:
agency_uza['NTD_ID_STR']=agency_uza['NTD_ID_STR'].apply(lambda x: x.zfill(5))
agency_uza.head(100)

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,NTD_ID_STR
0,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001
9,2,0002,Spokane Transit Authority,Spokane,WA,96,"Spokane, WA",164,"387,847",248,"409,271",00002
13,3,0003,Pierce County Transportation Benefit Area Auth...,Tacoma,WA,14,"Seattle, WA","1,010","3,059,393",292,"547,975",00003
17,5,0005,Everett Transit,Everett,WA,14,"Seattle, WA","1,010","3,059,393",34,"106,736",00005
19,6,0006,Yakima Transit,Yakima,WA,248,"Yakima, WA",60,"129,534",33,"100,715",00006
...,...,...,...,...,...,...,...,...,...,...,...,...
275,20003,2003,Broome County Department of Public Transportation,Vestal,NY,210,"Binghamton, NY-PA",74,"158,084",712,"200,600",20003
278,20004,2004,Niagara Frontier Transportation Authority,Buffalo,NY,46,"Buffalo, NY",380,"935,906",407,"981,771",20004
281,20005,2005,C-TRAN,Elmira,NY,407,"Elmira, NY",38,"67,983",408,"95,195",20005
283,20006,2006,City of Long Beach,Long Beach,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",13,"33,275",20006
285,20007,2007,"Metropolitan Suburban Bus Authority, dba: MTA ...",Garden City,NY,1,"New York-Newark, NY-NJ-CT","3,450","18,351,295",285,"1,344,436",20007

In [734]:
ntd_fare_2.head(100)

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR,NTD_5_Digit,NTD_ID_INT
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,00001,1
5,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,0001,00001,1
6,2,2,2,Spokane Transit Authority,DR,DO,DemandResponse,140569.0,149026.0,154149.0,156606.0,148645.0,321332.0,422060.0,494167.0,444397.0,470539.0,472560.0,455855.0,510050.0,0002,00002,2
7,2,2,2,Spokane Transit Authority,DR,PT,DemandResponse,50562.0,52066.0,50935.0,54436.0,57433.0,82792.0,123194.0,170674.0,190595.0,157919.0,170357.0,192427.0,200174.0,0002,00002,2
8,2,2,2,Spokane Transit Authority,MB,DO,Bus,5411522.0,5801631.0,6082747.0,7112748.0,7127521.0,8382949.0,8988852.0,8922422.0,9019785.0,8475543.0,7988366.0,7517135.0,8314345.0,0002,00002,2
9,2,2,2,Spokane Transit Authority,VP,DO,DemandResponse,244850.0,335041.0,378692.0,538393.0,534002.0,556453.0,617643.0,727380.0,709604.0,746614.0,590762.0,569848.0,528460.0,0002,00002,2
10,3,3,3,Pierce County Transportation Benefit Area Auth...,DR,DO,DemandResponse,91973.0,71197.0,90107.0,93699.0,109704.0,103634.0,108311.0,67844.0,95710.0,72523.0,72326.0,97116.0,125212.0,0003,00003,3
11,3,3,3,Pierce County Transportation Benefit Area Auth...,DR,PT,DemandResponse,158106.0,172859.0,225811.0,243302.0,295185.0,266697.0,270325.0,183144.0,169952.0,164470.0,162720.0,221644.0,225521.0,0003,00003,3
12,3,3,3,Pierce County Transportation Benefit Area Auth...,MB,DO,Bus,7203721.0,6490693.0,9983459.0,11554497.0,12796106.0,11619743.0,10496943.0,9324727.0,8952627.0,8858933.0,9366803.0,8576749.0,8716219.0,0003,00003,3
13,3,0,0,0,MB,PT,Bus,3113140.0,2642817.0,2922723.0,3610876.0,4072784.0,4601212.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0003,00003,3
14,3,3,3,Pierce County Transportation Benefit Area Auth...,VP,DO,DemandResponse,1642478.0,2137441.0,2072788.0,2230211.0,2539666.0,2514731.0,2626805.0,2643525.0,3047890.0,3116822.0,3026565.0,3017326.0,3050834.0,0003,00003,3
15,5,5,5,Everett Transit,DR,DO,DemandResponse,31865.0,33150.0,37626.0,41211.0,47157.0,104512.0,115440.0,106105.0,106263.0,110663.0,104641.0,103809.0,103668.0,0005,00005,5
16,5,5,5,Everett Transit,MB,DO,Bus,1042125.0,804398.0,1023457.0,1091474.0,1076498.0,1206313.0,1175587.0,1210870.0,1507463.0,1443345.0,1401252.0,1287776.0,1206043.0,0005,00005,5
17,6,6,6,Yakima Transit,DR,PT,DemandResponse,69195.0,60806.0,77751.0,172055.0,110008.0,130944.0,124761.0,122115.0,118499.0,125862.0,152642.0,120722.0,122189.0,0006,00006,6
18,6,6,6,Yakima Transit,MB,DO,Bus,272478.0,301019.0,331030.0,395355.0,495585.0,534590.0,598546.0,502570.0,873269.0,958667.0,812661.0,828202.0,828281.0,0006,00006,6
19,6,6,6,Yakima Transit,VP,DO,DemandResponse,110275.0,112453.0,129404.0,208776.0,192486.0,225310.0,258569.0,233280.0,255610.0,238266.0,209074.0,162052.0,131634.0,0006,00006,6
20,7,7,7,Lane Transit District,DR,PT,DemandResponse,223319.0,259345.0,200659.0,160407.0,249538.0,246257.0,232975.0,270481.0,288504.0,285891.0,308991.0,313677.0,271429.0,0007,00007,7
21,7,7,7,Lane Transit District,MB,DO,Bus,4378336.0,5078340.0,5213706.0,6122561.0,6602497.0,7032027.0,7236371.0,5177964.0,5254293.0,5296259.0,5385722.0,5205513.0,5528894.0,0007,00007,7
22,7,7,7,Lane Transit District,VP,PT,DemandResponse,12704.0,21433.0,28407.0,81579.0,45677.0,80679.0,63902.0,80671.0,127274.0,267017.0,324066.0,214498.0,289022.0,0007,00007,7
23,8,8,8,Tri-County Metropolitan Transportation Distric...,DR,PT,DemandResponse,127756.0,3344843.0,3498416.0,3547874.0,5160538.0,4027942.0,4333877.0,4192994.0,3708623.0,5168822.0,6737573.0,7312066.0,7769411.0,0008,00008,8
24,8,8,8,Tri-County Metropolitan Transportation Distric...,LR,DO,Rail,23249374.0,26149543.0,29337862.0,31495353.0,33868269.0,36908552.0,40843683.0,43069976.0,46442818.0,46404323.0,46025815.0,49059712.0,49384596.0,0008,00008,8
25,8,8,8,Tri-County Metropolitan Transportation Distric...,MB,DO,Bus,37559384.0,40714948.0,44760793.0,47467995.0,54044751.0,54468361.0,53576580.0,56332405.0,63818606.0,65529184.0,68567921.0,66843094.0,65512900.0,0008,00008,8
26,11,11,11,Valley Regional Transit,DR,DO,DemandResponse,60152.0,61028.0,73095.0,76404.0,69840.0,64402.0,79017.0,84318.0,86154.0,93103.0,88536.0,94984.0,95852.0,0011,00011,11
27,11,0,0,0,DR,PT,DemandResponse,5040.0,6261.0,4546.0,3956.0,4082.0,3620.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0011,00011,11
28,11,11,11,Valley Regional Transit,MB,DO,Bus,577551.0,503501.0,560870.0,667818.0,727279.0,746074.0,893179.0,862227.0,906723.0,877868.0,931936.0,790719.0,841606.0,0011,00011,11
29,11,0,0,0,MB,PT,Bus,110939.0,135536.0,137934.0,215109.0,168319.0,148617.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0011,00011,11
30,12,12,12,Municipality of Anchorage - Public Transportat...,DR,PT,DemandResponse,776647.0,851340.0,1053691.0,1302135.0,1570258.0,1538561.0,1736457.0,1676912.0,1237847.0,1245627.0,1220138.0,1168554.0,931437.0,0012,00012,12
31,12,12,12,Municipality of Anchorage - Public Transportat...,MB,DO,Bus,2867604.0,3461154.0,3331361.0,3770857.0,3762970.0,3774194.0,4115324.0,4353774.0,4265961.0,4243486.0,4191141.0,3904205.0,3207156.0,0012,00012,12
32,12,12,12,Municipality of Anchorage - Public Transportat...,VP,PT,DemandResponse,354035.0,280639.0,611177.0,0.0,310798.0,345266.0,771522.0,833383.0,643117.0,1595871.0,1175529.0,932106.0,755753.0,0012,00012,12
33,16,16,16,RiverCities Transit,DR,PT,DemandResponse,6526.0,7707.0,8821.0,11631.0,7265.0,13892.0,14572.0,14996.0,20288.0,0.0,14948.0,31743.0,35145.0,0016,00016,16
34,16,16,16,RiverCities Transit,MB,DO,Bus,92209.0,93844.0,107533.0,119890.0,67993.0,127443.0,134864.0,131217.0,123942.0,121006.0,133339.0,160952.0,153470.0,0016,00016,16
35,18,18,18,Ben Franklin Transit,DR,DO,DemandResponse,139255.0,281220.0,189211.0,221035.0,270828.0,283732.0,294618.0,303952.0,261144.0,290085.0,288193.0,304891.0,317092.0,0018,00018,18
36,18,18,18,Ben Franklin Transit,DR,PT,DemandResponse,142014.0,53058.0,68030.0,170704.0,135465.0,10.0,200.0,1400.0,31275.0,30660.0,31742.0,32694.0,33505.0,0018,00018,18
37,18,18,18,Ben Franklin Transit,MB,DO,Bus,668095.0,708239.0,1013459.0,1125487.0,1194936.0,1303603.0,1374355.0,1376351.0,1277604.0,1461664.0,1285120.0,1316704.0,1483642.0,0018,00018,18
38,18,18,18,Ben Franklin Transit,VP,DO,DemandResponse,1204748.0,1172849.0,1538866.0,2005830.0,2367733.0,2253987.0,2492744.0,2317843.0,2156253.0,2282102.0,2209862.0,2122070.0,1877932.0,0018,00018,18
39,19,19,19,Intercity Transit,DR,DO,DemandResponse,58810.0,103356.0,113448.0,124936.0,149473.0,160737.0,187415.0,197789.0,210126.0,236646.0,284661.0,285297.0,273955.0,0019,00019,19
40,19,19,19,Intercity Transit,MB,DO,Bus,1390997.0,1482310.0,1628735.0,1850861.0,2306799.0,2414920.0,2381146.0,2194800.0,2463042.0,2608098.0,2475078.0,2569963.0,2316371.0,0019,00019,19
41,19,19,19,Intercity Transit,VP,DO,DemandResponse,620317.0,770923.0,951969.0,1128136.0,1485139.0,1367099.0,1474232.0,1641547.0,1845933.0,1832856.0,1746164.0,1544524.0,1434951.0,0019,00019,19
42,20,20,20,Kitsap Transit,DR,DO,DemandResponse,201298.0,304433.0,319074.0,323069.0,349719.0,306714.0,298238.0,294996.0,298168.0,295423.0,372561.0,311177.0,266329.0,0020,00020,20
43,20,20,20,Kitsap Transit,FB,PT,Other,195603.0,231064.0,238098.0,300442.0,548627.0,751773.0,939122.0,827536.0,779834.0,761800.0,834621.0,495647.0,601182.0,0020,00020,20
44,20,20,20,Kitsap Transit,MB,DO,Bus,1897753.0,2657745.0,2769629.0,3414453.0,4649636.0,5935508.0,5758992.0,5314319.0,5145340.0,5027829.0,4866090.0,4147052.0,4023907.0,0020,00020,20
45,20,20,20,Kitsap Transit,VP,DO,DemandResponse,323923.0,543619.0,587281.0,646680.0,846431.0,958583.0,924836.0,740109.0,589039.0,646508.0,596936.0,481700.0,505729.0,0020,00020,20
46,21,21,21,Whatcom Transportation Authority,DR,DO,DemandResponse,105322.0,132825.0,142379.0,144926.0,159365.0,179176.0,170743.0,75953.0,76441.0,80929.0,80336.0,79745.0,91098.0,0021,00021,21
47,21,0,0,0,DR,PT,DemandResponse,63.0,65.0,81.0,92.0,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0021,00021,21
48,21,21,21,Whatcom Transportation Authority,MB,DO,Bus,904048.0,1013928.0,1089636.0,1273068.0,1384476.0,1519401.0,1663823.0,1858288.0,1859314.0,1825001.0,1669332.0,2427484.0,2564870.0,0021,00021,21
64,22,22,22,City of Pocatello - Pocatello Regional Transit,DR,DO,DemandResponse,111630.0,14409.0,28001.0,35261.0,37785.0,49821.0,51253.0,51792.0,47470.0,36919.0,38546.0,40163.0,35700.0,0022,00022,22
80,22,22,22,City of Pocatello - Pocatello Regional Transit,MB,DO,Bus,52155.0,52530.0,47907.0,55509.0,69113.0,76710.0,85029.0,79575.0,90075.0,89816.0,93336.0,86224.0,96798.0,0022,00022,22
81,23,0,0,0,MO,PT,Rail,2153805.0,370558.0,2735891.0,2707888.0,2950195.0,3053436.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0023,00023,23
82,24,24,24,Clark County Public Transportation Benefit Are...,DR,DO,DemandResponse,158469.0,241677.0,234627.0,266498.0,230340.0,336942.0,330428.0,340685.0,378198.0,400362.0,399531.0,398374.0,432468.0,0024,00024,24
83,24,24,24,Clark County Public Transportation Benefit Are...,MB,DO,Bus,4606865.0,4818489.0,5345781.0,6346589.0,6670570.0,6793511.0,7295061.0,7204993.0,3920025.0,3948890.0,4273160.0,3432785.0,2912059.0,0024,00024,24
84,24,24,24,Clark County Public Transportation Benefit Are...,VP,DO,DemandResponse,1107.0,0.0,0.0,0.0,37348.0,46697.0,67246.0,158695.0,199799.0,221424.0,209957.0,221495.0,187394.0,0024,00024,24
85,25,25,25,Salem Area Mass Transit District,DR,PT,DemandResponse,343733.0,360920.0,372961.0,381634.0,316694.0,389909.0,311598.0,248961.0,198154.0,175101.0,226675.0,388919.0,376359.0,0025,00025,25
86,25,25,25,Salem Area Mass Transit District,MB,DO,Bus,1879173.0,2044104.0,2286289.0,2762266.0,3231769.0,2095166.0,2156084.0,2487342.0,2358925.0,2601415.0,2623816.0,2305504.0,2551972.0,0025,00025,25
87,25,25,25,Salem Area Mass Transit District,VP,PT,DemandResponse,16520.0,17346.0,56877.0,0.0,67246.0,100692.0,103070.0,140800.0,182063.0,200596.0,481530.0,488651.0,418369.0,0025,00025,25
88,28,28,28,Pierce County Ferry Operations,FB,PT,Other,1616163.0,1881778.0,2014782.0,1886133.0,2001360.0,1168672.0,1897368.0,1939609.0,2000989.0,2154764.0,2233060.0,2369795.0,2004543.0,0028,00028,28
89,29,29,29,Snohomish County Public Transportation Benefit...,DR,PT,DemandResponse,140074.0,243329.0,235212.0,274305.0,229212.0,280741.0,290959.0,279449.0,318984.0,321724.0,353714.0,379461.0,385633.0,0029,00029,29
90,29,29,29,Snohomish County Public Transportation Benefit...,MB,DO,Bus,6214017.0,6804775.0,8272257.0,9057871.0,9165487.0,9741508.0,9562218.0,9677372.0,7467102.0,7533895.0,7753747.0,7985564.0,8135402.0,0029,00029,29
91,29,0,0,0,MB,PT,Bus,7108255.0,7395331.0,8657310.0,9814194.0,9641865.0,11969219.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0029,00029,29
92,29,29,29,Snohomish County Public Transportation Benefit...,VP,DO,DemandResponse,1364342.0,1564549.0,1658155.0,2136079.0,2581320.0,2605099.0,2950728.0,2621213.0,2752805.0,2788850.0,2932352.0,2797527.0,2772180.0,0029,00029,29
93,33,0,0,0,DR,DO,DemandResponse,140074.0,243329.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0033,00033,33
94,34,34,34,Rogue Valley Transportation District,DR,PT,DemandResponse,136839.0,112639.0,117108.0,110931.0,117420.0,111183.0,103746.0,174488.0,123970.0,133061.0,119981.0,147408.0,156086.0,0034,00034,34
95,34,34,34,Rogue Valley Transportation District,MB,DO,Bus,750969.0,816634.0,1026636.0,1080447.0,1106141.0,1216994.0,1251472.0,1049229.0,1326362.0,1130203.0,1256420.0,1001600.0,1101858.0,0034,00034,34
96,35,35,35,Washington State Ferries,FB,DO,Other,58457439.0,32520094.0,34283767.0,35698924.0,35208864.0,36402916.0,35587378.0,36280648.0,37615750.0,38179089.0,39554501.0,40721339.0,41670964.0,0035,00035,35
97,40,40,40,Central Puget Sound Regional Transit Authority,CR,PT,Rail,3052863.0,5108179.0,6622730.0,8196172.0,7766691.0,7134458.0,8336093.0,9480587.0,9484285.0,10457882.0,11903668.0,13579238.0,15042598.0,0040,00040,40
98,40,40,40,Central Puget Sound Regional Transit Authority,LR,DO,Rail,0.0,1930.0,0.0,0.0,0.0,0.0,0.0,14013302.0,14845952.0,15867923.0,18203801.0,30786785.0,38019002.0,0040,00040,40
99,40,0,0,0,MB,PT,Bus,13429855.0,12941435.0,15406024.0,3641733.0,3799016.0,5331173.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0040,00040,40
100,41,41,41,Alaska Railroad Corporation,AR,DO,Other,1231778.0,1343905.0,1481165.0,1551649.0,1394379.0,1279438.0,1445703.0,14500525.0,15470981.0,16453864.0,19932525.0,21161796.0,23264241.0,0041,00041,41
101,43,43,43,Link Transit,DR,DO,DemandResponse,37660.0,44285.0,41327.0,138123.0,47806.0,40614.0,53493.0,53643.0,42568.0,36453.0,32690.0,32362.0,34591.0,0043,00043,43
102,43,43,43,Link Transit,DR,PT,DemandResponse,10907.0,11579.0,8785.0,6154.0,11033.0,12328.0,18962.0,8343.0,1712.0,1290.0,744.0,731.0,888.0,0043,00043,43
103,43,43,43,Link Transit,MB,DO,Bus,276172.0,324753.0,434202.0,423275.0,598155.0,643373.0,719658.0,731077.0,668616.0,651347.0,624053.0,603505.0,599684.0,0043,00043,43
104,44,44,44,Skagit Transit,DR,DO,DemandResponse,15537.0,5656.0,9610.0,10968.0,13144.0,13804.0,11317.0,8118.0,7478.0,5601.0,5678.0,6254.0,7187.0,0044,00044,44
105,44,44,44,Skagit Transit,MB,DO,Bus,94195.0,116544.0,219579.0,296629.0,343323.0,376793.0,414634.0,399051.0,318008.0,359291.0,337201.0,296409.0,343521.0,0044,00044,44
106,44,44,44,Skagit Transit,VP,DO,DemandResponse,86656.0,168275.0,208671.0,257403.0,349570.0,308403.0,354477.0,425780.0,492806.0,498647.0,479466.0,448544.0,448444.0,0044,00044,44
122,45,45,45,Fairbanks North Star Borough Transit,DR,DO,DemandResponse,26992.0,28312.0,27586.0,48935.0,51394.0,40597.0,38699.0,36227.0,36351.0,36923.0,40568.0,41590.0,36710.0,0045,00045,45
138,45,45,45,Fairbanks North Star Borough Transit,MB,DO,Bus,166352.0,154779.0,214900.0,273294.0,307754.0,381079.0,342376.0,239388.0,253234.0,273528.0,360009.0,369335.0,390636.0,0045,00045,45
146,46,46,46,South Metro Area Regional Transit,DR,DO,DemandResponse,0.0,0.0,9549.0,9238.0,8756.0,8255.0,7442.0,6442.0,6459.0,7545.0,9748.0,7609.0,16735.0,0046,00046,46
154,46,46,46,South Metro Area Regional Transit,MB,DO,Bus,0.0,33360.0,116771.0,124218.0,165657.0,156176.0,165047.0,173191.0,217472.0,243966.0,239247.0,182626.0,163152.0,0046,00046,46
155,1001,0,0,Rhode Island Public Transit Authority,DR,DO,DemandResponse,367856.0,421539.0,436873.0,439180.0,530262.0,569455.0,599815.0,682046.0,772852.0,0.0,0.0,0.0,0.0,1001,10001,10001
156,1001,0,0,Rhode Island Public Transit Authority,DR,PT,DemandResponse,119428.0,151658.0,192144.0,199029.0,190637.0,56194.0,56288.0,59279.0,58708.0,0.0,0.0,0.0,0.0,1001,10001,10001
157,1001,0,0,Rhode Island Public Transit Authority,MB,DO,Bus,19504737.0,21374315.0,22421422.0,23480485.0,24044176.0,18048941.0,19778407.0,21147737.0,21547853.0,0.0,0.0,0.0,0.0,1001,10001,10001
158,1002,0,0,Manchester Transit Authority,DR,DO,DemandResponse,15444.0,20113.0,22632.0,23214.0,29013.0,40185.0,41955.0,34938.0,37737.0,0.0,0.0,0.0,0.0,1002,10002,10002
159,1002,0,0,Manchester Transit Authority,MB,DO,Bus,469597.0,312072.0,346149.0,361027.0,486181.0,524925.0,542229.0,565564.0,566814.0,0.0,0.0,0.0,0.0,1002,10002,10002
160,1003,0,0,0,CR,DO,Rail,98790037.0,104286465.0,123020901.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1003,10003,10003
161,1003,0,0,Massachusetts Bay Transportation Authority,DR,PT,DemandResponse,1766630.0,1661848.0,1807289.0,1669088.0,3302090.0,3504823.0,4087164.0,4621537.0,7318243.0,0.0,0.0,0.0,0.0,1003,10003,10003
162,1003,0,0,Massachusetts Bay Transportation Authority,FB,PT,Other,5766927.0,6025740.0,7459565.0,5960385.0,5393140.0,5711433.0,6008883.0,5989206.0,6386225.0,0.0,0.0,0.0,0.0,1003,10003,10003
163,1003,0,0,Massachusetts Bay Transportation Authority,HR,DO,Rail,106478487.0,109922405.0,125471260.0,156554160.0,160515594.0,153168117.0,156508685.0,162016921.0,191852484.0,0.0,0.0,0.0,0.0,1003,10003,10003
164,1003,0,0,Massachusetts Bay Transportation Authority,LR,DO,Rail,53622488.0,55719465.0,65031733.0,74238640.0,75225345.0,69637279.0,71723787.0,76335010.0,89940323.0,0.0,0.0,0.0,0.0,1003,10003,10003
165,1003,0,0,Massachusetts Bay Transportation Authority,MB,DO,Bus,56905693.0,59713683.0,68223142.0,70423932.0,70012369.0,77360442.0,78237895.0,81636526.0,96676230.0,0.0,0.0,0.0,0.0,1003,10003,10003
166,1003,0,0,Massachusetts Bay Transportation Authority,MB,PT,Bus,2542717.0,2746796.0,2785406.0,2747914.0,1897131.0,674044.0,680687.0,722645.0,454784.0,0.0,0.0,0.0,0.0,1003,10003,10003
167,1003,0,0,Massachusetts Bay Transportation Authority,TB,DO,Bus,1707832.0,1792105.0,2077080.0,2175551.0,2170181.0,2156028.0,2929107.0,3067088.0,3355979.0,0.0,0.0,0.0,0.0,1003,10003,10003
168,1004,0,0,Brockton Area Transit Authority,DR,PT,DemandResponse,808132.0,830134.0,840277.0,826946.0,1098822.0,1139500.0,1111592.0,1135569.0,1113745.0,0.0,0.0,0.0,0.0,1004,10004,10004
169,1004,0,0,Brockton Area Transit Authority,MB,PT,Bus,2239562.0,2303063.0,2295288.0,2258499.0,2383227.0,2422013.0,2564714.0,2715210.0,2628197.0,0.0,0.0,0.0,0.0,1004,10004,10004
170,1005,0,0,Lowell Regional Transit Authority,DR,PT,DemandResponse,97461.0,99893.0,136421.0,74548.0,78912.0,71317.0,67814.0,70031.0,68531.0,0.0,0.0,0.0,0.0,1005,10005,10005
171,1005,0,0,0,MB,DO,Bus,831688.0,770349.0,860200.0,938400.0,980611.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1005,10005,10005
172,1006,0,0,Southeastern Regional Transit Authority,DR,PT,DemandResponse,262468.0,230976.0,341719.0,525475.0,572396.0,162083.0,197667.0,74724.0,140451.0,0.0,0.0,0.0,0.0,1006,10006,10006
173,1006,0,0,Southeastern Regional Transit Authority,MB,PT,Bus,1487328.0,1500633.0,1366874.0,1226109.0,1335589.0,1438497.0,1779040.0,2065446.0,1982337.0,0.0,0.0,0.0,0.0,1006,10006,10006

In [115]:
ntd_fare_uza_4=pd.merge(ntd_fare_2,agency_uza,how='left',left_on='NTD_5_Digit',right_on='NTD_ID_STR',indicator=True)
ntd_fare_uza_4.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR_x,NTD_5_Digit,NTD_ID_INT,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,NTD_ID_STR_y,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1,0,0,0,LR,DO,Rail,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,1,1,1,King County Department of Transportation - Met...,MB,PT,Bus,7872045.0,0.0,9607824.0,11342831.0,11238115.0,11109150.0,216978.0,266612.0,277338.0,1069328.0,1180841.0,1229557.0,1109846.0,0001,00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,00001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [121]:
agency_uza['5 digit NTD ID'].describe()

count      766.000000
mean     47161.959530
std      26919.756805
min          1.000000
25%      30012.250000
50%      40998.000000
75%      60115.750000
max      91092.000000
Name: 5 digit NTD ID, dtype: float64

In [162]:
ntd_fare_2['NTD_5_Digit']=ntd_fare_2['NTD_5_Digit'].astype(int)

In [163]:
new=pd.merge(ntd_fare_2,agency_uza,left_on=['NTD_5_Digit'],right_on=['5 digit NTD ID'],how='inner',indicator=True)
new.head()

,NTD_ID,4 digit NTDID,Legacy NTD ID,Agency_x,MODE,SERVICE_ID,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,NTD_ID_STR_x,NTD_5_Digit,NTD_ID_INT,5 digit NTD ID,4 digit NTD ID,Agency_y,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,NTD_ID_STR_y,_merge
0,1,1,1,King County Department of Transportation - Met...,DR,PT,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0,0001,1,1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001,both
1,1,0,0,0,LR,DO,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0001,1,1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001,both
2,1,1,1,King County Department of Transportation - Met...,MB,DO,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0,0001,1,1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001,both
3,1,1,1,King County Department of Transportation - Met...,TB,DO,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0,0001,1,1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001,both
4,1,1,1,King County Department of Transportation - Met...,VP,DO,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0,0001,1,1,1,0001,King County Department of Transportation - Met...,Seattle,WA,14,"Seattle, WA","1,010","3,059,393","2,134","2,117,125",00001,both

In [133]:
new[new['_merge']=='left_only'].to_csv('check_fare.csv')

In [126]:
agency_uza[agency_uza['5 digit NTD ID']==10001]

,5 digit NTD ID,4 digit NTD ID,Agency,HQ City,HQ State,UZA,UZA Name,UZA Area SQ Miles,UZA Population,Service Area SQ Miles,Service Area Population,NTD_ID_STR
137,10001,1001,Rhode Island Public Transit Authority,Providence,RI,39,"Providence, RI-MA",545,"1,190,956","1,436","1,048,319",10001

In [116]:
len(ntd_fare_uza_4[ntd_fare_uza_4['_merge']!='both'])

1148

In [107]:
fare_05.head()

   NTD_ID MODE SERVICE_ID        2005
0       1   DR         PT    675488.0
1       1   LR         DO    211571.0
2       1   MB         DO  58136140.0
3       1   MB         PT   7872045.0
4       1   TB         DO  17007997.0

In [111]:
ntd_fare_uza_4.UZA.value_counts()

1.0      180
2.0      111
13.0      65
6.0       62
28.0      58
        ...
449.0      2
458.0      2
382.0      2
392.0      2
391.0      1
Name: UZA, Length: 362, dtype: int64

In [164]:
ntd_fare_uza_4=new[['NTD_ID','4 digit NTDID','NTD_5_Digit',
                               'Agency_x','UZA Name','UZA',
                               'MODE','RailBus','2002','2003','2004',
                               '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014',
                               '2015','2016','2017']]
ntd_fare_uza_4.head()

,NTD_ID,4 digit NTDID,NTD_5_Digit,Agency_x,UZA Name,UZA,MODE,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,1,1,1,King County Department of Transportation - Met...,"Seattle, WA",14,DR,DemandResponse,688012.0,527979.0,718833.0,675488.0,659606.0,758136.0,831048.0,850905.0,308539.0,874036.0,1005687.0,750659.0,957280.0,983881.0,957269.0,863494.0
1,1,0,1,0,"Seattle, WA",14,LR,Rail,216413.0,218928.0,226322.0,211571.0,0.0,0.0,275185.0,342835.0,288470.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,King County Department of Transportation - Met...,"Seattle, WA",14,MB,Bus,55995026.0,52181801.0,56913382.0,58136140.0,59418649.0,64550864.0,85113515.0,93937578.0,99604752.0,103418068.0,117457509.0,122535567.0,130249639.0,136162762.0,139001364.0,139520130.0
3,1,1,1,King County Department of Transportation - Met...,"Seattle, WA",14,TB,Bus,19012827.0,17695832.0,16683220.0,17007997.0,17360619.0,15141561.0,16212098.0,17892872.0,20112498.0,21573330.0,23547904.0,23166653.0,24787685.0,22028748.0,22872383.0,22808461.0
4,1,1,1,King County Department of Transportation - Met...,"Seattle, WA",14,VP,DemandResponse,5089843.0,4860704.0,4884622.0,5552340.0,6238455.0,6872296.0,8049283.0,9636603.0,8728042.0,9459661.0,10320050.0,11487561.0,11804793.0,7121362.0,7293271.0,7622086.0

In [117]:
ntd_fare_uza_4['2002']=ntd_fare_uza_4['2002'].apply(lambda x:x.replace(',',''))

AttributeError: 'int' object has no attribute 'replace'

In [115]:
ntd_fare_uza_4['2002']=ntd_fare_uza_4['2002'].fillna(0)

/Users/rianajawad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [165]:
ntd_fare_uza_4['2002'].describe()

count    3.555000e+03
mean     2.357344e+06
std      3.106076e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      4.521600e+04
max      1.518165e+09
Name: 2002, dtype: float64

In [120]:
fare_02['2002'].describe()

count     1142
unique    1090
top          0
freq        44
Name: 2002, dtype: object

In [166]:
grouped=ntd_fare_uza_4.groupby(by=['UZA Name','UZA','RailBus'
                                  ]).sum()

In [167]:
grouped.head()

                                                             NTD_ID  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              33148
                                             DemandResponse   33148
Abilene, TX                              282 Bus              66080
                                             DemandResponse   66080
Akron, OH                                71  Bus             165082

                                                             NTD_5_Digit  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus                   60148
                                             DemandResponse        60148
Abilene, TX                              282 Bus                  120080
                                             DemandResponse       120080
Akron, OH                                71  Bus                  300082

                                                                 2002  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus             114842.0
                                             DemandResponse   40948.0
Abilene, TX                              282 Bus             162609.0
                                             DemandResponse  350322.0
Akron, OH                                71  Bus             660887.0

                                                                  2003  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              130156.0
                                             DemandResponse    44036.0
Abilene, TX                              282 Bus              173563.0
                                             DemandResponse   319947.0
Akron, OH                                71  Bus             2568502.0

                                                                  2004  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              138171.0
                                             DemandResponse    45456.0
Abilene, TX                              282 Bus              185046.0
                                             DemandResponse   398825.0
Akron, OH                                71  Bus             2524882.0

                                                                  2005  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              150133.0
                                             DemandResponse    43964.0
Abilene, TX                              282 Bus              213965.0
                                             DemandResponse   201802.0
Akron, OH                                71  Bus             3022880.0

                                                                  2006  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              184686.0
                                             DemandResponse    49186.0
Abilene, TX                              282 Bus              201795.0
                                             DemandResponse    93789.0
Akron, OH                                71  Bus             3163036.0

                                                                  2007  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              191340.0
                                             DemandResponse    58143.0
Abilene, TX                              282 Bus              217336.0
                                             DemandResponse    98383.0
Akron, OH                                71  Bus             3445013.0

                                                                  2008  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              196460.0
                                             DemandResponse    52809.0
Abilene, TX                              282 Bus              254879.0
                                             DemandResponse   109095.0
Akron, OH                                71  Bus             3602006.0

                                                                  2009  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              197662.0
                                             DemandResponse    50503.0
Abilene, TX                              282 Bus              248600.0
                                             DemandResponse   101458.0
Akron, OH                                71  Bus             3387490.0

                                                                  2010  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              186192.0
                                             DemandResponse    40897.0
Abilene, TX                              282 Bus              295374.0
                                             DemandResponse    50000.0
Akron, OH                                71  Bus             3597828.0

                                                                  2011  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              199971.0
                                             DemandResponse    55929.0
Abilene, TX                              282 Bus              375006.0
                                             DemandResponse   426089.0
Akron, OH                                71  Bus             3802014.0

                                                                  2012  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              225977.0
                                             DemandResponse    67304.0
Abilene, TX                              282 Bus              368226.0
                                             DemandResponse   296153.0
Akron, OH                                71  Bus             6462990.0

                                                                  2013  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              243076.0
                                             DemandResponse    65182.0
Abilene, TX                              282 Bus              390511.0
                                             DemandResponse   323930.0
Akron, OH                                71  Bus             6704933.0

                                                                  2014  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              217294.0
                                             DemandResponse    75007.0
Abilene, TX                              282 Bus              408104.0
                                             DemandResponse   363579.0
Akron, OH                                71  Bus             6894955.0

                                                                  2015  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              244500.0
                                             DemandResponse    62384.0
Abilene, TX                              282 Bus              294009.0
                                             DemandResponse   108234.0
Akron, OH                                71  Bus             6280588.0

                                                                  2016  \
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              234177.0
                                             DemandResponse    69744.0
Abilene, TX                              282 Bus              166398.0
                                             DemandResponse   234140.0
Akron, OH                                71  Bus             5877868.0

                                                                  2017
UZA Name                                 UZA RailBus
Aberdeen-Bel Air South-Bel Air North, MD 169 Bus              221995.0
                                             DemandResponse    76400.0
Abilene, TX                              282 Bus              191017.0
                                             DemandResponse   233051.0
Akron, OH                                71  Bus             5939656.0

In [168]:
grouped.to_csv('grouped_fares.csv')

In [169]:
new=pd.read_csv('grouped_fares.csv')
new.head()

,UZA Name,UZA,RailBus,NTD_ID,NTD_5_Digit,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,33148,60148,114842.0,130156.0,138171.0,150133.0,184686.0,191340.0,196460.0,197662.0,186192.0,199971.0,225977.0,243076.0,217294.0,244500.0,234177.0,221995.0
1,"Aberdeen-Bel Air South-Bel Air North, MD",169,DemandResponse,33148,60148,40948.0,44036.0,45456.0,43964.0,49186.0,58143.0,52809.0,50503.0,40897.0,55929.0,67304.0,65182.0,75007.0,62384.0,69744.0,76400.0
2,"Abilene, TX",282,Bus,66080,120080,162609.0,173563.0,185046.0,213965.0,201795.0,217336.0,254879.0,248600.0,295374.0,375006.0,368226.0,390511.0,408104.0,294009.0,166398.0,191017.0
3,"Abilene, TX",282,DemandResponse,66080,120080,350322.0,319947.0,398825.0,201802.0,93789.0,98383.0,109095.0,101458.0,50000.0,426089.0,296153.0,323930.0,363579.0,108234.0,234140.0,233051.0
4,"Akron, OH",71,Bus,165082,300082,660887.0,2568502.0,2524882.0,3022880.0,3163036.0,3445013.0,3602006.0,3387490.0,3597828.0,3802014.0,6462990.0,6704933.0,6894955.0,6280588.0,5877868.0,5939656.0

In [170]:
new=new.drop(columns=['NTD_ID','NTD_5_Digit'])

In [171]:
new['2018']=new['2017']+(new['2017']-new['2016'])/2+(new['2017']-new['2015'])/4
new.head()

,UZA Name,UZA,RailBus,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,114842.0,130156.0,138171.0,150133.0,184686.0,191340.0,196460.0,197662.0,186192.0,199971.0,225977.0,243076.0,217294.0,244500.0,234177.0,221995.0,210277.75
1,"Aberdeen-Bel Air South-Bel Air North, MD",169,DemandResponse,40948.0,44036.0,45456.0,43964.0,49186.0,58143.0,52809.0,50503.0,40897.0,55929.0,67304.0,65182.0,75007.0,62384.0,69744.0,76400.0,83232.00
2,"Abilene, TX",282,Bus,162609.0,173563.0,185046.0,213965.0,201795.0,217336.0,254879.0,248600.0,295374.0,375006.0,368226.0,390511.0,408104.0,294009.0,166398.0,191017.0,177578.50
3,"Abilene, TX",282,DemandResponse,350322.0,319947.0,398825.0,201802.0,93789.0,98383.0,109095.0,101458.0,50000.0,426089.0,296153.0,323930.0,363579.0,108234.0,234140.0,233051.0,263710.75
4,"Akron, OH",71,Bus,660887.0,2568502.0,2524882.0,3022880.0,3163036.0,3445013.0,3602006.0,3387490.0,3597828.0,3802014.0,6462990.0,6704933.0,6894955.0,6280588.0,5877868.0,5939656.0,5885317.00

In [173]:
list(new)[0:3]

['UZA Name', 'UZA', 'RailBus']

In [144]:
new['2018']=new['2017']+(new['2017']-new['2016']+(new['2017']-new['2015'])/2)/2

In [174]:
new_df=pd.melt(new, id_vars=list(new)[0:3], value_vars=list(new)[3:],var_name='Year',
       value_name='FARE_TOTAL')

In [175]:
new_df=new_df.sort_values(by=['UZA Name','RailBus','Year'])
new_df.head(20)

,UZA Name,UZA,RailBus,Year,FARE_TOTAL
0,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2002,114842.00
869,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2003,130156.00
1738,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2004,138171.00
2607,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2005,150133.00
3476,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2006,184686.00
4345,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2007,191340.00
5214,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2008,196460.00
6083,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2009,197662.00
6952,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2010,186192.00
7821,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2011,199971.00
8690,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2012,225977.00
9559,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2013,243076.00
10428,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2014,217294.00
11297,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2015,244500.00
12166,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2016,234177.00
13035,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2017,221995.00
13904,"Aberdeen-Bel Air South-Bel Air North, MD",169,Bus,2018,210277.75
1,"Aberdeen-Bel Air South-Bel Air North, MD",169,DemandResponse,2002,40948.00
870,"Aberdeen-Bel Air South-Bel Air North, MD",169,DemandResponse,2003,44036.00
1739,"Aberdeen-Bel Air South-Bel Air North, MD",169,DemandResponse,2004,45456.00

In [176]:
new_df.to_csv('../Factors and Ridership Data/Final Datasets/fare_uza.csv')