In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf
import statsmodels.api as sm

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype


pd.set_option('display.max_columns', 500)

%matplotlib inline

In [2]:
df=pd.read_csv('final_estimation_file_apta_added_greg.csv',
                    encoding='utf-8')
df.drop(columns=['Unnamed: 0'],inplace=True)

In [3]:
tsd_data=pd.read_csv('tsd_pop_employment.csv',
                    encoding='utf-8')
tsd_data.drop(columns=['Unnamed: 0','CBSA Title'],inplace=True)
tsd_data.head()

,CBSA Code,STATE,Year,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10180,Texas,2002,57166.0,22735.0,25452.0,8979.0,0.0,0.0,0.0,48187.0,57166.0,0.0,0.0,9489.0,4531.0,3582.0,1376.0,0.0,0.0,0.0,8113.0,9489.0,0.0,0.0,58397.0,0.0,0.0,0.0,23086.0,25800.0,9511.0,48886.0,58397.0,0.0,0.0,1216.0,2355.0,0.0,0.0,0.0,954.0,1065.0,336.0,2019.0,2355.0,0.0,0.0
1,10180,Texas,2003,56917.0,21970.0,25046.0,9901.0,0.0,0.0,0.0,47016.0,56917.0,0.0,0.0,9484.0,4402.0,3471.0,1611.0,0.0,0.0,0.0,7873.0,9484.0,0.0,0.0,57221.0,0.0,0.0,0.0,22049.0,25074.0,10098.0,47123.0,57221.0,0.0,0.0,1216.0,2462.0,0.0,0.0,0.0,1032.0,1069.0,361.0,2101.0,2462.0,0.0,0.0
2,10180,Texas,2004,59025.0,22123.0,26375.0,10527.0,0.0,0.0,0.0,48498.0,59025.0,0.0,0.0,9599.0,4443.0,3594.0,1562.0,0.0,0.0,0.0,8037.0,9599.0,0.0,0.0,61419.0,0.0,0.0,0.0,23062.0,27199.0,11158.0,50261.0,61419.0,0.0,0.0,1216.0,2970.0,0.0,0.0,0.0,1231.0,1315.0,424.0,2546.0,2970.0,0.0,0.0
3,10180,Texas,2005,57879.0,21202.0,25353.0,11324.0,0.0,0.0,0.0,46555.0,57879.0,0.0,0.0,9645.0,4539.0,3500.0,1606.0,0.0,0.0,0.0,8039.0,9645.0,0.0,0.0,60001.0,0.0,0.0,0.0,21854.0,26081.0,12066.0,47935.0,60001.0,0.0,0.0,1216.0,2938.0,0.0,0.0,0.0,1134.0,1326.0,478.0,2460.0,2938.0,0.0,0.0
4,10180,Texas,2006,59588.0,21170.0,25759.0,12659.0,0.0,0.0,0.0,46929.0,59588.0,0.0,0.0,9819.0,4475.0,3516.0,1828.0,0.0,0.0,0.0,7991.0,9819.0,0.0,0.0,62311.0,0.0,0.0,0.0,22008.0,26639.0,13664.0,48647.0,62311.0,0.0,0.0,1216.0,2983.0,0.0,0.0,0.0,1122.0,1342.0,519.0,2464.0,2983.0,0.0,0.0

In [4]:
df=pd.merge(df,tsd_data,left_on=['CBSA','Year'],right_on=['CBSA Code','Year'],how='left')
df=df.drop_duplicates()
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,FARE_per_UPT_cleaned,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,PROBLEM_FLAG3,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS
0,10420,"Akron, OH Metro Area",Bus,2002,5226386,4026372,596583,0.114148,2002,2018,0.114148,NaN,Bad fare,NaN,1.0,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,314749.0,96006.0,131687.0,87056.0,0.0,0.0,0.0,227693.0,314749.0,0.0,0.0,81463.0,23319.0,33326.0,24818.0,0.0,0.0,0.0,56645.0,81463.0,0.0,0.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395902,3976569,2318587,0.429694,2002,2018,0.429694,NaN,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,313075.0,94572.0,128913.0,89590.0,0.0,0.0,0.0,223485.0,313075.0,0.0,0.0,79781.0,21580.0,31862.0,26339.0,0.0,0.0,0.0,53442.0,79781.0,0.0,0.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162,4315393,2279211,0.385839,2002,2018,0.385839,NaN,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,312683.0,93306.0,125699.0,93678.0,0.0,0.0,0.0,219005.0,312683.0,0.0,0.0,78610.0,20758.0,30959.0,26893.0,0.0,0.0,0.0,51717.0,78610.0,0.0,0.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013681,4053011,2728754,0.453758,2002,2018,0.453758,NaN,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,309266.0,90317.0,123815.0,95134.0,0.0,0.0,0.0,214132.0,309266.0,0.0,0.0,77347.0,19411.0,30403.0,27533.0,0.0,0.0,0.0,49814.0,77347.0,0.0,0.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797,3994786,2855273,0.470329,2002,2018,0.470329,NaN,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,315180.0,91892.0,121109.0,102179.0,0.0,0.0,0.0,213001.0,315180.0,0.0,0.0,78759.0,19367.0,28831.0,30561.0,0.0,0.0,0.0,48198.0,78759.0,0.0,0.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0

In [5]:
# WAC data derived columns. To account for people coming into the TSD from outlying areas.
df['TSD_WA_EMP_PCT_LEHD']=100*df['TOTAL_JOBS_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_PCT_CBSA']=100*df['TOTAL_JOBS_WA_TSD_TRACTS']/df['TOT_EMP_MSA']

df['JOBS_LESS_THAN_3333_WA_TRACTS']=df['JOBS_LESS_THAN_1250_WA_TRACTS']+df['JOBS_1250_3333_WA_TRACTS']
df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']=df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']+df['JOBS_1250_3333_WA_TSD_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['JOBS_LESS_THAN_1250_WA_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['JOBS_1250_3333_WA_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['JOBS_LESS_THAN_3333_WA_TRACTS']

df['TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD']=100*df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']
df['TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['JOBS_1250_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']
df['TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD']=100*df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']/df['TOTAL_JOBS_WA_TSD_TRACTS']

#RAC data derived columns.

df['TSD_POP_PCT_LEHD']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS'] #RAC data
df['TSD_POP_PCT_CBSA']=100*df['TOTAL_JOBS_RA_TSD_TRACTS']/df['Tot_Pop']
df['TSD_POP_WAGE_UNDER_1250']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_RA']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_1250_RA_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_RA']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_BETN_1250_3333_RA_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_RA']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_UNDER_3333_RA_TRACTS']

df['TSD_POP_WAGE_UNDER_1250_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_BETN_1250_3333_PCT_TSD']=100*df['TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_WAGE_UNDER_3333_PCT_TSD']=100*df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']/df['TOTAL_JOBS_RA_TSD_TRACTS']

In [6]:
# read updated TNC revenue data
# tnc_rev=pd.read_csv('TNC_REVENUE_3.csv')
# tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)
# tnc_rev=tnc_rev.drop_duplicates(['CBSA','MNAME','Year'])
# tnc_rev.head()

tnc_rev=pd.read_csv('TNC_CBSA_FINAL_2.csv')

tnc_rev.drop(columns=['MNAME','Tot_Pop'],inplace=True)
# tnc_rev=tnc_rev.drop_duplicates(['CBSA','MNAME','Year'])
tnc_rev.head()

,CBSA,Year,TNC_CLUSTER,TOT_POP_CLUSTER,TOTAL_YEARLY_POPULATION,POP_SHARE,TOTAL_TRIPS_PER_CAPITA,TNC_TRIPS_SCALED,TOTAL_TNC_TRIPS_PER_CLUSTER,TRIPS_SCALED,Scale_2,TNC_TRIPS,TNC_TRIPS_PER_CAPITA_CLUSTER
0,10420,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
1,10740,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
2,10900,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
3,11460,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5
4,12420,2014,21,20063673.0,119360751,0.035997,4.034635,0.9718,80.9496,19.497887,0.514568,10.0,0.5

In [7]:
df=pd.merge(df,tnc_rev,on=['CBSA','Year'],how='left')
df['TNC_TRIPS_PER_CAPITA_CLUSTER']=df['TNC_TRIPS_PER_CAPITA_CLUSTER'].fillna(0)
df.head()

,CBSA,MNAME,Mode,Year,UPT_ADJUSTED,VRM_ADJUSTED,FARE_ADJUSTED,FARE_per_UPT_cleaned,min_year,max_year,FARE_per_UPT,PROBLEM_FLAG,NOTE,PROBLEM_FLAG2,PROBLEM_FLAG3,Tot_Pop,Tot_Instate_Pop,Tot_Outstate_Pop,Tot_NonUSA_POP,Total_Median_Income_Individual,Native_Instate_Med_Inc_Indiv,Native_Outstate_Med_Inc_Indiv,Native_Outcountry_Med_Inc_Indiv,Total_Pop_Poverty,Pop_Below100_Poverty,Pop_Below150_Poverty,Pop_Above150_Poverty,Age_under18,Age_18to64,Age_over64,Total_HH,HH_0Veh,HH_1Veh,HH_2Veh,HH_3Veh,HH_4+Veh,PCT_HH_NO_VEH,HH_MED_INC,HH_MEAN_INC,INC_U35,INC_35_100,INC_100P,TOT_UNEMP_MSA,TOT_EMP_MSA,TOT_LABOR_MSA,UNEMP_RATE_PCT,EMP_RATE_PCT,GasPrice,Area_acre,POP_CENSUSTRACT,AVG_SPEED,2018_Dollar_Multiplier,TNC_ARRIVAL,Link_x,TNC_FLAG,YEARS_SINCE_TNC,FARE_ADJ_2018,TOTAL_MED_INC_INDIV_2018,NATIVE_INSTATE_MED_INC_2018,NATIVE_OUTSTATE_MED_INC_2018,HH_MED_INC_2018,HH_MEAN_INC_2018,GAS_PRICE_2018,dockCt,docklessCt,scooterCt,PBS_Start,PBS_End,PBS_Flag,Link,walkscore,transit,bike,CLUSTER_GT_NEW_11,CLUSTER_GT_ORIGINAL,CLUSTER_GT_8_GROUPS,CLUSTER_APTA,CLUSTER_NOTE,TOTAL_EMPLOYMENT,JTW_DA_PCT,JTW_CARPOOLED_PCT,JTW_TRANSIT_PCT,JTW_WALK_PCT,JTW_BICYCLE_PCT,JTW_OTHER_PCT,JTW_HOME_PCT,NOTE_JTW,AVG_FARE_2018,WEIGHTED_POP_DENSITY,_merge,CLUSTER_APTA_EXTENDED,CBSA Code,STATE,TOTAL_JOBS_WA_TRACTS,JOBS_LESS_THAN_1250_WA_TRACTS,JOBS_1250_3333_WA_TRACTS,JOBS_MORE_THAN_3333_WA_TRACTS,JOBS_WHITE_ALONE_WA_TRACTS,JOBS_BLACK_ALONE_WA_TRACTS,JOBS_HISPANIC_LATINO_WA_TRACTS,JOBS_LESS_THAN_40K_WA_TRACTS,JOBS_NON_WHITE_WA_TRACTS,JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TRACTS,TOTAL_JOBS_WA_TSD_TRACTS,JOBS_LESS_THAN_1250_WA_TSD_TRACTS,JOBS_1250_3333_WA_TSD_TRACTS,JOBS_MORE_THAN_3333_WA_TSD_TRACTS,JOBS_WHITE_ALONE_WA_TSD_TRACTS,JOBS_BLACK_ALONE_WA_TSD_TRACTS,JOBS_HISPANIC_LATINO_WA_TSD_TRACTS,JOBS_LESS_THAN_40K_WA_TSD_TRACTS,JOBS_NON_WHITE_WA_TSD_TRACTS,JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS,JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS,TOTAL_JOBS_RA_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TRACTS,TOTAL_JOBS_OVER_3333_RA_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS,AREA_ACRE,TOTAL_JOBS_RA_TSD_TRACTS,TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS,TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS,TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS,TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS,TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS,TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS,TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS,TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS,TSD_WA_EMP_PCT_LEHD,TSD_WA_EMP_PCT_CBSA,JOBS_LESS_THAN_3333_WA_TRACTS,JOBS_LESS_THAN_3333_WA_TSD_TRACTS,TSD_WA_EMP_WAGE_UNDER_1250,TSD_WA_EMP_WAGE_BETN_1250_3333,TSD_WA_EMP_WAGE_UNDER_3333,TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA,TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA,TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA,TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD,TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD,TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD,TSD_POP_PCT_LEHD,TSD_POP_PCT_CBSA,TSD_POP_WAGE_UNDER_1250,TSD_POP_WAGE_BETN_1250_3333,TSD_POP_WAGE_UNDER_3333,TSD_POP_WAGE_UNDER_1250_PCT_RA,TSD_POP_WAGE_BETN_1250_3333_PCT_RA,TSD_POP_WAGE_UNDER_3333_PCT_RA,TSD_POP_WAGE_UNDER_1250_PCT_TSD,TSD_POP_WAGE_BETN_1250_3333_PCT_TSD,TSD_POP_WAGE_UNDER_3333_PCT_TSD,TNC_CLUSTER,TOT_POP_CLUSTER,TOTAL_YEARLY_POPULATION,POP_SHARE,TOTAL_TRIPS_PER_CAPITA,TNC_TRIPS_SCALED,TOTAL_TNC_TRIPS_PER_CLUSTER,TRIPS_SCALED,Scale_2,TNC_TRIPS,TNC_TRIPS_PER_CAPITA_CLUSTER
0,10420,"Akron, OH Metro Area",Bus,2002,5226386,4026372,596583,0.114148,2002,2018,0.114148,NaN,Bad fare,NaN,1.0,646583.7344,496141.0469,137193.6719,-389.53125,25405.20313,26028.32813,26651.07813,7117.03125,682354.11,7.55,8.94,83.85,24.64,62.9,12.46,265452.20,22830.14,58254.52,117083.25,46891.53,20392.77,8.60,43046.82813,55300.5625,39.49,46.56,13.95,21948.42,346147.17,368095.58,5.96,94.04,1.36,NaN,119786.0,14.88,1.40,2014,http://www.crainscleveland.com/article/2014082...,0,0,4004892.28,35567.28438,36439.65938,37311.50938,60265.55938,77420.7875,1.9040,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,309488.2031,87.4,6.2,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.159808,2417.239652,both,24,10420.0,Ohio,314749.0,96006.0,131687.0,87056.0,0.0,0.0,0.0,227693.0,314749.0,0.0,0.0,81463.0,23319.0,33326.0,24818.0,0.0,0.0,0.0,56645.0,81463.0,0.0,0.0,305401.0,0.0,0.0,0.0,92556.0,127165.0,85680.0,219721.0,305401.0,0.0,0.0,13619.2,54517.0,0.0,0.0,0.0,18228.0,25397.0,10892.0,43625.0,54517.0,0.0,0.0,25.881893,23.534209,227693.0,56645.0,7.408761,10.588119,17.996880,24.289107,25.306978,24.877796,28.625265,40.909370,69.534635,17.850957,8.431545,5.968546,8.315952,14.284498,19.694023,19.971690,19.854725,33.435442,46.585469,80.020911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,10420,"Akron, OH Metro Area",Bus,2003,5395902,3976569,2318587,0.429694,2002,2018,0.429694,NaN,NaN,NaN,NaN,659397.0625,504631.8125,137582.3125,753.12500,25120.18750,25632.68750,25995.68750,10350.875,682850.56,8.81,8.66,82.79,24.33,63.0,12.68,269144.19,22073.44,67400.94,115443.00,44874.88,19351.94,8.20,43566.68750,56379.7500,39.24,46.66,14.10,23342.50,348574.17,371916.67,6.28,93.72,1.55,NaN,119199.0,14.71,1.37,2014,http://www.crainscleveland.com/article/2014082...,0,0,15690640.83,34414.65688,35116.78188,35614.09188,59686.36188,77240.2575,2.1235,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,316497.1875,87.2,6.4,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.588681,2417.305061,both,24,10420.0,Ohio,313075.0,94572.0,128913.0,89590.0,0.0,0.0,0.0,223485.0,313075.0,0.0,0.0,79781.0,21580.0,31862.0,26339.0,0.0,0.0,0.0,53442.0,79781.0,0.0,0.0,318486.0,0.0,0.0,0.0,95379.0,128948.0,94159.0,224327.0,318486.0,0.0,0.0,13619.2,51976.0,0.0,0.0,0.0,17093.0,23767.0,11116.0,40860.0,51976.0,0.0,0.0,25.483031,22.887812,223485.0,53442.0,6.892917,10.177114,17.070031,22.818593,24.715894,23.913014,27.049047,39.936827,66.985874,16.319713,7.882352,5.366955,7.462494,12.829449,17.921136,18.431461,18.214482,32.886332,45.726874,78.613206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,10420,"Akron, OH Metro Area",Bus,2004,5907162,4315393,2279211,0.385839,2002,2018,0.385839,NaN,NaN,NaN,NaN,672492.7500,513183.7500,138058.7500,1942.50000,24804.25000,25208.25000,25305.25000,13527.5,683397.75,10.08,8.38,81.73,24.00,63.1,12.90,272892.25,21266.25,76795.25,113694.00,42855.50,18281.25,7.79,44030.25000,57390.0000,39.03,46.78,14.20,23471.75,351723.75,375195.50,6.26,93.74,1.83,NaN,118612.0,7.23,1.33,2014,http://www.crainscleveland.com/article/2014082...,0,0,14652259.89,32989.65250,33526.97250,33655.98250,58560.23250,76328.7000,2.4339,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,323744.25,86.9,6.7,0.8,1.7,0.1,0.7,3.1,Goes to negative when extrapolating. Possible ...,0.513165,2417.260004,both,24,10420.0,Ohio,312683.0,93306.0,125699.0,93678.0,0.0,0.0,0.0,219005.0,312683.0,0.0,0.0,78610.0,20758.0,30959.0,26893.0,0.0,0.0,0.0,51717.0,78610.0,0.0,0.0,315004.0,0.0,0.0,0.0,92341.0,124884.0,97779.0,217225.0,315004.0,0.0,0.0,13619.2,50850.0,0.0,0.0,0.0,16533.0,22739.0,11578.0,39272.0,50850.0,0.0,0.0,25.140478,22.349927,219005.0,51717.0,6.638672,9.901082,16.539754,22.247230,24.629472,23.614529,26.406310,39.383030,65.789340,16.142652,7.561420,5.248505,7.218638,12.467143,17.904290,18.208097,18.078950,32.513274,44.717797,77.231072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,10420,"Akron, OH Metro Area",Bus,2005,6013681,4053011,2728754,0.453758,2002,2018,0.453758,NaN,NaN,NaN,NaN,684459.0000,521491.0000,138184.0000,2945.00000,24612.00000,24899.00000,24755.00000,16933,683742.00,11.30,8.10,80.70,23.70,63.2,13.10,276416.00,20661.00,85198.00,112380.00,40847.00,17330.00,7.47,44719.00000,58676.0000,38.70,46.80,14.50,22420.75,358105.92,380526.67,5.90,94.10,2.25,13644.8,118025.0,14.40,1.29,2014,http://www.crainscleveland.com/article/2014082...,0,0,17316881.13,31749.48000,32119.71000,31933.95000,57687.51000,75692.0400,2.9025,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,330039,86.8,6.8,0.8,1.7,0.1,0.7,3.1,NaN,0.585347,2417.138680,both,24,10420.0,Ohio,309266.0,90317.0,123815.0,95134.0,0.0,0.0,0.0,214132.0,309266.0,0.0,0.0,77347.0,19411.0,30403.0,27533.0,0.0,0.0,0.0,49814.0,77347.0,0.0,0.0,316201.0,0.0,0.0,0.0,90737.0,123595.0,101869.0,214332.0,316201.0,0.0,0.0,13619.2,50262.0,0.0,0.0,0.0,16209.0,22152.0,11901.0,38361.0,50262.0,0.0,0.0,25.009862,21.598917,214132.0,49814.0,6.276474,9.830696,16.107170,21.492078,24.555183,23.263221,25.095996,39.307278,64.403274,15.895585,7.343318,5.126170,7.005670,12.131840,17.863716,17.923055,17.897934,32.249015,44.073057,76.322072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,10420,"Akron, OH Metro Area",Bus,2006,6070797,3994786,2855273,0.470329,2002,2018,0.470329,NaN,NaN,NaN,NaN,700943.0000,530777.0000,139714.0000,4695.00000,23925.00000,24129.00000,23644.00000,19423,684898.00,12.70,7.80,79.50,23.30,63.3,13.40,280837.00,19248.00,97567.00,109326.00,38795.00,15901.00,6.85,44507.00000,58859.0000,38.80,47.20,14.00,20348.08,365133.33,385481.42,5.28,94.72,2.54,13644.8,117438.0,14.19,1.25,2014,http://www.crainscleveland.com/article/2014082...,0,0,17511368.98,29906.25000,30161.25000,29555.00000,55633.75000,73573.7500,3.1750,0,0,0,NaN,NaN,0.0,NaN,0,0,0,1,1,H,24,NaN,340143,85.8,7.3,1.3,2.2,0,0.9,2.5,NaN,0.587911,2417.703484,both,24,10420.0,Ohio,315180.0,91892.0,121109.0,102179.0,0.0,0.0,0.0,213001.0,315180.0,0.0,0.0,78759.0,19367.0,28831.0,30561.0,0.0,0.0,0.0,48198.0,78759.0,0.0,0.0,313986.0,0.0,0.0,0.0,89652.0,117761.0,106573.0,207413.0,313986.0,0.0,0.0,13619.2,49293.0,0.0,0.0,0.0,15509.0,21149.0,12635.0,36658.0,49293.0,0.0,0.0,24.988578,21.569929,213001.0,48198.0,6.144743,9.147471,15.292214,21.075828,23.805828,22.628063,24.590206,36.606610,61.196816,15.699108,7.032384,4.939392,6.735651,11.675043,17.299112,17.959256,17.673916,31.462885,42.904672,74.367557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [8]:
df['TNC_TRIPS_PER_CAPITA_CLUSTER']=df['TNC_TRIPS_PER_CAPITA_CLUSTER'].astype(float)
df['TNC_TRIPS_PER_CAPITA_CLUSTER'].describe()

count    4718.000000
mean        0.841034
std         2.313638
min         0.000000
25%         0.000000
50%         0.000000
75%         0.700000
max        30.400000
Name: TNC_TRIPS_PER_CAPITA_CLUSTER, dtype: float64

In [9]:
#df=pd.merge(df,tnc_rev,on=['CBSA','MNAME','Year'],how='left')
# df['TNC_REVENUE']=df['TNC_REVENUE'].fillna(0)
# df['TNC_TRIPS']=df['TNC_TRIPS'].fillna(0)
# df['TNC_BOOKINGS']=df['TNC_BOOKINGS'].fillna(0)
# df.head()

In [10]:
# read in and join the maintenance and restructure data
mr=pd.read_csv('maintenance_restructure.csv',
                    encoding='utf-8')
mr = mr[['CBSA', 'Mode', 'Year', 'MAINTENANCE', 'MAINTENANCE_NYC', 'MAINTENANCE_WMATA', 'RESTRUCTURE']]

df = df.merge(mr, on=['CBSA', 'Mode', 'Year'], how='left')

In [11]:
# read in mechanical and other failures

failures=pd.read_csv('maintenance_final.csv',encoding='utf-8')

failures.drop(columns=['Unnamed: 0'],inplace=True)

df=df.merge(failures, on=['CBSA','MNAME','Mode','Year'],how='left')

In [12]:
df=df.rename(columns={'UPT_ADJUSTED':'UPT_ADJ','VRM_ADJUSTED':'VRM_ADJ','FARE_ADJUSTED':'FARE_ADJ','AVG_FARE_2018':'FARE_per_UPT_2018',
                     'Mecha_Failures':'Mechanical_Failures'})

In [13]:
df['Mechanical_Failures']=df['Mechanical_Failures'].fillna(0)
df['Total_Failures']=df['Total_Failures'].fillna(0)
df['MDBF_Mechanical']=np.where(df['Mechanical_Failures']>0,df['VRM_ADJ']/df['Mechanical_Failures'],df['VRM_ADJ'])
df['MDBF_Total']=np.where(df['Total_Failures']>0,df['VRM_ADJ']/df['Total_Failures'],df['VRM_ADJ'])

In [14]:
# read in and join the bike share updates
bsu=pd.read_csv('bike_share_update.csv',
                    encoding='utf-8')
bsu = bsu[['CBSA', 'Mode', 'Year', 'PBS_Flag_Update']]

df = df.merge(bsu, on=['CBSA', 'Mode', 'Year'], how='left')

#df['PBS_Flag_Missing'] = df['PBS_Flag'].apply(lambda x : x.isnan())
df['PBS_Flag'] = np.where(df['PBS_Flag'].isnull(), df['PBS_Flag_Update'], df['PBS_Flag'])

In [15]:
# 4 apta clusers
df['CLUSTER_APTA4'] = np.floor(df['CLUSTER_APTA']/10)

In [16]:
# exclude if ridership is zero--missing data
df = df[df['UPT_ADJ']>0]

In [17]:
# fill in missing data as needed

# min fare is zero
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : max(x,0))

# max fare is $20
df['FARE_per_UPT_2018'] = df['FARE_per_UPT_2018'].apply(lambda x : min(x,20))

# zero vehicle HH can't go negative
df['HH_0Veh'] = df['HH_0Veh'].apply(lambda x : max(x,0))

In [18]:
df=df.drop_duplicates(['CBSA','Mode','Year'])

In [19]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('#VALUE!', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('#VALUE!', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('#VALUE!', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('#VALUE!', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('#VALUE!', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('#VALUE!', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('#VALUE!', np.nan)


df['JTW_DA_PCT']        = df['JTW_DA_PCT'].replace('N', np.nan)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].replace('N', np.nan)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].replace('N', np.nan)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].replace('N', np.nan)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].replace('N', np.nan)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].replace('N', np.nan)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].replace('N', np.nan)

In [20]:
# convert JTW to numeric columns
df['JTW_DA_PCT']        = df['JTW_DA_PCT'].astype(float)
df['JTW_CARPOOLED_PCT'] = df['JTW_CARPOOLED_PCT'].astype(float)
df['JTW_TRANSIT_PCT']   = df['JTW_TRANSIT_PCT'].astype(float)
df['JTW_WALK_PCT']      = df['JTW_WALK_PCT'].astype(float)
df['JTW_BICYCLE_PCT']   = df['JTW_BICYCLE_PCT'].astype(float)
df['JTW_OTHER_PCT']     = df['JTW_OTHER_PCT'].astype(float)
df['JTW_HOME_PCT']      = df['JTW_HOME_PCT'].astype(float)

In [21]:
# exclude problematic data
old_len = len(df)
df = df[df['VRM_ADJ']>0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing VRM') 

# exclude if JTW data are missing
old_len = len(df)
df = df[df['JTW_HOME_PCT']>=0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with missing JTW data') 

# exclude if problem flag 3 is set
old_len = len(df)
df = df[df['PROBLEM_FLAG3']!=1]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with problem flag set to 1') 

# exclude rail in low op-ex group
old_len = len(df)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)
df['LOW_OPEX_RAIL'] = df['LOW_OPEX'] * df['RAIL_FLAG']
df = df[df['LOW_OPEX_RAIL']==0]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records with that have rail in the low op-ex group')

Excluding 1 records with missing VRM
Excluding 25 records with missing JTW data
Excluding 105 records with problem flag set to 1
Excluding 48 records with that have rail in the low op-ex group

In [22]:
# exclude discontinuous data
df = df.sort_values(by=['CBSA', 'Mode', 'Year'])

excluded_records = 100
while excluded_records > 0: 
    old_len = len(df)
    df['YearDiff'] = df['Year'].shift(-1) - df['Year']
    df = df[(df['YearDiff']==1) | (df['Year']==2018)]
    excluded_records = old_len - len(df)
    print('Excluding ' + str(excluded_records) + ' records with discontinuities in year.')

Excluding 22 records with discontinuities in year.
Excluding 19 records with discontinuities in year.
Excluding 16 records with discontinuities in year.
Excluding 15 records with discontinuities in year.
Excluding 14 records with discontinuities in year.
Excluding 13 records with discontinuities in year.
Excluding 12 records with discontinuities in year.
Excluding 9 records with discontinuities in year.
Excluding 8 records with discontinuities in year.
Excluding 8 records with discontinuities in year.
Excluding 7 records with discontinuities in year.
Excluding 6 records with discontinuities in year.
Excluding 5 records with discontinuities in year.
Excluding 4 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 1 records with discontinuities in year.
Excluding 0 records with discontinuities in year.

In [23]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df['ID2'] = df['ID']
df['YEAR2'] = df['Year']
df=df.set_index(['ID','Year'])

# exclude if it is not in operation at least since 2012
ids = df.index.get_level_values(0).unique()

for id in ids: 
    years = df.loc[id].index.get_level_values(0).sort_values()
    first_year = years[0]
    
    for year in years: 
        df.loc[(id,year),'FIRST_YEAR'] = first_year
        
df = df.reset_index()

# excldue where not in operation since at least 2012
old_len = len(df)
df = df[df['FIRST_YEAR']<=2012]
new_len = len(df)
print('Excluding ' + str(old_len-new_len) + ' records starting operation later than 2012')

Excluding 31 records starting operation later than 2012

In [24]:
df['BUS_FLAG'] = np.where(df['Mode']=='Bus', 1, 0)
df['RAIL_FLAG'] = np.where(df['Mode']=='Rail', 1, 0)

In [25]:
# include population + employment
df['POP_EMP'] = df['Tot_Pop'] + df['TOT_EMP_MSA']
df['HH_EMP'] = df['Total_HH'] + df['TOT_EMP_MSA']


# percent of pop born outside USA
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [26]:
df.to_csv('merged_estfile.csv')

In [27]:
# time effects
df['YEARS_SINCE_2002']  = df['Year'] - 2002

df['YEARS_2002_2010']  = df['Year'].apply(lambda x : min(x-2002, 8))
df['YEARS_AFTER_2010'] = df['Year'].apply(lambda x : max(x-2010, 0))

df['YEARS_2002_2014']  = df['Year'].apply(lambda x : min(x-2002, 12))
df['YEARS_AFTER_2014'] = df['Year'].apply(lambda x : max(x-2014, 0))


df['YEARS_SINCE_2002_BUS']  = df['YEARS_SINCE_2002'] * df['BUS_FLAG']
df['YEARS_SINCE_2002_RAIL'] = df['YEARS_SINCE_2002'] * df['RAIL_FLAG']

df['YEARS_2002_2010_BUS']   = df['YEARS_2002_2010'] * df['BUS_FLAG']
df['YEARS_AFTER_2010_BUS']  = df['YEARS_AFTER_2010']* df['BUS_FLAG']
df['YEARS_2002_2010_RAIL']  = df['YEARS_2002_2010'] * df['RAIL_FLAG']
df['YEARS_AFTER_2010_RAIL'] = df['YEARS_AFTER_2010']* df['RAIL_FLAG']

df['YEARS_2002_2014_BUS']   = df['YEARS_2002_2014'] * df['BUS_FLAG']
df['YEARS_AFTER_2014_BUS']  = df['YEARS_AFTER_2014']* df['BUS_FLAG']
df['YEARS_2002_2014_RAIL']  = df['YEARS_2002_2014'] * df['RAIL_FLAG']
df['YEARS_AFTER_2014_RAIL'] = df['YEARS_AFTER_2014']* df['RAIL_FLAG']

In [28]:
# more time effects

df['YEARS_AFTER_2012'] = df['Year'].apply(lambda x : max(x-2012, 0))

df['TNC_YEARS_AFTER_2012'] = df['YEARS_AFTER_2012'] * df['TNC_FLAG']

df['TNC_YEARS_AFTER_2012_BUS'] = df['TNC_YEARS_AFTER_2012'] * df['BUS_FLAG']
df['TNC_YEARS_AFTER_2012_RAIL'] = df['TNC_YEARS_AFTER_2012'] * df['RAIL_FLAG']

In [29]:

df['YEARS_SINCE_TNC_2012'] = np.minimum(df['YEARS_SINCE_TNC'], df['YEARS_AFTER_2012'])

df['YEARS_SINCE_TNC_2012_BUS'] = df['YEARS_SINCE_TNC_2012'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_2012_RAIL'] = df['YEARS_SINCE_TNC_2012'] * df['RAIL_FLAG']

In [30]:
# test rail ramp up period
df['YEARS_SINCE_RAIL_START'] = (df['Year'] - df['min_year']) * df['RAIL_FLAG']
df['YEARS_SINCE_RAIL_START'] = np.where(df['min_year']==2002, 0, df['YEARS_SINCE_RAIL_START'])

df['YEARS_SINCE_RAIL_START_1'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 1))
df['YEARS_SINCE_RAIL_START_2'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_RAIL_START_3'] = df['YEARS_SINCE_RAIL_START'].apply(lambda x : min(x, 3))

In [31]:
# calculate bus vs rail stuff

# various bus/rail specifics

df['TNC_FLAG_BUS'] = df['TNC_FLAG'] * df['BUS_FLAG']
df['TNC_FLAG_RAIL'] = df['TNC_FLAG'] * df['RAIL_FLAG']

df['YEARS_SINCE_TNC_BUS'] = df['YEARS_SINCE_TNC'] * df['BUS_FLAG']
df['YEARS_SINCE_TNC_RAIL'] = df['YEARS_SINCE_TNC'] * df['RAIL_FLAG']

df['dockless_flag'] = df['dockCt'].apply(lambda x : min(x,1))
df['scooter_flag']  = df['scooterCt'].apply(lambda x : min(x,1))

df['BIKE_SHARE'] = df['PBS_Flag'] + df['dockless_flag']
df['BIKE_SHARE'] = df['BIKE_SHARE'].apply(lambda x : min(x,1))


df['PBS_Flag_BUS']   = df['PBS_Flag']   * df['BUS_FLAG']
df['dockCt_BUS']     = df['dockCt']     * df['BUS_FLAG']
df['docklessCt_BUS'] = df['docklessCt'] * df['BUS_FLAG']
df['scooterCt_BUS']  = df['scooterCt']  * df['BUS_FLAG']
df['dockless_flag_BUS'] = df['dockless_flag'] * df['BUS_FLAG']
df['scooter_flag_BUS']  = df['scooter_flag']  * df['BUS_FLAG']
df['BIKE_SHARE_BUS']  = df['BIKE_SHARE']  * df['BUS_FLAG']


df['PBS_Flag_RAIL']   = df['PBS_Flag']   * df['RAIL_FLAG']
df['dockCt_RAIL']     = df['dockCt']     * df['RAIL_FLAG']
df['docklessCt_RAIL'] = df['docklessCt'] * df['RAIL_FLAG']
df['scooterCt_RAIL']  = df['scooterCt']  * df['RAIL_FLAG']
df['dockless_flag_RAIL'] = df['dockless_flag'] * df['RAIL_FLAG']
df['scooter_flag_RAIL']  = df['scooter_flag']  * df['RAIL_FLAG']
df['BIKE_SHARE_RAIL']  = df['BIKE_SHARE']  * df['RAIL_FLAG']

In [32]:
# immigrant population percentage
df['Tot_NonUSA_POP_pct'] = df['Tot_NonUSA_POP'] / df['Tot_Pop'] * 100

In [33]:
# bike share plus scooters for rail
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# different spec of bike and scooter
df['BIKE_SCOOTER_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] + df['scooter_flag_RAIL']

# merge bike and scooter for bus
df['BIKE_SCOOTER_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] + df['scooter_flag_BUS']

# merge bike and scooter for bus
df['BIKE_SCOOTER_BUS'] = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 

# scooter or bike
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_SHARE_BUS'] + df['scooter_flag_BUS'] 
df['BIKE_OR_SCOOTER_BUS']  = df['BIKE_OR_SCOOTER_BUS'].apply(lambda x : min(x, 1))

df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_SHARE_RAIL'] + df['scooter_flag_RAIL'] 
df['BIKE_OR_SCOOTER_RAIL'] = df['BIKE_OR_SCOOTER_RAIL'].apply(lambda x : min(x, 1))

# calculate average vehicles
df['AVG_VEHS'] = (df['HH_1Veh'] + 2*df['HH_2Veh'] + 3*df['HH_3Veh'] + 4*df['HH_4+Veh']) / (df['HH_0Veh'] + df['HH_1Veh'] + df['HH_2Veh'] + df['HH_3Veh'] + df['HH_4+Veh'])
df['AVG_VEHS_log'] = np.log(1+df['AVG_VEHS'])

In [34]:
# walk bike other commuting
df['JTW_WALK_BIKE_OTHER_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT'] + df['JTW_OTHER_PCT']

# walk bike commuting
df['JTW_WALK_BIKE_PCT'] = df['JTW_WALK_PCT'] + df['JTW_BICYCLE_PCT']

In [35]:
df['VRM_ADJ_BUS'] = df['VRM_ADJ'] * df['BUS_FLAG']
df['VRM_ADJ_RAIL'] = df['VRM_ADJ'] * df['RAIL_FLAG']


#maintenance effect on competing mode
df['MDBF_Mechanical_RAIL']  = df['MDBF_Mechanical'] * df['RAIL_FLAG']
df['MDBF_Mechanical_BUS'] = df['MDBF_Mechanical']  * df['BUS_FLAG']

df['MDBF_Total_RAIL']  = df['MDBF_Total'] * df['RAIL_FLAG']
df['MDBF_Total_BUS'] = df['MDBF_Total']  * df['BUS_FLAG']

In [36]:
# segment TNCs by cluster
df['HI_OPEX']  = np.where(df['CLUSTER_APTA4']==1, 1, 0)
df['MID_OPEX'] = np.where(df['CLUSTER_APTA4']==2, 1, 0)
df['LOW_OPEX'] = np.where(df['CLUSTER_APTA4']==3, 1, 0)
df['NEW_YORK'] = np.where(df['CLUSTER_APTA4']==10, 1, 0)

df['YEARS_SINCE_TNC_BUS_HI']  = df['YEARS_SINCE_TNC_BUS'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS_MID'] = df['YEARS_SINCE_TNC_BUS'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS_LOW'] = df['YEARS_SINCE_TNC_BUS'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_BUS_NY']  = df['YEARS_SINCE_TNC_BUS'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_RAIL_HI']  = df['YEARS_SINCE_TNC_RAIL'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL_MID'] = df['YEARS_SINCE_TNC_RAIL'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL_LOW'] = df['YEARS_SINCE_TNC_RAIL'] * df['LOW_OPEX']
df['YEARS_SINCE_TNC_RAIL_NY']  = df['YEARS_SINCE_TNC_RAIL'] * df['NEW_YORK']

df['YEARS_SINCE_TNC_BUS_HINY']  = df['YEARS_SINCE_TNC_BUS_HI'] + df['YEARS_SINCE_TNC_BUS_NY']
df['YEARS_SINCE_TNC_RAIL_HINY']  = df['YEARS_SINCE_TNC_RAIL_HI'] + df['YEARS_SINCE_TNC_RAIL_NY']

df['YEARS_SINCE_TNC_BUS_MIDLOW']  = df['YEARS_SINCE_TNC_BUS_MID'] + df['YEARS_SINCE_TNC_BUS_LOW']
df['YEARS_SINCE_TNC_RAIL_MIDLOW']  = df['YEARS_SINCE_TNC_RAIL_MID'] + df['YEARS_SINCE_TNC_RAIL_LOW']

In [37]:
# bikes and scooters by segment

df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']
df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']

df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']
df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']


df['BIKE_SHARE_HINY']  = df['BIKE_SHARE_HI'] + df['BIKE_SHARE_NY']
df['BIKE_SHARE_MIDLOW']  = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_HINY']  = df['scooter_flag_HI'] + df['scooter_flag_NY']
df['scooter_flag_MIDLOW']  = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [38]:
# tnc_rev=pd.read_csv('tnc_revenue.csv',encoding='utf-8')
# tnc_rev.head()

In [39]:
# tnc_rev.drop(columns=['Unnamed: 0'],inplace=True)

In [40]:
# df=pd.merge(df,tnc_rev,on=['CBSA',
#  'MNAME',
#  'Mode',
#  'Year',
#  'TNC_FLAG',
#  'YEARS_SINCE_TNC'],how='left')
# df.head()

In [41]:
# df['UBER_NET_REVENUE']=df['UBER_NET_REVENUE'].fillna(0)
# df['UBER_REV_SCALED']=df['UBER_REV_SCALED'].fillna(0)
# df.head(20)

In [42]:
# df['UBER_REV_SCALED_BUS'] = df['UBER_REV_SCALED'] * df['BUS_FLAG']
# df['UBER_REV_SCALED_RAIL'] = df['UBER_REV_SCALED'] * df['RAIL_FLAG']

# df['UBER_REV_SCALED_BUS_HI']  = df['UBER_REV_SCALED_BUS'] * df['HI_OPEX']
# df['UBER_REV_SCALED_BUS_MID'] = df['UBER_REV_SCALED_BUS'] * df['MID_OPEX']
# df['UBER_REV_SCALED_BUS_LOW'] = df['UBER_REV_SCALED_BUS'] * df['LOW_OPEX']
# df['UBER_REV_SCALED_BUS_NY']  = df['UBER_REV_SCALED_BUS'] * df['NEW_YORK']

# df['UBER_REV_SCALED_RAIL_HI']  = df['UBER_REV_SCALED_RAIL'] * df['HI_OPEX']
# df['UBER_REV_SCALED_RAIL_MID'] = df['UBER_REV_SCALED_RAIL'] * df['MID_OPEX']
# df['UBER_REV_SCALED_RAIL_LOW'] = df['UBER_REV_SCALED_RAIL'] * df['LOW_OPEX']
# df['UBER_REV_SCALED_RAIL_NY']  = df['UBER_REV_SCALED_RAIL'] * df['NEW_YORK']

# df['UBER_REV_SCALED_BUS_HINY']  = df['UBER_REV_SCALED_BUS_HI'] + df['UBER_REV_SCALED_BUS_NY']
# df['UBER_REV_SCALED_RAIL_HINY']  = df['UBER_REV_SCALED_RAIL_HI'] + df['UBER_REV_SCALED_RAIL_NY']

# df['UBER_REV_SCALED_BUS_MIDLOW']  = df['UBER_REV_SCALED_BUS_MID'] + df['UBER_REV_SCALED_BUS_LOW']
# df['UBER_REV_SCALED_RAIL_MIDLOW']  = df['UBER_REV_SCALED_RAIL_MID'] + df['UBER_REV_SCALED_RAIL_LOW']

In [43]:
# df['UBER_NET_REVENUE_BUS'] = df['UBER_NET_REVENUE'] * df['BUS_FLAG']
# df['UBER_NET_REVENUE_RAIL'] = df['UBER_NET_REVENUE'] * df['RAIL_FLAG']

# df['UBER_NET_REVENUE_BUS_HI']  = df['UBER_NET_REVENUE_BUS'] * df['HI_OPEX']
# df['UBER_NET_REVENUE_BUS_MID'] = df['UBER_NET_REVENUE_BUS'] * df['MID_OPEX']
# df['UBER_NET_REVENUE_BUS_LOW'] = df['UBER_NET_REVENUE_BUS'] * df['LOW_OPEX']
# df['UBER_NET_REVENUE_BUS_NY']  = df['UBER_NET_REVENUE_BUS'] * df['NEW_YORK']

# df['UBER_NET_REVENUE_RAIL_HI']  = df['UBER_NET_REVENUE_RAIL'] * df['HI_OPEX']
# df['UBER_NET_REVENUE_RAIL_MID'] = df['UBER_NET_REVENUE_RAIL'] * df['MID_OPEX']
# df['UBER_NET_REVENUE_RAIL_LOW'] = df['UBER_NET_REVENUE_RAIL'] * df['LOW_OPEX']
# df['UBER_NET_REVENUE_RAIL_NY']  = df['UBER_NET_REVENUE_RAIL'] * df['NEW_YORK']

# df['UBER_NET_REVENUE_BUS_HINY']  = df['UBER_NET_REVENUE_BUS_HI'] + df['UBER_NET_REVENUE_BUS_NY']
# df['UBER_NET_REVENUE_RAIL_HINY']  = df['UBER_NET_REVENUE_RAIL_HI'] + df['UBER_NET_REVENUE_RAIL_NY']

# df['UBER_NET_REVENUE_BUS_MIDLOW']  = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_LOW']
# df['UBER_NET_REVENUE_RAIL_MIDLOW']  = df['UBER_NET_REVENUE_RAIL_MID'] + df['UBER_NET_REVENUE_RAIL_LOW']

In [44]:
#columns=['TNC_REVENUE','TNC_TRIPS','TNC_BOOKINGS']
columns=['TNC_TRIPS_PER_CAPITA_CLUSTER']
dummy=['HI_OPEX','MID_OPEX','LOW_OPEX','NEW_YORK']

for col in columns:
    df[col+'_BUS']=df[col]*df['BUS_FLAG']
    df[col+'_RAIL']=df[col]*df['RAIL_FLAG']
    
    for name in dummy:
        df[col+'_BUS_'+name]  = df[col]*df['BUS_FLAG'] * df[name]
        df[col+'_RAIL_'+name]  = df[col]*df['RAIL_FLAG'] * df[name]
#         df[col+'_BUS_MID'] = df['UBER_NET_REVENUE_BUS'] * df['MID_OPEX']
#         df[col+'_BUS_LOW'] = df['UBER_NET_REVENUE_BUS'] * df['LOW_OPEX']
#         df[col+'_BUS_NY']  = df['UBER_NET_REVENUE_BUS'] * df['NEW_YORK']

#         df['TNC_REVENUE_RAIL_HI']  = df['UBER_NET_REVENUE_RAIL'] * df['HI_OPEX']
#         df['TNC_REVENUE_RAIL_MID'] = df['UBER_NET_REVENUE_RAIL'] * df['MID_OPEX']
#         df['TNC_REVENUE_RAIL_LOW'] = df['UBER_NET_REVENUE_RAIL'] * df['LOW_OPEX']
#         df['TNC_REVENUE_RAIL_NY']  = df['UBER_NET_REVENUE_RAIL'] * df['NEW_YORK']

    df[col+'_BUS_HINY']  = df[col+'_BUS_HI_OPEX'] + df[col+'_BUS_NEW_YORK']
    df[col+'_BUS_MIDLOW']  = df[col+'_BUS_MID_OPEX'] + df[col+'_BUS_LOW_OPEX']
    df[col+'_BUS_HINY']  = df[col+'_BUS_HI_OPEX'] + df[col+'_BUS_NEW_YORK']
    
    df[col+'_RAIL_HINY']  = df[col+'_RAIL_HI_OPEX'] + df[col+'_RAIL_NEW_YORK']
    df[col+'_RAIL_MIDLOW']  = df[col+'_RAIL_MID_OPEX'] + df[col+'_RAIL_LOW_OPEX']
    df[col+'_RAIL_HINY']  = df[col+'_RAIL_HI_OPEX'] + df[col+'_RAIL_NEW_YORK']

# df['TNC_REVENUE_BUS_HINY']  = df['TNC_REVENUE_BUS_HI'] + df['TNC_REVENUE_BUS_NY']
# df['TNC_REVENUE_RAIL_HINY']  = df['TNC_REVENUE_RAIL_HI'] + df['UBER_NET_REVENUE_RAIL_NY']

# df['TNC_REVENUE_BUS_MIDLOW']  = df['UBER_NET_REVENUE_BUS_MID'] + df['UBER_NET_REVENUE_BUS_LOW']
# df['TNC_REVENUE_RAIL_MIDLOW']  = df['UBER_NET_REVENUE_RAIL_MID'] + df['UBER_NET_REVENUE_RAIL_LOW']

In [45]:
# set the indices
df['ID'] = df['MNAME'] + '-' + df['Mode']
df=df.set_index(['ID','Year'])

In [46]:
# get the ridership in the year 2012 
ids = df.index.get_level_values(0).unique()

for id in ids: 
    years = df.loc[id].index.get_level_values(0).sort_values()
    for year in years: 
        df.loc[(id,year),'UPT_ADJ_2012']   = df.loc[(id,2012),'UPT_ADJ']

In [47]:
# calculate TNC trips per UPT
df['TNC_TRIPS_TOTAL'] = df['TNC_TRIPS_PER_CAPITA_CLUSTER'] * df['Tot_Pop']
df['TNC_TRIPS_PER_UPT_2012'] = df['TNC_TRIPS_TOTAL'] / df['UPT_ADJ_2012']

df['TNC_TRIPS_PER_UPT_2012_BUS'] = df['TNC_TRIPS_PER_UPT_2012'] * df['BUS_FLAG']
df['TNC_TRIPS_PER_UPT_2012_RAIL'] = df['TNC_TRIPS_PER_UPT_2012'] * df['RAIL_FLAG']

df['TNC_TRIPS_PER_UPT_2012_BUS_NY'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['NEW_YORK']
df['TNC_TRIPS_PER_UPT_2012_BUS_HI'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['HI_OPEX']
df['TNC_TRIPS_PER_UPT_2012_BUS_MID'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['MID_OPEX']
df['TNC_TRIPS_PER_UPT_2012_BUS_LOW'] = df['TNC_TRIPS_PER_UPT_2012_BUS'] * df['LOW_OPEX']

df['TNC_TRIPS_PER_UPT_2012_RAIL_NY'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['NEW_YORK']
df['TNC_TRIPS_PER_UPT_2012_RAIL_HI'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['HI_OPEX']
df['TNC_TRIPS_PER_UPT_2012_RAIL_MID'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['MID_OPEX']
df['TNC_TRIPS_PER_UPT_2012_RAIL_LOW'] = df['TNC_TRIPS_PER_UPT_2012_RAIL'] * df['LOW_OPEX']

In [48]:
# keep only the numeric columns -- the estimation will give an error otherwise
df = df.select_dtypes(include=[np.number])

In [49]:
# create a log of all fields
for col in df.columns:
    df[col+'_log'] = np.log(df[col]+1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:679: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [50]:
# Test TNC ramp up

df['YEARS_SINCE_TNC_BUS_2'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_BUS_3'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_BUS_4'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_BUS_5'] = df['YEARS_SINCE_TNC_BUS'].apply(lambda x : min(x, 5))

df['YEARS_SINCE_TNC_RAIL_2'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 2))
df['YEARS_SINCE_TNC_RAIL_3'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 3))
df['YEARS_SINCE_TNC_RAIL_4'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 4))
df['YEARS_SINCE_TNC_RAIL_5'] = df['YEARS_SINCE_TNC_RAIL'].apply(lambda x : min(x, 5))

In [51]:
# count the first year of TNC presence
df['YEARS_SINCE_TNC_BUS2'] = df['YEARS_SINCE_TNC_BUS'] + df['TNC_FLAG_BUS']
df['YEARS_SINCE_TNC_RAIL2'] = df['YEARS_SINCE_TNC_RAIL'] + df['TNC_FLAG_RAIL']

In [52]:
## start in first year TNCs show up

df['YEARS_SINCE_TNC_BUS2_NY']  = df['YEARS_SINCE_TNC_BUS2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_BUS2_HI']  = df['YEARS_SINCE_TNC_BUS2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_BUS2_MID'] = df['YEARS_SINCE_TNC_BUS2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_BUS2_LOW'] = df['YEARS_SINCE_TNC_BUS2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_BUS2_HINY']   = df['YEARS_SINCE_TNC_BUS2_NY'] + df['YEARS_SINCE_TNC_BUS2_HI']
df['YEARS_SINCE_TNC_BUS2_MIDLOW'] = df['YEARS_SINCE_TNC_BUS2_MID'] + df['YEARS_SINCE_TNC_BUS2_LOW']

df['YEARS_SINCE_TNC_RAIL2_NY']  = df['YEARS_SINCE_TNC_RAIL2'] * df['NEW_YORK']
df['YEARS_SINCE_TNC_RAIL2_HI']  = df['YEARS_SINCE_TNC_RAIL2'] * df['HI_OPEX']
df['YEARS_SINCE_TNC_RAIL2_MID'] = df['YEARS_SINCE_TNC_RAIL2'] * df['MID_OPEX']
df['YEARS_SINCE_TNC_RAIL2_LOW'] = df['YEARS_SINCE_TNC_RAIL2'] * df['LOW_OPEX']

df['YEARS_SINCE_TNC_RAIL2_HINY']   = df['YEARS_SINCE_TNC_RAIL2_NY'] + df['YEARS_SINCE_TNC_RAIL2_HI']
df['YEARS_SINCE_TNC_RAIL2_MIDLOW'] = df['YEARS_SINCE_TNC_RAIL2_MID'] + df['YEARS_SINCE_TNC_RAIL2_LOW']

In [53]:
## BIKE SHARE SEGMENTATION

df['BIKE_SHARE_NY']  = df['BIKE_SHARE'] * df['NEW_YORK']
df['BIKE_SHARE_HI']  = df['BIKE_SHARE'] * df['HI_OPEX']
df['BIKE_SHARE_MID'] = df['BIKE_SHARE'] * df['MID_OPEX']
df['BIKE_SHARE_LOW'] = df['BIKE_SHARE'] * df['LOW_OPEX']

df['BIKE_SHARE_HINY']   = df['BIKE_SHARE_NY'] + df['BIKE_SHARE_HI']
df['BIKE_SHARE_MIDLOW'] = df['BIKE_SHARE_MID'] + df['BIKE_SHARE_LOW']

df['scooter_flag_NY']  = df['scooter_flag'] * df['NEW_YORK']
df['scooter_flag_HI']  = df['scooter_flag'] * df['HI_OPEX']
df['scooter_flag_MID'] = df['scooter_flag'] * df['MID_OPEX']
df['scooter_flag_LOW'] = df['scooter_flag'] * df['LOW_OPEX']

df['scooter_flag_HINY']   = df['scooter_flag_NY'] + df['scooter_flag_HI']
df['scooter_flag_MIDLOW'] = df['scooter_flag_MID'] + df['scooter_flag_LOW']

In [54]:
df['TSD_POP_EMP']=df['TOTAL_JOBS_WA_TSD_TRACTS']+df['TOTAL_JOBS_RA_TSD_TRACTS']
df['TSD_POP_EMP_TOTAL']=df['TOTAL_JOBS_WA_TRACTS']+df['TOTAL_JOBS_RA_TRACTS']
df['TSD_POP_EMP_PCT']=df['TSD_POP_EMP']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_UNDER_1250']=df['JOBS_LESS_THAN_1250_WA_TSD_TRACTS']+df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']
df['TSD_POP_EMP_WAGE_UNDER_1250_PCT']=df['TSD_POP_EMP_WAGE_UNDER_1250']/df['TSD_POP_EMP_TOTAL']
df['TSD_POP_EMP_WAGE_UNDER_3333']=df['JOBS_LESS_THAN_3333_WA_TSD_TRACTS']+df['TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS']
df['TSD_POP_EMP_WAGE_UNDER_3333_PCT']=df['TSD_POP_EMP_WAGE_UNDER_3333']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_OVER_1250']=df['TSD_POP_EMP_TOTAL']-df['TSD_POP_EMP_WAGE_UNDER_1250']
df['TSD_POP_EMP_WAGE_OVER_1250_PCT']=df['TSD_POP_EMP_WAGE_OVER_1250']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_EMP_WAGE_OVER_3333']=df['TSD_POP_EMP_TOTAL']-df['TSD_POP_EMP_WAGE_UNDER_3333']
df['TSD_POP_EMP_WAGE_OVER_3333_PCT']=df['TSD_POP_EMP_WAGE_OVER_3333']/df['TSD_POP_EMP_TOTAL']

df['TSD_POP_WAGE_OVER_1250']=df['TOTAL_JOBS_RA_TRACTS']-df['TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS']
df['TSD_POP_WAGE_OVER_1250_PCT']=100*df['TSD_POP_WAGE_OVER_1250']/df['TOTAL_JOBS_RA_TRACTS']

In [55]:
df['FAV_EXT'] = 0
df['FAV_EXT'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 1, 1, df['FAV_EXT'])
df['FAV_EXT'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 2, 1, df['FAV_EXT'])
df['UNFAV_EXT'] = 1 - df['FAV_EXT']

df['STRONG_COMP'] = 0
df['STRONG_COMP'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 1, 1, df['STRONG_COMP'])
df['STRONG_COMP'] = np.where(df['CLUSTER_APTA_EXTENDED'] % 10 == 3, 1, df['STRONG_COMP'])
                            
df['WEAK_COMP'] = 1 - df['STRONG_COMP']

In [56]:
# update fares to cleaned version
df['FARE_per_UPT_cleaned_2018'] = df['FARE_per_UPT_cleaned'] * df['2018_Dollar_Multiplier']
df['FARE_per_UPT_cleaned_2018_log'] = np.log(1+df['FARE_per_UPT_cleaned_2018'])

In [57]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'FARE_per_UPT_cleaned',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'PROBLEM_FLAG3',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOTAL_JOBS_WA_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TRACTS',
 'JOBS_1250_3333_WA_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TRACTS',
 'JOBS_WHITE_ALONE_WA_TRACTS',
 'JOBS_BLACK_ALONE_WA_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TRACTS',
 'JOBS_NON_WHITE_WA_TRACTS',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS',
 'TOTAL_JOBS_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS',
 'JOBS_1250_3333_WA_TSD_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS',
 'JOBS_NON_WHITE_WA_TSD_TRACTS',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_WA_EMP_PCT_LEHD',
 'TSD_WA_EMP_PCT_CBSA',
 'JOBS_LESS_THAN_3333_WA_TRACTS',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS',
 'TSD_WA_EMP_WAGE_UNDER_1250',
 'TSD_WA_EMP_WAGE_BETN_1250_3333',
 'TSD_WA_EMP_WAGE_UNDER_3333',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'TNC_CLUSTER',
 'TOT_POP_CLUSTER',
 'TOTAL_YEARLY_POPULATION',
 'POP_SHARE',
 'TOTAL_TRIPS_PER_CAPITA',
 'TNC_TRIPS_SCALED',
 'TOTAL_TNC_TRIPS_PER_CLUSTER',
 'TRIPS_SCALED',
 'Scale_2',
 'TNC_TRIPS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'LOW_OPEX',
 'RAIL_FLAG',
 'LOW_OPEX_RAIL',
 'YearDiff',
 'YEAR2',
 'FIRST_YEAR',
 'BUS_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_TNC_2012',
 'YEARS_SINCE_TNC_2012_BUS',
 'YEARS_SINCE_TNC_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW',
 'UPT_ADJ_2012',
 'TNC_TRIPS_TOTAL',
 'TNC_TRIPS_PER_UPT_2012',
 'TNC_TRIPS_PER_UPT_2012_BUS',
 'TNC_TRIPS_PER_UPT_2012_RAIL',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'FARE_per_UPT_cleaned_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'PROBLEM_FLAG3_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOTAL_JOBS_WA_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TRACTS_log',
 'JOBS_1250_3333_WA_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TRACTS_log',
 'JOBS_NON_WHITE_WA_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS_log',
 'TOTAL_JOBS_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS_log',
 'JOBS_1250_3333_WA_TSD_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS_log',
 'JOBS_NON_WHITE_WA_TSD_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_WA_EMP_PCT_LEHD_log',
 'TSD_WA_EMP_PCT_CBSA_log',
 'JOBS_LESS_THAN_3333_WA_TRACTS_log',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'TNC_CLUSTER_log',
 'TOT_POP_CLUSTER_log',
 'TOTAL_YEARLY_POPULATION_log',
 'POP_SHARE_log',
 'TOTAL_TRIPS_PER_CAPITA_log',
 'TNC_TRIPS_SCALED_log',
 'TOTAL_TNC_TRIPS_PER_CLUSTER_log',
 'TRIPS_SCALED_log',
 'Scale_2_log',
 'TNC_TRIPS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'LOW_OPEX_log',
 'RAIL_FLAG_log',
 'LOW_OPEX_RAIL_log',
 'YearDiff_log',
 'YEAR2_log',
 'FIRST_YEAR_log',
 'BUS_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_TNC_2012_log',
 'YEARS_SINCE_TNC_2012_BUS_log',
 'YEARS_SINCE_TNC_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW_log',
 'UPT_ADJ_2012_log',
 'TNC_TRIPS_TOTAL_log',
 'TNC_TRIPS_PER_UPT_2012_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'TSD_POP_EMP',
 'TSD_POP_EMP_TOTAL',
 'TSD_POP_EMP_PCT',
 'TSD_POP_EMP_WAGE_UNDER_1250',
 'TSD_POP_EMP_WAGE_UNDER_1250_PCT',
 'TSD_POP_EMP_WAGE_UNDER_3333',
 'TSD_POP_EMP_WAGE_UNDER_3333_PCT',
 'TSD_POP_EMP_WAGE_OVER_1250',
 'TSD_POP_EMP_WAGE_OVER_1250_PCT',
 'TSD_POP_EMP_WAGE_OVER_3333',
 'TSD_POP_EMP_WAGE_OVER_3333_PCT',
 'TSD_POP_WAGE_OVER_1250',
 'TSD_POP_WAGE_OVER_1250_PCT',
 'FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP',
 'FARE_per_UPT_cleaned_2018',
 'FARE_per_UPT_cleaned_2018_log']

In [58]:
columns=[ 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW', 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW']
dummy=['FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP']

for col in columns:
    for name in dummy:
        df[col+'_'+name]  = df[col] * df[name]

In [59]:
list(df)

['CBSA',
 'UPT_ADJ',
 'VRM_ADJ',
 'FARE_ADJ',
 'FARE_per_UPT_cleaned',
 'min_year',
 'max_year',
 'FARE_per_UPT',
 'PROBLEM_FLAG',
 'PROBLEM_FLAG2',
 'PROBLEM_FLAG3',
 'Tot_Pop',
 'Tot_Instate_Pop',
 'Tot_Outstate_Pop',
 'Tot_NonUSA_POP',
 'Total_Median_Income_Individual',
 'Native_Instate_Med_Inc_Indiv',
 'Native_Outstate_Med_Inc_Indiv',
 'Total_Pop_Poverty',
 'Pop_Below100_Poverty',
 'Pop_Below150_Poverty',
 'Pop_Above150_Poverty',
 'Age_under18',
 'Age_18to64',
 'Age_over64',
 'Total_HH',
 'HH_0Veh',
 'HH_1Veh',
 'HH_2Veh',
 'HH_3Veh',
 'HH_4+Veh',
 'PCT_HH_NO_VEH',
 'HH_MED_INC',
 'HH_MEAN_INC',
 'INC_U35',
 'INC_35_100',
 'INC_100P',
 'TOT_UNEMP_MSA',
 'TOT_EMP_MSA',
 'TOT_LABOR_MSA',
 'UNEMP_RATE_PCT',
 'EMP_RATE_PCT',
 'GasPrice',
 'Area_acre',
 'POP_CENSUSTRACT',
 'AVG_SPEED',
 '2018_Dollar_Multiplier',
 'TNC_ARRIVAL',
 'TNC_FLAG',
 'YEARS_SINCE_TNC',
 'FARE_ADJ_2018',
 'TOTAL_MED_INC_INDIV_2018',
 'NATIVE_INSTATE_MED_INC_2018',
 'NATIVE_OUTSTATE_MED_INC_2018',
 'HH_MED_INC_2018',
 'HH_MEAN_INC_2018',
 'GAS_PRICE_2018',
 'dockCt',
 'docklessCt',
 'scooterCt',
 'PBS_Start',
 'PBS_End',
 'PBS_Flag',
 'walkscore',
 'transit',
 'bike',
 'CLUSTER_GT_NEW_11',
 'CLUSTER_GT_ORIGINAL',
 'CLUSTER_APTA',
 'JTW_DA_PCT',
 'JTW_CARPOOLED_PCT',
 'JTW_TRANSIT_PCT',
 'JTW_WALK_PCT',
 'JTW_BICYCLE_PCT',
 'JTW_OTHER_PCT',
 'JTW_HOME_PCT',
 'FARE_per_UPT_2018',
 'WEIGHTED_POP_DENSITY',
 'CLUSTER_APTA_EXTENDED',
 'CBSA Code',
 'TOTAL_JOBS_WA_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TRACTS',
 'JOBS_1250_3333_WA_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TRACTS',
 'JOBS_WHITE_ALONE_WA_TRACTS',
 'JOBS_BLACK_ALONE_WA_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TRACTS',
 'JOBS_NON_WHITE_WA_TRACTS',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS',
 'TOTAL_JOBS_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS',
 'JOBS_1250_3333_WA_TSD_TRACTS',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS',
 'JOBS_NON_WHITE_WA_TSD_TRACTS',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS',
 'TOTAL_JOBS_RA_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS',
 'AREA_ACRE',
 'TOTAL_JOBS_RA_TSD_TRACTS',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS',
 'TSD_WA_EMP_PCT_LEHD',
 'TSD_WA_EMP_PCT_CBSA',
 'JOBS_LESS_THAN_3333_WA_TRACTS',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS',
 'TSD_WA_EMP_WAGE_UNDER_1250',
 'TSD_WA_EMP_WAGE_BETN_1250_3333',
 'TSD_WA_EMP_WAGE_UNDER_3333',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD',
 'TSD_POP_PCT_LEHD',
 'TSD_POP_PCT_CBSA',
 'TSD_POP_WAGE_UNDER_1250',
 'TSD_POP_WAGE_BETN_1250_3333',
 'TSD_POP_WAGE_UNDER_3333',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD',
 'TNC_CLUSTER',
 'TOT_POP_CLUSTER',
 'TOTAL_YEARLY_POPULATION',
 'POP_SHARE',
 'TOTAL_TRIPS_PER_CAPITA',
 'TNC_TRIPS_SCALED',
 'TOTAL_TNC_TRIPS_PER_CLUSTER',
 'TRIPS_SCALED',
 'Scale_2',
 'TNC_TRIPS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER',
 'MAINTENANCE',
 'MAINTENANCE_NYC',
 'MAINTENANCE_WMATA',
 'RESTRUCTURE',
 'Mechanical_Failures',
 'Other_Failures',
 'Total_Failures',
 'MDBF_Mechanical',
 'MDBF_Total',
 'PBS_Flag_Update',
 'CLUSTER_APTA4',
 'LOW_OPEX',
 'RAIL_FLAG',
 'LOW_OPEX_RAIL',
 'YearDiff',
 'YEAR2',
 'FIRST_YEAR',
 'BUS_FLAG',
 'POP_EMP',
 'HH_EMP',
 'Tot_NonUSA_POP_pct',
 'YEARS_SINCE_2002',
 'YEARS_2002_2010',
 'YEARS_AFTER_2010',
 'YEARS_2002_2014',
 'YEARS_AFTER_2014',
 'YEARS_SINCE_2002_BUS',
 'YEARS_SINCE_2002_RAIL',
 'YEARS_2002_2010_BUS',
 'YEARS_AFTER_2010_BUS',
 'YEARS_2002_2010_RAIL',
 'YEARS_AFTER_2010_RAIL',
 'YEARS_2002_2014_BUS',
 'YEARS_AFTER_2014_BUS',
 'YEARS_2002_2014_RAIL',
 'YEARS_AFTER_2014_RAIL',
 'YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012',
 'TNC_YEARS_AFTER_2012_BUS',
 'TNC_YEARS_AFTER_2012_RAIL',
 'YEARS_SINCE_TNC_2012',
 'YEARS_SINCE_TNC_2012_BUS',
 'YEARS_SINCE_TNC_2012_RAIL',
 'YEARS_SINCE_RAIL_START',
 'YEARS_SINCE_RAIL_START_1',
 'YEARS_SINCE_RAIL_START_2',
 'YEARS_SINCE_RAIL_START_3',
 'TNC_FLAG_BUS',
 'TNC_FLAG_RAIL',
 'YEARS_SINCE_TNC_BUS',
 'YEARS_SINCE_TNC_RAIL',
 'dockless_flag',
 'scooter_flag',
 'BIKE_SHARE',
 'PBS_Flag_BUS',
 'dockCt_BUS',
 'docklessCt_BUS',
 'scooterCt_BUS',
 'dockless_flag_BUS',
 'scooter_flag_BUS',
 'BIKE_SHARE_BUS',
 'PBS_Flag_RAIL',
 'dockCt_RAIL',
 'docklessCt_RAIL',
 'scooterCt_RAIL',
 'dockless_flag_RAIL',
 'scooter_flag_RAIL',
 'BIKE_SHARE_RAIL',
 'BIKE_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_RAIL',
 'BIKE_SCOOTER_SCOOTER_BUS',
 'BIKE_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_BUS',
 'BIKE_OR_SCOOTER_RAIL',
 'AVG_VEHS',
 'AVG_VEHS_log',
 'JTW_WALK_BIKE_OTHER_PCT',
 'JTW_WALK_BIKE_PCT',
 'VRM_ADJ_BUS',
 'VRM_ADJ_RAIL',
 'MDBF_Mechanical_RAIL',
 'MDBF_Mechanical_BUS',
 'MDBF_Total_RAIL',
 'MDBF_Total_BUS',
 'HI_OPEX',
 'MID_OPEX',
 'NEW_YORK',
 'YEARS_SINCE_TNC_BUS_HI',
 'YEARS_SINCE_TNC_BUS_MID',
 'YEARS_SINCE_TNC_BUS_LOW',
 'YEARS_SINCE_TNC_BUS_NY',
 'YEARS_SINCE_TNC_RAIL_HI',
 'YEARS_SINCE_TNC_RAIL_MID',
 'YEARS_SINCE_TNC_RAIL_LOW',
 'YEARS_SINCE_TNC_RAIL_NY',
 'YEARS_SINCE_TNC_BUS_HINY',
 'YEARS_SINCE_TNC_RAIL_HINY',
 'YEARS_SINCE_TNC_BUS_MIDLOW',
 'YEARS_SINCE_TNC_RAIL_MIDLOW',
 'BIKE_SHARE_HI',
 'BIKE_SHARE_MID',
 'BIKE_SHARE_LOW',
 'BIKE_SHARE_NY',
 'scooter_flag_HI',
 'scooter_flag_MID',
 'scooter_flag_LOW',
 'scooter_flag_NY',
 'BIKE_SHARE_HINY',
 'BIKE_SHARE_MIDLOW',
 'scooter_flag_HINY',
 'scooter_flag_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW',
 'UPT_ADJ_2012',
 'TNC_TRIPS_TOTAL',
 'TNC_TRIPS_PER_UPT_2012',
 'TNC_TRIPS_PER_UPT_2012_BUS',
 'TNC_TRIPS_PER_UPT_2012_RAIL',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW',
 'CBSA_log',
 'UPT_ADJ_log',
 'VRM_ADJ_log',
 'FARE_ADJ_log',
 'FARE_per_UPT_cleaned_log',
 'min_year_log',
 'max_year_log',
 'FARE_per_UPT_log',
 'PROBLEM_FLAG_log',
 'PROBLEM_FLAG2_log',
 'PROBLEM_FLAG3_log',
 'Tot_Pop_log',
 'Tot_Instate_Pop_log',
 'Tot_Outstate_Pop_log',
 'Tot_NonUSA_POP_log',
 'Total_Median_Income_Individual_log',
 'Native_Instate_Med_Inc_Indiv_log',
 'Native_Outstate_Med_Inc_Indiv_log',
 'Total_Pop_Poverty_log',
 'Pop_Below100_Poverty_log',
 'Pop_Below150_Poverty_log',
 'Pop_Above150_Poverty_log',
 'Age_under18_log',
 'Age_18to64_log',
 'Age_over64_log',
 'Total_HH_log',
 'HH_0Veh_log',
 'HH_1Veh_log',
 'HH_2Veh_log',
 'HH_3Veh_log',
 'HH_4+Veh_log',
 'PCT_HH_NO_VEH_log',
 'HH_MED_INC_log',
 'HH_MEAN_INC_log',
 'INC_U35_log',
 'INC_35_100_log',
 'INC_100P_log',
 'TOT_UNEMP_MSA_log',
 'TOT_EMP_MSA_log',
 'TOT_LABOR_MSA_log',
 'UNEMP_RATE_PCT_log',
 'EMP_RATE_PCT_log',
 'GasPrice_log',
 'Area_acre_log',
 'POP_CENSUSTRACT_log',
 'AVG_SPEED_log',
 '2018_Dollar_Multiplier_log',
 'TNC_ARRIVAL_log',
 'TNC_FLAG_log',
 'YEARS_SINCE_TNC_log',
 'FARE_ADJ_2018_log',
 'TOTAL_MED_INC_INDIV_2018_log',
 'NATIVE_INSTATE_MED_INC_2018_log',
 'NATIVE_OUTSTATE_MED_INC_2018_log',
 'HH_MED_INC_2018_log',
 'HH_MEAN_INC_2018_log',
 'GAS_PRICE_2018_log',
 'dockCt_log',
 'docklessCt_log',
 'scooterCt_log',
 'PBS_Start_log',
 'PBS_End_log',
 'PBS_Flag_log',
 'walkscore_log',
 'transit_log',
 'bike_log',
 'CLUSTER_GT_NEW_11_log',
 'CLUSTER_GT_ORIGINAL_log',
 'CLUSTER_APTA_log',
 'JTW_DA_PCT_log',
 'JTW_CARPOOLED_PCT_log',
 'JTW_TRANSIT_PCT_log',
 'JTW_WALK_PCT_log',
 'JTW_BICYCLE_PCT_log',
 'JTW_OTHER_PCT_log',
 'JTW_HOME_PCT_log',
 'FARE_per_UPT_2018_log',
 'WEIGHTED_POP_DENSITY_log',
 'CLUSTER_APTA_EXTENDED_log',
 'CBSA Code_log',
 'TOTAL_JOBS_WA_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TRACTS_log',
 'JOBS_1250_3333_WA_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TRACTS_log',
 'JOBS_NON_WHITE_WA_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHOOL_WA_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TRACTS_log',
 'TOTAL_JOBS_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_1250_WA_TSD_TRACTS_log',
 'JOBS_1250_3333_WA_TSD_TRACTS_log',
 'JOBS_MORE_THAN_3333_WA_TSD_TRACTS_log',
 'JOBS_WHITE_ALONE_WA_TSD_TRACTS_log',
 'JOBS_BLACK_ALONE_WA_TSD_TRACTS_log',
 'JOBS_HISPANIC_LATINO_WA_TSD_TRACTS_log',
 'JOBS_LESS_THAN_40K_WA_TSD_TRACTS_log',
 'JOBS_NON_WHITE_WA_TSD_TRACTS_log',
 'JOBS_UPTO_HIGH_SCHHOL_WA_TSD_TRACTS_log',
 'JOBS_COLLEGE_OR_HIGHER_WA_TSD_TRACTS_log',
 'TOTAL_JOBS_RA_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TRACTS_log',
 'AREA_ACRE_log',
 'TOTAL_JOBS_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_WHITE_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BLACK_ALONE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_HISPANIC_LATINO_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_1250_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_BETN_1250_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_OVER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UNDER_3333_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_NON_WHITE_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_UPTO_HIGH_SCHHOL_RA_TSD_TRACTS_log',
 'TOTAL_JOBS_COLLEGE_OR_HIGHER_RA_TSD_TRACTS_log',
 'TSD_WA_EMP_PCT_LEHD_log',
 'TSD_WA_EMP_PCT_CBSA_log',
 'JOBS_LESS_THAN_3333_WA_TRACTS_log',
 'JOBS_LESS_THAN_3333_WA_TSD_TRACTS_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_WA_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_WA_log',
 'TSD_WA_EMP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_WA_EMP_WAGE_UNDER_3333_PCT_TSD_log',
 'TSD_POP_PCT_LEHD_log',
 'TSD_POP_PCT_CBSA_log',
 'TSD_POP_WAGE_UNDER_1250_log',
 'TSD_POP_WAGE_BETN_1250_3333_log',
 'TSD_POP_WAGE_UNDER_3333_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_RA_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_RA_log',
 'TSD_POP_WAGE_UNDER_1250_PCT_TSD_log',
 'TSD_POP_WAGE_BETN_1250_3333_PCT_TSD_log',
 'TSD_POP_WAGE_UNDER_3333_PCT_TSD_log',
 'TNC_CLUSTER_log',
 'TOT_POP_CLUSTER_log',
 'TOTAL_YEARLY_POPULATION_log',
 'POP_SHARE_log',
 'TOTAL_TRIPS_PER_CAPITA_log',
 'TNC_TRIPS_SCALED_log',
 'TOTAL_TNC_TRIPS_PER_CLUSTER_log',
 'TRIPS_SCALED_log',
 'Scale_2_log',
 'TNC_TRIPS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_log',
 'MAINTENANCE_log',
 'MAINTENANCE_NYC_log',
 'MAINTENANCE_WMATA_log',
 'RESTRUCTURE_log',
 'Mechanical_Failures_log',
 'Other_Failures_log',
 'Total_Failures_log',
 'MDBF_Mechanical_log',
 'MDBF_Total_log',
 'PBS_Flag_Update_log',
 'CLUSTER_APTA4_log',
 'LOW_OPEX_log',
 'RAIL_FLAG_log',
 'LOW_OPEX_RAIL_log',
 'YearDiff_log',
 'YEAR2_log',
 'FIRST_YEAR_log',
 'BUS_FLAG_log',
 'POP_EMP_log',
 'HH_EMP_log',
 'Tot_NonUSA_POP_pct_log',
 'YEARS_SINCE_2002_log',
 'YEARS_2002_2010_log',
 'YEARS_AFTER_2010_log',
 'YEARS_2002_2014_log',
 'YEARS_AFTER_2014_log',
 'YEARS_SINCE_2002_BUS_log',
 'YEARS_SINCE_2002_RAIL_log',
 'YEARS_2002_2010_BUS_log',
 'YEARS_AFTER_2010_BUS_log',
 'YEARS_2002_2010_RAIL_log',
 'YEARS_AFTER_2010_RAIL_log',
 'YEARS_2002_2014_BUS_log',
 'YEARS_AFTER_2014_BUS_log',
 'YEARS_2002_2014_RAIL_log',
 'YEARS_AFTER_2014_RAIL_log',
 'YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_log',
 'TNC_YEARS_AFTER_2012_BUS_log',
 'TNC_YEARS_AFTER_2012_RAIL_log',
 'YEARS_SINCE_TNC_2012_log',
 'YEARS_SINCE_TNC_2012_BUS_log',
 'YEARS_SINCE_TNC_2012_RAIL_log',
 'YEARS_SINCE_RAIL_START_log',
 'YEARS_SINCE_RAIL_START_1_log',
 'YEARS_SINCE_RAIL_START_2_log',
 'YEARS_SINCE_RAIL_START_3_log',
 'TNC_FLAG_BUS_log',
 'TNC_FLAG_RAIL_log',
 'YEARS_SINCE_TNC_BUS_log',
 'YEARS_SINCE_TNC_RAIL_log',
 'dockless_flag_log',
 'scooter_flag_log',
 'BIKE_SHARE_log',
 'PBS_Flag_BUS_log',
 'dockCt_BUS_log',
 'docklessCt_BUS_log',
 'scooterCt_BUS_log',
 'dockless_flag_BUS_log',
 'scooter_flag_BUS_log',
 'BIKE_SHARE_BUS_log',
 'PBS_Flag_RAIL_log',
 'dockCt_RAIL_log',
 'docklessCt_RAIL_log',
 'scooterCt_RAIL_log',
 'dockless_flag_RAIL_log',
 'scooter_flag_RAIL_log',
 'BIKE_SHARE_RAIL_log',
 'BIKE_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_RAIL_log',
 'BIKE_SCOOTER_SCOOTER_BUS_log',
 'BIKE_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_BUS_log',
 'BIKE_OR_SCOOTER_RAIL_log',
 'AVG_VEHS_log_log',
 'JTW_WALK_BIKE_OTHER_PCT_log',
 'JTW_WALK_BIKE_PCT_log',
 'VRM_ADJ_BUS_log',
 'VRM_ADJ_RAIL_log',
 'MDBF_Mechanical_RAIL_log',
 'MDBF_Mechanical_BUS_log',
 'MDBF_Total_RAIL_log',
 'MDBF_Total_BUS_log',
 'HI_OPEX_log',
 'MID_OPEX_log',
 'NEW_YORK_log',
 'YEARS_SINCE_TNC_BUS_HI_log',
 'YEARS_SINCE_TNC_BUS_MID_log',
 'YEARS_SINCE_TNC_BUS_LOW_log',
 'YEARS_SINCE_TNC_BUS_NY_log',
 'YEARS_SINCE_TNC_RAIL_HI_log',
 'YEARS_SINCE_TNC_RAIL_MID_log',
 'YEARS_SINCE_TNC_RAIL_LOW_log',
 'YEARS_SINCE_TNC_RAIL_NY_log',
 'YEARS_SINCE_TNC_BUS_HINY_log',
 'YEARS_SINCE_TNC_RAIL_HINY_log',
 'YEARS_SINCE_TNC_BUS_MIDLOW_log',
 'YEARS_SINCE_TNC_RAIL_MIDLOW_log',
 'BIKE_SHARE_HI_log',
 'BIKE_SHARE_MID_log',
 'BIKE_SHARE_LOW_log',
 'BIKE_SHARE_NY_log',
 'scooter_flag_HI_log',
 'scooter_flag_MID_log',
 'scooter_flag_LOW_log',
 'scooter_flag_NY_log',
 'BIKE_SHARE_HINY_log',
 'BIKE_SHARE_MIDLOW_log',
 'scooter_flag_HINY_log',
 'scooter_flag_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MIDLOW_log',
 'UPT_ADJ_2012_log',
 'TNC_TRIPS_TOTAL_log',
 'TNC_TRIPS_PER_UPT_2012_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_NY_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_HI_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_MID_log',
 'TNC_TRIPS_PER_UPT_2012_BUS_LOW_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_NY_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_HI_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_MID_log',
 'TNC_TRIPS_PER_UPT_2012_RAIL_LOW_log',
 'YEARS_SINCE_TNC_BUS_2',
 'YEARS_SINCE_TNC_BUS_3',
 'YEARS_SINCE_TNC_BUS_4',
 'YEARS_SINCE_TNC_BUS_5',
 'YEARS_SINCE_TNC_RAIL_2',
 'YEARS_SINCE_TNC_RAIL_3',
 'YEARS_SINCE_TNC_RAIL_4',
 'YEARS_SINCE_TNC_RAIL_5',
 'YEARS_SINCE_TNC_BUS2',
 'YEARS_SINCE_TNC_RAIL2',
 'YEARS_SINCE_TNC_BUS2_NY',
 'YEARS_SINCE_TNC_BUS2_HI',
 'YEARS_SINCE_TNC_BUS2_MID',
 'YEARS_SINCE_TNC_BUS2_LOW',
 'YEARS_SINCE_TNC_BUS2_HINY',
 'YEARS_SINCE_TNC_BUS2_MIDLOW',
 'YEARS_SINCE_TNC_RAIL2_NY',
 'YEARS_SINCE_TNC_RAIL2_HI',
 'YEARS_SINCE_TNC_RAIL2_MID',
 'YEARS_SINCE_TNC_RAIL2_LOW',
 'YEARS_SINCE_TNC_RAIL2_HINY',
 'YEARS_SINCE_TNC_RAIL2_MIDLOW',
 'TSD_POP_EMP',
 'TSD_POP_EMP_TOTAL',
 'TSD_POP_EMP_PCT',
 'TSD_POP_EMP_WAGE_UNDER_1250',
 'TSD_POP_EMP_WAGE_UNDER_1250_PCT',
 'TSD_POP_EMP_WAGE_UNDER_3333',
 'TSD_POP_EMP_WAGE_UNDER_3333_PCT',
 'TSD_POP_EMP_WAGE_OVER_1250',
 'TSD_POP_EMP_WAGE_OVER_1250_PCT',
 'TSD_POP_EMP_WAGE_OVER_3333',
 'TSD_POP_EMP_WAGE_OVER_3333_PCT',
 'TSD_POP_WAGE_OVER_1250',
 'TSD_POP_WAGE_OVER_1250_PCT',
 'FAV_EXT',
 'UNFAV_EXT',
 'STRONG_COMP',
 'WEAK_COMP',
 'FARE_per_UPT_cleaned_2018',
 'FARE_per_UPT_cleaned_2018_log',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HI_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HI_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MID_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_MID_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_LOW_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_LOW_OPEX_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_NEW_YORK_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_NEW_YORK_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_HINY_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_FAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_UNFAV_EXT',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_STRONG_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_BUS_MIDLOW_WEAK_COMP',
 'TNC_TRIPS_PER_CAPITA_CLUSTER_RAIL_HINY_FAV_EXT',

## Model Estimation

In [67]:
# model 1 - simplified

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + EntityEffects \
                    ',data=df)
res=mod.fit()
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5889
Estimator:                   PanelOLS   R-squared (Between):              0.9434
No. Observations:                3874   R-squared (Within):               0.5889
Date:                Wed, Dec 23 2020   R-squared (Overall):              0.9433
Time:                        23:37:45   Log-likelihood                    2802.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      369.13
Entities:                         253   P-value                           0.0000
Avg Obs:                       15.312   Distribution:                 F(14,3607)
Min Obs:                       7.0000
Max Obs:                       17.000   F-statistic (robust):             369.13
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,3607)
Avg Obs:                       227.88
Min Obs:                       138.00
Max Obs:                       253.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.6464     0.0120     53.693     0.0000      0.6228      0.6700
FARE_per_UPT_cleaned_2018_log    -0.4846     0.0216    -22.383     0.0000     -0.5270     -0.4421
POP_EMP_log                       0.3102     0.0357     8.6878     0.0000      0.2402      0.3802
GAS_PRICE_2018_log                0.1782     0.0172     10.373     0.0000      0.1445      0.2118
TOTAL_MED_INC_INDIV_2018_log     -0.2012     0.0371    -5.4165     0.0000     -0.2741     -0.1284
PCT_HH_NO_VEH                     0.0089     0.0022     4.0341     0.0001      0.0046      0.0133
JTW_HOME_PCT                     -0.0051     0.0027    -1.8801     0.0602     -0.0105      0.0002
YEARS_SINCE_TNC_BUS_NY           -0.0030     0.0126    -0.2352     0.8141     -0.0277      0.0217
YEARS_SINCE_TNC_BUS_HI           -0.0187     0.0037    -5.1043     0.0000     -0.0259     -0.0115
YEARS_SINCE_TNC_BUS_MID          -0.0325     0.0037    -8.8000     0.0000     -0.0398     -0.0253
YEARS_SINCE_TNC_BUS_LOW          -0.0202     0.0035    -5.8202     0.0000     -0.0270     -0.0134
YEARS_SINCE_TNC_RAIL_NY           0.0341     0.0126     2.7113     0.0067      0.0094      0.0588
YEARS_SINCE_TNC_RAIL_HI           0.0103     0.0038     2.7263     0.0064      0.0029      0.0178
YEARS_SINCE_TNC_RAIL_MID         -0.0211     0.0063    -3.3234     0.0009     -0.0335     -0.0086
=================================================================================================

F-test for Poolability: 203.59
P-value: 0.0000
Distribution: F(252,3607)

Included effects: Entity

In [61]:
# model 1 - simplified - just 2012 and beyond

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + EntityEffects \
                    ',data=df[df['YEAR2']>=2012])
res_2012_2018=mod.fit()
print(res_2012_2018)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4905
Estimator:                   PanelOLS   R-squared (Between):              0.8247
No. Observations:                1771   R-squared (Within):               0.4905
Date:                Wed, Dec 23 2020   R-squared (Overall):              0.8247
Time:                        23:33:17   Log-likelihood                    2093.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      103.42
Entities:                         253   P-value                           0.0000
Avg Obs:                       7.0000   Distribution:                 F(14,1504)
Min Obs:                       7.0000
Max Obs:                       7.0000   F-statistic (robust):             103.42
                                        P-value                           0.0000
Time periods:                      17   Distribution:                 F(14,1504)
Avg Obs:                       104.18
Min Obs:                       0.0000
Max Obs:                       253.00

                                       Parameter Estimates
=================================================================================================
                               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-------------------------------------------------------------------------------------------------
VRM_ADJ_log                       0.5335     0.0257     20.790     0.0000      0.4832      0.5838
FARE_per_UPT_cleaned_2018_log    -0.4950     0.0326    -15.164     0.0000     -0.5590     -0.4310
POP_EMP_log                       0.1172     0.0626     1.8743     0.0611     -0.0055      0.2399
GAS_PRICE_2018_log                0.1390     0.0182     7.6369     0.0000      0.1033      0.1747
TOTAL_MED_INC_INDIV_2018_log     -0.0360     0.0611    -0.5885     0.5563     -0.1559      0.0839
PCT_HH_NO_VEH                     0.0010     0.0027     0.3588     0.7198     -0.0043      0.0062
JTW_HOME_PCT                     -0.0080     0.0027    -2.9055     0.0037     -0.0134     -0.0026
YEARS_SINCE_TNC_BUS_NY           -0.0004     0.0153    -0.0254     0.9798     -0.0303      0.0296
YEARS_SINCE_TNC_BUS_HI           -0.0249     0.0040    -6.2304     0.0000     -0.0327     -0.0171
YEARS_SINCE_TNC_BUS_MID          -0.0399     0.0032    -12.298     0.0000     -0.0463     -0.0335
YEARS_SINCE_TNC_BUS_LOW          -0.0389     0.0029    -13.202     0.0000     -0.0447     -0.0331
YEARS_SINCE_TNC_RAIL_NY           0.0179     0.0153     1.1744     0.2404     -0.0120      0.0479
YEARS_SINCE_TNC_RAIL_HI           0.0039     0.0041     0.9498     0.3424     -0.0042      0.0120
YEARS_SINCE_TNC_RAIL_MID         -0.0048     0.0052    -0.9176     0.3590     -0.0151      0.0055
=================================================================================================

F-test for Poolability: 208.28
P-value: 0.0000
Distribution: F(252,1504)

Included effects: Entity

In [75]:
# systematically remove observations and see how it changes things

KeyError: 'ID2'

# Calculate FAC

In [ ]:
# model 1 - simplified - just 2012 and beyond

mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_cleaned_2018_log \
                    + POP_EMP_log \
                    + GAS_PRICE_2018_log \
                    + TOTAL_MED_INC_INDIV_2018_log \
                    + PCT_HH_NO_VEH \
                    + JTW_HOME_PCT \
                    + YEARS_SINCE_TNC_BUS_NY \
                    + YEARS_SINCE_TNC_BUS_HI \
                    + YEARS_SINCE_TNC_BUS_MID \
                    + YEARS_SINCE_TNC_BUS_LOW \
                    + YEARS_SINCE_TNC_RAIL_NY \
                    + YEARS_SINCE_TNC_RAIL_HI \
                    + YEARS_SINCE_TNC_RAIL_MID \
                    + EntityEffects \
                    ',data=df[df['YEAR2']>=2012])
res=mod.fit()
print(res)

In [ ]:
# keep the relevant fields in the data set
app_data = pd.concat([df[['RAIL_FLAG', 'CLUSTER_APTA', 'UPT_ADJ_2012']], #no cbsa
                      df[res.model.dependent.vars], 
                      df[res.model.exog.vars], 
                      res.estimated_effects, 
                      res.resids], axis=1)

In [ ]:
# carry the fixed effects forward for the same entity
app_data['estimated_effects'] = app_data['estimated_effects'].fillna(method='bfill')

In [ ]:
# calculate the fitted values
app_data['fitted'] = app_data['estimated_effects']
for var in res.params.keys(): 
    app_data['fitted'] = app_data['fitted'] + (res.params[var] * app_data[var])

# and check that we add up correctly
app_data['check_fitted'] = app_data['fitted'] + app_data['residual'] - app_data['UPT_ADJ_log']

In [ ]:
# create the necessary columns

# dependents
app_data['UPT_ADJ']    = np.exp(app_data['UPT_ADJ_log']) - 1
app_data['fitted_exp'] = np.exp(app_data['fitted']) - 1

# linear versions of logged variables
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '')] = np.exp(app_data[var]) - 1              

# ratios and differences
for var in res.params.keys(): 
    if '_log' in var: 
        app_data[var.replace('_log', '_ratio')] = 1
    else: 
        app_data[var+'_diff'] = 0

# FAC multipliers
for var in res.params.keys(): 
    app_data[var+'_FAC_ratio'] = 1

app_data['UPT_ADJ_base'] = 0
app_data['UPT_ADJ_ratio'] = 1
app_data['fitted_exp_ratio'] = 1
app_data['UPT_ADJ_diff'] = 0
app_data['fitted_exp_diff'] = 0

# for tracking new systems
app_data['UPT_ADJ_first_year'] = 0
app_data['UPT_ADJ_new_reporter'] = 0

In [ ]:
# add predictions and exponetiated predicts
app_data['predicted'] = mod.predict(res.params, data=app_data) 
app_data['predicted'] = app_data['predicted'] + app_data['estimated_effects']
app_data['predicted_exp'] = np.exp(app_data['predicted']) - 1
app_data['predicted_residual'] = app_data['UPT_ADJ_log'] - app_data['predicted']
app_data['predicted_exp_diff'] = app_data['UPT_ADJ'] - app_data['predicted_exp']

In [ ]:
# get the ridership in the first year the system starts. This allows us to track new systems. 
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()
    first_year = years[0]

    app_data.loc[(id,first_year),'UPT_ADJ_new_reporter'] = app_data.loc[(id,first_year),'UPT_ADJ']
    
    for year in years: 
        app_data.loc[(id,year),'UPT_ADJ_first_year']   = app_data.loc[(id,first_year),'UPT_ADJ']

In [ ]:
# calculate the FAC relative to a specific base year
ids = app_data.index.get_level_values(0).unique()

for id in ids: 
    years = app_data.loc[id].index.get_level_values(0).sort_values()

    for year in years[1:]:       
        base_year = year-1
        
        for var in res.params.keys(): 
            # ratios and differences
            if '_log' in var: 
                out_var = var.replace('_log', '_ratio')
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 / app_data.loc[(id,base_year), var])
            else: 
                out_var = var+'_diff'                    
                app_data.loc[(id,year), out_var] = (app_data.loc[(id,year), var] 
                                                 - app_data.loc[(id,base_year), var])

            # FAC multipliers
            app_data.loc[(id,year),var+'_FAC_ratio'] = np.exp(res.params[var] * (
                                                    app_data.loc[(id,year), var] 
                                                    - app_data.loc[(id,base_year), var]))

            # estimated effects (if time effects is zero, no change)
            app_data.loc[(id,year),'effects_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'estimated_effects'] 
                                                    - app_data.loc[(id,base_year), 'estimated_effects'])

            # residual
            app_data.loc[(id,year),'residual_FAC_ratio'] = np.exp(
                                                    app_data.loc[(id,year), 'residual'] 
                                                    - app_data.loc[(id,base_year), 'residual'])

        # observed and fitted changes            
        app_data.loc[(id,year),'UPT_ADJ_base'] = app_data.loc[(id,base_year),'UPT_ADJ']
        app_data.loc[(id,year),'UPT_ADJ_ratio'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 / app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_ratio'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 / app_data.loc[(id,base_year),'fitted_exp'])

        app_data.loc[(id,year),'UPT_ADJ_diff'] = (app_data.loc[(id,year),'UPT_ADJ'] 
                                                 - app_data.loc[(id,base_year),'UPT_ADJ'])
        app_data.loc[(id,year),'fitted_exp_diff'] = (app_data.loc[(id,year),'fitted_exp'] 
                                                 - app_data.loc[(id,base_year),'fitted_exp'])

In [ ]:
# calculate the FAC
app_data['FAC_Sum'] = 0
for var in res.params.keys(): 
    app_data[var+'_FAC'] = (app_data[var+'_FAC_ratio'] - 1) * app_data['UPT_ADJ_base']
    app_data['FAC_Sum'] = app_data['FAC_Sum'] + app_data[var+'_FAC']

In [ ]:

# total FAC is based on the fitted model (applied multiplicitively)
app_data['Known_FAC'] = (app_data['fitted_exp_ratio'] - 1) * app_data['UPT_ADJ_base']

# uknown change is the difference between the observed change and the known change
app_data['Unknown_FAC'] = app_data['UPT_ADJ_diff'] - app_data['Known_FAC']

# the change in ridership associated new systems
app_data['New_Reporter_FAC'] = app_data['UPT_ADJ_new_reporter'] 

# should be teh same as UPT_ADJ_DIFF
app_data['Total_Change'] = app_data['Known_FAC'] + app_data['Unknown_FAC'] + app_data['New_Reporter_FAC']

In [ ]:
# calculate APTA - 4 groups
app_data['CLUSTER_APTA4'] = np.floor(app_data['CLUSTER_APTA']/10)

In [ ]:
# reset the index so I get ID and year
app_data = app_data.reset_index()
app_data = app_data.rename(columns={'level_0' : 'ID', 'level_1' : 'Year'})
app_data.to_csv('FAC-11-3-after2012.csv')

In [ ]:
# these are the fields we keep
out_fields = ['ID', 'Year', 'RAIL_FLAG', 
              'CLUSTER_APTA', 'CLUSTER_APTA4',    
              'UPT_ADJ_first_year', 
              'UPT_ADJ_2012', 
              'UPT_ADJ_base', 'UPT_ADJ', 'UPT_ADJ_diff', 
              'fitted_exp', 'fitted_exp_diff']

# exogenous variables 
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    out_fields = out_fields + [out_var]
    
# FAC
for var in res.params.keys(): 
    out_fields = out_fields + [var+'_FAC']
out_fields = out_fields + ['FAC_Sum', 'Known_FAC', 'Unknown_FAC', 'New_Reporter_FAC', 'Total_Change']
    
# keep those fields
summary_data = app_data.reset_index()[out_fields]

In [ ]:
# take weighted average of exogenous variables
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data[out_var] = summary_data[out_var] * summary_data['UPT_ADJ_first_year']

# aggregate to bus/rail totals
summary_data_apta4 = summary_data.groupby(by=['CLUSTER_APTA4', 'RAIL_FLAG', 'Year']).agg('sum')

# divide for weighted averages
for var in res.params.keys(): 
    out_var = var.replace('_log', '')
    summary_data_apta4[out_var] = summary_data_apta4[out_var] / summary_data_apta4['UPT_ADJ_first_year']

In [ ]:

summary_data_apta4.to_csv('FAC_APTA4_CLUSTERS_11-3-after-2012.csv')

In [ ]:
sns.distplot(app_data['residual'])

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==0])

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==1])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['CLUSTER_APTA4']==3])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="Year", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['CLUSTER_APTA4']==1])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="CLUSTER_APTA", y="predicted_residual", hue="RAIL_FLAG", data=app_data)

In [ ]:
app_data['YEARS_SINCE_TNC'] =(app_data['YEARS_SINCE_TNC_BUS_NY'] 
                            + app_data['YEARS_SINCE_TNC_BUS_HI']
                            + app_data['YEARS_SINCE_TNC_BUS_MID']
                            + app_data['YEARS_SINCE_TNC_BUS_LOW']
                            + app_data['YEARS_SINCE_TNC_RAIL_NY']
                            + app_data['YEARS_SINCE_TNC_RAIL_HI']
                            + app_data['YEARS_SINCE_TNC_RAIL_MID'])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="YEARS_SINCE_TNC", y="predicted_residual", hue="CLUSTER_APTA4", data=app_data[app_data['RAIL_FLAG']==0])

In [ ]:
plt.figure(figsize=(16, 12))
plt.grid()
sns.violinplot(x="YEARS_SINCE_TNC", 
               y="predicted_residual", 
               hue="CLUSTER_APTA4", 
               data=app_data[app_data['RAIL_FLAG']==1])

In [ ]:
df2 = df.reset_index()

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="YEARS_SINCE_TNC", hue="CLUSTER_APTA4", data=df2)

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="TNC_TRIPS_PER_CAPITA_CLUSTER", hue="CLUSTER_APTA4", data=df2)

In [ ]:
plt.figure(figsize=(16, 10))
plt.grid()
sns.violinplot(x="Year", y="TNC_TRIPS_PER_UPT_2012", hue="CLUSTER_APTA4", data=df2)

In [ ]:
df2 = app_data[['RAIL_FLAG',
               'Unknown_FAC', 
               'VRM_ADJ_log', 
               'VRM_ADJ_ratio', 
               'FARE_per_UPT_cleaned_2018_ratio', 
               'POP_EMP_ratio', 
               'GAS_PRICE_2018_ratio',
               'TOTAL_MED_INC_INDIV_2018_ratio',
               'PCT_HH_NO_VEH_diff',
               'JTW_HOME_PCT_diff'
              ]]
sns.PairGrid(df2, hue="RAIL_FLAG")

In [ ]:
df2 = app_data[['RAIL_FLAG', 
               'Unknown_FAC', 
               'YEARS_SINCE_TNC_BUS_NY_diff', 
               'YEARS_SINCE_TNC_BUS_HI_diff', 
               'YEARS_SINCE_TNC_BUS_MID_diff', 
               'YEARS_SINCE_TNC_BUS_LOW_diff', 
               'YEARS_SINCE_TNC_RAIL_NY_diff',
               'YEARS_SINCE_TNC_RAIL_HI_diff',
               'YEARS_SINCE_TNC_RAIL_MID_diff'
              ]]
sns.PairGrid(df2, hue="RAIL_FLAG")