In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import linearmodels as lm
import matplotlib
import math
import statsmodels.formula.api as smf

from linearmodels.panel import PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import FirstDifferenceOLS
from linearmodels.panel import compare
from matplotlib import pyplot as plt

from pandas.api.types import is_numeric_dtype

pd.set_option('display.max_columns', 500)

%matplotlib inline

In [2]:
# read the main data set
df=pd.read_csv('final_dataset_oct_24.csv',
                    encoding='utf-8')

In [5]:
# exclude if ridership is zero--missing data
df = df[df['UPT']>0]

In [6]:
# separate Bus, Rail, DemandResponsive and Other
bus = df[df['Mode']=='Bus']
rail = df[df['Mode']=='Rail']

In [7]:
# set the indices
bus=bus.set_index(['MNAME','Year'])
rail=rail.set_index(['MNAME','Year'])

In [8]:
# keep only the numeric columns -- the estimation will give an error otherwise
bus = bus.select_dtypes(include=[np.number])
rail = rail.select_dtypes(include=[np.number])

In [9]:
# create a log of all fields
for col in bus.columns:
    bus[col+'_log'] = np.log(bus[col]+1)
    
for col in rail.columns:
    rail[col+'_log'] = np.log(rail[col]+1)

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: RuntimeWarning: invalid value encountered in log
  app.launch_new_instance()
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: RuntimeWarning: invalid value encountered in log

In [10]:
# check the data
bus.head()

                              CBSA  NEW_CBSA     UPT     VRM   UPT_ADJ  \
MNAME                  Year
Abilene, TX Metro Area 2002  10180       NaN  493073  389678  493073.0
                       2003  10180       NaN  475747  383239  475747.0
                       2004  10180       NaN  469981  388907  469981.0
                       2005  10180       NaN  507165  444176  507165.0
                       2006  10180       NaN  493638  441300  493638.0

                              VRM_ADJ  VRH_ADJ  FARE_TOTAL  FARE_per_UPT  \
MNAME                  Year
Abilene, TX Metro Area 2002  389678.0  29016.0    162609.0      0.329787
                       2003  383239.0  28597.0    173563.0      0.364822
                       2004  388907.0  29126.0    185046.0      0.393731
                       2005  444176.0  31147.0    213965.0      0.421884
                       2006  441300.0  30750.0    201795.0      0.408791

                             AREALANDPT      Tot_Pop  Tot_Instate_Pop  \
MNAME                  Year
Abilene, TX Metro Area 2002   141756054  117258.2188      87723.96875
                       2003   141756054  127098.1250      93677.12500
                       2004   141756054  137113.5000      99787.50000
                       2005   141756054  146427.0000     105269.00000
                       2006   141756054  158548.0000     113266.00000

                             Tot_Outstate_Pop  Tot_NonUSA_POP  \
MNAME                  Year
Abilene, TX Metro Area 2002       23752.17188     2987.484375
                       2003       26964.31250     2834.062500
                       2004       30227.75000     2648.750000
                       2005       33286.00000     2591.000000
                       2006       37165.00000     2023.000000

                             Total_Median_Income_Individual  \
MNAME                  Year
Abilene, TX Metro Area 2002                     19756.67188
                       2003                     19941.31250
                       2004                     20132.75000
                       2005                     20297.00000
                       2006                     20570.00000

                             Native_Instate_Med_Inc_Indiv  \
MNAME                  Year
Abilene, TX Metro Area 2002                   22848.10938
                       2003                   21972.56250
                       2004                   21085.75000
                       2005                   20244.00000
                       2006                   19222.00000

                             Native_Outstate_Med_Inc_Indiv  Total_Pop_Poverty  \
MNAME                  Year
Abilene, TX Metro Area 2002                    17091.51563          147631.94
                       2003                    18472.93750          147198.25
                       2004                    19808.25000          146801.00
                       2005                    21328.00000          146258.00
                       2006                    22110.00000          146298.00

                             Pop_Below100_Poverty  Pop_Below150_Poverty  \
MNAME                  Year
Abilene, TX Metro Area 2002                 22.30                 12.89
                       2003                 20.72                 12.86
                       2004                 19.13                 12.88
                       2005                 17.60                 12.70
                       2006                 15.80                 13.30

                             Pop_Above150_Poverty  Age_under18  Age_18to64  \
MNAME                  Year
Abilene, TX Metro Area 2002                 64.82        31.23       54.90
                       2003                 66.43        29.78       56.41
                       2004                 68.00        28.30       57.95
                       2005                 69.70        26.90       59.40
                       2006                 70.90        25.20       61.20

                             Age_over64  Total_HH  HH_0Veh   HH_1Veh  \
MNAME                  Year
Abilene, TX Metro Area 2002       13.87  61601.69  1195.73  27303.56
                       2003       13.81  61229.25  1515.06  25910.75
                       2004       13.75  60833.00  1823.75  24514.00
                       2005       13.70  60532.00  2175.00  23133.00
                       2006       13.60  59850.00  2356.00  21689.00

                              HH_2Veh  HH_3Veh  HH_4+Veh  PCT_HH_NO_VEH  \
MNAME                  Year
Abilene, TX Metro Area 2002  21926.16  8121.36   3054.88           1.94
                       2003  22846.38  8038.56   2918.50           2.47
                       2004  23787.50  7942.75   2765.00           3.00
                       2005  24645.00  7899.00   2680.00           3.59
                       2006  25837.00  7647.00   2321.00           3.94

                             HH_MED_INC  HH_MEAN_INC  INC_U35  INC_35_100  \
MNAME                  Year
Abilene, TX Metro Area 2002   25775.875    30134.875    61.74       34.07
                       2003   29077.500    35373.500    57.54       36.92
                       2004   32452.000    40728.000    53.25       39.83
                       2005   35535.000    45619.000    49.30       42.50
                       2006   39784.000    52364.000    44.00       46.10

                             INC_100P  TOT_UNEMP_MSA  TOT_EMP_MSA  \
MNAME                  Year
Abilene, TX Metro Area 2002      4.19        3945.33     73760.33
                       2003      5.54        4222.75     75377.08
                       2004      6.93        3712.17     75862.08
                       2005      8.20        3375.75     76704.50
                       2006      9.90        3242.08     78203.25

                             TOT_LABOR_MSA  UNEMP_RATE_PCT  EMP_RATE_PCT  \
MNAME                  Year
Abilene, TX Metro Area 2002       77705.67            5.08         94.92
                       2003       79599.83            5.30         94.70
                       2004       79574.25            4.67         95.33
                       2005       80080.25            4.22         95.78
                       2006       81445.33            3.98         96.02

                             GasPrice  Area_acre  AVG_SPEED  \
MNAME                  Year
Abilene, TX Metro Area 2002      1.32        NaN      13.43
                       2003      1.50        NaN      13.40
                       2004      1.79        NaN      13.35
                       2005      2.23     1216.0      14.26
                       2006      2.52     1216.0      14.35

                             2018_Dollar_Multiplier  TNC_ARRIVAL  TNC_FLAG  \
MNAME                  Year
Abilene, TX Metro Area 2002                    1.40         2016         0
                       2003                    1.37         2016         0
                       2004                    1.33         2016         0
                       2005                    1.29         2016         0
                       2006                    1.25         2016         0

                             YEARS_SINCE_TNC  PROBLEM_FLAG  CBSA_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                0           NaN  9.228279
                       2003                0           NaN  9.228279
                       2004                0           NaN  9.228279
                       2005                0           NaN  9.228279
                       2006                0           NaN  9.228279

                             NEW_CBSA_log    UPT_log    VRM_log  UPT_ADJ_log  \
MNAME                  Year
Abilene, TX Metro Area 2002           NaN  13.108415  12.873079    13.108415
                       2003           NaN  13.072644  12.856417    13.072644
                       2004           NaN  13.060450  12.871098    13.060450
                       2005           NaN  13.136594  13.003978    13.136594
                       2006           NaN  13.109560  12.997482    13.109560

                             VRM_ADJ_log  VRH_ADJ_log  FARE_TOTAL_log  \
MNAME                  Year
Abilene, TX Metro Area 2002    12.873079    10.275637       11.999110
                       2003    12.856417    10.261092       12.064302
                       2004    12.871098    10.279421       12.128365
                       2005    13.003978    10.346505       12.273572
                       2006    12.997482    10.333678       12.215013

                             FARE_per_UPT_log  AREALANDPT_log  Tot_Pop_log  \
MNAME                  Year
Abilene, TX Metro Area 2002          0.285019       18.769618    11.672142
                       2003          0.311024       18.769618    11.752723
                       2004          0.331984       18.769618    11.828572
                       2005          0.351983       18.769618    11.894289
                       2006          0.342732       18.769618    11.973819

                             Tot_Instate_Pop_log  Tot_Outstate_Pop_log  \
MNAME                  Year
Abilene, TX Metro Area 2002            11.381962             10.075471
                       2003            11.447620             10.202307
                       2004            11.510808             10.316549
                       2005            11.564284             10.412922
                       2006            11.637503             10.523150

                             Tot_NonUSA_POP_log  \
MNAME                  Year
Abilene, TX Metro Area 2002            8.002522
                       2003            7.949819
                       2004            7.882221
                       2005            7.860185
                       2006            7.612831

                             Total_Median_Income_Individual_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                            9.891297
                       2003                            9.900599
                       2004                            9.910153
                       2005                            9.918278
                       2006                            9.931638

                             Native_Instate_Med_Inc_Indiv_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                         10.036667
                       2003                          9.997595
                       2004                          9.956400
                       2005                          9.915663
                       2006                          9.863863

                             Native_Outstate_Med_Inc_Indiv_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                           9.746396
                       2003                           9.824116
                       2004                           9.893904
                       2005                           9.967823
                       2006                          10.003831

                             Total_Pop_Poverty_log  Pop_Below100_Poverty_log  \
MNAME                  Year
Abilene, TX Metro Area 2002              11.902484                  3.148453
                       2003              11.899542                  3.078233
                       2004              11.896840                  3.002211
                       2005              11.893134                  2.923162
                       2006              11.893408                  2.821379

                             Pop_Below150_Poverty_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                  2.631169
                       2003                  2.629007
                       2004                  2.630449
                       2005                  2.617396
                       2006                  2.660260

                             Pop_Above150_Poverty_log  Age_under18_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                  4.186924         3.472898
                       2003                  4.211090         3.426865
                       2004                  4.234107         3.377588
                       2005                  4.258446         3.328627
                       2006                  4.275276         3.265759

                             Age_18to64_log  Age_over64_log  Total_HH_log  \
MNAME                  Year
Abilene, TX Metro Area 2002        4.023564        2.699346     11.028461
                       2003        4.050219        2.695303     11.022397
                       2004        4.076690        2.691243     11.015904
                       2005        4.100989        2.687847     11.010944
                       2006        4.130355        2.681022     10.999613

                             HH_0Veh_log  HH_1Veh_log  HH_2Veh_log  \
MNAME                  Year
Abilene, TX Metro Area 2002     7.087348    10.214809     9.995481
                       2003     7.323870    10.162452    10.036592
                       2004     7.509198    10.107040    10.076958
                       2005     7.685244    10.049059    10.112370
                       2006     7.765145     9.984607    10.159602

                             HH_3Veh_log  HH_4+Veh_log  PCT_HH_NO_VEH_log  \
MNAME                  Year
Abilene, TX Metro Area 2002     9.002376      8.024823           1.078410
                       2003     8.992130      7.979168           1.244155
                       2004     8.980141      7.925158           1.386294
                       2005     8.974618      7.893945           1.523880
                       2006     8.942199      7.750184           1.597365

                             HH_MED_INC_log  HH_MEAN_INC_log  INC_U35_log  \
MNAME                  Year
Abilene, TX Metro Area 2002       10.157233        10.313472     4.138999
                       2003       10.277754        10.473747     4.069710
                       2004       10.387548        10.614696     3.993603
                       2005       10.478302        10.728101     3.918005
                       2006       10.591245        10.865994     3.806662

                             INC_35_100_log  INC_100P_log  TOT_UNEMP_MSA_log  \
MNAME                  Year
Abilene, TX Metro Area 2002        3.557346      1.646734           8.280541
                       2003        3.635479      1.877937           8.348479
                       2004        3.709417      2.070653           8.219641
                       2005        3.772761      2.219203           8.124669
                       2006        3.852273      2.388763           8.084279

                             TOT_EMP_MSA_log  TOT_LABOR_MSA_log  \
MNAME                  Year
Abilene, TX Metro Area 2002        11.208590          11.260696
                       2003        11.230272          11.284780
                       2004        11.236685          11.284458
                       2005        11.247729          11.290797
                       2006        11.267079          11.307700

                             UNEMP_RATE_PCT_log  EMP_RATE_PCT_log  \
MNAME                  Year
Abilene, TX Metro Area 2002            1.805005          4.563515
                       2003            1.840550          4.561218
                       2004            1.735189          4.567780
                       2005            1.652497          4.572440
                       2006            1.605430          4.574917

                             GasPrice_log  Area_acre_log  AVG_SPEED_log  \
MNAME                  Year
Abilene, TX Metro Area 2002      0.841567            NaN       2.669309
                       2003      0.916291            NaN       2.667228
                       2004      1.026042            NaN       2.663750
                       2005      1.172482       7.104144       2.725235
                       2006      1.258461       7.104144       2.731115

                             2018_Dollar_Multiplier_log  TNC_ARRIVAL_log  \
MNAME                  Year
Abilene, TX Metro Area 2002                    0.875469         7.609367
                       2003                    0.862890         7.609367
                       2004                    0.845868         7.609367
                       2005                    0.828552         7.609367
                       2006                    0.810930         7.609367

                             TNC_FLAG_log  YEARS_SINCE_TNC_log  \
MNAME                  Year
Abilene, TX Metro Area 2002           0.0                  0.0
                       2003           0.0                  0.0
                       2004           0.0                  0.0
                       2005           0.0                  0.0
                       2006           0.0                  0.0

                             PROBLEM_FLAG_log
MNAME                  Year
Abilene, TX Metro Area 2002               NaN
                       2003               NaN
                       2004               NaN
                       2005               NaN
                       2006               NaN

In [11]:
rail.head()

                                  CBSA  NEW_CBSA      UPT      VRM    UPT_ADJ  \
MNAME                      Year
Albuquerque, NM Metro Area 2009  10740       NaN  1351087   813885  1351087.0
                           2010  10740       NaN  1165687  1415143  1165687.0
                           2011  10740       NaN  1242174  1370680  1242174.0
                           2012  10740       NaN  1129303  1424748  1129303.0
                           2013  10740       NaN  1082588  1388562  1082588.0

                                   VRM_ADJ  VRH_ADJ  FARE_TOTAL  FARE_per_UPT  \
MNAME                      Year
Albuquerque, NM Metro Area 2009   813885.0  20107.0   2669729.0      1.975986
                           2010  1415143.0  37249.0   2846221.0      2.441668
                           2011  1370680.0  36676.0   2856263.0      2.299407
                           2012  1424748.0  36870.0   2616485.0      2.316903
                           2013  1388562.0  36503.0   3002928.0      2.773842

                                 AREALANDPT   Tot_Pop  Tot_Instate_Pop  \
MNAME                      Year
Albuquerque, NM Metro Area 2009   648969769  856216.0         432274.0
                           2010   648969769  892014.0         459673.0
                           2011   648969769  899149.0         466738.0
                           2012   648969769  902794.0         484743.0
                           2013   648969769  901932.0         472342.0

                                 Tot_Outstate_Pop  Tot_NonUSA_POP  \
MNAME                      Year
Albuquerque, NM Metro Area 2009          329891.0         11065.0
                           2010          332367.0          9139.0
                           2011          336918.0          9294.0
                           2012          320910.0         12335.0
                           2013          328386.0         11036.0

                                 Total_Median_Income_Individual  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                         25253.0
                           2010                         25891.0
                           2011                         24924.0
                           2012                         25616.0
                           2013                         25717.0

                                 Native_Instate_Med_Inc_Indiv  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                       23216.0
                           2010                       23628.0
                           2011                       21970.0
                           2012                       22332.0
                           2013                       22709.0

                                 Native_Outstate_Med_Inc_Indiv  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                        30017.0
                           2010                        31267.0
                           2011                        30564.0
                           2012                        31553.0
                           2013                        31723.0

                                 Total_Pop_Poverty  Pop_Below100_Poverty  \
MNAME                      Year
Albuquerque, NM Metro Area 2009           846650.0                  15.9
                           2010           881703.0                   NaN
                           2011           887261.0                   NaN
                           2012           887938.0                   NaN
                           2013           890054.0                  19.4

                                 Pop_Below150_Poverty  Pop_Above150_Poverty  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                  10.4                  73.7
                           2010                   NaN                   NaN
                           2011                   NaN                   NaN
                           2012                   NaN                   NaN
                           2013                  10.7                  69.8

                                 Age_under18  Age_18to64  Age_over64  \
MNAME                      Year
Albuquerque, NM Metro Area 2009         24.8        63.1        12.1
                           2010         24.4        63.2        12.4
                           2011         24.4        63.0        12.6
                           2012         24.1        62.7        13.2
                           2013         23.7        62.5        13.8

                                 Total_HH  HH_0Veh   HH_1Veh   HH_2Veh  \
MNAME                      Year
Albuquerque, NM Metro Area 2009  334647.0  17776.0  120045.0  127430.0
                           2010  344800.0  16484.0  120481.0  136269.0
                           2011  345157.0  23644.0  121901.0  126939.0
                           2012  344869.0  21014.0  120959.0  130200.0
                           2013  336614.0  18513.0  118331.0  125926.0

                                 HH_3Veh  HH_4+Veh  PCT_HH_NO_VEH  HH_MED_INC  \
MNAME                      Year
Albuquerque, NM Metro Area 2009  47757.0   21639.0           5.31     46824.0
                           2010  48104.0   23462.0           4.78     47383.0
                           2011  52444.0   20229.0           6.85     45027.0
                           2012  48806.0   23890.0           6.09     46725.0
                           2013  51657.0   22187.0           5.50     48355.0

                                 HH_MEAN_INC  INC_U35  INC_35_100  INC_100P  \
MNAME                      Year
Albuquerque, NM Metro Area 2009      61059.0     36.7        46.6      16.7
                           2010      63619.0     36.8        45.3      17.9
                           2011      61912.0     40.2        41.9      17.9
                           2012      62672.0     38.8        43.1      18.1
                           2013      64625.0     37.7        43.9      18.4

                                 TOT_UNEMP_MSA  TOT_EMP_MSA  TOT_LABOR_MSA  \
MNAME                      Year
Albuquerque, NM Metro Area 2009       31447.33    372776.25      404223.58
                           2010       34020.50    390669.08      424689.58
                           2011       31629.17    389437.25      421066.42
                           2012       29752.50    387763.75      417516.25
                           2013       28250.83    387442.33      415693.17

                                 UNEMP_RATE_PCT  EMP_RATE_PCT  GasPrice  \
MNAME                      Year
Albuquerque, NM Metro Area 2009            7.78         92.22      2.27
                           2010            8.01         91.99      2.70
                           2011            7.51         92.49      3.42
                           2012            7.13         92.87      3.49
                           2013            6.80         93.20      3.37

                                 Area_acre  AVG_SPEED  2018_Dollar_Multiplier  \
MNAME                      Year
Albuquerque, NM Metro Area 2009    28089.6      40.48                    1.17
                           2010    28089.6      37.99                    1.15
                           2011    28089.6      37.37                    1.12
                           2012    28089.6      38.64                    1.09
                           2013    28089.6      38.04                    1.08

                                 TNC_ARRIVAL  TNC_FLAG  YEARS_SINCE_TNC  \
MNAME                      Year
Albuquerque, NM Metro Area 2009         2014         0                0
                           2010         2014         0                0
                           2011         2014         0                0
                           2012         2014         0                0
                           2013         2014         0                0

                                 PROBLEM_FLAG  CBSA_log  NEW_CBSA_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009           NaN  9.281823           NaN
                           2010           NaN  9.281823           NaN
                           2011           NaN  9.281823           NaN
                           2012           NaN  9.281823           NaN
                           2013           NaN  9.281823           NaN

                                   UPT_log    VRM_log  UPT_ADJ_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009  14.116421  13.609576    14.116421
                           2010  13.968822  14.162742    13.968822
                           2011  14.032374  14.130818    14.032374
                           2012  13.937112  14.169506    13.937112
                           2013  13.894866  14.143780    13.894866

                                 VRM_ADJ_log  VRH_ADJ_log  FARE_TOTAL_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009    13.609576     9.908873       14.797488
                           2010    14.162742    10.525407       14.861503
                           2011    14.130818    10.509905       14.865025
                           2012    14.169506    10.515181       14.777343
                           2013    14.143780    10.505177       14.915099

                                 FARE_per_UPT_log  AREALANDPT_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009          1.090575       20.290897
                           2010          1.235956       20.290897
                           2011          1.193743       20.290897
                           2012          1.199031       20.290897
                           2013          1.328094       20.290897

                                 Tot_Pop_log  Tot_Instate_Pop_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009    13.660279            12.976817
                           2010    13.701238            13.038273
                           2011    13.709205            13.053525
                           2012    13.713251            13.091376
                           2013    13.712296            13.065461

                                 Tot_Outstate_Pop_log  Tot_NonUSA_POP_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009             12.706521            9.311633
                           2010             12.713998            9.120416
                           2011             12.727598            9.137232
                           2012             12.678919            9.420277
                           2013             12.701948            9.309009

                                 Total_Median_Income_Individual_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                           10.136740
                           2010                           10.161689
                           2011                           10.123627
                           2012                           10.151011
                           2013                           10.154946

                                 Native_Instate_Med_Inc_Indiv_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                         10.052640
                           2010                         10.070230
                           2011                          9.997479
                           2012                         10.013821
                           2013                         10.030561

                                 Native_Outstate_Med_Inc_Indiv_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                          10.309552
                           2010                          10.350350
                           2011                          10.327611
                           2012                          10.359456
                           2013                          10.364829

                                 Total_Pop_Poverty_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009              13.649044
                           2010              13.689612
                           2011              13.695896
                           2012              13.696658
                           2013              13.699039

                                 Pop_Below100_Poverty_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                  2.827314
                           2010                       NaN
                           2011                       NaN
                           2012                       NaN
                           2013                  3.015535

                                 Pop_Below150_Poverty_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                  2.433613
                           2010                       NaN
                           2011                       NaN
                           2012                       NaN
                           2013                  2.459589

                                 Pop_Above150_Poverty_log  Age_under18_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                  4.313480         3.250374
                           2010                       NaN         3.234749
                           2011                       NaN         3.234749
                           2012                       NaN         3.222868
                           2013                  4.259859         3.206803

                                 Age_18to64_log  Age_over64_log  Total_HH_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009        4.160444        2.572612     12.720835
                           2010        4.162003        2.595255     12.750723
                           2011        4.158883        2.610070     12.751758
                           2012        4.154185        2.653242     12.750923
                           2013        4.151040        2.694627     12.726695

                                 HH_0Veh_log  HH_1Veh_log  HH_2Veh_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009     9.785661    11.695630    11.755330
                           2010     9.710206    11.699256    11.822393
                           2011    10.070907    11.710973    11.751470
                           2012     9.952992    11.703215    11.776835
                           2013     9.826282    11.681250    11.743458

                                 HH_3Veh_log  HH_4+Veh_log  PCT_HH_NO_VEH_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009    10.773902      9.982299           1.842136
                           2010    10.781141     10.063180           1.754404
                           2011    10.867520      9.914922           2.060514
                           2012    10.795629     10.081257           1.958685
                           2013    10.852400     10.007307           1.871802

                                 HH_MED_INC_log  HH_MEAN_INC_log  INC_U35_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009       10.754173        11.019612     3.629660
                           2010       10.766040        11.060683     3.632309
                           2011       10.715040        11.033485     3.718438
                           2012       10.752056        11.045686     3.683867
                           2013       10.786346        11.076372     3.655840

                                 INC_35_100_log  INC_100P_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009        3.862833      2.873565
                           2010        3.835142      2.939162
                           2011        3.758872      2.939162
                           2012        3.786460      2.949688
                           2013        3.804438      2.965273

                                 TOT_UNEMP_MSA_log  TOT_EMP_MSA_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009          10.356101        12.828736
                           2010          10.434748        12.875619
                           2011          10.361867        12.872461
                           2012          10.300702        12.868154
                           2013          10.248914        12.867325

                                 TOT_LABOR_MSA_log  UNEMP_RATE_PCT_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009          12.909726            2.172476
                           2010          12.959116            2.198335
                           2011          12.950548            2.141242
                           2012          12.942081            2.095561
                           2013          12.937705            2.054124

                                 EMP_RATE_PCT_log  GasPrice_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009          4.534962      1.184790
                           2010          4.532492      1.308333
                           2011          4.537854      1.486140
                           2012          4.541911      1.501853
                           2013          4.545420      1.474763

                                 Area_acre_log  AVG_SPEED_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009       10.24319       3.725211
                           2010       10.24319       3.663305
                           2011       10.24319       3.647276
                           2012       10.24319       3.679839
                           2013       10.24319       3.664587

                                 2018_Dollar_Multiplier_log  TNC_ARRIVAL_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009                    0.774727         7.608374
                           2010                    0.765468         7.608374
                           2011                    0.751416         7.608374
                           2012                    0.737164         7.608374
                           2013                    0.732368         7.608374

                                 TNC_FLAG_log  YEARS_SINCE_TNC_log  \
MNAME                      Year
Albuquerque, NM Metro Area 2009           0.0                  0.0
                           2010           0.0                  0.0
                           2011           0.0                  0.0
                           2012           0.0                  0.0
                           2013           0.0                  0.0

                                 PROBLEM_FLAG_log
MNAME                      Year
Albuquerque, NM Metro Area 2009               NaN
                           2010               NaN
                           2011               NaN
                           2012               NaN
                           2013               NaN

In [16]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.1866
Estimator:                   PanelOLS   R-squared (Between):              0.7625
No. Observations:                4504   R-squared (Within):               0.1866
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.7587
Time:                        11:38:33   Log-likelihood                   -2187.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      240.21
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(4,4187)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             240.21
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(4,4187)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
VRM_ADJ_log         0.2498     0.0113     22.131     0.0000      0.2277      0.2719
Tot_Pop_log         0.0079     0.0114     0.6933     0.4882     -0.0145      0.0304
TOT_EMP_MSA_log     0.2548     0.1163     2.1912     0.0285      0.0268      0.4828
GasPrice_log        0.5714     0.0346     16.529     0.0000      0.5036      0.6391
===================================================================================

F-test for Poolability: 36.031
P-value: 0.0000
Distribution: F(312,4187)

Included effects: Entity

In [17]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + UNEMP_RATE_PCT_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.1885
Estimator:                   PanelOLS   R-squared (Between):              0.5304
No. Observations:                4504   R-squared (Within):               0.1885
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.5272
Time:                        11:40:00   Log-likelihood                   -2182.7
Cov. Estimator:            Unadjusted
                                        F-statistic:                      243.18
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(4,4187)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             243.18
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(4,4187)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
VRM_ADJ_log            0.2526     0.0112     22.532     0.0000      0.2306      0.2746
Tot_Pop_log            0.0071     0.0114     0.6232     0.5332     -0.0153      0.0296
UNEMP_RATE_PCT_log     0.0994     0.0261     3.8036     0.0001      0.0482      0.1506
GasPrice_log           0.5458     0.0355     15.381     0.0000      0.4763      0.6154
======================================================================================

F-test for Poolability: 39.257
P-value: 0.0000
Distribution: F(312,4187)

Included effects: Entity

In [18]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Total_HH_log \
                    + UNEMP_RATE_PCT_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.1885
Estimator:                   PanelOLS   R-squared (Between):              0.5272
No. Observations:                4504   R-squared (Within):               0.1885
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.5240
Time:                        11:40:49   Log-likelihood                   -2182.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      243.10
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(4,4187)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             243.10
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(4,4187)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
VRM_ADJ_log            0.2527     0.0112     22.546     0.0000      0.2308      0.2747
Total_HH_log           0.0045     0.0124     0.3662     0.7143     -0.0197      0.0288
UNEMP_RATE_PCT_log     0.0997     0.0261     3.8132     0.0001      0.0484      0.1509
GasPrice_log           0.5474     0.0354     15.478     0.0000      0.4781      0.6167
======================================================================================

F-test for Poolability: 38.934
P-value: 0.0000
Distribution: F(312,4187)

Included effects: Entity

In [19]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + Tot_Pop_log \
                    + UNEMP_RATE_PCT_log \
                    + PCT_HH_NO_VEH_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.1886
Estimator:                   PanelOLS   R-squared (Between):              0.5301
No. Observations:                4499   R-squared (Within):               0.1886
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.5269
Time:                        11:41:43   Log-likelihood                   -2179.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      194.39
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.374   Distribution:                  F(5,4181)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             194.39
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(5,4181)
Avg Obs:                       264.65
Min Obs:                       218.00
Max Obs:                       307.00

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
VRM_ADJ_log            0.2524     0.0112     22.502     0.0000      0.2304      0.2744
Tot_Pop_log            0.0110     0.0121     0.9066     0.3647     -0.0128      0.0347
UNEMP_RATE_PCT_log     0.1017     0.0262     3.8808     0.0001      0.0503      0.1531
PCT_HH_NO_VEH_log     -0.0295     0.0296    -0.9962     0.3192     -0.0875      0.0286
GasPrice_log           0.5503     0.0358     15.368     0.0000      0.4801      0.6205
======================================================================================

F-test for Poolability: 38.526
P-value: 0.0000
Distribution: F(312,4181)

Included effects: Entity

In [22]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + UNEMP_RATE_PCT_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4857
Estimator:                   PanelOLS   R-squared (Between):              0.4763
No. Observations:                4504   R-squared (Within):               0.4857
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.4731
Time:                        11:43:38   Log-likelihood                   -1155.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      790.58
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(5,4186)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             790.58
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(5,4186)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                 Parameter Estimates
======================================================================================
                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
--------------------------------------------------------------------------------------
VRM_ADJ_log            0.2273     0.0089     25.418     0.0000      0.2098      0.2448
FARE_per_UPT_log      -0.7905     0.0161    -49.179     0.0000     -0.8220     -0.7590
Tot_Pop_log            0.0213     0.0091     2.3337     0.0197      0.0034      0.0391
UNEMP_RATE_PCT_log     0.0954     0.0208     4.5837     0.0000      0.0546      0.1362
GasPrice_log           0.5782     0.0283     20.456     0.0000      0.5228      0.6336
======================================================================================

F-test for Poolability: 59.963
P-value: 0.0000
Distribution: F(312,4186)

Included effects: Entity

In [23]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4858
Estimator:                   PanelOLS   R-squared (Between):              0.8556
No. Observations:                4504   R-squared (Within):               0.4858
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.8521
Time:                        11:44:22   Log-likelihood                   -1155.2
Cov. Estimator:            Unadjusted
                                        F-statistic:                      791.01
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(5,4186)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             791.01
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(5,4186)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2225     0.0090     24.747     0.0000      0.2049      0.2402
FARE_per_UPT_log    -0.7938     0.0161    -49.351     0.0000     -0.8253     -0.7623
Tot_Pop_log          0.0214     0.0091     2.3535     0.0186      0.0036      0.0393
TOT_EMP_MSA_log      0.4353     0.0925     4.7043     0.0000      0.2539      0.6167
GasPrice_log         0.5927     0.0275     21.560     0.0000      0.5388      0.6466
====================================================================================

F-test for Poolability: 54.776
P-value: 0.0000
Distribution: F(312,4186)

Included effects: Entity

In [27]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + TNC_FLAG \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4865
Estimator:                   PanelOLS   R-squared (Between):              0.7661
No. Observations:                4504   R-squared (Within):               0.4865
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.7623
Time:                        13:40:48   Log-likelihood                   -1151.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      660.95
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(6,4185)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             660.95
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(6,4185)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2215     0.0090     24.619     0.0000      0.2038      0.2391
FARE_per_UPT_log    -0.7959     0.0161    -49.441     0.0000     -0.8275     -0.7643
Tot_Pop_log          0.0214     0.0091     2.3474     0.0190      0.0035      0.0392
TOT_EMP_MSA_log      0.3094     0.1059     2.9225     0.0035      0.1018      0.5169
GasPrice_log         0.5994     0.0276     21.709     0.0000      0.5453      0.6536
TNC_FLAG             0.0335     0.0137     2.4452     0.0145      0.0066      0.0604
====================================================================================

F-test for Poolability: 54.856
P-value: 0.0000
Distribution: F(312,4185)

Included effects: Entity

In [26]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + YEARS_SINCE_TNC \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4873
Estimator:                   PanelOLS   R-squared (Between):              0.9507
No. Observations:                4504   R-squared (Within):               0.4873
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.9483
Time:                        13:40:21   Log-likelihood                   -1148.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      662.98
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(6,4185)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             662.98
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(6,4185)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2229     0.0090     24.819     0.0000      0.2053      0.2405
FARE_per_UPT_log    -0.7920     0.0161    -49.276     0.0000     -0.8235     -0.7604
Tot_Pop_log          0.0209     0.0091     2.2935     0.0219      0.0030      0.0387
TOT_EMP_MSA_log      0.6321     0.1082     5.8422     0.0000      0.4199      0.8442
GasPrice_log         0.5806     0.0277     20.983     0.0000      0.5264      0.6349
YEARS_SINCE_TNC     -0.0193     0.0055    -3.4973     0.0005     -0.0301     -0.0085
====================================================================================

F-test for Poolability: 54.956
P-value: 0.0000
Distribution: F(312,4185)

Included effects: Entity

In [28]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + AVG_SPEED_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + YEARS_SINCE_TNC \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.5042
Estimator:                   PanelOLS   R-squared (Between):              0.9259
No. Observations:                4504   R-squared (Within):               0.5042
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.9235
Time:                        13:41:30   Log-likelihood                   -1072.9
Cov. Estimator:            Unadjusted
                                        F-statistic:                      607.96
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(7,4184)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             607.96
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(7,4184)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2782     0.0100     27.903     0.0000      0.2586      0.2977
AVG_SPEED_log       -0.3236     0.0271    -11.955     0.0000     -0.3767     -0.2706
FARE_per_UPT_log    -0.7832     0.0158    -49.496     0.0000     -0.8142     -0.7522
Tot_Pop_log          0.0197     0.0089     2.1997     0.0279      0.0021      0.0372
TOT_EMP_MSA_log      0.5799     0.1065     5.4457     0.0000      0.3711      0.7887
GasPrice_log         0.5481     0.0273     20.042     0.0000      0.4945      0.6017
YEARS_SINCE_TNC     -0.0219     0.0054    -4.0306     0.0001     -0.0325     -0.0112
====================================================================================

F-test for Poolability: 42.952
P-value: 0.0000
Distribution: F(312,4184)

Included effects: Entity

In [29]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + YEARS_SINCE_TNC \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4873
Estimator:                   PanelOLS   R-squared (Between):              0.9507
No. Observations:                4504   R-squared (Within):               0.4873
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.9483
Time:                        13:42:46   Log-likelihood                   -1148.6
Cov. Estimator:            Unadjusted
                                        F-statistic:                      662.98
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(6,4185)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             662.98
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(6,4185)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2229     0.0090     24.819     0.0000      0.2053      0.2405
FARE_per_UPT_log    -0.7920     0.0161    -49.276     0.0000     -0.8235     -0.7604
Tot_Pop_log          0.0209     0.0091     2.2935     0.0219      0.0030      0.0387
TOT_EMP_MSA_log      0.6321     0.1082     5.8422     0.0000      0.4199      0.8442
GasPrice_log         0.5806     0.0277     20.983     0.0000      0.5264      0.6349
YEARS_SINCE_TNC     -0.0193     0.0055    -3.4973     0.0005     -0.0301     -0.0085
====================================================================================

F-test for Poolability: 54.956
P-value: 0.0000
Distribution: F(312,4185)

Included effects: Entity

In [31]:
# basic log model for bus, all clusters
mod=PanelOLS.from_formula('UPT_ADJ_log \
                    ~ VRM_ADJ_log \
                    + FARE_per_UPT_log \
                    + Tot_Pop_log \
                    + TOT_EMP_MSA_log \
                    + GasPrice_log \
                    + PCT_HH_NO_VEH \
                    + YEARS_SINCE_TNC \
                    + EntityEffects \
                    ',data=bus)
res=mod.fit()
print(res)

C:\Program Files\Anaconda3\lib\site-packages\linearmodels\panel\data.py:39: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  new_df = df.copy().loc[self._full_index]
C:\Program Files\Anaconda3\lib\site-packages\linearmodels\utility.py:476: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:            UPT_ADJ_log   R-squared:                        0.4879
Estimator:                   PanelOLS   R-squared (Between):              0.9593
No. Observations:                4504   R-squared (Within):               0.4879
Date:                Fri, Oct 25 2019   R-squared (Overall):              0.9572
Time:                        13:44:46   Log-likelihood                   -1146.0
Cov. Estimator:            Unadjusted
                                        F-statistic:                      569.46
Entities:                         313   P-value                           0.0000
Avg Obs:                       14.390   Distribution:                  F(7,4184)
Min Obs:                       1.0000
Max Obs:                       17.000   F-statistic (robust):             569.46
                                        P-value                           0.0000
Time periods:                      17   Distribution:                  F(7,4184)
Avg Obs:                       264.94
Min Obs:                       222.00
Max Obs:                       307.00

                                Parameter Estimates
====================================================================================
                  Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------
VRM_ADJ_log          0.2231     0.0090     24.854     0.0000      0.2055      0.2407
FARE_per_UPT_log    -0.7930     0.0161    -49.342     0.0000     -0.8245     -0.7615
Tot_Pop_log          0.0171     0.0093     1.8445     0.0652     -0.0011      0.0352
TOT_EMP_MSA_log      0.6568     0.1087     6.0404     0.0000      0.4436      0.8699
GasPrice_log         0.5736     0.0278     20.600     0.0000      0.5190      0.6282
PCT_HH_NO_VEH        0.0093     0.0042     2.1825     0.0291      0.0009      0.0176
YEARS_SINCE_TNC     -0.0189     0.0055    -3.4258     0.0006     -0.0297     -0.0081
====================================================================================

F-test for Poolability: 51.759
P-value: 0.0000
Distribution: F(312,4184)

Included effects: Entity