In [1]:
import pandas as pd
import numpy as np

In [2]:
monthly_gasprice=pd.read_csv('../Factors and Ridership Data/Merged Data/cbsa_controls.csv',
                    encoding='latin-1')
monthly_gasprice

,CBSA_ID,cbsa_name,year,month,popestimate,pop_interpolated,unemployment,employment,labor_force,unemployment_rate,employment_rate,gasPrice
0,10020,"Abbeville, LA",1990,1,NaN,54113.057534,1311,18262,19573,6.698002,93.301994,NaN
1,10020,"Abbeville, LA",1990,2,NaN,54111.868493,1098,18289,19387,5.663589,94.336411,NaN
2,10020,"Abbeville, LA",1990,3,NaN,54110.794521,1063,18478,19541,5.439845,94.560158,NaN
3,10020,"Abbeville, LA",1990,4,NaN,54109.605479,986,18883,19869,4.962504,95.037498,NaN
4,10020,"Abbeville, LA",1990,5,NaN,54108.454795,890,19009,19899,4.472587,95.527412,NaN
5,10020,"Abbeville, LA",1990,6,NaN,54107.265753,1139,19382,20521,5.550412,94.449585,NaN
6,10020,"Abbeville, LA",1990,7,NaN,54106.115068,1158,19698,20856,5.552359,94.447639,NaN
7,10020,"Abbeville, LA",1990,8,NaN,54104.926027,1170,19674,20844,5.613126,94.386871,NaN
8,10020,"Abbeville, LA",1990,9,NaN,54103.736986,1048,19266,20314,5.159004,94.840996,NaN
9,10020,"Abbeville, LA",1990,10,NaN,54102.586301,967,19517,20484,4.720757,95.279243,NaN
10,10020,"Abbeville, LA",1990,11,NaN,54101.397260,1204,19378,20582,5.849771,94.150230,NaN
11,10020,"Abbeville, LA",1990,12,NaN,54100.246575,1215,19143,20358,5.968170,94.031830,NaN
12,10020,"Abbeville, LA",1991,1,NaN,54099.057534,1556,18088,19644,7.920994,92.079010,NaN
13,10020,"Abbeville, LA",1991,2,NaN,54097.868493,1520,18195,19715,7.709866,92.290131,NaN
14,10020,"Abbeville, LA",1991,3,NaN,54096.794521,1534,18506,20040,7.654691,92.345306,NaN
15,10020,"Abbeville, LA",1991,4,NaN,54095.605479,1369,18367,19736,6.936562,93.063438,NaN
16,10020,"Abbeville, LA",1991,5,NaN,54094.454795,1303,18428,19731,6.603821,93.396179,NaN
17,10020,"Abbeville, LA",1991,6,NaN,54093.265753,1699,18750,20449,8.308474,91.691528,NaN
18,10020,"Abbeville, LA",1991,7,NaN,54092.115068,1582,19113,20695,7.644359,92.355644,NaN
19,10020,"Abbeville, LA",1991,8,NaN,54090.926027,1553,18722,20275,7.659679,92.340324,NaN
20,10020,"Abbeville, LA",1991,9,NaN,54089.736986,1470,18449,19919,7.379888,92.620110,NaN
21,10020,"Abbeville, LA",1991,10,NaN,54088.586301,1462,18495,19957,7.325750,92.674248,NaN
22,10020,"Abbeville, LA",1991,11,NaN,54087.397260,1747,18122,19869,8.792591,91.207405,NaN
23,10020,"Abbeville, LA",1991,12,NaN,54086.246575,1757,17629,19386,9.063242,90.936760,NaN
24,10020,"Abbeville, LA",1992,1,NaN,54085.057534,2250,18281,20531,10.959038,89.040962,NaN
25,10020,"Abbeville, LA",1992,2,NaN,54083.868493,2046,18507,20553,9.954751,90.045250,NaN
26,10020,"Abbeville, LA",1992,3,NaN,54082.756164,2163,18681,20844,10.377087,89.622910,NaN
27,10020,"Abbeville, LA",1992,4,NaN,54081.567123,2095,18883,20978,9.986652,90.013344,NaN
28,10020,"Abbeville, LA",1992,5,NaN,54080.416438,2180,19049,21229,10.268971,89.731026,NaN
29,10020,"Abbeville, LA",1992,6,NaN,54079.227397,2694,19239,21933,12.282862,87.717140,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
326844,49780,"Zanesville, OH",2016,6,85973.0,85989.475410,2283,37679,39962,5.712927,94.287071,2.471
326845,49780,"Zanesville, OH",2016,7,85973.0,85973.000000,2252,37554,39806,5.657439,94.342560,2.237
326846,49780,"Zanesville, OH",2016,8,85973.0,85987.863014,2208,37659,39867,5.538415,94.461586,2.230
326847,49780,"Zanesville, OH",2016,9,85973.0,86002.726027,2246,37502,39748,5.650599,94.349403,2.243
326848,49780,"Zanesville, OH",2016,10,85973.0,86017.109589,2154,37934,40088,5.373179,94.626823,2.238
326849,49780,"Zanesville, OH",2016,11,85973.0,86031.972603,2072,38372,40444,5.123133,94.876869,2.125
326850,49780,"Zanesville, OH",2016,12,85973.0,86046.356164,2377,38360,40737,5.834990,94.165009,2.278
326851,49780,"Zanesville, OH",2017,1,86148.0,86061.219178,3056,36431,39487,7.739256,92.260742,2.360
326852,49780,"Zanesville, OH",2017,2,86148.0,86076.082192,2895,36724,39619,7.307100,92.692902,2.288
326853,49780,"Zanesville, OH",2017,3,86148.0,86089.506849,2570,36980,39550,6.498104,93.501900,2.313
326854,49780,"Zanesville, OH",2017,4,86148.0,86104.369863,2197,37373,39570,5.552186,94.447815,2.427
326855,49780,"Zanesville, OH",2017,5,86148.0,86118.753425,1994,37755,39749,5.016479,94.983521,2.374
326856,49780,"Zanesville, OH",2017,6,86148.0,86133.616438,2231,37773,40004,5.576942,94.423058,2.325
326857,49780,"Zanesville, OH",2017,7,86148.0,86148.000000,2220,37808,40028,5.546118,94.453880,2.305
326858,49780,"Zanesville, OH",2017,8,86148.0,86150.972603,2163,37752,39915,5.419015,94.580986,2.382
326859,49780,"Zanesville, OH",2017,9,86148.0,86153.945205,1946,37686,39632,4.910173,95.089828,2.572
326860,49780,"Zanesville, OH",2017,10,86148.0,86156.821918,1847,37774,39621,4.661669,95.338333,2.485
326861,49780,"Zanesville, OH",2017,11,86148.0,86159.794521,1977,37694,39671,4.983489,95.016510,2.596
326862,49780,"Zanesville, OH",2017,12,86148.0,86162.671233,2177,37366,39543,5.505399,94.494598,2.464
326863,49780,"Zanesville, OH",2018,1,86183.0,86165.643836,2600,36079,38679,6.721994,93.278008,2.572
326864,49780,"Zanesville, OH",2018,2,86183.0,86168.616438,2400,37194,39594,6.061524,93.938477,2.546
326865,49780,"Zanesville, OH",2018,3,86183.0,86171.301370,2266,37747,40013,5.663159,94.336838,2.567
326866,49780,"Zanesville, OH",2018,4,86183.0,86174.273973,1990,38099,40089,4.963955,95.036041,2.719
326867,49780,"Zanesville, OH",2018,5,86183.0,86177.150685,1826,38666,40492,4.509533,95.490471,2.868
326868,49780,"Zanesville, OH",2018,6,86183.0,86180.123288,2304,38223,40527,5.685099,94.314903,2.848
326869,49780,"Zanesville, OH",2018,7,86183.0,86183.000000,2072,37979,40051,5.173404,94.826599,2.824
326870,49780,"Zanesville, OH",2018,8,86183.0,86185.972603,1880,37446,39326,4.780552,95.219444,2.808
326871,49780,"Zanesville, OH",2018,9,86183.0,86188.945205,1722,37442,39164,4.396895,95.603104,2.809
326872,49780,"Zanesville, OH",2018,10,86183.0,86191.821918,1821,37411,39232,4.641619,95.358383,2.801
326873,49780,"Zanesville, OH",2018,11,86183.0,86194.794521,1792,37505,39297,4.560144,95.439857,2.518

In [3]:
monthly_gasprice=monthly_gasprice.dropna()

In [4]:
annual_gasprice_average=monthly_gasprice.groupby(['CBSA_ID','cbsa_name','year']).mean()

In [5]:
annual_gasprice_average.head()

                            month  popestimate  pop_interpolated  \
CBSA_ID cbsa_name     year
10020   Abbeville, LA 2000    6.5      53966.0      53966.562557
                      2001    6.5      53952.0      53982.552740
                      2002    6.5      54223.0      54177.185616
                      2003    6.5      54161.0      54191.716043
                      2004    6.5      54368.0      54394.918327

                            unemployment    employment   labor_force  \
CBSA_ID cbsa_name     year
10020   Abbeville, LA 2000   1242.083333  22103.000000  23345.083333
                      2001   1323.916667  22260.000000  23583.916667
                      2002   1543.916667  21259.250000  22803.166667
                      2003   1545.833333  21478.416667  23024.250000
                      2004   1356.583333  21481.666667  22838.250000

                            unemployment_rate  employment_rate  gasPrice
CBSA_ID cbsa_name     year
10020   Abbeville, LA 2000           5.319988        94.680011  1.457500
                      2001           5.615143        94.384857  1.376000
                      2002           6.768149        93.231850  1.315000
                      2003           6.710467        93.289532  1.498583
                      2004           5.943002        94.056997  1.786083

In [25]:
annual_gasprice_average=annual_gasprice_average.drop(columns=['month','popestimate','pop_interpolated','unemployment','employment','labor_force',
                             'unemployment_rate','employment_rate'])

In [26]:
annual_gasprice_average.to_csv('../Factors and Ridership Data/Final Datasets/gasprice_yearly.csv')